# 数据处理/Data Processing

在这个jupyter里，我们会对爬虫得到的数据集`Data_SinaWeibo.csv`进行处理，大致包括下列几步
- 初步的数据处理，规范数据类型
- 建立用户特征数据库
- 简单的处理文本

我们对于每一个代码块提供了详细的解释（中英文双语版）；请原谅英语中可能存在的小小的语法错误:) 您可以参考中文来理解

In this Jupyter file, we will process the dataset `Data_SinaWeibo.csv` obtained by the Python Script. The processing includes steped listed below:
- Preliminary process the data to normalize the data type
- Create a user features database
- Preliminary process the textual data
- Re-organize the dataset to the form for Heterogeneous Graph construction

We have provided detialed explanations for each code cell (in both English and Chinese); please forgive any minor grammatical errors in English texts :) You can refer to the Chinese one to understand it.

# 0. 读取/Read the crawled data and Python library

In [1]:
'''Basic'''
import os
import time
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from datetime import datetime
import re
import emoji
import multiprocessing
import plotly.express as px

from kmodes.kprototypes import KPrototypes

from lightgbm import LGBMClassifier
import shap
from sklearn.model_selection import cross_val_score
from bs4 import BeautifulSoup

'''sklearn'''
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.manifold import TSNE

'''NLP: Hugging face'''
from transformers import AutoTokenizer, AutoModelForMaskedLM
from transformers import BertTokenizer, BertModel
# from transformers import AutoModelForSequenceClassification
# from torch import nn

import torch
torch.manual_seed(0)
np.random.seed(0)

'''Hetero graph'''
from torch_geometric.data import HeteroData

'''Training the dataset'''
import torch.optim as optim
import torch.optim.lr_scheduler as lr_scheduler

# from snownlp import SnowNLP

In [2]:
# 确认transformers库的版本/Check the transformers version
import transformers
transformers.__version__

'4.31.0'

In [3]:
# 设置seaborn可视化参数/Set the seaborn visualization parameters
sns.set(style="darkgrid")
sns.set_context("notebook",
                rc={"xtick.labelsize": 14,
                    "ytick.labelsize": 14,
                    "axes.labelsize": 14,
                    "axes.titlesize": 18,
                    "legend.fontsize": 14,
                    "legend.title_fontsize":14})

In [4]:
# 读取原始数据集/Read the data (plz change the path if necessary)
raw_data=pd.read_csv('Datasets/Data_SinaWeibo.csv')
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CommentID        3850 non-null   int64
 1   CommentTime      3850 non-null   object
 2   RootID           3850 non-null   int64
 3   CommentRaw       3850 non-null   object
 4   Comment          3829 non-null   object
 5   CommentLike      3850 non-null   int64
 6   CommentReply     3850 non-null   object
 7   UserID           3850 non-null   int64
 8   UserName         3850 non-null   object
 9   UserLocation     3850 non-null   object
 10  UserDescription  2366 non-null   object
 11  UserGender       3850 non-null   object
 12  UserFan          3850 non-null   int64
 13  UserFollow       3850 non-null   int64
 14  UserWeibo        3850 non-null   int64
 15  UserVerified     3850 non-null   bool
 16  UserFanTitle     3850 non-null   object
 17  VipRank          3850 non-null   int64
dtypes: bool(1), int64(8), object(9)
memory usage: 515.2+ KB

In [5]:
# 复制数据/Copy the data
data=raw_data.copy()

# 1. 初步的数据了解&处理/Preliminary data exploration and processing

合计2803个user，3850评论/回复。<br>
后续如果要探查user相关特征/user profile的分布情况与pattern，需提取出用户数据库。

There are 2803 users and 3850 comments/replies in total.<br>
If exploring user-related features/user profiles and the corresponding patterns are necessary, user database should be extracted from the raw dataset ``data``

In [6]:
len(data['UserName'].value_counts())

2803

In [7]:
len(data['UserID'].value_counts())

2803

依次对每个feature进行encoding。

Encode each features (if necessary)

In [8]:
data.head(20)

,CommentID,CommentTime,RootID,CommentRaw,Comment,CommentLike,CommentReply,UserID,UserName,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,UserFanTitle,VipRank
0,4915861950828535,Fri Jun 23 18:31:24 +0800 2023,0,考古,考古,0,0,7752387333,祎只狸猫,其他,橘圈小透明阮淼祎,f,45,149,260,False,loyal_fans,0
1,4910942133158267,Sat Jun 10 04:41:48 +0800 2023,0,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,0,0,7604058796,邮一棵草莓i,其他,垃圾滚！！！,f,2,48,124,False,Null,0
2,4862811883439433,Sat Jan 28 09:09:22 +0800 2023,0,真不知道迅哥给评论区投了多少米？[允悲][doge],真不知道迅哥给评论区投了多少米？,0,0,7577283965,kmimg7,甘肃 庆阳,NaN,m,0,31,4,False,Null,0
3,4862705678417948,Sat Jan 28 02:07:20 +0800 2023,0,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗,0,0,7476902376,小祀弟弟吖,其他,NaN,f,0,39,2,False,Null,0
4,4858911816944130,Tue Jan 17 14:51:54 +0800 2023,0,[吃瓜]现在是2023年 回来考古的点个赞,现在是2023年 回来考古的点个赞,0,0,7724649649,不知道如何评价,其他,NaN,m,0,55,0,False,Null,0
5,4857585939256244,Fri Jan 13 23:03:20 +0800 2023,0,考古,考古,0,0,6317060050,Tawil-at_Umr,其他,NaN,f,1,71,27,False,Null,0
6,4843708346798597,Tue Dec 06 15:58:44 +0800 2022,0,就搞不懂了，怎么有些人这么愤世嫉俗[doge]那他平日得有多大成就啊[泪],就搞不懂了，怎么有些人这么愤世嫉俗那他平日得有多大成就啊,0,0,5238123879,我原来就是小黑子,山东 烟台,他只看见外表的结果，而这种结果却已给他很深的印象了。,m,10,67,299,False,loyal_fans,0
7,4842368296289558,Fri Dec 02 23:13:51 +0800 2022,0,考古结束@Akoi,考古结束@Akoi,0,0,7752939212,花月歌浮舟,其他,NaN,f,60,122,1,False,Null,0
8,4836112617182567,Tue Nov 15 16:56:01 +0800 2022,0,Windows 11“狗都不用”时代前来考古[doge],Windows 11“狗都不用”时代前来考古,0,0,5952984271,罗小黑本喵_,浙江,A cat spirit who's Windows Insider. 现已镇魂。,m,186,1642,12478,True,loyal_fans,6
9,4832608544361987,Sun Nov 06 00:52:05 +0800 2022,0,两年了，回过头来看[打call][打call][打call][打call],两年了，回过头来看,9,1,7776168152,养着兔子的猫咪,上海,NaN,f,0,61,0,False,Null,0
10,4836105126150507,Tue Nov 15 16:26:14 +0800 2022,4832608544361987,这不是三年吗？[doge][doge],这不是三年吗？,0,Null,7772408887,bo_白色大月亮,其他,NaN,m,0,50,6,False,Null,0
11,4802185562425829,Sun Aug 14 02:02:01 +0800 2022,0,卧槽，这时候就有绫华了！？,卧槽，这时候就有绫华了！？,0,0,6379467475,沐北零,北京,一天一个样，发疯最健康,f,1,13,32,False,Null,0
12,4793200167879949,Wed Jul 20 06:57:16 +0800 2022,0,我就是米卫兵，原神没抄袭,我就是米卫兵，原神没抄袭,0,0,3281219842,136658305jkly,浙江 舟山,NaN,f,1,62,3,False,Null,0
13,4783575629831356,Thu Jun 23 17:32:47 +0800 2022,0,回来看看梦开始的地方,回来看看梦开始的地方,2,0,5309111752,c跳跳呀,其他,NaN,m,7,56,5,False,Null,0
14,4778136350230849,Wed Jun 08 17:19:02 +0800 2022,0,3年了 3年,3年了 3年,3,0,7353022237,浦镇做题家,江苏 南京,NaN,m,2,830,21,False,Null,0
15,4777433255641383,Mon Jun 06 18:45:10 +0800 2022,0,考古,考古,0,0,5360752838,逗你逗你2014,山东 济南,阿槑,f,37,122,132,False,Null,0
16,4761881128732574,Sun Apr 24 20:46:35 +0800 2022,0,参观古战场[666],参观古战场,3,0,7755717663,寂月海200007,其他,NaN,m,0,10,2,False,Null,0
17,4759599180417722,Mon Apr 18 13:38:56 +0800 2022,0,神里不愧是亲女儿[允悲]回来看看就热评打脸现场,神里不愧是亲女儿回来看看就热评打脸现场,5,0,2154283943,iYaF-,湖北 武汉,6 23,m,154,164,64,False,Null,0
18,4747356392395706,Tue Mar 15 18:50:28 +0800 2022,0,前面的评论跟现在完全不一样，全都打脸场面,前面的评论跟现在完全不一样，全都打脸场面,17,3,7415480335,书一点禾,广东 深圳,唯,m,1,73,31,False,Null,0
19,4806342436983668,Thu Aug 25 13:19:57 +0800 2022,4747356392395706,就喜欢挖坟看看以前的有趣发言[doge],就喜欢挖坟看看以前的有趣发言,2,Null,5643636178,夕神心音,北京 朝阳区,【猫小胖-延夏】夕神心音,m,5,24,2057,False,Null,0

## 1.1 检查CommentID, UserID的制表符/Check the tabular character ``tab`` in CommentID, UserID

脚本爬取导致的制表符已经消失，这2个变量无需额外处理。

The tabular character caused by Python Script disappeared. No additional processing are required on these 2 features.

In [9]:
type(data['CommentID'][0])

numpy.int64

In [10]:
data['CommentID'][0]

4915861950828535

In [11]:
type(data['UserID'][0])

numpy.int64

In [12]:
data['UserID'][0]

7752387333

## 1.2 CommentTime格式和数据类型/The formate and data type of CommentTime

目前是str类型，而且很长；转换为datetime的数据类型

The data type is str as for now and each record is very very long. Transform the CommentTime to ``datetime`` data type

In [13]:
data['CommentTime']

0       Fri Jun 23 18:31:24 +0800 2023
1       Sat Jun 10 04:41:48 +0800 2023
2       Sat Jan 28 09:09:22 +0800 2023
3       Sat Jan 28 02:07:20 +0800 2023
4       Tue Jan 17 14:51:54 +0800 2023
                     ...
3845    Sat Jun 08 12:02:17 +0800 2019
3846    Sat Jun 08 12:02:15 +0800 2019
3847    Sat Jun 08 12:01:51 +0800 2019
3848    Sat Jun 08 12:01:18 +0800 2019
3849    Sat Jun 08 12:00:47 +0800 2019
Name: CommentTime, Length: 3850, dtype: object

使用lambda函数来对CommentTime进行转换/Use lambda function to transform the whole column ``CommentTime``

In [14]:
# 我们需要的格式类型/The format we need
format_string = "%a %b %d %H:%M:%S %z %Y"
data['CommentTime']=data['CommentTime'].apply(lambda x: datetime.strptime(x, format_string))
data['CommentTime']

0      2023-06-23 18:31:24+08:00
1      2023-06-10 04:41:48+08:00
2      2023-01-28 09:09:22+08:00
3      2023-01-28 02:07:20+08:00
4      2023-01-17 14:51:54+08:00
                  ...
3845   2019-06-08 12:02:17+08:00
3846   2019-06-08 12:02:15+08:00
3847   2019-06-08 12:01:51+08:00
3848   2019-06-08 12:01:18+08:00
3849   2019-06-08 12:00:47+08:00
Name: CommentTime, Length: 3850, dtype: datetime64[ns, UTC+08:00]

## 1.3 CommentReply数据类型为object/The data type of CommentReply is Object

CommentReply的值为Null的均为“回复”（即对于该条帖子下、某条评论的回复。后以“回复”代称）<br>
回复的RootID均为0

Data with ``Null`` as the CommentReply's value is known as "reply": i.e., it is a respond to the comment left under the target post (Genshin). We will use "reply" to  represent this type of comments. <br>
We can find the RootID of reply is all 0.

In [15]:
data['CommentReply'].value_counts().sort_index()

CommentReply
0       2461
1         79
10         3
108        1
11         2
111        1
12         2
123        1
14         1
15         1
17         1
2         41
20         1
207        1
21         2
24         1
26         1
29         1
3         25
30         1
31         1
325        1
4         10
40         1
42         1
45         1
5          1
53         1
6          7
7          7
75         1
8          2
9          3
Null    1186
Name: count, dtype: int64

In [16]:
data[data['CommentReply']=='Null']['RootID'].isnull().sum()

0

需要找到一个办法把数字转变为int，将Null字符转换为真正的空值

We need to find a way to transform number from str to int, and convert ``Null`` str to the NA (the null value in Python)

In [17]:
data['CommentReply']=data['CommentReply'].replace('Null',pd.NA)
data['CommentReply'].isnull().sum()

1186

In [18]:
data['CommentReply']=data['CommentReply'].astype('Int64')
data['CommentReply'].dtypes

Int64Dtype()

In [19]:
data['CommentReply'].isnull().sum()

1186

In [20]:
# 完成/Finish
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CommentID        3850 non-null   int64
 1   CommentTime      3850 non-null   datetime64[ns, UTC+08:00]
 2   RootID           3850 non-null   int64
 3   CommentRaw       3850 non-null   object
 4   Comment          3829 non-null   object
 5   CommentLike      3850 non-null   int64
 6   CommentReply     2664 non-null   Int64
 7   UserID           3850 non-null   int64
 8   UserName         3850 non-null   object
 9   UserLocation     3850 non-null   object
 10  UserDescription  2366 non-null   object
 11  UserGender       3850 non-null   object
 12  UserFan          3850 non-null   int64
 13  UserFollow       3850 non-null   int64
 14  UserWeibo        3850 non-null   int64
 15  UserVerified     3850 non-null   bool
 16  UserFanTitle     3850 non-null   object
 17  VipRank          3850 non-null   int64
dtypes: Int64(1), bool(1), datetime64[ns, UTC+08:00](1), int64(8), object(7)
memory usage: 519.0+ KB

仅供检查用

Only for double check

In [21]:
data['CommentReply'].isnull().sum()

1186

In [22]:
data['CommentReply'][0]

0

## 1.4 UserLocation：将省和市区分开/UserLocation: sperate the province and city/area

UserLocation的信息非常的不规范。将省和市区分开保存为单独的2列

The value of UserLocation is non-uniform. Seperate the province and city/area and then save into 2 new columns

In [23]:
data['UserLocation'].value_counts()

UserLocation
其他         1062
上海          130
海外          120
江苏          102
广东 广州        96
           ...
四川 眉山         1
河南 焦作         1
上海 松江区        1
内蒙古 赤峰        1
海外 爱沙尼亚       1
Name: count, Length: 298, dtype: int64

我们也保存了原始列

We also keep the original column UserLocation

In [24]:
data.insert(9,'Province',data['UserLocation'].str.split(' ', n=1, expand=True).iloc[:,0])
data.insert(10,'Region',data['UserLocation'].str.split(' ', n=1, expand=True).iloc[:,1])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CommentID        3850 non-null   int64
 1   CommentTime      3850 non-null   datetime64[ns, UTC+08:00]
 2   RootID           3850 non-null   int64
 3   CommentRaw       3850 non-null   object
 4   Comment          3829 non-null   object
 5   CommentLike      3850 non-null   int64
 6   CommentReply     2664 non-null   Int64
 7   UserID           3850 non-null   int64
 8   UserName         3850 non-null   object
 9   Province         3850 non-null   object
 10  Region           1694 non-null   object
 11  UserLocation     3850 non-null   object
 12  UserDescription  2366 non-null   object
 13  UserGender       3850 non-null   object
 14  UserFan          3850 non-null   int64
 15  UserFollow       3850 non-null   int64
 16  UserWeibo        3850 non-null   int64
 17  UserVerified     3850 non-null   bool
 18  UserFanTitle     3850 non-null   object
 19  VipRank          3850 non-null   int64
dtypes: Int64(1), bool(1), datetime64[ns, UTC+08:00](1), int64(8), object(9)
memory usage: 579.1+ KB

In [25]:
data['Province'].value_counts()

Province
其他     1062
广东      315
江苏      276
海外      252
上海      234
北京      202
浙江      191
四川      187
山东      106
湖北       90
福建       87
湖南       77
河南       75
重庆       68
辽宁       64
安徽       64
广西       61
天津       48
河北       48
吉林       47
江西       47
山西       38
陕西       37
云南       36
黑龙江      34
内蒙古      24
新疆       15
贵州       14
香港       13
海南       12
甘肃        9
宁夏        7
青海        5
澳门        4
西藏        1
Name: count, dtype: int64

大多数的人并未填写Region，因此Region将被放置在一边不做进一步处理

Most of users are with a null value in Region. Thus we will not further handle this variable

In [26]:
data['Region'].isnull().sum()

2156

使用labelencoder来对Province进行标记; 下面list的顺序就是label的顺序：index从0~34

Use LabelEncoder to encode the Province value. Each index (from 0 to 34) and the corresponding province name are also shown below.

In [27]:
le_province=LabelEncoder()
province_cate=le_province.fit_transform(data['Province'])
print(le_province.classes_)
print('\n','Total number of Provinces: ', len(le_province.classes_))

['上海' '云南' '其他' '内蒙古' '北京' '吉林' '四川' '天津' '宁夏' '安徽' '山东' '山西' '广东' '广西'
 '新疆' '江苏' '江西' '河北' '河南' '浙江' '海南' '海外' '湖北' '湖南' '澳门' '甘肃' '福建' '西藏'
 '贵州' '辽宁' '重庆' '陕西' '青海' '香港' '黑龙江']

 Total number of Provinces:  35

In [28]:
data.insert(10,'ProvinceCode',province_cate)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CommentID        3850 non-null   int64
 1   CommentTime      3850 non-null   datetime64[ns, UTC+08:00]
 2   RootID           3850 non-null   int64
 3   CommentRaw       3850 non-null   object
 4   Comment          3829 non-null   object
 5   CommentLike      3850 non-null   int64
 6   CommentReply     2664 non-null   Int64
 7   UserID           3850 non-null   int64
 8   UserName         3850 non-null   object
 9   Province         3850 non-null   object
 10  ProvinceCode     3850 non-null   int32
 11  Region           1694 non-null   object
 12  UserLocation     3850 non-null   object
 13  UserDescription  2366 non-null   object
 14  UserGender       3850 non-null   object
 15  UserFan          3850 non-null   int64
 16  UserFollow       3850 non-null   int64
 17  UserWeibo        3850 non-null   int64
 18  UserVerified     3850 non-null   bool
 19  UserFanTitle     3850 non-null   object
 20  VipRank          3850 non-null   int64
dtypes: Int64(1), bool(1), datetime64[ns, UTC+08:00](1), int32(1), int64(8), object(9)
memory usage: 594.2+ KB

In [29]:
data['ProvinceCode']

0        2
1        2
2       25
3        2
4        2
        ..
3845     2
3846     2
3847    31
3848     0
3849     0
Name: ProvinceCode, Length: 3850, dtype: int32

## 1.5 UserGender：编码值/UserGender: Map the originial value to the binary one

In [30]:
data['UserGender'].value_counts()

UserGender
m    2943
f     907
Name: count, dtype: int64

简单的映射一下：m->1 f->0

Map the value: m (male) -> 1; f (female) -> 0

In [31]:
gender_code={'m':1,'f':0}
data['UserGender']=data['UserGender'].map(gender_code)
data['UserGender'].value_counts()

UserGender
1    2943
0     907
Name: count, dtype: int64

## 1.6 UserVerified：编码值/UserVerified: Map the original value to the binary one
False表示没有认证，映射为0；True表示认证，映射为1。

False: unverified user, mapped to 0; True: verified user, mapped to 1

In [32]:
data['UserVerified'].value_counts()

UserVerified
False    3685
True      165
Name: count, dtype: int64

In [33]:
data['UserVerified'].astype(int).value_counts()

UserVerified
0    3685
1     165
Name: count, dtype: int64

确保数据类型为int

Make sure the data type is int

In [34]:
data['UserVerified']=data['UserVerified'].astype(int)
data['UserVerified']

0       0
1       0
2       0
3       0
4       0
       ..
3845    0
3846    0
3847    0
3848    0
3849    0
Name: UserVerified, Length: 3850, dtype: int32

## 1.7 UserFanTitle：改名与映射/UserFanTitle: Rename and map 

很多人其实都不是铁粉；头衔仅有"铁粉"和"无"这俩个选项。因此重命名为LoyalFan后，再映射：loyal_fans -> 1, Null -> 0

Most of users are not Loyal Fan; And there are only 2 values of this variable. Therefore, rename UserFanTitle to LoyalFan, and then map the value: loyal_fans -> 1, Null -> 0

In [35]:
data['UserFanTitle'].value_counts()

UserFanTitle
Null          3563
loyal_fans     287
Name: count, dtype: int64

In [36]:
data.rename(columns={'UserFanTitle': 'LoyalFan'}, inplace=True)
fan_code={'loyal_fans':1,'Null':0}
data['LoyalFan']=data['LoyalFan'].map(fan_code)
data['LoyalFan'].value_counts()

LoyalFan
0    3563
1     287
Name: count, dtype: int64

## 1.8 初步处理总览/Overview of preliminary processing result

对于下列4个有空值的变量的解释：
- Comment：正常，这个是去除了emoji和emoticon之后的纯文本。comment raw则是包含了全部信息的。在后续的时候直接用comment raw即可（会进行简单的处理）
- CommentReply：正常，空值表示这些都是"回复"。对应的RootID全都不为0
- Region：已在Section 1.4 讨论过
- UserDescription：正常，表明该用户未留下个人描述

Explanation for the 4 variables with null values:
- Comment: As expected; This feature is the comment (plain text) after removing the emojis and emoticons. CommentRaw is the raw one and keeps all emojis/emotions. We will use CommentRaw in the following analysis (text processing if necessary)
- CommentReply: As expected; Null values represent "reply" discussed above. The corresponding values of RootID are all non-zero.
- Region: Has discussed in the Section 1.4
- UserDescription: As expected; A null value indicates that this user does not leave description/bio in his/her profile.

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CommentID        3850 non-null   int64
 1   CommentTime      3850 non-null   datetime64[ns, UTC+08:00]
 2   RootID           3850 non-null   int64
 3   CommentRaw       3850 non-null   object
 4   Comment          3829 non-null   object
 5   CommentLike      3850 non-null   int64
 6   CommentReply     2664 non-null   Int64
 7   UserID           3850 non-null   int64
 8   UserName         3850 non-null   object
 9   Province         3850 non-null   object
 10  ProvinceCode     3850 non-null   int32
 11  Region           1694 non-null   object
 12  UserLocation     3850 non-null   object
 13  UserDescription  2366 non-null   object
 14  UserGender       3850 non-null   int64
 15  UserFan          3850 non-null   int64
 16  UserFollow       3850 non-null   int64
 17  UserWeibo        3850 non-null   int64
 18  UserVerified     3850 non-null   int32
 19  LoyalFan         3850 non-null   int64
 20  VipRank          3850 non-null   int64
dtypes: Int64(1), datetime64[ns, UTC+08:00](1), int32(2), int64(10), object(7)
memory usage: 605.4+ KB

# 2. 用户数据/User profile and database

用户的信息将被单独储存在一个新表。除了用户profile的信息外，将新增相关行：用户在该帖子下的评论数、收到的点赞数等<br>
同时对UserDescription进行了简单的特征工程<br>
2.1~2.7是数据处理；可以直接运行2.8读取处理后的数据集

User information will be extracted and saved into a new dataframe. New columns related to user behaviors (e.g., the number of comments and received `likes`) under the target post are added<br>
Basic feature engineerings are also conducted on UserDescription<br>
All the data processings are shown in Section 2.1 ~ 2.7. <span style="color:red">If you want to read the processed data directly, turn to Section 2.8</span>

## 2.1 拆分用户数据/Split out the user database

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CommentID        3850 non-null   int64
 1   CommentTime      3850 non-null   datetime64[ns, UTC+08:00]
 2   RootID           3850 non-null   int64
 3   CommentRaw       3850 non-null   object
 4   Comment          3829 non-null   object
 5   CommentLike      3850 non-null   int64
 6   CommentReply     2664 non-null   Int64
 7   UserID           3850 non-null   int64
 8   UserName         3850 non-null   object
 9   Province         3850 non-null   object
 10  ProvinceCode     3850 non-null   int32
 11  Region           1694 non-null   object
 12  UserLocation     3850 non-null   object
 13  UserDescription  2366 non-null   object
 14  UserGender       3850 non-null   int64
 15  UserFan          3850 non-null   int64
 16  UserFollow       3850 non-null   int64
 17  UserWeibo        3850 non-null   int64
 18  UserVerified     3850 non-null   int32
 19  LoyalFan         3850 non-null   int64
 20  VipRank          3850 non-null   int64
dtypes: Int64(1), datetime64[ns, UTC+08:00](1), int32(2), int64(10), object(7)
memory usage: 605.4+ KB

提取每个user的ID在data中所对应的索引

Extract the dataframe index of each user (indetified by UserID)

In [39]:
userID_index=data.groupby('UserID').groups
user_data=pd.DataFrame(columns=['UserID', 'FirstIndex'])
for user_id, indices in userID_index.items():
    new_row = pd.DataFrame({'UserID': [user_id], 'FirstIndex': [indices[0]]})
    user_data=pd.concat([user_data, new_row], ignore_index=True)
user_data

          UserID FirstIndex
0     1001914040       3498
1     1008309912         43
2     1025900974       1394
3     1028179843       2564
4     1035744261       1292
...          ...        ...
2798  7755717663         16
2799  7766444420        945
2800  7772408887         10
2801  7774567481       2188
2802  7776168152          9

[2803 rows x 2 columns]

通过merge得到user的其他数据。<br>
删除与user无关的feature 列（index2~8）。

Obtain other user features through `merge`<br>
Remove those columns (index 2~8) unrelated to user information

In [40]:
user_info=data.loc[list(user_data['FirstIndex'])]
user_data=pd.merge(user_data,user_info,on='UserID')
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UserID           2803 non-null   object
 1   FirstIndex       2803 non-null   object
 2   CommentID        2803 non-null   int64
 3   CommentTime      2803 non-null   datetime64[ns, UTC+08:00]
 4   RootID           2803 non-null   int64
 5   CommentRaw       2803 non-null   object
 6   Comment          2789 non-null   object
 7   CommentLike      2803 non-null   int64
 8   CommentReply     2390 non-null   Int64
 9   UserName         2803 non-null   object
 10  Province         2803 non-null   object
 11  ProvinceCode     2803 non-null   int32
 12  Region           1277 non-null   object
 13  UserLocation     2803 non-null   object
 14  UserDescription  1735 non-null   object
 15  UserGender       2803 non-null   int64
 16  UserFan          2803 non-null   int64
 17  UserFollow       2803 non-null   int64
 18  UserWeibo        2803 non-null   int64
 19  UserVerified     2803 non-null   int32
 20  LoyalFan         2803 non-null   int64
 21  VipRank          2803 non-null   int64
dtypes: Int64(1), datetime64[ns, UTC+08:00](1), int32(2), int64(9), object(9)
memory usage: 462.7+ KB

In [41]:
col_to_drop=list(user_data.columns[2:9])
col_to_drop

['CommentID',
 'CommentTime',
 'RootID',
 'CommentRaw',
 'Comment',
 'CommentLike',
 'CommentReply']

In [42]:
user_data=user_data.drop(col_to_drop, axis=1, inplace=False)
user_data

,UserID,FirstIndex,UserName,Province,ProvinceCode,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
0,1001914040,3498,薪火鹏,广东,12,None,广东,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0
1,1008309912,43,提尔乌斯,上海,0,None,上海,此处无人,1,0,0,0,0,0,0
2,1025900974,1394,猫的摇篮-伪物,天津,7,南开区,天津 南开区,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0
3,1028179843,2564,非常神奇的老z,上海,0,静安区,上海 静安区,NaN,1,13,59,9,0,0,0
4,1035744261,1292,假装很强的萌新,广东,12,None,广东,一个喜欢二次元的萌新,1,14,34,107,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7755717663,16,寂月海200007,其他,2,None,其他,NaN,1,0,10,2,0,0,0
2799,7766444420,945,烛虚cron,湖北,22,武汉,湖北 武汉,您诸位好哇(〜￣▽￣)〜,0,1,38,37,0,0,0
2800,7772408887,10,bo_白色大月亮,其他,2,None,其他,NaN,1,0,50,6,0,0,0
2801,7774567481,2188,你好陈博,安徽,9,宿州,安徽 宿州,NaN,1,0,7,0,0,0,0
2802,7776168152,9,养着兔子的猫咪,上海,0,None,上海,NaN,0,0,61,0,0,0,0

## 2.2 计算comment和reply/Calculate the number of comments and replies from each user

计算comment和reply数:
- RootID=0：为comment
- RootID不为0：为reply<br>
统计次数即可
<br>需要使用merge根据UserID来进行匹配

Calculate the frequency/occurence of comments and replies
- RootID = 0: Comment
- RootID ≠ 0: Reply <br>

In [43]:
# 评论/Comment
comment_data=data[data['RootID']==0]
comment_data=comment_data.groupby('UserID').count().reset_index().iloc[:,:2]
comment_data

          UserID  CommentID
0     1001914040          1
1     1008309912          4
2     1025900974          2
3     1035744261          1
4     1036072925          1
...          ...        ...
2393  7732193786          1
2394  7752387333          1
2395  7752939212          1
2396  7755717663          1
2397  7776168152          1

[2398 rows x 2 columns]

In [44]:
user_data=pd.merge(user_data,comment_data,how='left',on='UserID')
user_data

,UserID,FirstIndex,UserName,Province,ProvinceCode,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,CommentID
0,1001914040,3498,薪火鹏,广东,12,None,广东,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0,1.0
1,1008309912,43,提尔乌斯,上海,0,None,上海,此处无人,1,0,0,0,0,0,0,4.0
2,1025900974,1394,猫的摇篮-伪物,天津,7,南开区,天津 南开区,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0,2.0
3,1028179843,2564,非常神奇的老z,上海,0,静安区,上海 静安区,NaN,1,13,59,9,0,0,0,NaN
4,1035744261,1292,假装很强的萌新,广东,12,None,广东,一个喜欢二次元的萌新,1,14,34,107,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7755717663,16,寂月海200007,其他,2,None,其他,NaN,1,0,10,2,0,0,0,1.0
2799,7766444420,945,烛虚cron,湖北,22,武汉,湖北 武汉,您诸位好哇(〜￣▽￣)〜,0,1,38,37,0,0,0,NaN
2800,7772408887,10,bo_白色大月亮,其他,2,None,其他,NaN,1,0,50,6,0,0,0,NaN
2801,7774567481,2188,你好陈博,安徽,9,宿州,安徽 宿州,NaN,1,0,7,0,0,0,0,NaN
2802,7776168152,9,养着兔子的猫咪,上海,0,None,上海,NaN,0,0,61,0,0,0,0,1.0

In [45]:
# 回复/Reply
reply_data=data[data['RootID']!=0]
reply_data=reply_data.groupby('UserID').count().reset_index().iloc[:,:2]
reply_data

         UserID  CommentID
0    1028179843          1
1    1039477413          1
2    1046537351          2
3    1078938744          1
4    1174230992          3
..          ...        ...
540  7747956676          1
541  7752842167          1
542  7766444420          1
543  7772408887          4
544  7774567481          1

[545 rows x 2 columns]

In [46]:
user_data=pd.merge(user_data,reply_data,how='left',on='UserID')
user_data

,UserID,FirstIndex,UserName,Province,ProvinceCode,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,CommentID_x,CommentID_y
0,1001914040,3498,薪火鹏,广东,12,None,广东,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0,1.0,NaN
1,1008309912,43,提尔乌斯,上海,0,None,上海,此处无人,1,0,0,0,0,0,0,4.0,NaN
2,1025900974,1394,猫的摇篮-伪物,天津,7,南开区,天津 南开区,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0,2.0,NaN
3,1028179843,2564,非常神奇的老z,上海,0,静安区,上海 静安区,NaN,1,13,59,9,0,0,0,NaN,1.0
4,1035744261,1292,假装很强的萌新,广东,12,None,广东,一个喜欢二次元的萌新,1,14,34,107,0,1,0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7755717663,16,寂月海200007,其他,2,None,其他,NaN,1,0,10,2,0,0,0,1.0,NaN
2799,7766444420,945,烛虚cron,湖北,22,武汉,湖北 武汉,您诸位好哇(〜￣▽￣)〜,0,1,38,37,0,0,0,NaN,1.0
2800,7772408887,10,bo_白色大月亮,其他,2,None,其他,NaN,1,0,50,6,0,0,0,NaN,4.0
2801,7774567481,2188,你好陈博,安徽,9,宿州,安徽 宿州,NaN,1,0,7,0,0,0,0,NaN,1.0
2802,7776168152,9,养着兔子的猫咪,上海,0,None,上海,NaN,0,0,61,0,0,0,0,1.0,NaN

In [47]:
# 重命名/Rename
user_data.rename(columns={'CommentID_x': 'Comment', 'CommentID_y': 'Reply'}, inplace=True)

In [48]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UserID           2803 non-null   object
 1   FirstIndex       2803 non-null   object
 2   UserName         2803 non-null   object
 3   Province         2803 non-null   object
 4   ProvinceCode     2803 non-null   int32
 5   Region           1277 non-null   object
 6   UserLocation     2803 non-null   object
 7   UserDescription  1735 non-null   object
 8   UserGender       2803 non-null   int64
 9   UserFan          2803 non-null   int64
 10  UserFollow       2803 non-null   int64
 11  UserWeibo        2803 non-null   int64
 12  UserVerified     2803 non-null   int32
 13  LoyalFan         2803 non-null   int64
 14  VipRank          2803 non-null   int64
 15  Comment          2398 non-null   float64
 16  Reply            545 non-null    float64
dtypes: float64(2), int32(2), int64(6), object(7)
memory usage: 350.5+ KB

将Comment和Reply的空值填为0

Replace null values from Comment and Reply with 0

In [49]:
com_null_idx=user_data[user_data['Comment'].isnull()].index
com_null_idx

Index([   3,    6,   11,   28,   46,   51,   70,   79,  100,  115,
       ...
       2782, 2784, 2785, 2786, 2791, 2794, 2796, 2799, 2800, 2801],
      dtype='int64', length=405)

In [50]:
user_data.loc[com_null_idx,'Comment']=0
user_data

,UserID,FirstIndex,UserName,Province,ProvinceCode,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Comment,Reply
0,1001914040,3498,薪火鹏,广东,12,None,广东,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0,1.0,NaN
1,1008309912,43,提尔乌斯,上海,0,None,上海,此处无人,1,0,0,0,0,0,0,4.0,NaN
2,1025900974,1394,猫的摇篮-伪物,天津,7,南开区,天津 南开区,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0,2.0,NaN
3,1028179843,2564,非常神奇的老z,上海,0,静安区,上海 静安区,NaN,1,13,59,9,0,0,0,0.0,1.0
4,1035744261,1292,假装很强的萌新,广东,12,None,广东,一个喜欢二次元的萌新,1,14,34,107,0,1,0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7755717663,16,寂月海200007,其他,2,None,其他,NaN,1,0,10,2,0,0,0,1.0,NaN
2799,7766444420,945,烛虚cron,湖北,22,武汉,湖北 武汉,您诸位好哇(〜￣▽￣)〜,0,1,38,37,0,0,0,0.0,1.0
2800,7772408887,10,bo_白色大月亮,其他,2,None,其他,NaN,1,0,50,6,0,0,0,0.0,4.0
2801,7774567481,2188,你好陈博,安徽,9,宿州,安徽 宿州,NaN,1,0,7,0,0,0,0,0.0,1.0
2802,7776168152,9,养着兔子的猫咪,上海,0,None,上海,NaN,0,0,61,0,0,0,0,1.0,NaN

In [51]:
rpl_null_idx=user_data[user_data['Reply'].isnull()].index
user_data.loc[rpl_null_idx,'Reply']=0
user_data

,UserID,FirstIndex,UserName,Province,ProvinceCode,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Comment,Reply
0,1001914040,3498,薪火鹏,广东,12,None,广东,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0,1.0,0.0
1,1008309912,43,提尔乌斯,上海,0,None,上海,此处无人,1,0,0,0,0,0,0,4.0,0.0
2,1025900974,1394,猫的摇篮-伪物,天津,7,南开区,天津 南开区,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0,2.0,0.0
3,1028179843,2564,非常神奇的老z,上海,0,静安区,上海 静安区,NaN,1,13,59,9,0,0,0,0.0,1.0
4,1035744261,1292,假装很强的萌新,广东,12,None,广东,一个喜欢二次元的萌新,1,14,34,107,0,1,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7755717663,16,寂月海200007,其他,2,None,其他,NaN,1,0,10,2,0,0,0,1.0,0.0
2799,7766444420,945,烛虚cron,湖北,22,武汉,湖北 武汉,您诸位好哇(〜￣▽￣)〜,0,1,38,37,0,0,0,0.0,1.0
2800,7772408887,10,bo_白色大月亮,其他,2,None,其他,NaN,1,0,50,6,0,0,0,0.0,4.0
2801,7774567481,2188,你好陈博,安徽,9,宿州,安徽 宿州,NaN,1,0,7,0,0,0,0,0.0,1.0
2802,7776168152,9,养着兔子的猫咪,上海,0,None,上海,NaN,0,0,61,0,0,0,0,1.0,0.0

In [52]:
# 改变数据类型为int/Convert the data type to int
user_data[['Comment','Reply']]=user_data[['Comment','Reply']].astype(int)
user_data

,UserID,FirstIndex,UserName,Province,ProvinceCode,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Comment,Reply
0,1001914040,3498,薪火鹏,广东,12,None,广东,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0,1,0
1,1008309912,43,提尔乌斯,上海,0,None,上海,此处无人,1,0,0,0,0,0,0,4,0
2,1025900974,1394,猫的摇篮-伪物,天津,7,南开区,天津 南开区,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0,2,0
3,1028179843,2564,非常神奇的老z,上海,0,静安区,上海 静安区,NaN,1,13,59,9,0,0,0,0,1
4,1035744261,1292,假装很强的萌新,广东,12,None,广东,一个喜欢二次元的萌新,1,14,34,107,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7755717663,16,寂月海200007,其他,2,None,其他,NaN,1,0,10,2,0,0,0,1,0
2799,7766444420,945,烛虚cron,湖北,22,武汉,湖北 武汉,您诸位好哇(〜￣▽￣)〜,0,1,38,37,0,0,0,0,1
2800,7772408887,10,bo_白色大月亮,其他,2,None,其他,NaN,1,0,50,6,0,0,0,0,4
2801,7774567481,2188,你好陈博,安徽,9,宿州,安徽 宿州,NaN,1,0,7,0,0,0,0,0,1
2802,7776168152,9,养着兔子的猫咪,上海,0,None,上海,NaN,0,0,61,0,0,0,0,1,0

TotalComment：user合计发布了多少条文本（即Comment和Reply的总和）

TotalComment: the number of posts (i.e., the sum of Comment and Reply) from each user

In [53]:
user_data['TotalComment']=user_data['Comment']+user_data['Reply']
user_data

,UserID,FirstIndex,UserName,Province,ProvinceCode,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Comment,Reply,TotalComment
0,1001914040,3498,薪火鹏,广东,12,None,广东,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0,1,0,1
1,1008309912,43,提尔乌斯,上海,0,None,上海,此处无人,1,0,0,0,0,0,0,4,0,4
2,1025900974,1394,猫的摇篮-伪物,天津,7,南开区,天津 南开区,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0,2,0,2
3,1028179843,2564,非常神奇的老z,上海,0,静安区,上海 静安区,NaN,1,13,59,9,0,0,0,0,1,1
4,1035744261,1292,假装很强的萌新,广东,12,None,广东,一个喜欢二次元的萌新,1,14,34,107,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7755717663,16,寂月海200007,其他,2,None,其他,NaN,1,0,10,2,0,0,0,1,0,1
2799,7766444420,945,烛虚cron,湖北,22,武汉,湖北 武汉,您诸位好哇(〜￣▽￣)〜,0,1,38,37,0,0,0,0,1,1
2800,7772408887,10,bo_白色大月亮,其他,2,None,其他,NaN,1,0,50,6,0,0,0,0,4,4
2801,7774567481,2188,你好陈博,安徽,9,宿州,安徽 宿州,NaN,1,0,7,0,0,0,0,0,1,1
2802,7776168152,9,养着兔子的猫咪,上海,0,None,上海,NaN,0,0,61,0,0,0,0,1,0,1

核查是否加总为总评论数

Double check

In [54]:
user_data['TotalComment'].sum()

3850

改变列的顺序使其更加可读

Change the order of column to make the dataframe more readable

In [55]:
tc=user_data['TotalComment']
c=user_data['Comment']
r=user_data['Reply']
col_drop=['TotalComment','Comment','Reply']
user_data.drop(col_drop, axis=1, inplace=True)
user_data.insert(3,'TotalComment',tc)
user_data.insert(4,'Comment',c)
user_data.insert(5,'Reply',r)
user_data

,UserID,FirstIndex,UserName,TotalComment,Comment,Reply,Province,ProvinceCode,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
0,1001914040,3498,薪火鹏,1,1,0,广东,12,None,广东,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0
1,1008309912,43,提尔乌斯,4,4,0,上海,0,None,上海,此处无人,1,0,0,0,0,0,0
2,1025900974,1394,猫的摇篮-伪物,2,2,0,天津,7,南开区,天津 南开区,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0
3,1028179843,2564,非常神奇的老z,1,0,1,上海,0,静安区,上海 静安区,NaN,1,13,59,9,0,0,0
4,1035744261,1292,假装很强的萌新,1,1,0,广东,12,None,广东,一个喜欢二次元的萌新,1,14,34,107,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7755717663,16,寂月海200007,1,1,0,其他,2,None,其他,NaN,1,0,10,2,0,0,0
2799,7766444420,945,烛虚cron,1,0,1,湖北,22,武汉,湖北 武汉,您诸位好哇(〜￣▽￣)〜,0,1,38,37,0,0,0
2800,7772408887,10,bo_白色大月亮,4,0,4,其他,2,None,其他,NaN,1,0,50,6,0,0,0
2801,7774567481,2188,你好陈博,1,0,1,安徽,9,宿州,安徽 宿州,NaN,1,0,7,0,0,0,0
2802,7776168152,9,养着兔子的猫咪,1,1,0,上海,0,None,上海,NaN,0,0,61,0,0,0,0

## 2.3 额外的索引列/Save the original dataframe index of each record

储存了原始数据集里，每一个user所发布的所有评论的index

Save dataframe indices for comments from each user as a new column `IndexList`.

In [56]:
user_idx=[]
for i in userID_index.values():
    user_idx.append(list(i))
user_idx=pd.Series(user_idx)
user_idx

0                     [3498]
1       [43, 149, 565, 1344]
2               [1394, 1686]
3                     [2564]
4                     [1292]
                ...
2798                    [16]
2799                   [945]
2800      [10, 22, 158, 946]
2801                  [2188]
2802                     [9]
Length: 2803, dtype: object

In [57]:
user_data.insert(2,'IndexList',user_idx)
user_data

,UserID,FirstIndex,IndexList,UserName,TotalComment,Comment,Reply,Province,ProvinceCode,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
0,1001914040,3498,[3498],薪火鹏,1,1,0,广东,12,None,广东,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0
1,1008309912,43,"[43, 149, 565, 1344]",提尔乌斯,4,4,0,上海,0,None,上海,此处无人,1,0,0,0,0,0,0
2,1025900974,1394,"[1394, 1686]",猫的摇篮-伪物,2,2,0,天津,7,南开区,天津 南开区,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0
3,1028179843,2564,[2564],非常神奇的老z,1,0,1,上海,0,静安区,上海 静安区,NaN,1,13,59,9,0,0,0
4,1035744261,1292,[1292],假装很强的萌新,1,1,0,广东,12,None,广东,一个喜欢二次元的萌新,1,14,34,107,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7755717663,16,[16],寂月海200007,1,1,0,其他,2,None,其他,NaN,1,0,10,2,0,0,0
2799,7766444420,945,[945],烛虚cron,1,0,1,湖北,22,武汉,湖北 武汉,您诸位好哇(〜￣▽￣)〜,0,1,38,37,0,0,0
2800,7772408887,10,"[10, 22, 158, 946]",bo_白色大月亮,4,0,4,其他,2,None,其他,NaN,1,0,50,6,0,0,0
2801,7774567481,2188,[2188],你好陈博,1,0,1,安徽,9,宿州,安徽 宿州,NaN,1,0,7,0,0,0,0
2802,7776168152,9,[9],养着兔子的猫咪,1,1,0,上海,0,None,上海,NaN,0,0,61,0,0,0,0

## 2.4 用户收到的点赞数/The number of likes received from each user
统计每个user的文本/post（即包含Comment和Reply）合计收到了多少个赞

Count the number of likes each user's texts/posts (i.e., Comment and Reply) received in total

In [58]:
user_likeCount = data.groupby('UserID')['CommentLike'].sum().reset_index()
user_likeCount

          UserID  CommentLike
0     1001914040            0
1     1008309912            0
2     1025900974            1
3     1028179843            0
4     1035744261            0
...          ...          ...
2798  7755717663            3
2799  7766444420            0
2800  7772408887            0
2801  7774567481            2
2802  7776168152            9

[2803 rows x 2 columns]

In [59]:
user_data = pd.merge(user_data,user_likeCount, how='left', on='UserID')
user_data

,UserID,FirstIndex,IndexList,UserName,TotalComment,Comment,Reply,Province,ProvinceCode,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,CommentLike
0,1001914040,3498,[3498],薪火鹏,1,1,0,广东,12,None,广东,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0,0
1,1008309912,43,"[43, 149, 565, 1344]",提尔乌斯,4,4,0,上海,0,None,上海,此处无人,1,0,0,0,0,0,0,0
2,1025900974,1394,"[1394, 1686]",猫的摇篮-伪物,2,2,0,天津,7,南开区,天津 南开区,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0,1
3,1028179843,2564,[2564],非常神奇的老z,1,0,1,上海,0,静安区,上海 静安区,NaN,1,13,59,9,0,0,0,0
4,1035744261,1292,[1292],假装很强的萌新,1,1,0,广东,12,None,广东,一个喜欢二次元的萌新,1,14,34,107,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,7755717663,16,[16],寂月海200007,1,1,0,其他,2,None,其他,NaN,1,0,10,2,0,0,0,3
2799,7766444420,945,[945],烛虚cron,1,0,1,湖北,22,武汉,湖北 武汉,您诸位好哇(〜￣▽￣)〜,0,1,38,37,0,0,0,0
2800,7772408887,10,"[10, 22, 158, 946]",bo_白色大月亮,4,0,4,其他,2,None,其他,NaN,1,0,50,6,0,0,0,0
2801,7774567481,2188,[2188],你好陈博,1,0,1,安徽,9,宿州,安徽 宿州,NaN,1,0,7,0,0,0,0,2
2802,7776168152,9,[9],养着兔子的猫咪,1,1,0,上海,0,None,上海,NaN,0,0,61,0,0,0,0,9

In [60]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UserID           2803 non-null   object
 1   FirstIndex       2803 non-null   object
 2   IndexList        2803 non-null   object
 3   UserName         2803 non-null   object
 4   TotalComment     2803 non-null   int32
 5   Comment          2803 non-null   int32
 6   Reply            2803 non-null   int32
 7   Province         2803 non-null   object
 8   ProvinceCode     2803 non-null   int32
 9   Region           1277 non-null   object
 10  UserLocation     2803 non-null   object
 11  UserDescription  1735 non-null   object
 12  UserGender       2803 non-null   int64
 13  UserFan          2803 non-null   int64
 14  UserFollow       2803 non-null   int64
 15  UserWeibo        2803 non-null   int64
 16  UserVerified     2803 non-null   int32
 17  LoyalFan         2803 non-null   int64
 18  VipRank          2803 non-null   int64
 19  CommentLike      2803 non-null   int64
dtypes: int32(5), int64(7), object(8)
memory usage: 383.3+ KB

改变列的顺序使其更加可读

Change the order of column to make the dataframe more readable

In [61]:
cl = user_data['CommentLike']
user_data.drop('CommentLike',axis=1,inplace=True)
user_data.insert(7, 'LikeCount', cl)
user_data.head()

,UserID,FirstIndex,IndexList,UserName,TotalComment,Comment,Reply,LikeCount,Province,ProvinceCode,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
0,1001914040,3498,[3498],薪火鹏,1,1,0,0,广东,12,None,广东,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0
1,1008309912,43,"[43, 149, 565, 1344]",提尔乌斯,4,4,0,0,上海,0,None,上海,此处无人,1,0,0,0,0,0,0
2,1025900974,1394,"[1394, 1686]",猫的摇篮-伪物,2,2,0,1,天津,7,南开区,天津 南开区,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0
3,1028179843,2564,[2564],非常神奇的老z,1,0,1,0,上海,0,静安区,上海 静安区,NaN,1,13,59,9,0,0,0
4,1035744261,1292,[1292],假装很强的萌新,1,1,0,0,广东,12,None,广东,一个喜欢二次元的萌新,1,14,34,107,0,1,0

In [62]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UserID           2803 non-null   object
 1   FirstIndex       2803 non-null   object
 2   IndexList        2803 non-null   object
 3   UserName         2803 non-null   object
 4   TotalComment     2803 non-null   int32
 5   Comment          2803 non-null   int32
 6   Reply            2803 non-null   int32
 7   LikeCount        2803 non-null   int64
 8   Province         2803 non-null   object
 9   ProvinceCode     2803 non-null   int32
 10  Region           1277 non-null   object
 11  UserLocation     2803 non-null   object
 12  UserDescription  1735 non-null   object
 13  UserGender       2803 non-null   int64
 14  UserFan          2803 non-null   int64
 15  UserFollow       2803 non-null   int64
 16  UserWeibo        2803 non-null   int64
 17  UserVerified     2803 non-null   int32
 18  LoyalFan         2803 non-null   int64
 19  VipRank          2803 non-null   int64
dtypes: int32(5), int64(7), object(8)
memory usage: 383.3+ KB

## 2.5 UserDescription简化/Simplify the UserDescription

根据是否有description改成0 1 二分值

New column Description: based on that whether the user has a bio/description in his/her profile or not.<br>
Description = 1: Has<br>
Description = 0: Doesn't have

In [63]:
null_descrIdx=user_data[user_data['UserDescription'].isnull()].index
user_data.insert(12, "Description",1)
user_data.head()

,UserID,FirstIndex,IndexList,UserName,TotalComment,Comment,Reply,LikeCount,Province,ProvinceCode,...,UserLocation,Description,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
0,1001914040,3498,[3498],薪火鹏,1,1,0,0,广东,12,...,广东,1,这个世界并没有错，只是存在于那里而已。,1,30,56,692,0,0,0
1,1008309912,43,"[43, 149, 565, 1344]",提尔乌斯,4,4,0,0,上海,0,...,上海,1,此处无人,1,0,0,0,0,0,0
2,1025900974,1394,"[1394, 1686]",猫的摇篮-伪物,2,2,0,1,天津,7,...,天津 南开区,1,请在我们脏的时候爱我们。,1,917,1109,2013,0,0,0
3,1028179843,2564,[2564],非常神奇的老z,1,0,1,0,上海,0,...,上海 静安区,1,NaN,1,13,59,9,0,0,0
4,1035744261,1292,[1292],假装很强的萌新,1,1,0,0,广东,12,...,广东,1,一个喜欢二次元的萌新,1,14,34,107,0,1,0

In [64]:
user_data.loc[null_descrIdx,'Description']=0
user_data['Description'].value_counts()

Description
1    1735
0    1068
Name: count, dtype: int64

In [65]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UserID           2803 non-null   object
 1   FirstIndex       2803 non-null   object
 2   IndexList        2803 non-null   object
 3   UserName         2803 non-null   object
 4   TotalComment     2803 non-null   int32
 5   Comment          2803 non-null   int32
 6   Reply            2803 non-null   int32
 7   LikeCount        2803 non-null   int64
 8   Province         2803 non-null   object
 9   ProvinceCode     2803 non-null   int32
 10  Region           1277 non-null   object
 11  UserLocation     2803 non-null   object
 12  Description      2803 non-null   int64
 13  UserDescription  1735 non-null   object
 14  UserGender       2803 non-null   int64
 15  UserFan          2803 non-null   int64
 16  UserFollow       2803 non-null   int64
 17  UserWeibo        2803 non-null   int64
 18  UserVerified     2803 non-null   int32
 19  LoyalFan         2803 non-null   int64
 20  VipRank          2803 non-null   int64
dtypes: int32(5), int64(8), object(8)
memory usage: 405.2+ KB

## 2.6 特征工程：UserDescription中的特殊符号使用个数/Feature engineering: number of special characters in UserDescription

In [66]:
# 匹配特殊符号/Match the special character form
special_char_pattern = re.compile(r'[^\u4e00-\u9fa5a-zA-Z0-9\s]')

# 使用 Pandas 的 str.count() 方法统计特殊符号个数/Use str.count() to calculate the number
user_data.insert(14,'SpecialChar',user_data['UserDescription'].str.count(special_char_pattern))

user_data.head(10)

,UserID,FirstIndex,IndexList,UserName,TotalComment,Comment,Reply,LikeCount,Province,ProvinceCode,...,Description,UserDescription,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
0,1001914040,3498,[3498],薪火鹏,1,1,0,0,广东,12,...,1,这个世界并没有错，只是存在于那里而已。,2.0,1,30,56,692,0,0,0
1,1008309912,43,"[43, 149, 565, 1344]",提尔乌斯,4,4,0,0,上海,0,...,1,此处无人,0.0,1,0,0,0,0,0,0
2,1025900974,1394,"[1394, 1686]",猫的摇篮-伪物,2,2,0,1,天津,7,...,1,请在我们脏的时候爱我们。,1.0,1,917,1109,2013,0,0,0
3,1028179843,2564,[2564],非常神奇的老z,1,0,1,0,上海,0,...,0,NaN,NaN,1,13,59,9,0,0,0
4,1035744261,1292,[1292],假装很强的萌新,1,1,0,0,广东,12,...,1,一个喜欢二次元的萌新,0.0,1,14,34,107,0,1,0
5,1036072925,1628,[1628],空空今天养乐多了吗,1,1,0,0,北京,4,...,1,佛系solo甜唯,0.0,0,403,1436,7101,1,1,6
6,1039477413,1442,[1442],阿卡牟-akamoo,1,0,1,0,福建,26,...,1,FF14 dota2 奥妙鸡,0.0,1,36,146,30,0,0,0
7,1046537351,551,"[551, 3287, 3521]",Y口十子,3,1,2,0,云南,1,...,1,RAmen,0.0,1,1145,377,4991,0,0,0
8,1066324192,702,[702],斯蒂芬徐,1,1,0,0,广东,12,...,1,银行🐶,1.0,1,352,1344,4089,0,0,0
9,1069108481,2827,[2827],FAITHLESSS,1,1,0,0,湖北,22,...,0,NaN,NaN,1,199,290,553,0,0,0

将NaN替换为0

Replace NaN with 0

In [67]:
sc_nullIdx = user_data[user_data['SpecialChar'].isnull()].index
user_data.loc[sc_nullIdx, 'SpecialChar'] = 0
user_data[user_data['SpecialChar'].isnull()]

Empty DataFrame
Columns: [UserID, FirstIndex, IndexList, UserName, TotalComment, Comment, Reply, LikeCount, Province, ProvinceCode, Region, UserLocation, Description, UserDescription, SpecialChar, UserGender, UserFan, UserFollow, UserWeibo, UserVerified, LoyalFan, VipRank]
Index: []

[0 rows x 22 columns]

In [68]:
user_data['SpecialChar']=user_data['SpecialChar'].astype(int)
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UserID           2803 non-null   object
 1   FirstIndex       2803 non-null   object
 2   IndexList        2803 non-null   object
 3   UserName         2803 non-null   object
 4   TotalComment     2803 non-null   int32
 5   Comment          2803 non-null   int32
 6   Reply            2803 non-null   int32
 7   LikeCount        2803 non-null   int64
 8   Province         2803 non-null   object
 9   ProvinceCode     2803 non-null   int32
 10  Region           1277 non-null   object
 11  UserLocation     2803 non-null   object
 12  Description      2803 non-null   int64
 13  UserDescription  1735 non-null   object
 14  SpecialChar      2803 non-null   int32
 15  UserGender       2803 non-null   int64
 16  UserFan          2803 non-null   int64
 17  UserFollow       2803 non-null   int64
 18  UserWeibo        2803 non-null   int64
 19  UserVerified     2803 non-null   int32
 20  LoyalFan         2803 non-null   int64
 21  VipRank          2803 non-null   int64
dtypes: int32(6), int64(8), object(8)
memory usage: 416.2+ KB

## 2.7 特征工程：UserDescription里的emoji和文本长度统计/Feature engineering: the emoji/emoticon in UserDescription and the length of description

由于不少用户在description里使用了emoji/emoticon和标点符号，因此我们：
- 先将所有的特殊符号移除，得到清理后的文本：DescriClean
- 将原始文本UserDescription中所有的emoji转换为对应的中文编码（如：`:code:`）
- 移除DescriClean中的空格后，计算DescriClean的长度（即，单字数）
- 对于使用了emoji的description，更新DescriClean的长度为：DescriClean的长度+emoji的个数

emoji和emoticon将会被交替使用

Since many users use emoji/emoticon and punctuation in UserDescription, we:
- Firstly, remove all special characters (including emoji, emoticon and punctuation) to get the cleaned text: DescriClean
- Secondly, convert all emojis/emoticons in the original text UserDescription to the corresponding Chinese Emoji Code (e.g. `:code:`).
- Thirdly, calculate the length of DescriClean (i.e., the number of single words) after removing the spaces in DescriClean
- Forthly, for a description with emoji/emoticon, update the length of DescriClean to: length of DescriClean + number of emoji/emoticon

emoji and emoticon will be used interchangeably. Note: emoji = emoticon

In [69]:
# 移除特殊符号和emoji/Remove special characters and emoji
user_data.insert(14,'DescriClean',user_data['UserDescription'].str.replace(special_char_pattern, '',regex=True))
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UserID           2803 non-null   object
 1   FirstIndex       2803 non-null   object
 2   IndexList        2803 non-null   object
 3   UserName         2803 non-null   object
 4   TotalComment     2803 non-null   int32
 5   Comment          2803 non-null   int32
 6   Reply            2803 non-null   int32
 7   LikeCount        2803 non-null   int64
 8   Province         2803 non-null   object
 9   ProvinceCode     2803 non-null   int32
 10  Region           1277 non-null   object
 11  UserLocation     2803 non-null   object
 12  Description      2803 non-null   int64
 13  UserDescription  1735 non-null   object
 14  DescriClean      1735 non-null   object
 15  SpecialChar      2803 non-null   int32
 16  UserGender       2803 non-null   int64
 17  UserFan          2803 non-null   int64
 18  UserFollow       2803 non-null   int64
 19  UserWeibo        2803 non-null   int64
 20  UserVerified     2803 non-null   int32
 21  LoyalFan         2803 non-null   int64
 22  VipRank          2803 non-null   int64
dtypes: int32(6), int64(8), object(9)
memory usage: 438.1+ KB

解码emoji

Decode the emoji

In [70]:
def decode_emoji(text):
    return emoji.demojize(text,language='zh')


descrIdx=user_data[user_data['Description']==1].index


user_data.loc[descrIdx,'UserDescription']=user_data.loc[descrIdx,'UserDescription'].apply(decode_emoji)
user_data.head(10)

,UserID,FirstIndex,IndexList,UserName,TotalComment,Comment,Reply,LikeCount,Province,ProvinceCode,...,UserDescription,DescriClean,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
0,1001914040,3498,[3498],薪火鹏,1,1,0,0,广东,12,...,这个世界并没有错，只是存在于那里而已。,这个世界并没有错只是存在于那里而已,2,1,30,56,692,0,0,0
1,1008309912,43,"[43, 149, 565, 1344]",提尔乌斯,4,4,0,0,上海,0,...,此处无人,此处无人,0,1,0,0,0,0,0,0
2,1025900974,1394,"[1394, 1686]",猫的摇篮-伪物,2,2,0,1,天津,7,...,请在我们脏的时候爱我们。,请在我们脏的时候爱我们,1,1,917,1109,2013,0,0,0
3,1028179843,2564,[2564],非常神奇的老z,1,0,1,0,上海,0,...,NaN,NaN,0,1,13,59,9,0,0,0
4,1035744261,1292,[1292],假装很强的萌新,1,1,0,0,广东,12,...,一个喜欢二次元的萌新,一个喜欢二次元的萌新,0,1,14,34,107,0,1,0
5,1036072925,1628,[1628],空空今天养乐多了吗,1,1,0,0,北京,4,...,佛系solo甜唯,佛系solo甜唯,0,0,403,1436,7101,1,1,6
6,1039477413,1442,[1442],阿卡牟-akamoo,1,0,1,0,福建,26,...,FF14 dota2 奥妙鸡,FF14 dota2 奥妙鸡,0,1,36,146,30,0,0,0
7,1046537351,551,"[551, 3287, 3521]",Y口十子,3,1,2,0,云南,1,...,RAmen,RAmen,0,1,1145,377,4991,0,0,0
8,1066324192,702,[702],斯蒂芬徐,1,1,0,0,广东,12,...,银行:狗脸:,银行,1,1,352,1344,4089,0,0,0
9,1069108481,2827,[2827],FAITHLESSS,1,1,0,0,湖北,22,...,NaN,NaN,0,1,199,290,553,0,0,0

计算description的长度
- 先将长度DescriptionLen设置为0

Calculate the length of UserDescription: DescriptionLen
- Set 0 for all the entries of DescriptionLen

In [71]:
def len_text(text):
    return len(text.replace(" ", ""))

descrIdx=user_data[user_data['Description']==1].index
user_data.insert(15, "DescriptionLen",0)
user_data.head(10)

,UserID,FirstIndex,IndexList,UserName,TotalComment,Comment,Reply,LikeCount,Province,ProvinceCode,...,DescriClean,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
0,1001914040,3498,[3498],薪火鹏,1,1,0,0,广东,12,...,这个世界并没有错只是存在于那里而已,0,2,1,30,56,692,0,0,0
1,1008309912,43,"[43, 149, 565, 1344]",提尔乌斯,4,4,0,0,上海,0,...,此处无人,0,0,1,0,0,0,0,0,0
2,1025900974,1394,"[1394, 1686]",猫的摇篮-伪物,2,2,0,1,天津,7,...,请在我们脏的时候爱我们,0,1,1,917,1109,2013,0,0,0
3,1028179843,2564,[2564],非常神奇的老z,1,0,1,0,上海,0,...,NaN,0,0,1,13,59,9,0,0,0
4,1035744261,1292,[1292],假装很强的萌新,1,1,0,0,广东,12,...,一个喜欢二次元的萌新,0,0,1,14,34,107,0,1,0
5,1036072925,1628,[1628],空空今天养乐多了吗,1,1,0,0,北京,4,...,佛系solo甜唯,0,0,0,403,1436,7101,1,1,6
6,1039477413,1442,[1442],阿卡牟-akamoo,1,0,1,0,福建,26,...,FF14 dota2 奥妙鸡,0,0,1,36,146,30,0,0,0
7,1046537351,551,"[551, 3287, 3521]",Y口十子,3,1,2,0,云南,1,...,RAmen,0,0,1,1145,377,4991,0,0,0
8,1066324192,702,[702],斯蒂芬徐,1,1,0,0,广东,12,...,银行,0,1,1,352,1344,4089,0,0,0
9,1069108481,2827,[2827],FAITHLESSS,1,1,0,0,湖北,22,...,NaN,0,0,1,199,290,553,0,0,0

移除空格，并计算长度

Remove the space and calculate the length

In [72]:
user_data.loc[descrIdx,'DescriptionLen']=user_data.loc[descrIdx,'DescriClean'].apply(len_text)
user_data.head(10)

,UserID,FirstIndex,IndexList,UserName,TotalComment,Comment,Reply,LikeCount,Province,ProvinceCode,...,DescriClean,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
0,1001914040,3498,[3498],薪火鹏,1,1,0,0,广东,12,...,这个世界并没有错只是存在于那里而已,17,2,1,30,56,692,0,0,0
1,1008309912,43,"[43, 149, 565, 1344]",提尔乌斯,4,4,0,0,上海,0,...,此处无人,4,0,1,0,0,0,0,0,0
2,1025900974,1394,"[1394, 1686]",猫的摇篮-伪物,2,2,0,1,天津,7,...,请在我们脏的时候爱我们,11,1,1,917,1109,2013,0,0,0
3,1028179843,2564,[2564],非常神奇的老z,1,0,1,0,上海,0,...,NaN,0,0,1,13,59,9,0,0,0
4,1035744261,1292,[1292],假装很强的萌新,1,1,0,0,广东,12,...,一个喜欢二次元的萌新,10,0,1,14,34,107,0,1,0
5,1036072925,1628,[1628],空空今天养乐多了吗,1,1,0,0,北京,4,...,佛系solo甜唯,8,0,0,403,1436,7101,1,1,6
6,1039477413,1442,[1442],阿卡牟-akamoo,1,0,1,0,福建,26,...,FF14 dota2 奥妙鸡,12,0,1,36,146,30,0,0,0
7,1046537351,551,"[551, 3287, 3521]",Y口十子,3,1,2,0,云南,1,...,RAmen,5,0,1,1145,377,4991,0,0,0
8,1066324192,702,[702],斯蒂芬徐,1,1,0,0,广东,12,...,银行,2,1,1,352,1344,4089,0,0,0
9,1069108481,2827,[2827],FAITHLESSS,1,1,0,0,湖北,22,...,NaN,0,0,1,199,290,553,0,0,0

计算emoji（以样式`:code:`为对象）的个数，并更新相应的description的长度为：DescriClean的长度+emoji的个数

Calculate the number of emoji (represented as `:code:`), and update the length of DescriClean to: length of DescriClean + number of emoji

In [73]:
emoji_con = user_data['UserDescription'].str.count(re.compile(r':.*?:'))
emoji_idx = user_data[(emoji_con.notna()) & (emoji_con>0)].index
emoji_idx

Index([   8,   17,   24,   52,  146,  158,  177,  178,  179,  194,
       ...
       2343, 2367, 2411, 2463, 2504, 2596, 2613, 2656, 2689, 2785],
      dtype='int64', length=105)

In [74]:
user_data.loc[emoji_idx,'DescriptionLen'] = user_data.loc[emoji_idx,'DescriptionLen'] + emoji_con[emoji_idx]
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UserID           2803 non-null   object
 1   FirstIndex       2803 non-null   object
 2   IndexList        2803 non-null   object
 3   UserName         2803 non-null   object
 4   TotalComment     2803 non-null   int32
 5   Comment          2803 non-null   int32
 6   Reply            2803 non-null   int32
 7   LikeCount        2803 non-null   int64
 8   Province         2803 non-null   object
 9   ProvinceCode     2803 non-null   int32
 10  Region           1277 non-null   object
 11  UserLocation     2803 non-null   object
 12  Description      2803 non-null   int64
 13  UserDescription  1735 non-null   object
 14  DescriClean      1735 non-null   object
 15  DescriptionLen   2803 non-null   int64
 16  SpecialChar      2803 non-null   int32
 17  UserGender       2803 non-null   int64
 18  UserFan          2803 non-null   int64
 19  UserFollow       2803 non-null   int64
 20  UserWeibo        2803 non-null   int64
 21  UserVerified     2803 non-null   int32
 22  LoyalFan         2803 non-null   int64
 23  VipRank          2803 non-null   int64
dtypes: int32(6), int64(9), object(9)
memory usage: 460.0+ KB

用户数据库搭建完毕。可以发现关键特征均不为空值<br>
考虑到便利性，必要的特征被提取出来并保存为一个新的dataframe

The user database/profile is successfully built. It is clear that all key features are without null values.
Considering the convenience in the subsequent analysis, necessary features are extracted and saved into a new dataframe

In [75]:
user_file='Datasets/UserData.csv'
user_data.to_csv(user_file, index=False,encoding='utf-8-sig')

In [76]:
user_profile = user_data.iloc[:,[0,2,3,4,5,6,7,9,12,15,16,17,18,19,20,21,22,23]]
user_profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UserID          2803 non-null   object
 1   IndexList       2803 non-null   object
 2   UserName        2803 non-null   object
 3   TotalComment    2803 non-null   int32
 4   Comment         2803 non-null   int32
 5   Reply           2803 non-null   int32
 6   LikeCount       2803 non-null   int64
 7   ProvinceCode    2803 non-null   int32
 8   Description     2803 non-null   int64
 9   DescriptionLen  2803 non-null   int64
 10  SpecialChar     2803 non-null   int32
 11  UserGender      2803 non-null   int64
 12  UserFan         2803 non-null   int64
 13  UserFollow      2803 non-null   int64
 14  UserWeibo       2803 non-null   int64
 15  UserVerified    2803 non-null   int32
 16  LoyalFan        2803 non-null   int64
 17  VipRank         2803 non-null   int64
dtypes: int32(6), int64(9), object(3)
memory usage: 328.6+ KB

In [77]:
profile='Datasets/UserProfile.csv'
user_profile.to_csv(profile, index=False,encoding='utf-8-sig')

## 2.8 读取处理后的数据user_data和profile_data/Read the processed dataset: `user_data` and `profile_data`

user_data：用户的原始数据库，
profile_data：提取出必要的feature后的用户数据库（来源于user_data）

user_data: the original user database/profile after all preprocessings shown in Section 2.1~2.7;<br>
profile_data: the final user database/profile after extracting necessary features from the user_data

In [78]:
user_data=pd.read_csv('Datasets/UserData.csv')
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UserID           2803 non-null   int64
 1   FirstIndex       2803 non-null   int64
 2   IndexList        2803 non-null   object
 3   UserName         2803 non-null   object
 4   TotalComment     2803 non-null   int64
 5   Comment          2803 non-null   int64
 6   Reply            2803 non-null   int64
 7   LikeCount        2803 non-null   int64
 8   Province         2803 non-null   object
 9   ProvinceCode     2803 non-null   int64
 10  Region           1277 non-null   object
 11  UserLocation     2803 non-null   object
 12  Description      2803 non-null   int64
 13  UserDescription  1735 non-null   object
 14  DescriClean      1654 non-null   object
 15  DescriptionLen   2803 non-null   int64
 16  SpecialChar      2803 non-null   int64
 17  UserGender       2803 non-null   int64
 18  UserFan          2803 non-null   int64
 19  UserFollow       2803 non-null   int64
 20  UserWeibo        2803 non-null   int64
 21  UserVerified     2803 non-null   int64
 22  LoyalFan         2803 non-null   int64
 23  VipRank          2803 non-null   int64
dtypes: int64(17), object(7)
memory usage: 525.7+ KB

In [79]:
profile_data=pd.read_csv('Datasets/UserProfile.csv')
profile_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UserID          2803 non-null   int64
 1   IndexList       2803 non-null   object
 2   UserName        2803 non-null   object
 3   TotalComment    2803 non-null   int64
 4   Comment         2803 non-null   int64
 5   Reply           2803 non-null   int64
 6   LikeCount       2803 non-null   int64
 7   ProvinceCode    2803 non-null   int64
 8   Description     2803 non-null   int64
 9   DescriptionLen  2803 non-null   int64
 10  SpecialChar     2803 non-null   int64
 11  UserGender      2803 non-null   int64
 12  UserFan         2803 non-null   int64
 13  UserFollow      2803 non-null   int64
 14  UserWeibo       2803 non-null   int64
 15  UserVerified    2803 non-null   int64
 16  LoyalFan        2803 non-null   int64
 17  VipRank         2803 non-null   int64
dtypes: int64(16), object(2)
memory usage: 394.3+ KB

# 3. 重组数据集1：为构建异构图准备/The first dataset reorganization: to prepare for the Heterogeneous Graph Construction

异构图包括2个层级的图：用户互动网和用户评论所属关系。
- 用户互动网：包含了用户的在目标帖子下的所有行为（即，留下评论、被他人回复/回复他人、提及/@其他用户）
- 用户评论所属关系：指示了用户与其在目标帖子下所发表的文本的对应关系

目前的数据集每一行均表示一个用户的发布的一条文本。而除了通过RootID可以定位到该user的回复对象之外，与提及有关的信息是被包含在文本里的。因此，为了后续构建异构图的便利性，我们需要重组数据集，使其变得更加可读。

The Heterogeneous Graph (HeteroG) proposed in this study consists of 2 graph levels: the user interaction network (`user-user`) and user comment affiliation (`user-comment`)
- user-user: Contain all the behaviors of users under the target post (i.e., leaving comments, replying to others, metioning/@ other users)
- user-comment: Indicate the correspondence/affiliation relationship between a user and all texts he/she left under the target post

Each row of the current dataset represents one text posted by a user. RootID can be used to identify the individual of one certain user reply to. However, information related to @ is contained in the text. Therefore, reorganizing the dataset to make it more readable for the convenience of subsequent HeteroG construction is necessary.

In [80]:
# 检查数据集情况/Check the dataset
comment_data=data.copy()
comment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CommentID        3850 non-null   int64
 1   CommentTime      3850 non-null   datetime64[ns, UTC+08:00]
 2   RootID           3850 non-null   int64
 3   CommentRaw       3850 non-null   object
 4   Comment          3829 non-null   object
 5   CommentLike      3850 non-null   int64
 6   CommentReply     2664 non-null   Int64
 7   UserID           3850 non-null   int64
 8   UserName         3850 non-null   object
 9   Province         3850 non-null   object
 10  ProvinceCode     3850 non-null   int32
 11  Region           1694 non-null   object
 12  UserLocation     3850 non-null   object
 13  UserDescription  2366 non-null   object
 14  UserGender       3850 non-null   int64
 15  UserFan          3850 non-null   int64
 16  UserFollow       3850 non-null   int64
 17  UserWeibo        3850 non-null   int64
 18  UserVerified     3850 non-null   int32
 19  LoyalFan         3850 non-null   int64
 20  VipRank          3850 non-null   int64
dtypes: Int64(1), datetime64[ns, UTC+08:00](1), int32(2), int64(10), object(7)
memory usage: 605.4+ KB

我们可以发现存在回复/reply缺失的情况
- CommentReply是通过爬虫得到的、该文本的回复数（对于所有有回复的文本，回复总和理论上应该为1868）
- 在用脚本抓取既存回复时，使用了CommentReply=Null来作为指示。但我们可以发现，CommentReply为空值的记录仅有1186条，不等于回复总和1868
该发现表明，在微博上，是存在“评论/回复被删除、且无法通过爬虫获取”的情况

It is clear that there are missing replies in the crawled dataset
- The value of CommentReply is the number of replies to the one certain text, obtained by the Python Script (for all texts with replies, the total number of replies should be 1868)
- CommentReply = Null is used to indicate that "this text is a piece of reply and can be crawled by the script". However, there are only 1186 Null records in the CommentReply. This is not equal to the 1868

This means that, on Weibo, some comments/replies are removed due to some unknown reasons and cannot be retrived by the script.

In [81]:
comment_data[comment_data['CommentReply']>0]['CommentReply'].sum()

1868

In [82]:
len(comment_data[comment_data['CommentReply'].isnull()])

1186

## 3.1 重组数据，构建user-user/Re-organize dataset and construct user-user interaction dataset

为保证全面性，user-user数据集拟包含3类信息：From（行为发出者），To（行为接受者）和Floor（层现象）。下面以一个简单的例子来进行说明

To ensure the comprehensiveness, the user-user dataset is proposed to contain 3 types of information: From, To and Floor. A simple example listed below will be helpful for understanding.

Simple example
- $U_A$: ...... ($C_A$)
  - $U_B$: ...... ($C_B$)
  - $U_C$: Reply@$U_B$: ...... ($C_C$)
  - $U_A$: Reply@$U_C$: ...... ($C_D$)

在这个例子中，总计4条评论的From、To和Floor可以被总结成下表:

In this example, From, To and Floor for all those 4 comments can be concluded as the table below:

<table>
  <colgroup>
    <col style="width: 25%">
    <col style="width: 25%">
    <col style="width: 25%">
    <col style="width: 25%">
  </colgroup>
  <tr>
    <th>Index</th>
    <th>From</th>
    <th>To</th>
    <th>Floor</th>
  </tr>
  <tr>
    <td>$C_A$</td>
    <td>$U_A$</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>$C_B$</td>
    <td>$U_B$</td>
    <td>$U_A$</td>
    <td>$U_A$</td>
  </tr>
  <tr>
    <td>$C_C$</td>
    <td>$U_C$</td>
    <td>$U_B$</td>
    <td>$U_A$</td>
  </tr>
  <tr>
    <td>$C_D$</td>
    <td>$U_A$</td>
    <td>$U_C$</td>
    <td>$U_A$</td>
  </tr>
</table>

- From: `F_Idx`, `F_CommID`, `F_Time`, `F_UserID`, `F_UserName`, `F_Comment`
- To: `T_Idx`, `T_UserID`, `T_UserName`, `T_CommID`, `T_Time`, `T_Comment`
- Floor: `Floor_Idx`, `Floor_CommID`, `Floor_UserID`

最终我们设计了上述15个列。列名后缀可参考下列解释<br>
Finally we design 15 columns. Explanations for the suffix of eahc column name are listed below
- Idx：经过Section 1处理后的数据集`data`的DataFrame的索引/DataFrame Index of the dataset `data` after Section 1 processing
- CommID：该条文本的ID/Text ID
- Time：该条文本的发布时间/Post time of the text
- UserID：用户ID/User ID
- UserName：用户名/User name
- Comment：文本内容/Text

In [83]:
# 复制/Copy
inter_data=comment_data.copy()
inter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CommentID        3850 non-null   int64
 1   CommentTime      3850 non-null   datetime64[ns, UTC+08:00]
 2   RootID           3850 non-null   int64
 3   CommentRaw       3850 non-null   object
 4   Comment          3829 non-null   object
 5   CommentLike      3850 non-null   int64
 6   CommentReply     2664 non-null   Int64
 7   UserID           3850 non-null   int64
 8   UserName         3850 non-null   object
 9   Province         3850 non-null   object
 10  ProvinceCode     3850 non-null   int32
 11  Region           1694 non-null   object
 12  UserLocation     3850 non-null   object
 13  UserDescription  2366 non-null   object
 14  UserGender       3850 non-null   int64
 15  UserFan          3850 non-null   int64
 16  UserFollow       3850 non-null   int64
 17  UserWeibo        3850 non-null   int64
 18  UserVerified     3850 non-null   int32
 19  LoyalFan         3850 non-null   int64
 20  VipRank          3850 non-null   int64
dtypes: Int64(1), datetime64[ns, UTC+08:00](1), int32(2), int64(10), object(7)
memory usage: 605.4+ KB

移除不必要的列（如用户信息）

Remove the unnecessary columns (e.g., user features)

In [84]:
comment_data

,CommentID,CommentTime,RootID,CommentRaw,Comment,CommentLike,CommentReply,UserID,UserName,Province,...,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
0,4915861950828535,2023-06-23 18:31:24+08:00,0,考古,考古,0,0,7752387333,祎只狸猫,其他,...,None,其他,橘圈小透明阮淼祎,0,45,149,260,0,1,0
1,4910942133158267,2023-06-10 04:41:48+08:00,0,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,0,0,7604058796,邮一棵草莓i,其他,...,None,其他,垃圾滚！！！,0,2,48,124,0,0,0
2,4862811883439433,2023-01-28 09:09:22+08:00,0,真不知道迅哥给评论区投了多少米？[允悲][doge],真不知道迅哥给评论区投了多少米？,0,0,7577283965,kmimg7,甘肃,...,庆阳,甘肃 庆阳,NaN,1,0,31,4,0,0,0
3,4862705678417948,2023-01-28 02:07:20+08:00,0,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗,0,0,7476902376,小祀弟弟吖,其他,...,None,其他,NaN,0,0,39,2,0,0,0
4,4858911816944130,2023-01-17 14:51:54+08:00,0,[吃瓜]现在是2023年 回来考古的点个赞,现在是2023年 回来考古的点个赞,0,0,7724649649,不知道如何评价,其他,...,None,其他,NaN,1,0,55,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3845,4380879537777020,2019-06-08 12:02:17+08:00,0,好！,好！,0,0,3086524793,逍遥鸟酱,其他,...,None,其他,Valder Fields,1,210,483,3371,0,0,0
3846,4380879528787121,2019-06-08 12:02:15+08:00,0,快测试等不及啦！@Re莫德雷德厨_,快测试等不及啦！@Re莫德雷德厨_,2,0,6058348808,德不不不奶,其他,...,None,其他,哪里是喜欢病娇，其实就是喜欢被一个人坚定选择的感觉罢了…,1,145,627,2943,0,0,0
3847,4380879427903629,2019-06-08 12:01:51+08:00,0,给我也整一个@璟也想成为物理学家,给我也整一个@璟也想成为物理学家,0,0,2836607150,天使爱吃麻婆豆腐,陕西,...,西安,陕西 西安,NaN,1,35,768,23,0,0,0
3848,4380879289628087,2019-06-08 12:01:18+08:00,0,Pv出来了！,Pv出来了！,0,0,7161385652,Neilwasabi,上海,...,None,上海,NaN,1,0,124,0,0,0,0
3849,4380879163980104,2019-06-08 12:00:47+08:00,0,啊啊啊啊啊啊啊啊！,啊啊啊啊啊啊啊啊！,0,0,7161385652,Neilwasabi,上海,...,None,上海,NaN,1,0,124,0,0,0,0

In [85]:
user_drop=list(inter_data.columns[9:])
inter_data=inter_data.drop(user_drop,axis=1)
inter_data=inter_data.drop(['Comment'],axis=1)

In [86]:
inter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CommentID     3850 non-null   int64
 1   CommentTime   3850 non-null   datetime64[ns, UTC+08:00]
 2   RootID        3850 non-null   int64
 3   CommentRaw    3850 non-null   object
 4   CommentLike   3850 non-null   int64
 5   CommentReply  2664 non-null   Int64
 6   UserID        3850 non-null   int64
 7   UserName      3850 non-null   object
dtypes: Int64(1), datetime64[ns, UTC+08:00](1), int64(4), object(2)
memory usage: 244.5+ KB

新建一个DataFrame `df` 来储存重组后的表

Create a new DataFrame `df` to save the re-organized one

In [87]:
column_names=['F_Idx','F_CommID','F_Time','F_UserID','F_UserName','F_Comment','T_Idx','T_UserID','T_UserName','T_CommID','T_Time','T_Comment','Floor_Idx','Floor_CommID','Floor_UserID']
df = pd.DataFrame(columns=column_names)
df

Empty DataFrame
Columns: [F_Idx, F_CommID, F_Time, F_UserID, F_UserName, F_Comment, T_Idx, T_UserID, T_UserName, T_CommID, T_Time, T_Comment, Floor_Idx, Floor_CommID, Floor_UserID]
Index: []

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         0 non-null      object
 1   F_CommID      0 non-null      object
 2   F_Time        0 non-null      object
 3   F_UserID      0 non-null      object
 4   F_UserName    0 non-null      object
 5   F_Comment     0 non-null      object
 6   T_Idx         0 non-null      object
 7   T_UserID      0 non-null      object
 8   T_UserName    0 non-null      object
 9   T_CommID      0 non-null      object
 10  T_Time        0 non-null      object
 11  T_Comment     0 non-null      object
 12  Floor_Idx     0 non-null      object
 13  Floor_CommID  0 non-null      object
 14  Floor_UserID  0 non-null      object
dtypes: object(15)
memory usage: 124.0+ bytes

### 3.1.1 用户类型1（Plain）：未涉及用户间的互动，仅留下了评论/User type 1 (Plain): no user interactions; only comments were left

标识：RootID和CommentReply均为0

Both RootID and CommentReply are 0

In [89]:
plain_comm=inter_data[(inter_data['RootID']==0) & (inter_data['CommentReply']==0)]
plain_comm

,CommentID,CommentTime,RootID,CommentRaw,CommentLike,CommentReply,UserID,UserName
0,4915861950828535,2023-06-23 18:31:24+08:00,0,考古,0,0,7752387333,祎只狸猫
1,4910942133158267,2023-06-10 04:41:48+08:00,0,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,0,0,7604058796,邮一棵草莓i
2,4862811883439433,2023-01-28 09:09:22+08:00,0,真不知道迅哥给评论区投了多少米？[允悲][doge],0,0,7577283965,kmimg7
3,4862705678417948,2023-01-28 02:07:20+08:00,0,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],0,0,7476902376,小祀弟弟吖
4,4858911816944130,2023-01-17 14:51:54+08:00,0,[吃瓜]现在是2023年 回来考古的点个赞,0,0,7724649649,不知道如何评价
...,...,...,...,...,...,...,...,...
3845,4380879537777020,2019-06-08 12:02:17+08:00,0,好！,0,0,3086524793,逍遥鸟酱
3846,4380879528787121,2019-06-08 12:02:15+08:00,0,快测试等不及啦！@Re莫德雷德厨_,2,0,6058348808,德不不不奶
3847,4380879427903629,2019-06-08 12:01:51+08:00,0,给我也整一个@璟也想成为物理学家,0,0,2836607150,天使爱吃麻婆豆腐
3848,4380879289628087,2019-06-08 12:01:18+08:00,0,Pv出来了！,0,0,7161385652,Neilwasabi
3849,4380879163980104,2019-06-08 12:00:47+08:00,0,啊啊啊啊啊啊啊啊！,0,0,7161385652,Neilwasabi

In [90]:
# 提取Plain User的信息/Extract information of Plain User
''' 
注意：该函数可以对单行使用; 如果用数据表apply，那就是对整个数据表使用
Hint: This def function can be used on a single row/record; If you want to conduct it on the whole DataFrame, just use apply (as shown in the code below)
'''
def extract_plain(row, m_idx=None, m_UId=None, m_CId=None):
    plain_values = [row.name, row[0], row[1], row[6], row[7], row[3]]
    if m_idx and m_UId and m_CId:
        comm_values = [row.name, row[0], row[1], row[6], row[7], row[3], np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, m_idx, m_CId, m_UId]
        df.loc[len(df)] = comm_values
    else:
        df.loc[len(df)] = plain_values + [np.nan] * (len(column_names) - len(plain_values))

plain_comm.apply(extract_plain, axis=1)
df

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
0,0,4915861950828535,2023-06-23 18:31:24+08:00,7752387333,祎只狸猫,考古,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4910942133158267,2023-06-10 04:41:48+08:00,7604058796,邮一棵草莓i,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,4862811883439433,2023-01-28 09:09:22+08:00,7577283965,kmimg7,真不知道迅哥给评论区投了多少米？[允悲][doge],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4862705678417948,2023-01-28 02:07:20+08:00,7476902376,小祀弟弟吖,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4858911816944130,2023-01-17 14:51:54+08:00,7724649649,不知道如何评价,[吃瓜]现在是2023年 回来考古的点个赞,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2456,3845,4380879537777020,2019-06-08 12:02:17+08:00,3086524793,逍遥鸟酱,好！,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2457,3846,4380879528787121,2019-06-08 12:02:15+08:00,6058348808,德不不不奶,快测试等不及啦！@Re莫德雷德厨_,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2458,3847,4380879427903629,2019-06-08 12:01:51+08:00,2836607150,天使爱吃麻婆豆腐,给我也整一个@璟也想成为物理学家,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,3848,4380879289628087,2019-06-08 12:01:18+08:00,7161385652,Neilwasabi,Pv出来了！,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2460,3849,4380879163980104,2019-06-08 12:00:47+08:00,7161385652,Neilwasabi,啊啊啊啊啊啊啊啊！,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3.1.2 用户类型2（Floor）：涉及到“层结构”的用户/User Type 2 (Floor): all users involved in the "Floor Structure"

作为标志性的“回复@UserName：”在数据集中的格式非常的不统一。此外，用户名也会包含各种特殊符号。<br>
因此使用正则表达式`reply_pattern`来确认该pattern

The form "Reply@UserName" as the mark of this user type is inconsistent in this dataset. Furthermore, some usernames include special characters<br>
Therefore, it will be bettern to identify such a pattern via regular expression `reply_pattern`

In [91]:
# 例子：包含特殊符号的用户名/An example of UserName
inter_data.loc[3048]

CommentID                                        4385914031449975
CommentTime                             2019-06-22 09:27:34+08:00
RootID                                           4380899494009653
CommentRaw      回复@醉筠子-不放弃本子:你说你🐎呢，看见个开放世界，看见滑翔翼就，看见卡通渲染就塞尔达。塞...
CommentLike                                                     0
CommentReply                                                 <NA>
UserID                                                 5356469720
UserName                                                error1980
Name: 3048, dtype: object

In [92]:
reply_pattern = r'回复\s?@([^\s:：]+)'
'''测试/test'''
inter_data[inter_data['CommentRaw'].str.contains(reply_pattern)].loc[3755]

CommentID                        4380987938821807
CommentTime             2019-06-08 19:13:02+08:00
RootID                           4380883840572546
CommentRaw      回复 @网恋被骗700万:鹅厂抄就恶心，米哈游抄就是正事嗷[嘻嘻]
CommentLike                                    14
CommentReply                                 <NA>
UserID                                 5596441213
UserName                                    法海爱一休
Name: 3755, dtype: object

In [93]:
'''测试/test'''
inter_data[inter_data['CommentRaw'].str.contains(reply_pattern)].loc[557]

CommentID                                        4389266353859602
CommentTime                             2019-07-01 15:28:30+08:00
RootID                                                          0
CommentRaw      回复@夜降萃梦乡_：原神不是耻辱，你这种带节奏的才是耻辱，你倒是给我粗制滥造一个啊，某大厂新...
CommentLike                                                     0
CommentReply                                                    1
UserID                                                 3281534190
UserName                                                    开辟之星3
Name: 557, dtype: object

In [94]:
inter_data[inter_data['CommentRaw'].str.contains(reply_pattern)]

,CommentID,CommentTime,RootID,CommentRaw,CommentLike,CommentReply,UserID,UserName
57,4661616077177105,2021-07-22 04:29:03+08:00,4460703643517009,回复@蠢萌萌66:毕竟当初被带节奏的总不能打自己的脸，只能选择性忽略当个无脑黑了[吃瓜],0,<NA>,7375957830,黑鸭嗨哟
78,4472599378056641,2020-02-16 14:24:11+08:00,4452751050341087,回复@孙笑川5655:哈哈哈哈哈哈哈，装逼谁不会呀，扯个外星人就是高端数码粉嗷，牛逼牛逼[哈哈],0,<NA>,7087027730,云夜悠长
80,4460825508899118,2020-01-15 02:39:01+08:00,4452751050341087,回复@有毒的茶茶:爷要换外星人Alienware了，你们就继续吹吧，只有手机的白嫖党们,0,<NA>,7217990194,孙笑川5655
83,4459449890115897,2020-01-11 07:32:48+08:00,4452751050341087,回复@慧骃要成为本子画师:他是抄袭塞尔达的，你看不出来吗。我有整个塞尔达系列的所有卡带。你这...,0,<NA>,7217990194,孙笑川5655
103,4460676678814525,2020-01-14 16:47:37+08:00,4441023834998487,回复@我伊布贼溜:老任把原神放进ns了，一定是米给任天堂塞钱了，作为任豚真的有被冒犯到[怒],0,<NA>,6192175029,Zh40q14NcheN
...,...,...,...,...,...,...,...,...
3835,4380992594400846,2019-06-08 19:31:32+08:00,4380879889748007,回复@沙奈朵的裙底到底有什么:是谁逗谁笑也请你整清楚，我也明确表态了不想吵，阴阳怪气的回复大...,4,<NA>,6201564748,兔纸今天能摸到鱼吗
3836,4380988769262132,2019-06-08 19:16:20+08:00,4380879889748007,回复@怕事先改名shaw:[doge]求求你别玩任天堂，你也不想想是谁不配,10,<NA>,2950862475,男人的浪漫是剑风传奇
3837,4380988346320255,2019-06-08 19:14:39+08:00,4380879889748007,回复@怕事先改名shaw:你这可把爷整乐了，求求你了，一定要玩，不玩任天堂就倒闭了，塞尔达就...,26,<NA>,5646067604,Aki是乌龟
3838,4380987008064553,2019-06-08 19:09:20+08:00,4380879889748007,回复@沉迷艾欧泽亚的菜菜啊:🐮🍺，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这...,3,<NA>,6201564748,兔纸今天能摸到鱼吗
3840,4380980682966825,2019-06-08 18:44:12+08:00,4380879889748007,回复@沙奈朵的裙底到底有什么:到我这条底下阴阳怪气啥？觉得抄袭了去评论前面几条啊，去和米卫兵...,4,<NA>,6201564748,兔纸今天能摸到鱼吗

同样可以被用于提取“回复@UserName：”中的用户名

This regular expression can also be used to extract username in the form "Reply@UserName:"

In [95]:
inter_data['CommentRaw'].str.extractall(reply_pattern).groupby(level=0).apply(lambda x: ','.join(x[0]))[3755]

'网恋被骗700万'

In [96]:
inter_data['CommentRaw'].str.extractall(reply_pattern).groupby(level=0).apply(lambda x: ','.join(x[0]))[3048]

'醉筠子-不放弃本子'

In [97]:
inter_data['CommentRaw'].str.extractall(reply_pattern).groupby(level=0).apply(lambda x: ','.join(x[0]))[557]

'夜降萃梦乡_'

正则表达式有起作用。开始处理数据集

It is clear that the regular expression works. Then handle the whole dataset

In [98]:
floor_comm = inter_data[(inter_data['RootID']==0) & (inter_data['CommentReply']!=0)]
floor_comm

,CommentID,CommentTime,RootID,CommentRaw,CommentLike,CommentReply,UserID,UserName
9,4832608544361987,2022-11-06 00:52:05+08:00,0,两年了，回过头来看[打call][打call][打call][打call],9,1,7776168152,养着兔子的猫咪
18,4747356392395706,2022-03-15 18:50:28+08:00,0,前面的评论跟现在完全不一样，全都打脸场面,17,3,7415480335,书一点禾
21,4745116860550884,2022-03-09 14:31:22+08:00,0,阿伟你又在翻看古战场诶 休息一下吧[doge],5,3,5952984271,罗小黑本喵_
28,4729105448441116,2022-01-24 10:07:44+08:00,0,这么早就有神里绫华了？？,0,2,6313769853,希儿呐xy
36,4652736522752139,2021-06-27 16:24:53+08:00,0,为什么蒙德的序章会有神里[二哈],15,1,6005792475,绯羽绯葬
...,...,...,...,...,...,...,...,...
3506,4380885732287240,2019-06-08 12:26:53+08:00,0,这……有些地方一摸一样吧,1767,207,6500909470,oO土豆泥O
3676,4380884881100488,2019-06-08 12:23:30+08:00,0,@AI娘爱酱 爱酱我想去原神看看,0,1,5667435118,Mmmm傻呀
3685,4380883840572546,2019-06-08 12:19:23+08:00,0,塞尔达即视感,2450,123,1957259477,鸥洗恩
3796,4380881706079221,2019-06-08 12:10:54+08:00,0,龙…龙之谷？？[允悲],3,2,2856517332,hakumei_surfing_ver
3821,4380879889748007,2019-06-08 12:03:41+08:00,0,这画质我怕手机带不动啊[泪],39,29,6201564748,兔纸今天能摸到鱼吗

In [99]:
reply_pattern = r'回复\s?@([^\s:：]+)'
# 用于提取评论和回复/Used to extract comments and reply
def extract_comm(row1, m_idx, m_UId, m_UName, m_CId, m_time, m_Comm):
    comm_values = [row1.name, row1[0], row1[1], row1[6], row1[7], row1[3], m_idx, m_UId, m_UName, m_CId, m_time, m_Comm, m_idx, m_CId, m_UId]
    df.loc[len(df)] = comm_values

In [100]:
# 处理floor_comm/Hanld floor_comm
def extract_po(row0):
    # 提取floor_comm的东信息/Extract the information related to Floor
    m_idx = row0.name 
    m_CId = row0[0]
    m_time = row0[1]
    m_Comm = row0[3]
    m_UId = row0[6]
    m_UName = row0[7]

    sub1 = inter_data[(inter_data['CommentID']==m_CId) | (inter_data['RootID']==m_CId)]
    extract_plain(sub1.iloc[0])
    
    sub2 = sub1[(~sub1['CommentRaw'].str.contains(reply_pattern, na=False)) & (sub1['RootID']!=0)]
    if not sub2.empty:
        sub2.apply(extract_comm, axis=1,args=(m_idx, m_UId, m_UName, m_CId, m_time, m_Comm))

    sub3 = sub1[(sub1['CommentRaw'].str.contains(reply_pattern, na=False)) & (sub1['RootID']!=0)]
    if not sub3.empty:
        sub3.apply(extract_plain, axis=1, args=(m_idx, m_UId, m_CId))
        rpl_user = sub3['CommentRaw'].str.extractall(reply_pattern).groupby(level=0).apply(lambda x: ','.join(x[0]))
        rpl_userIdx = list(rpl_user.index)
        rpl_Idx = list(df[df['F_Idx'].apply(lambda x: any(num in rpl_userIdx for num in [x]))].index)
        df.loc[rpl_Idx, 'T_UserName'] = list(rpl_user)

In [101]:
floor_comm.apply(extract_po, axis=1)

9       None
18      None
21      None
28      None
36      None
        ...
3506    None
3676    None
3685    None
3796    None
3821    None
Length: 203, dtype: object

In [102]:
df

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
0,0,4915861950828535,2023-06-23 18:31:24+08:00,7752387333,祎只狸猫,考古,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
1,1,4910942133158267,2023-06-10 04:41:48+08:00,7604058796,邮一棵草莓i,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2,2,4862811883439433,2023-01-28 09:09:22+08:00,7577283965,kmimg7,真不知道迅哥给评论区投了多少米？[允悲][doge],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,3,4862705678417948,2023-01-28 02:07:20+08:00,7476902376,小祀弟弟吖,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
4,4,4858911816944130,2023-01-17 14:51:54+08:00,7724649649,不知道如何评价,[吃瓜]现在是2023年 回来考古的点个赞,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3843,3835,4380992594400846,2019-06-08 19:31:32+08:00,6201564748,兔纸今天能摸到鱼吗,回复@沙奈朵的裙底到底有什么:是谁逗谁笑也请你整清楚，我也明确表态了不想吵，阴阳怪气的回复大...,NaN,NaN,沙奈朵的裙底到底有什么,NaN,NaT,NaN,3821.0,4.380880e+15,6.201565e+09
3844,3836,4380988769262132,2019-06-08 19:16:20+08:00,2950862475,男人的浪漫是剑风传奇,回复@怕事先改名shaw:[doge]求求你别玩任天堂，你也不想想是谁不配,NaN,NaN,怕事先改名shaw,NaN,NaT,NaN,3821.0,4.380880e+15,6.201565e+09
3845,3837,4380988346320255,2019-06-08 19:14:39+08:00,5646067604,Aki是乌龟,回复@怕事先改名shaw:你这可把爷整乐了，求求你了，一定要玩，不玩任天堂就倒闭了，塞尔达就...,NaN,NaN,怕事先改名shaw,NaN,NaT,NaN,3821.0,4.380880e+15,6.201565e+09
3846,3838,4380987008064553,2019-06-08 19:09:20+08:00,6201564748,兔纸今天能摸到鱼吗,回复@沉迷艾欧泽亚的菜菜啊:🐮🍺，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这...,NaN,NaN,沉迷艾欧泽亚的菜菜啊,NaN,NaT,NaN,3821.0,4.380880e+15,6.201565e+09
3847,3840,4380980682966825,2019-06-08 18:44:12+08:00,6201564748,兔纸今天能摸到鱼吗,回复@沙奈朵的裙底到底有什么:到我这条底下阴阳怪气啥？觉得抄袭了去评论前面几条啊，去和米卫兵...,NaN,NaN,沙奈朵的裙底到底有什么,NaN,NaT,NaN,3821.0,4.380880e+15,6.201565e+09

再次检查前面3个特殊的username（“网恋被骗700万”，“醉筠子-不放弃本子”，“夜降萃梦乡_”）是否得到了正确的处理。

Double check whether those 3 special username ("网恋被骗700万", "醉筠子-不放弃本子" and "夜降萃梦乡_") are conducted successfully.

In [103]:
df[df['F_Idx']==3755]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
3812,3755,4380987938821807,2019-06-08 19:13:02+08:00,5596441213,法海爱一休,回复 @网恋被骗700万:鹅厂抄就恶心，米哈游抄就是正事嗷[嘻嘻],NaN,NaN,网恋被骗700万,NaN,NaT,NaN,3685.0,4.380884e+15,1.957259e+09

In [104]:
df[df['F_Idx']==3048]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
3274,3048,4385914031449975,2019-06-22 09:27:34+08:00,5356469720,error1980,回复@醉筠子-不放弃本子:你说你🐎呢，看见个开放世界，看见滑翔翼就，看见卡通渲染就塞尔达。塞...,NaN,NaN,醉筠子-不放弃本子,NaN,NaT,NaN,2992.0,4.380899e+15,6.578280e+09

“夜降萃梦乡_”的用户名未能被成功提取。这是“夜降萃梦乡_”的原始评论丢失导致的。我们手动填充即可

The username "夜降萃梦乡_" was not identified, which is due to the missing original comment from "夜降萃梦乡_". We can fill it manually

In [105]:
df[df['F_Idx']==557]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
2705,557,4389266353859602,2019-07-01 15:28:30+08:00,3281534190,开辟之星3,回复@夜降萃梦乡_：原神不是耻辱，你这种带节奏的才是耻辱，你倒是给我粗制滥造一个啊，某大厂新...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [106]:
inter_data.loc[557]

CommentID                                        4389266353859602
CommentTime                             2019-07-01 15:28:30+08:00
RootID                                                          0
CommentRaw      回复@夜降萃梦乡_：原神不是耻辱，你这种带节奏的才是耻辱，你倒是给我粗制滥造一个啊，某大厂新...
CommentLike                                                     0
CommentReply                                                    1
UserID                                                 3281534190
UserName                                                    开辟之星3
Name: 557, dtype: object

In [107]:
df.loc[2705, 'T_UserName'] = re.findall(reply_pattern, df.loc[2705,'F_Comment'])[0]
df.loc[2705]

F_Idx                                                         557
F_CommID                                         4389266353859602
F_Time                                  2019-07-01 15:28:30+08:00
F_UserID                                               3281534190
F_UserName                                                  开辟之星3
F_Comment       回复@夜降萃梦乡_：原神不是耻辱，你这种带节奏的才是耻辱，你倒是给我粗制滥造一个啊，某大厂新...
T_Idx                                                         NaN
T_UserID                                                      NaN
T_UserName                                                 夜降萃梦乡_
T_CommID                                                      NaN
T_Time                                                        NaT
T_Comment                                                     NaN
Floor_Idx                                                     NaN
Floor_CommID                                                  NaN
Floor_UserID                                                  NaN
Name: 2705, dtype: object

应当有3850条记录，但`df`只有3848条。缺失的2条数据将在Section 3.1.3进行调查和处理

There should be 3850 entries rather than 3848 shown below. The 2 missing data will be handled in the Section 3.1.3

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3848 entries, 0 to 3847
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         3848 non-null   int64
 1   F_CommID      3848 non-null   int64
 2   F_Time        3848 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID      3848 non-null   int64
 4   F_UserName    3848 non-null   object
 5   F_Comment     3848 non-null   object
 6   T_Idx         439 non-null    float64
 7   T_UserID      439 non-null    float64
 8   T_UserName    1185 non-null   object
 9   T_CommID      439 non-null    float64
 10  T_Time        439 non-null    datetime64[ns, UTC+08:00]
 11  T_Comment     439 non-null    object
 12  Floor_Idx     1184 non-null   float64
 13  Floor_CommID  1184 non-null   float64
 14  Floor_UserID  1184 non-null   float64
dtypes: datetime64[ns, UTC+08:00](2), float64(6), int64(3), object(4)
memory usage: 610.0+ KB

### 3.1.3 缺失的2条数据/The 2 missing entries

In [109]:
inter_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CommentID     3850 non-null   int64
 1   CommentTime   3850 non-null   datetime64[ns, UTC+08:00]
 2   RootID        3850 non-null   int64
 3   CommentRaw    3850 non-null   object
 4   CommentLike   3850 non-null   int64
 5   CommentReply  2664 non-null   Int64
 6   UserID        3850 non-null   int64
 7   UserName      3850 non-null   object
dtypes: Int64(1), datetime64[ns, UTC+08:00](1), int64(4), object(2)
memory usage: 244.5+ KB

提取出原始数据表`inter_data`的DataFrame索引，和`df`的索引`F_Idx`作比较

Extract the DataFrame Index of the original `inter_data`, and then compare it with the Index `F_Idx` of `df` to find the 2 missing entries

In [110]:
ori_commIdx = list(inter_data.index)
len(ori_commIdx)

3850

In [111]:
f_idx = list(df['F_Idx'])
len(f_idx)

3848

确认：216和218

Identify 216 and 218 as the 2 missing entries

In [112]:
list(set(ori_commIdx) - set(f_idx))

[216, 218]

#### (1) 216

从`inter_data`里提取216的相关信息

Extract the 216 information from the `inter_data`

In [113]:
inter_data.loc[216]

CommentID                                        4415493412865414
CommentTime                             2019-09-12 00:25:27+08:00
RootID                                           4404535403395100
CommentRaw      唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...
CommentLike                                                     0
CommentReply                                                 <NA>
UserID                                                 6530036372
UserName                                                       淐馮
Name: 216, dtype: object

In [114]:
df[df['F_CommID']==4404535403395100]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
125,215,4404535403395100,2019-08-12 18:42:15+08:00,6940897092,元首的胖次00658,第一次上微博，实话说吧，微博基本上是垃圾场，粪坑，看不下去。原神是借鉴了，但根本不是照着源代...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

我们可以发现，作为Floor user的“元首的胖次00658”，尽管收到了来自“淐馮”的回复，CommentReply的值却是0而不是1<br>
同样的事情发生在了217和218上，这将在下一个Section进行处理

We can find that, as a Floor user, the CommentReply of "元首的胖次00658" is 0 rather than 1; But he/she was exactly replied by the user "淐馮"<br>
This is the same regarding Index 217 and 218, which will be handled in the next Section.

In [115]:
inter_data[(inter_data['CommentID']==4404535403395100) | (inter_data['RootID']==4404535403395100)]

,CommentID,CommentTime,RootID,CommentRaw,CommentLike,CommentReply,UserID,UserName
215,4404535403395100,2019-08-12 18:42:15+08:00,0,第一次上微博，实话说吧，微博基本上是垃圾场，粪坑，看不下去。原神是借鉴了，但根本不是照着源代...,4,0,6940897092,元首的胖次00658
216,4415493412865414,2019-09-12 00:25:27+08:00,4404535403395100,唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...,0,<NA>,6530036372,淐馮

In [116]:
inter_data.loc[213:219]

,CommentID,CommentTime,RootID,CommentRaw,CommentLike,CommentReply,UserID,UserName
213,4404685299073412,2019-08-13 04:37:53+08:00,0,节奏大师好多，我顶不住了，这个社会，唉，当年流浪地球我也去顶过，和喷子对线。微博真的烂了，捧...,8,0,6286443624,神道天穹
214,4404676025439528,2019-08-13 04:01:02+08:00,0,厂商做一款游戏出来是希望所有玩家来玩并且喜欢，不是逼着所有玩家来玩，你觉得不好你可以不玩不看...,6,1,7280131819,野炊爆炸
215,4404535403395100,2019-08-12 18:42:15+08:00,0,第一次上微博，实话说吧，微博基本上是垃圾场，粪坑，看不下去。原神是借鉴了，但根本不是照着源代...,4,0,6940897092,元首的胖次00658
216,4415493412865414,2019-09-12 00:25:27+08:00,4404535403395100,唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...,0,<NA>,6530036372,淐馮
217,4404499705840280,2019-08-12 16:20:24+08:00,0,真是太黑暗了啊[笑而不语],3,0,6829123837,万里的追寻者41043
218,4407171623915479,2019-08-20 01:17:39+08:00,4404499705840280,国产游戏的废土时代就此降临[笑而不语],0,<NA>,7087027730,云夜悠长
219,4404486724338196,2019-08-12 15:28:49+08:00,0,哇看到之后吓得我直接卸载了崩2和崩3，到了能不能退钱啊，算了卖号吧[二哈][二哈],0,0,5724524816,灰燕l

手动修改216有关的数据
- `df`：填上216的信息
- `comment_data`：更新215的CommentReply的值为1

Manually modify entries related to 216
- `df`: Add a row about 216 at the end of the current DataFrame
- `comment_data`: Update the CommentReply value of 215 from 0 to 1

In [117]:
len(df)

3848

In [118]:
idx216 = list(inter_data.loc[216])
idx216

[4415493412865414,
 Timestamp('2019-09-12 00:25:27+0800', tz='UTC+08:00'),
 4404535403395100,
 '唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕竟我一般不玩微博[doge]。',
 0,
 <NA>,
 6530036372,
 '淐馮']

In [119]:
idx215 = list(inter_data.loc[215])
idx215

[4404535403395100,
 Timestamp('2019-08-12 18:42:15+0800', tz='UTC+08:00'),
 0,
 '第一次上微博，实话说吧，微博基本上是垃圾场，粪坑，看不下去。原神是借鉴了，但根本不是照着源代码抄，原创游戏是不可能，就连塞尔达传说，伟大的战神都不是原创，我也不知道一群跟风狗瞎掺和什么，神秘海域和古墓丽影都没想你们这样撕。游戏定论尚不知道，理性评论，盲目跟风黑名单即可。',
 4,
 0,
 6940897092,
 '元首的胖次00658']

In [120]:
df.loc[3848,:] = [216, idx216[0], idx216[1], idx216[6], idx216[7], idx216[3], 215, idx215[6], idx215[7], idx215[0], idx215[1], idx215[3], 215, idx215[0], idx215[6]]
df.loc[3848]

F_Idx                                                       216.0
F_CommID                                       4415493412865414.0
F_Time                                  2019-09-12 00:25:27+08:00
F_UserID                                             6530036372.0
F_UserName                                                     淐馮
F_Comment       唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...
T_Idx                                                       215.0
T_UserID                                             6940897092.0
T_UserName                                             元首的胖次00658
T_CommID                                       4404535403395100.0
T_Time                                  2019-08-12 18:42:15+08:00
T_Comment       第一次上微博，实话说吧，微博基本上是垃圾场，粪坑，看不下去。原神是借鉴了，但根本不是照着源代...
Floor_Idx                                                   215.0
Floor_CommID                                   4404535403395100.0
Floor_UserID                                         6940897092.0
Name: 3848, dtype: object

In [121]:
comment_data.loc[215,'CommentReply'] = 1
comment_data.loc[215]

CommentID                                           4404535403395100
CommentTime                                2019-08-12 18:42:15+08:00
RootID                                                             0
CommentRaw         第一次上微博，实话说吧，微博基本上是垃圾场，粪坑，看不下去。原神是借鉴了，但根本不是照着源代...
Comment            第一次上微博，实话说吧，微博基本上是垃圾场，粪坑，看不下去。原神是借鉴了，但根本不是照着源代...
CommentLike                                                        4
CommentReply                                                       1
UserID                                                    6940897092
UserName                                                  元首的胖次00658
Province                                                          其他
ProvinceCode                                                       2
Region                                                          None
UserLocation                                                      其他
UserDescription                                                  NaN
UserGender                                                         1
UserFan                                                            0
UserFollow                                                        99
UserWeibo                                                          0
UserVerified                                                       0
LoyalFan                                                           0
VipRank                                                            0
Name: 215, dtype: object

我们可以确定用户“元首的胖次00658”在`profile_data`（来自Section 2.8）里

We can confirm that user "元首的胖次00658" is in the `profile_data` (from Section 2.8)

In [122]:
profile_data[profile_data['UserID']==6940897092]

,UserID,IndexList,UserName,TotalComment,Comment,Reply,LikeCount,ProvinceCode,Description,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
2629,6940897092,"[215, 281, 300]",元首的胖次00658,3,1,2,4,2,0,0,0,1,0,99,0,0,0,0

#### (2) 218

处理步骤和前面一致

The processing method is the same as the previous one

In [123]:
inter_data.loc[218,]

CommentID                4407171623915479
CommentTime     2019-08-20 01:17:39+08:00
RootID                   4404499705840280
CommentRaw            国产游戏的废土时代就此降临[笑而不语]
CommentLike                             0
CommentReply                         <NA>
UserID                         7087027730
UserName                             云夜悠长
Name: 218, dtype: object

In [124]:
idx217 = list(inter_data.loc[217])
idx217

[4404499705840280,
 Timestamp('2019-08-12 16:20:24+0800', tz='UTC+08:00'),
 0,
 '真是太黑暗了啊[笑而不语]',
 3,
 0,
 6829123837,
 '万里的追寻者41043']

In [125]:
idx218 = list(inter_data.loc[218])
idx218

[4407171623915479,
 Timestamp('2019-08-20 01:17:39+0800', tz='UTC+08:00'),
 4404499705840280,
 '国产游戏的废土时代就此降临[笑而不语]',
 0,
 <NA>,
 7087027730,
 '云夜悠长']

In [126]:
df.loc[3849,:] = [218, idx218[0], idx218[1], idx218[6], idx218[7], idx218[3], 217, idx217[6], idx217[7], idx217[0], idx217[1], idx217[3], 217, idx217[0], idx217[6]]
df.loc[3849]

F_Idx                               218.0
F_CommID               4407171623915479.0
F_Time          2019-08-20 01:17:39+08:00
F_UserID                     7087027730.0
F_UserName                           云夜悠长
F_Comment             国产游戏的废土时代就此降临[笑而不语]
T_Idx                               217.0
T_UserID                     6829123837.0
T_UserName                    万里的追寻者41043
T_CommID               4404499705840280.0
T_Time          2019-08-12 16:20:24+08:00
T_Comment                   真是太黑暗了啊[笑而不语]
Floor_Idx                           217.0
Floor_CommID           4404499705840280.0
Floor_UserID                 6829123837.0
Name: 3849, dtype: object

In [127]:
comment_data.loc[217,'CommentReply']=1
comment_data.loc[217]

CommentID                   4404499705840280
CommentTime        2019-08-12 16:20:24+08:00
RootID                                     0
CommentRaw                     真是太黑暗了啊[笑而不语]
Comment                              真是太黑暗了啊
CommentLike                                3
CommentReply                               1
UserID                            6829123837
UserName                         万里的追寻者41043
Province                                  其他
ProvinceCode                               2
Region                                  None
UserLocation                              其他
UserDescription                          NaN
UserGender                                 1
UserFan                                    4
UserFollow                                28
UserWeibo                                 70
UserVerified                               0
LoyalFan                                   0
VipRank                                    0
Name: 217, dtype: object

### 3.1.4 修改数据类型提高可读性/Change the data type to improve readability

In [128]:
df.head()

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
0,0.0,4.915862e+15,2023-06-23 18:31:24+08:00,7.752387e+09,祎只狸猫,考古,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
1,1.0,4.910942e+15,2023-06-10 04:41:48+08:00,7.604059e+09,邮一棵草莓i,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
2,2.0,4.862812e+15,2023-01-28 09:09:22+08:00,7.577284e+09,kmimg7,真不知道迅哥给评论区投了多少米？[允悲][doge],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3,3.0,4.862706e+15,2023-01-28 02:07:20+08:00,7.476902e+09,小祀弟弟吖,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
4,4.0,4.858912e+15,2023-01-17 14:51:54+08:00,7.724650e+09,不知道如何评价,[吃瓜]现在是2023年 回来考古的点个赞,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3850 entries, 0 to 3849
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         3850 non-null   float64
 1   F_CommID      3850 non-null   float64
 2   F_Time        3850 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID      3850 non-null   float64
 4   F_UserName    3850 non-null   object
 5   F_Comment     3850 non-null   object
 6   T_Idx         441 non-null    float64
 7   T_UserID      441 non-null    float64
 8   T_UserName    1187 non-null   object
 9   T_CommID      441 non-null    float64
 10  T_Time        441 non-null    datetime64[ns, UTC+08:00]
 11  T_Comment     441 non-null    object
 12  Floor_Idx     1186 non-null   float64
 13  Floor_CommID  1186 non-null   float64
 14  Floor_UserID  1186 non-null   float64
dtypes: datetime64[ns, UTC+08:00](2), float64(9), object(4)
memory usage: 610.3+ KB

From类无数据缺失，转换为int64的数据类型

There is no missing value regarding "From". Transform the related data types to "int64"

In [130]:
df[['F_Idx','F_CommID','F_UserID']] = df[['F_Idx','F_CommID','F_UserID']].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3850 entries, 0 to 3849
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         3850 non-null   int64
 1   F_CommID      3850 non-null   int64
 2   F_Time        3850 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID      3850 non-null   int64
 4   F_UserName    3850 non-null   object
 5   F_Comment     3850 non-null   object
 6   T_Idx         441 non-null    float64
 7   T_UserID      441 non-null    float64
 8   T_UserName    1187 non-null   object
 9   T_CommID      441 non-null    float64
 10  T_Time        441 non-null    datetime64[ns, UTC+08:00]
 11  T_Comment     441 non-null    object
 12  Floor_Idx     1186 non-null   float64
 13  Floor_CommID  1186 non-null   float64
 14  Floor_UserID  1186 non-null   float64
dtypes: datetime64[ns, UTC+08:00](2), float64(6), int64(3), object(4)
memory usage: 610.3+ KB

To类有数据缺失，转换为float的数据类型、1位小数点

There are no missing values regarding "To". Transform the related data types to "float" with 1 decimal place

In [131]:
df[df['T_Time'].notna()]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
2462,10,4836105126150507,2022-11-15 16:26:14+08:00,7772408887,bo_白色大月亮,这不是三年吗？[doge][doge],9.0,7.776168e+09,养着兔子的猫咪,4.832609e+15,2022-11-06 00:52:05+08:00,两年了，回过头来看[打call][打call][打call][打call],9.0,4.832609e+15,7.776168e+09
2464,19,4806342436983668,2022-08-25 13:19:57+08:00,5643636178,夕神心音,就喜欢挖坟看看以前的有趣发言[doge],18.0,7.415480e+09,书一点禾,4.747356e+15,2022-03-15 18:50:28+08:00,前面的评论跟现在完全不一样，全都打脸场面,18.0,4.747356e+15,7.415480e+09
2466,22,4836107903042323,2022-11-15 16:37:16+08:00,7772408887,bo_白色大月亮,烦内[doge],21.0,5.952984e+09,罗小黑本喵_,4.745117e+15,2022-03-09 14:31:22+08:00,阿伟你又在翻看古战场诶 休息一下吧[doge],21.0,4.745117e+15,5.952984e+09
2467,23,4802732529032035,2022-08-15 14:15:28+08:00,7752842167,名字就叫旧林,苏删,21.0,5.952984e+09,罗小黑本喵_,4.745117e+15,2022-03-09 14:31:22+08:00,阿伟你又在翻看古战场诶 休息一下吧[doge],21.0,4.745117e+15,5.952984e+09
2468,24,4798073790794371,2022-08-02 17:43:18+08:00,7351240289,才太晚,[doge],21.0,5.952984e+09,罗小黑本喵_,4.745117e+15,2022-03-09 14:31:22+08:00,阿伟你又在翻看古战场诶 休息一下吧[doge],21.0,4.745117e+15,5.952984e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3833,3839,4380985154451322,2019-06-08 19:01:58+08:00,2950862475,男人的浪漫是剑风传奇,建议买一个NS，然后选择购买塞尔达，就可以提前玩到原神了，还不用担心流量，超棒呢[太开心],3821.0,6.201565e+09,兔纸今天能摸到鱼吗,4.380880e+15,2019-06-08 12:03:41+08:00,这画质我怕手机带不动啊[泪],3821.0,4.380880e+15,6.201565e+09
3834,3841,4380977293759679,2019-06-08 18:30:44+08:00,5646067604,Aki是乌龟,建议买一个NS，然后选择购买塞尔达，就可以提前玩到原神了，还不用担心流量，超棒呢[太开心],3821.0,6.201565e+09,兔纸今天能摸到鱼吗,4.380880e+15,2019-06-08 12:03:41+08:00,这画质我怕手机带不动啊[泪],3821.0,4.380880e+15,6.201565e+09
3835,3842,4380883555044975,2019-06-08 12:18:15+08:00,5165585956,看我弹死你这个猪皮,我的mini5已经饥渴难耐[馋嘴][馋嘴],3821.0,6.201565e+09,兔纸今天能摸到鱼吗,4.380880e+15,2019-06-08 12:03:41+08:00,这画质我怕手机带不动啊[泪],3821.0,4.380880e+15,6.201565e+09
3848,216,4415493412865414,2019-09-12 00:25:27+08:00,6530036372,淐馮,唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...,215.0,6.940897e+09,元首的胖次00658,4.404535e+15,2019-08-12 18:42:15+08:00,第一次上微博，实话说吧，微博基本上是垃圾场，粪坑，看不下去。原神是借鉴了，但根本不是照着源代...,215.0,4.404535e+15,6.940897e+09
3849,218,4407171623915479,2019-08-20 01:17:39+08:00,7087027730,云夜悠长,国产游戏的废土时代就此降临[笑而不语],217.0,6.829124e+09,万里的追寻者41043,4.404500e+15,2019-08-12 16:20:24+08:00,真是太黑暗了啊[笑而不语],217.0,4.404500e+15,6.829124e+09

In [132]:
pd.set_option('display.float_format', '{:.1f}'.format)

In [133]:
df[df['T_Time'].notna()]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
2462,10,4836105126150507,2022-11-15 16:26:14+08:00,7772408887,bo_白色大月亮,这不是三年吗？[doge][doge],9.0,7776168152.0,养着兔子的猫咪,4832608544361987.0,2022-11-06 00:52:05+08:00,两年了，回过头来看[打call][打call][打call][打call],9.0,4832608544361987.0,7776168152.0
2464,19,4806342436983668,2022-08-25 13:19:57+08:00,5643636178,夕神心音,就喜欢挖坟看看以前的有趣发言[doge],18.0,7415480335.0,书一点禾,4747356392395706.0,2022-03-15 18:50:28+08:00,前面的评论跟现在完全不一样，全都打脸场面,18.0,4747356392395706.0,7415480335.0
2466,22,4836107903042323,2022-11-15 16:37:16+08:00,7772408887,bo_白色大月亮,烦内[doge],21.0,5952984271.0,罗小黑本喵_,4745116860550884.0,2022-03-09 14:31:22+08:00,阿伟你又在翻看古战场诶 休息一下吧[doge],21.0,4745116860550884.0,5952984271.0
2467,23,4802732529032035,2022-08-15 14:15:28+08:00,7752842167,名字就叫旧林,苏删,21.0,5952984271.0,罗小黑本喵_,4745116860550884.0,2022-03-09 14:31:22+08:00,阿伟你又在翻看古战场诶 休息一下吧[doge],21.0,4745116860550884.0,5952984271.0
2468,24,4798073790794371,2022-08-02 17:43:18+08:00,7351240289,才太晚,[doge],21.0,5952984271.0,罗小黑本喵_,4745116860550884.0,2022-03-09 14:31:22+08:00,阿伟你又在翻看古战场诶 休息一下吧[doge],21.0,4745116860550884.0,5952984271.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3833,3839,4380985154451322,2019-06-08 19:01:58+08:00,2950862475,男人的浪漫是剑风传奇,建议买一个NS，然后选择购买塞尔达，就可以提前玩到原神了，还不用担心流量，超棒呢[太开心],3821.0,6201564748.0,兔纸今天能摸到鱼吗,4380879889748007.0,2019-06-08 12:03:41+08:00,这画质我怕手机带不动啊[泪],3821.0,4380879889748007.0,6201564748.0
3834,3841,4380977293759679,2019-06-08 18:30:44+08:00,5646067604,Aki是乌龟,建议买一个NS，然后选择购买塞尔达，就可以提前玩到原神了，还不用担心流量，超棒呢[太开心],3821.0,6201564748.0,兔纸今天能摸到鱼吗,4380879889748007.0,2019-06-08 12:03:41+08:00,这画质我怕手机带不动啊[泪],3821.0,4380879889748007.0,6201564748.0
3835,3842,4380883555044975,2019-06-08 12:18:15+08:00,5165585956,看我弹死你这个猪皮,我的mini5已经饥渴难耐[馋嘴][馋嘴],3821.0,6201564748.0,兔纸今天能摸到鱼吗,4380879889748007.0,2019-06-08 12:03:41+08:00,这画质我怕手机带不动啊[泪],3821.0,4380879889748007.0,6201564748.0
3848,216,4415493412865414,2019-09-12 00:25:27+08:00,6530036372,淐馮,唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...,215.0,6940897092.0,元首的胖次00658,4404535403395100.0,2019-08-12 18:42:15+08:00,第一次上微博，实话说吧，微博基本上是垃圾场，粪坑，看不下去。原神是借鉴了，但根本不是照着源代...,215.0,4404535403395100.0,6940897092.0
3849,218,4407171623915479,2019-08-20 01:17:39+08:00,7087027730,云夜悠长,国产游戏的废土时代就此降临[笑而不语],217.0,6829123837.0,万里的追寻者41043,4404499705840280.0,2019-08-12 16:20:24+08:00,真是太黑暗了啊[笑而不语],217.0,4404499705840280.0,6829123837.0

## 3.2 检查与修正：T_UserID和T_UserName的空值数量不对等/Review and fix: incorrect number of null values for T_UserID and T_UserName

在Section 3.1.4中的`df.info()`可以看到，T_UserName的空值远多于T_UserID的空值。这是不合理的，应当想办法解决

From `df.info()` in the Section 3.1.4, it is clear that the number of nulls for T_UserName is much larger than that for T_UserID. This is irrational, and we should find some ways to address this problem

In [134]:
df[(df['T_UserName'].notna()) & (df['T_UserID'].isnull())]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
2481,57,4661616077177105,2021-07-22 04:29:03+08:00,7375957830,黑鸭嗨哟,回复@蠢萌萌66:毕竟当初被带节奏的总不能打自己的脸，只能选择性忽略当个无脑黑了[吃瓜],NaN,NaN,蠢萌萌66,NaN,NaT,NaN,56.0,4460703643517009.0,7351663044.0
2493,78,4472599378056641,2020-02-16 14:24:11+08:00,7087027730,云夜悠长,回复@孙笑川5655:哈哈哈哈哈哈哈，装逼谁不会呀，扯个外星人就是高端数码粉嗷，牛逼牛逼[哈哈],NaN,NaN,孙笑川5655,NaN,NaT,NaN,77.0,4452751050341087.0,7217990194.0
2494,80,4460825508899118,2020-01-15 02:39:01+08:00,7217990194,孙笑川5655,回复@有毒的茶茶:爷要换外星人Alienware了，你们就继续吹吧，只有手机的白嫖党们,NaN,NaN,有毒的茶茶,NaN,NaT,NaN,77.0,4452751050341087.0,7217990194.0
2495,83,4459449890115897,2020-01-11 07:32:48+08:00,7217990194,孙笑川5655,回复@慧骃要成为本子画师:他是抄袭塞尔达的，你看不出来吗。我有整个塞尔达系列的所有卡带。你这...,NaN,NaN,慧骃要成为本子画师,NaN,NaT,NaN,77.0,4452751050341087.0,7217990194.0
2507,103,4460676678814525,2020-01-14 16:47:37+08:00,6192175029,Zh40q14NcheN,回复@我伊布贼溜:老任把原神放进ns了，一定是米给任天堂塞钱了，作为任豚真的有被冒犯到[怒],NaN,NaN,我伊布贼溜,NaN,NaT,NaN,102.0,4441023834998487.0,6198559615.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3843,3835,4380992594400846,2019-06-08 19:31:32+08:00,6201564748,兔纸今天能摸到鱼吗,回复@沙奈朵的裙底到底有什么:是谁逗谁笑也请你整清楚，我也明确表态了不想吵，阴阳怪气的回复大...,NaN,NaN,沙奈朵的裙底到底有什么,NaN,NaT,NaN,3821.0,4380879889748007.0,6201564748.0
3844,3836,4380988769262132,2019-06-08 19:16:20+08:00,2950862475,男人的浪漫是剑风传奇,回复@怕事先改名shaw:[doge]求求你别玩任天堂，你也不想想是谁不配,NaN,NaN,怕事先改名shaw,NaN,NaT,NaN,3821.0,4380879889748007.0,6201564748.0
3845,3837,4380988346320255,2019-06-08 19:14:39+08:00,5646067604,Aki是乌龟,回复@怕事先改名shaw:你这可把爷整乐了，求求你了，一定要玩，不玩任天堂就倒闭了，塞尔达就...,NaN,NaN,怕事先改名shaw,NaN,NaT,NaN,3821.0,4380879889748007.0,6201564748.0
3846,3838,4380987008064553,2019-06-08 19:09:20+08:00,6201564748,兔纸今天能摸到鱼吗,回复@沉迷艾欧泽亚的菜菜啊:🐮🍺，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这...,NaN,NaN,沉迷艾欧泽亚的菜菜啊,NaN,NaT,NaN,3821.0,4380879889748007.0,6201564748.0
3847,3840,4380980682966825,2019-06-08 18:44:12+08:00,6201564748,兔纸今天能摸到鱼吗,回复@沙奈朵的裙底到底有什么:到我这条底下阴阳怪气啥？觉得抄袭了去评论前面几条啊，去和米卫兵...,NaN,NaN,沙奈朵的裙底到底有什么,NaN,NaT,NaN,3821.0,4380879889748007.0,6201564748.0

一个可行的流程是
- 先借助user_data里的UserID和UserName与T_UserName进行匹配，尽可能的补完T_UserID
- 对于那些在user_data里从未出现过的、但是却出现在T_UserName里的用户名，推测是这些用户的原始评论因为某些原因在数据收集时间前就被删去。我们的model将会考虑到这种情况

A possible process is 
- Fill the null values in T_UserID via the name-id pair (i.e., UserID and UserName) in user_data as much as possible
- For those usernames that never appear in user_data but do appear in T_UserName, we can assume that the original comments of these users were deleted for some reason before the time of data collection. Our model will take this into account

In [135]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UserID           2803 non-null   int64
 1   FirstIndex       2803 non-null   int64
 2   IndexList        2803 non-null   object
 3   UserName         2803 non-null   object
 4   TotalComment     2803 non-null   int64
 5   Comment          2803 non-null   int64
 6   Reply            2803 non-null   int64
 7   LikeCount        2803 non-null   int64
 8   Province         2803 non-null   object
 9   ProvinceCode     2803 non-null   int64
 10  Region           1277 non-null   object
 11  UserLocation     2803 non-null   object
 12  Description      2803 non-null   int64
 13  UserDescription  1735 non-null   object
 14  DescriClean      1654 non-null   object
 15  DescriptionLen   2803 non-null   int64
 16  SpecialChar      2803 non-null   int64
 17  UserGender       2803 non-null   int64
 18  UserFan          2803 non-null   int64
 19  UserFollow       2803 non-null   int64
 20  UserWeibo        2803 non-null   int64
 21  UserVerified     2803 non-null   int64
 22  LoyalFan         2803 non-null   int64
 23  VipRank          2803 non-null   int64
dtypes: int64(17), object(7)
memory usage: 525.7+ KB

In [136]:
name_id = user_data.iloc[:,[0,3]]
name_id

          UserID   UserName
0     1001914040        薪火鹏
1     1008309912       提尔乌斯
2     1025900974    猫的摇篮-伪物
3     1028179843    非常神奇的老z
4     1035744261    假装很强的萌新
...          ...        ...
2798  7755717663  寂月海200007
2799  7766444420     烛虚cron
2800  7772408887   bo_白色大月亮
2801  7774567481       你好陈博
2802  7776168152    养着兔子的猫咪

[2803 rows x 2 columns]

In [137]:
df = pd.merge(df, name_id, how='left', left_on='T_UserName', right_on='UserName')
df.head()

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID,UserID,UserName
0,0,4915861950828535,2023-06-23 18:31:24+08:00,7752387333,祎只狸猫,考古,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4910942133158267,2023-06-10 04:41:48+08:00,7604058796,邮一棵草莓i,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,2,4862811883439433,2023-01-28 09:09:22+08:00,7577283965,kmimg7,真不知道迅哥给评论区投了多少米？[允悲][doge],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4862705678417948,2023-01-28 02:07:20+08:00,7476902376,小祀弟弟吖,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4858911816944130,2023-01-17 14:51:54+08:00,7724649649,不知道如何评价,[吃瓜]现在是2023年 回来考古的点个赞,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

使数据更加可读

Make the dataset more readable

In [138]:
merge_uID = df['UserID']
merge_uID

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
           ...
3845            NaN
3846            NaN
3847            NaN
3848   6940897092.0
3849   6829123837.0
Name: UserID, Length: 3850, dtype: float64

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         3850 non-null   int64
 1   F_CommID      3850 non-null   int64
 2   F_Time        3850 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID      3850 non-null   int64
 4   F_UserName    3850 non-null   object
 5   F_Comment     3850 non-null   object
 6   T_Idx         441 non-null    float64
 7   T_UserID      441 non-null    float64
 8   T_UserName    1187 non-null   object
 9   T_CommID      441 non-null    float64
 10  T_Time        441 non-null    datetime64[ns, UTC+08:00]
 11  T_Comment     441 non-null    object
 12  Floor_Idx     1186 non-null   float64
 13  Floor_CommID  1186 non-null   float64
 14  Floor_UserID  1186 non-null   float64
 15  UserID        907 non-null    float64
 16  UserName      907 non-null    object
dtypes: datetime64[ns, UTC+08:00](2), float64(7), int64(3), object(5)
memory usage: 511.5+ KB

In [140]:
df = df.drop(columns=['T_UserID','UserID','UserName'],axis=1)
df.insert(7,'T_UserID', merge_uID)

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         3850 non-null   int64
 1   F_CommID      3850 non-null   int64
 2   F_Time        3850 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID      3850 non-null   int64
 4   F_UserName    3850 non-null   object
 5   F_Comment     3850 non-null   object
 6   T_Idx         441 non-null    float64
 7   T_UserID      907 non-null    float64
 8   T_UserName    1187 non-null   object
 9   T_CommID      441 non-null    float64
 10  T_Time        441 non-null    datetime64[ns, UTC+08:00]
 11  T_Comment     441 non-null    object
 12  Floor_Idx     1186 non-null   float64
 13  Floor_CommID  1186 non-null   float64
 14  Floor_UserID  1186 non-null   float64
dtypes: datetime64[ns, UTC+08:00](2), float64(6), int64(3), object(4)
memory usage: 451.3+ KB

成功的将T_UserID的非空值从441增加到了907。当然，还是有280个用户没有UserID。<br>
这些用户可能是下面俩种情况之一
- 他们的评论已经被删除
- 他们仅被他人@，未留下任何评论

我们的模型会考虑到这些用户

We successfully increase the number of non-null value of T_UserID from 441 to 907. But there are still 280 users without UserID.<br>
These users might be one of 2 categories below:
- Their comments were deleted
- They were only mentioned by someone else, and didn't leave any comments

Our model can take these users into consideration

In [142]:
df[(df['T_UserName'].notna()) & (df['T_UserID'].isnull())]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
2495,83,4459449890115897,2020-01-11 07:32:48+08:00,7217990194,孙笑川5655,回复@慧骃要成为本子画师:他是抄袭塞尔达的，你看不出来吗。我有整个塞尔达系列的所有卡带。你这...,NaN,NaN,慧骃要成为本子画师,NaN,NaT,NaN,77.0,4452751050341087.0,7217990194.0
2527,175,4410384465216570,2019-08-28 22:04:20+08:00,5491836726,奢求_82084,回复 @时间旅行机器:我也笑死了 同一时间 有一个同样模仿 同样抄袭的游戏 怎么就可着这个...,NaN,NaN,时间旅行机器,NaN,NaT,NaN,174.0,4408948503188967.0,5491836726.0
2534,187,4408497808137499,2019-08-23 17:07:26+08:00,2258141752,元气满满bou,回复@时间旅行机器: 是商业抄袭* 小小年纪眼睛就瞎了，心疼你,NaN,NaN,时间旅行机器,NaN,NaT,NaN,184.0,4407756130344107.0,2258141752.0
2535,188,4408048577861560,2019-08-22 11:22:21+08:00,2258141752,元气满满bou,回复@大头花阳: 你si去的爹告诉你的我不玩游戏？撒13玩意儿，睁眼瞎自欺欺人。就是有你这种...,NaN,NaN,大头花阳,NaN,NaT,NaN,184.0,4407756130344107.0,2258141752.0
2542,203,4408258518911734,2019-08-23 01:16:35+08:00,7087027730,云夜悠长,回复@今天原神凉了没:唉，不跟哈批对线了，也是没意思，反正对喷又没结果，最强法务部也不出手，...,NaN,NaN,今天原神凉了没,NaN,NaT,NaN,202.0,4405167526777662.0,6493310305.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3843,3835,4380992594400846,2019-06-08 19:31:32+08:00,6201564748,兔纸今天能摸到鱼吗,回复@沙奈朵的裙底到底有什么:是谁逗谁笑也请你整清楚，我也明确表态了不想吵，阴阳怪气的回复大...,NaN,NaN,沙奈朵的裙底到底有什么,NaN,NaT,NaN,3821.0,4380879889748007.0,6201564748.0
3844,3836,4380988769262132,2019-06-08 19:16:20+08:00,2950862475,男人的浪漫是剑风传奇,回复@怕事先改名shaw:[doge]求求你别玩任天堂，你也不想想是谁不配,NaN,NaN,怕事先改名shaw,NaN,NaT,NaN,3821.0,4380879889748007.0,6201564748.0
3845,3837,4380988346320255,2019-06-08 19:14:39+08:00,5646067604,Aki是乌龟,回复@怕事先改名shaw:你这可把爷整乐了，求求你了，一定要玩，不玩任天堂就倒闭了，塞尔达就...,NaN,NaN,怕事先改名shaw,NaN,NaT,NaN,3821.0,4380879889748007.0,6201564748.0
3846,3838,4380987008064553,2019-06-08 19:09:20+08:00,6201564748,兔纸今天能摸到鱼吗,回复@沉迷艾欧泽亚的菜菜啊:🐮🍺，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这...,NaN,NaN,沉迷艾欧泽亚的菜菜啊,NaN,NaT,NaN,3821.0,4380879889748007.0,6201564748.0
3847,3840,4380980682966825,2019-06-08 18:44:12+08:00,6201564748,兔纸今天能摸到鱼吗,回复@沙奈朵的裙底到底有什么:到我这条底下阴阳怪气啥？觉得抄袭了去评论前面几条啊，去和米卫兵...,NaN,NaN,沙奈朵的裙底到底有什么,NaN,NaT,NaN,3821.0,4380879889748007.0,6201564748.0

## 3.3 后续处理1：移除文本中的“回复@username” ，并提取被@的用户名/Subsequent processing 1: remove "Reply@username", and extract the mentioned/@ username

In [143]:
h_graph = df.copy()
h_graph.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3850 entries, 0 to 3849
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         3850 non-null   int64
 1   F_CommID      3850 non-null   int64
 2   F_Time        3850 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID      3850 non-null   int64
 4   F_UserName    3850 non-null   object
 5   F_Comment     3850 non-null   object
 6   T_Idx         441 non-null    float64
 7   T_UserID      907 non-null    float64
 8   T_UserName    1187 non-null   object
 9   T_CommID      441 non-null    float64
 10  T_Time        441 non-null    datetime64[ns, UTC+08:00]
 11  T_Comment     441 non-null    object
 12  Floor_Idx     1186 non-null   float64
 13  Floor_CommID  1186 non-null   float64
 14  Floor_UserID  1186 non-null   float64
dtypes: datetime64[ns, UTC+08:00](2), float64(6), int64(3), object(4)
memory usage: 451.3+ KB

### 3.3.1 从文本中移除回复pattern（如：回复@username:）/Remove reply pattern (e.g., Reply@username:) from the text

In [144]:
def replace_text(text):
    reply_pattern = r'回复\s?@([^\s:：]+):|回复\s?@([^\s:：]+)：'
    return re.sub(reply_pattern, '', text)

h_graph['F_Comment'] = h_graph['F_Comment'].apply(replace_text)

再次检查Section 3.1.2提及的3个特殊的username（“网恋被骗700万”，“醉筠子-不放弃本子”，“夜降萃梦乡_”）是否得到了正确的处理。

Double check whether those 3 special username ("网恋被骗700万", "醉筠子-不放弃本子" and "夜降萃梦乡_") mentioned in Section 3.1.2 are conducted successfully.

In [145]:
h_graph[h_graph['F_Idx']==3755]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
3812,3755,4380987938821807,2019-06-08 19:13:02+08:00,5596441213,法海爱一休,鹅厂抄就恶心，米哈游抄就是正事嗷[嘻嘻],NaN,6459204506.0,网恋被骗700万,NaN,NaT,NaN,3685.0,4380883840572546.0,1957259477.0

In [146]:
h_graph[h_graph['F_Idx']==3048]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
3274,3048,4385914031449975,2019-06-22 09:27:34+08:00,5356469720,error1980,你说你🐎呢，看见个开放世界，看见滑翔翼就，看见卡通渲染就塞尔达。塞尔达无非就是把以前都已经有...,NaN,NaN,醉筠子-不放弃本子,NaN,NaT,NaN,2992.0,4380899494009653.0,6578279612.0

In [147]:
h_graph[h_graph['F_Idx']==557]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
2705,557,4389266353859602,2019-07-01 15:28:30+08:00,3281534190,开辟之星3,原神不是耻辱，你这种带节奏的才是耻辱，你倒是给我粗制滥造一个啊，某大厂新出的《龙族幻想》和《...,NaN,NaN,夜降萃梦乡_,NaN,NaT,NaN,NaN,NaN,NaN

没有遗漏的未处理的数据

No missing unprocessed data

In [148]:
reply_pattern = r'回复\s?@([^\s:：]+):|回复\s?@([^\s:：]+)：'
h_graph[h_graph['F_Comment'].str.contains(reply_pattern, '')]

Empty DataFrame
Columns: [F_Idx, F_CommID, F_Time, F_UserID, F_UserName, F_Comment, T_Idx, T_UserID, T_UserName, T_CommID, T_Time, T_Comment, Floor_Idx, Floor_CommID, Floor_UserID]
Index: []

### 3.3.2 提取被@的用户名/Extract the mentioned/@ username

这一类的文本特征为“...@username ...”，且有些用户@了多个人<br>
下面列出了一个关于@的简单例子：用户@了“原神”

Texts in this category is characterized by "... @username ...", and some users mentioned several people<br>
A simple example about @ is listed below. In this text, the user mentioned "原神" (shown as "@原神")

In [149]:
h_graph.loc[30,'F_Comment']

'作为米哈游科技（上海）有限公司制作发行的一款开放世界冒险游戏，画面风格精致富有美感，是一款自由度很高的手游大作，我真心想获得本次测试，也会抓住每一个机会，我会努力争取的！[太开心]@原神 旅行者，安柏，凯亚，琴，丽莎，芭芭拉，到时候一定与你们结友！共度时光@微博抽奖平台 加油！#原神#'

提取出带有@的文本并保存为一个新的csv文件`ForCheck`，以方便后续的手动筛查异常情况<br>

Extract all records with @ in the texts and save them as a new csv file `ForCheck`, which facilitate subsequent manual revision of exceptions

In [150]:
alpha_pattern = r'@([^\s@]+)'
check_manu = h_graph[h_graph['F_Comment'].str.contains(alpha_pattern)]
check_manu

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID
7,7,4842368296289558,2022-12-02 23:13:51+08:00,7752939212,花月歌浮舟,考古结束@Akoi,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
30,45,4481688375200938,2020-03-12 16:20:37+08:00,6153913596,原神忠粉,作为米哈游科技（上海）有限公司制作发行的一款开放世界冒险游戏，画面风格精致富有美感，是一款自...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
32,47,4461401621863634,2020-01-16 16:48:17+08:00,5648392127,DodLIke刂兆,等私信@_恭弥大人_,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
33,48,4461395208773600,2020-01-16 16:22:48+08:00,5210165672,wangxorz,@b1gcatttttttttt 来个测试资格吧[二哈],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
35,53,4460756835567135,2020-01-14 22:06:08+08:00,6555427619,葱花不开花,@相生栗子 嘿嘿，栗子大大出来装个好友帮个忙[太开心][太开心],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3159,2772,4380924667828394,2019-06-08 15:01:37+08:00,5554932231,A大调的华尔兹,很期待新作@Rusi_,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3200,2933,4380905709610665,2019-06-08 13:46:17+08:00,2688011343,yukin725,@Rioshady 塞尔达旷野之息…而且估计操作感差很多[允悲][允悲],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3558,3419,4380893496035358,2019-06-08 12:57:45+08:00,1776100951,ReIKiTsuNeNeGi,@云玩家FlameBeam 手机玩家的钱真好赚？,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
3576,3545,4381283213536790,2019-06-09 14:46:20+08:00,6301774190,倾城恋怀,@任天堂香港有限公司,3506.0,6500909470.0,oO土豆泥O,4380885732287240.0,2019-06-08 12:26:53+08:00,这……有些地方一摸一样吧,3506.0,4380885732287240.0,6500909470.0
3732,3676,4380884881100488,2019-06-08 12:23:30+08:00,5667435118,Mmmm傻呀,@AI娘爱酱 爱酱我想去原神看看,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [151]:
check_file='Datasets/ForCheck.csv' 
check_manu.to_csv(check_file, index=False,encoding='utf-8-sig')

使用alpha_pattern尽可能的提取出被@的用户名

Use `alpha_pattern` to extract mentioned/@ username as much as possible

In [152]:
at_Idx = list(check_manu.index)
len(at_Idx)

1009

In [153]:
h_graph.loc[at_Idx, 'At_User'] = h_graph.loc[at_Idx, 'F_Comment'].str.findall(alpha_pattern)
h_graph[h_graph['At_User'].notna()]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID,At_User
7,7,4842368296289558,2022-12-02 23:13:51+08:00,7752939212,花月歌浮舟,考古结束@Akoi,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[Akoi]
30,45,4481688375200938,2020-03-12 16:20:37+08:00,6153913596,原神忠粉,作为米哈游科技（上海）有限公司制作发行的一款开放世界冒险游戏，画面风格精致富有美感，是一款自...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,"[原神, 微博抽奖平台]"
32,47,4461401621863634,2020-01-16 16:48:17+08:00,5648392127,DodLIke刂兆,等私信@_恭弥大人_,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[_恭弥大人_]
33,48,4461395208773600,2020-01-16 16:22:48+08:00,5210165672,wangxorz,@b1gcatttttttttt 来个测试资格吧[二哈],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[b1gcatttttttttt]
35,53,4460756835567135,2020-01-14 22:06:08+08:00,6555427619,葱花不开花,@相生栗子 嘿嘿，栗子大大出来装个好友帮个忙[太开心][太开心],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[相生栗子]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3159,2772,4380924667828394,2019-06-08 15:01:37+08:00,5554932231,A大调的华尔兹,很期待新作@Rusi_,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[Rusi_]
3200,2933,4380905709610665,2019-06-08 13:46:17+08:00,2688011343,yukin725,@Rioshady 塞尔达旷野之息…而且估计操作感差很多[允悲][允悲],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[Rioshady]
3558,3419,4380893496035358,2019-06-08 12:57:45+08:00,1776100951,ReIKiTsuNeNeGi,@云玩家FlameBeam 手机玩家的钱真好赚？,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[云玩家FlameBeam]
3576,3545,4381283213536790,2019-06-09 14:46:20+08:00,6301774190,倾城恋怀,@任天堂香港有限公司,3506.0,6500909470.0,oO土豆泥O,4380885732287240.0,2019-06-08 12:26:53+08:00,这……有些地方一摸一样吧,3506.0,4380885732287240.0,6500909470.0,[任天堂香港有限公司]
3732,3676,4380884881100488,2019-06-08 12:23:30+08:00,5667435118,Mmmm傻呀,@AI娘爱酱 爱酱我想去原神看看,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[AI娘爱酱]

经过手动检查后，F_Idx为下列值的数据在@的提取上存在问题。我们将在下面的部分逐一处理
- 1139 1239 860 1418 1465 1702 2109 2274 2779 3149 3779 2538 2653

After manual checking, records with the following values of F_Idx have problems with mentioned username extraction. We will handle this data in the following sections (from (1) to (3))

#### (1) F_Idx=1139
该用户的“@官方”中的@表达的是单词“艾特”，是用特殊符号来表达对应的中文含义，并非@了一个叫做“官方”的用户。在At_User中保留“原神”即可

The @ in this user's "@官方" is an abbreviation for the Chinese word "艾特 (mention)", rather than mentioning a user called "官方". Just keep "原神" in At_User.

In [154]:
h_graph[h_graph['F_Idx']==1139]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID,At_User
815,1139,4384309676961753,2019-06-17 23:12:25+08:00,2208067411,GanChongren,@原神 @官方，我真是小机灵鬼[笑而不语],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,"[原神, 官方，我真是小机灵鬼[笑而不语]]"

In [155]:
h_graph.loc[815,'At_User'] = ['{}'.format(h_graph.loc[815,'At_User'][0])]
h_graph[h_graph['F_Idx']==1139]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID,At_User
815,1139,4384309676961753,2019-06-17 23:12:25+08:00,2208067411,GanChongren,@原神 @官方，我真是小机灵鬼[笑而不语],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[原神]

#### (2) F_Idx  $\in [1239, 860, 1418, 1465, 1702, 2109, 2274, 2779, 3149, 3779, 2538, 2653] $

In [156]:
at_list = [1239,860,1418,1465,1702,2109,2274,2779,3149,3779,2538,2653]
at_list

[1239, 860, 1418, 1465, 1702, 2109, 2274, 2779, 3149, 3779, 2538, 2653]

In [157]:
at1_set = h_graph[h_graph['F_Comment'].str.contains(r'@([^:]+):')]
at1_set

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID,At_User
562,860,4385957564129314,2019-06-22 12:20:33+08:00,3914447813,老老老老老那啊,你们是真不要脸了，哪怕改一改也行啊，复制粘贴不太好吧弟弟//@我再也不想写代码了 :你们真的...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[我再也不想写代码了]
912,1239,4383085795509573,2019-06-14 14:09:10+08:00,6449314474,十香Princess2018,//@糖醋SAO排骨:,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[糖醋SAO排骨:]
929,1260,4383059581044564,2019-06-14 12:25:00+08:00,5264335436,忧鱼与熊掌,@襟上花r 琪亚娜 http://t.cn/AiNhbK5k,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[襟上花r]
1073,1418,4382090839463454,2019-06-11 20:15:33+08:00,2482877025,昊哥昊哥耗,真实//@花盆栽柳树谁也拦不住:国内厂商总以为玩家是傻子，东抄抄西抄抄就能出来骗钱[微笑]然...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[花盆栽柳树谁也拦不住:国内厂商总以为玩家是傻子，东抄抄西抄抄就能出来骗钱[微笑]然而事实是...
1088,1465,4382003786816490,2019-06-11 14:29:39+08:00,2796207394,不抽烟CHIRS,#原神# ▶序章PV：捕风的异乡人◀ 维系者正在死去，创造者尚未到来。 但世界不会再度灼烧，...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,"[原神, 微博抽奖平台, kevenhu]"
1316,1702,4381267762552372,2019-06-09 13:44:56+08:00,1740544170,不爱发博王左军,@不爱写字王右军 //@游研社: 米哈游新作《原神》放出了新预告,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,"[不爱写字王右军, 游研社:]"
1396,1786,4381190587010404,2019-06-09 08:38:16+08:00,1093773890,Luciferbear,@只为等待your PS4 PRO http://t.cn/AiC5X41g,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[只为等待your]
1655,2109,4380996277150017,2019-06-08 19:46:10+08:00,3218789155,天雷牙皇,//@游研社: 米哈游新作《原神》放出了新预告,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[游研社:]
2075,2779,4380924198016900,2019-06-08 14:59:45+08:00,1765337557,DDDDDlno,边抄边加了很多新的，光看pv还是很舒服的。希望能讲好自己的故事。//@游民星空: 米哈游新作...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[游民星空:]
2265,3149,4380897346334849,2019-06-08 13:13:03+08:00,5846473488,幸运的血玫瑰男爵,@Mr_陈家铧_924_106 @神座出流_ //@游侠网: 来了来了[并不简单][并不简单],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,"[Mr_陈家铧_924_106, 神座出流_, 游侠网:]"
2415,3779,4380883211537085,2019-06-08 12:16:52+08:00,1879393202,寒天黑糖,好可爱的小男孩！！！！wsl//@半透明黑桶: 看！是PV！[泪]@寒天黑糖,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,"[半透明黑桶:, 寒天黑糖]"
2985,2463,4401199036072542,2019-08-03 13:44:43+08:00,6346952543,Tyonosuke,@不吃生肉也不重名: 米卫兵厉害的很，他们的逻辑是没被告=没抄袭，喷原神=喷国产游戏=日精美...,NaN,6632412252.0,CHANNEER,NaN,NaT,NaN,2460.0,4380945396171132.0,3558197517.0,[不吃生肉也不重名:]
2998,2538,4426697744992424,2019-10-12 22:27:29+08:00,7174927520,菠萝198608,@error1980: 育碧也出了个“塞尔达画风”的游戏，各位过去喷一下以示公正？,2531.0,5671232161.0,千帆幻尽,4380935199496995.0,2019-06-08 15:43:28+08:00,国内厂商总以为玩家是傻子，东抄抄西抄抄就能出来骗钱[微笑]然而事实是，国内很大一部分玩家确实...,2531.0,4380935199496995.0,5671232161.0,[error1980:]
3084,2653,4404220436706589,2019-08-11 21:50:41+08:00,5409063390,吾乃是中二病患者_369,"@独孤剑萧萧: “塞尔达120神庙全通,明天cj我就不去了 ，怕认错展台”[吃瓜][吃瓜][吃瓜]",2642.0,1691660281.0,我爱开封菜,4380932033640474.0,2019-06-08 15:30:53+08:00,米哈游，劝你们别游戏还没出就把自己搞臭了，对你们一点好处都没有，好自为之,2642.0,4380932033640474.0,1691660281.0,[独孤剑萧萧:]

除了F_Idx=2274的用户之外，at_list中所有的index都出现在了at1_set里。<br>
经过手动检查，可以发现2种情况
1. 用户名后面的冒号没有移除，如“@糖醋SAO排骨:”涉及的用户名被识别为“糖醋SAO排骨:”而非“糖醋SAO排骨”
2. 冒号后面的文本被错误的识别为用户名的一部分，如F_Idx=1418 (DataFrame Idx=1073)的记录<br>
使用下面的代码可以检查出第一种情况涉及的用户（合计9人）

All indices in at_list appear in at1_set, except F_Idx=2274<br>
After manual checking, 2 cases can be identified
1. The colom (i.e., `:`) after the username is not removed, e.g., the username extracted from "@糖醋SAO排骨:" should be "糖醋SAO排骨" rather than "糖醋SAO排骨:"
2. The text following the colon is incorrectly identified as part of the username. F_Idx=1418 (DataFrame Idx=1073) is an example of this case.<br>
Users (9 users in total) from the first category can be filtered via the following code

In [158]:
def test_user(lst):
    return any(element.endswith(':') and element[:-1] != '' for element in lst)

for_test = h_graph[h_graph['At_User'].notna()]
len(for_test[for_test['At_User'].apply(test_user)])

9

In [159]:
for_test[for_test['At_User'].apply(test_user)]['At_User']

912                        [糖醋SAO排骨:]
1316                  [不爱写字王右军, 游研社:]
1655                           [游研社:]
2075                          [游民星空:]
2265    [Mr_陈家铧_924_106, 神座出流_, 游侠网:]
2415                   [半透明黑桶:, 寒天黑糖]
2985                      [不吃生肉也不重名:]
2998                     [error1980:]
3084                         [独孤剑萧萧:]
Name: At_User, dtype: object

使用自定义函数process_at将At_User中，username后面的冒号删去

Remove the colon after the username in At_User via def dunction process_at

In [160]:
def process_at(text):
    return [item.split(':')[0] for item in text]
at1_set['At_User'].apply(process_at)

562                      [我再也不想写代码了]
912                        [糖醋SAO排骨]
929                           [襟上花r]
1073                    [花盆栽柳树谁也拦不住]
1088           [原神, 微博抽奖平台, kevenhu]
1316                  [不爱写字王右军, 游研社]
1396                      [只为等待your]
1655                           [游研社]
2075                          [游民星空]
2265    [Mr_陈家铧_924_106, 神座出流_, 游侠网]
2415                   [半透明黑桶, 寒天黑糖]
2985                      [不吃生肉也不重名]
2998                     [error1980]
3084                         [独孤剑萧萧]
Name: At_User, dtype: object

In [161]:
at1_Idx = list(at1_set.index)
at1_Idx

[562,
 912,
 929,
 1073,
 1088,
 1316,
 1396,
 1655,
 2075,
 2265,
 2415,
 2985,
 2998,
 3084]

In [162]:
# 修改前/Before the revision
h_graph.loc[at1_Idx,'At_User']

562                                           [我再也不想写代码了]
912                                            [糖醋SAO排骨:]
929                                                [襟上花r]
1073    [花盆栽柳树谁也拦不住:国内厂商总以为玩家是傻子，东抄抄西抄抄就能出来骗钱[微笑]然而事实是...
1088                                [原神, 微博抽奖平台, kevenhu]
1316                                      [不爱写字王右军, 游研社:]
1396                                           [只为等待your]
1655                                               [游研社:]
2075                                              [游民星空:]
2265                        [Mr_陈家铧_924_106, 神座出流_, 游侠网:]
2415                                       [半透明黑桶:, 寒天黑糖]
2985                                          [不吃生肉也不重名:]
2998                                         [error1980:]
3084                                             [独孤剑萧萧:]
Name: At_User, dtype: object

完成修改

Finish the revision

In [163]:
h_graph.loc[at1_Idx,'At_User'] = list(at1_set['At_User'].apply(process_at))
h_graph.loc[at1_Idx,'At_User']

562                      [我再也不想写代码了]
912                        [糖醋SAO排骨]
929                           [襟上花r]
1073                    [花盆栽柳树谁也拦不住]
1088           [原神, 微博抽奖平台, kevenhu]
1316                  [不爱写字王右军, 游研社]
1396                      [只为等待your]
1655                           [游研社]
2075                          [游民星空]
2265    [Mr_陈家铧_924_106, 神座出流_, 游侠网]
2415                   [半透明黑桶, 寒天黑糖]
2985                      [不吃生肉也不重名]
2998                     [error1980]
3084                         [独孤剑萧萧]
Name: At_User, dtype: object

idx=1088的Kevenhu后面去掉

#### (3) F_Idx=2274
冒号及后面的文本被错误的识别为用户名，手动修正即可

":" and the following text are incorrectly identified as usernames; Fix them manually

In [164]:
at_2274 = h_graph[h_graph['F_Idx']==2274]
at_2274

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID,At_User
1797,2274,4380972860466037,2019-06-08 18:13:07+08:00,1914835762,饼玉玉,@饼玉玉：没玩过游戏的 去b站看看塞尔达旷野之息pv就明白了 这个pv都是抄的哦[太开心],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[饼玉玉：没玩过游戏的]

In [165]:
h_graph.loc[1797, 'At_User'] = ['饼玉玉']
h_graph.loc[1797]

F_Idx                                                      2274
F_CommID                                       4380972860466037
F_Time                                2019-06-08 18:13:07+08:00
F_UserID                                             1914835762
F_UserName                                                  饼玉玉
F_Comment       @饼玉玉：没玩过游戏的  去b站看看塞尔达旷野之息pv就明白了  这个pv都是抄的哦[太开心]
T_Idx                                                       NaN
T_UserID                                                    NaN
T_UserName                                                  NaN
T_CommID                                                    NaN
T_Time                                                      NaT
T_Comment                                                   NaN
Floor_Idx                                                   NaN
Floor_CommID                                                NaN
Floor_UserID                                                NaN
At_User                                                   [饼玉玉]
Name: 1797, dtype: object

#### (4) F_Idx = 1465 (DataFrame idx = 1088)
再次确认，该文本里的链接 http://t.cn/AiCLxa7X@kevenhu 实际上由网页链接http://t.cn/AiCLxa7X 和对朋友的@“@kevenhu”组成<br>
查看At_User可知，用户名“kevenhu”被成功的提取出来。因此该条记录在At_User上无需额外的操作（在当前步骤里）

Just for double check:<br>
The link (http://t.cn/AiCLxa7X@kevenhu) included in the text actually consists of 2 parts:
- link: http://t.cn/AiCLxa7X
- mentioned username: @kevenhu<br>
Username "kevenhu" was successfully extracted and stroed in At_User. Therefore, no additional processings are required on At_User for this record (in THIS CURRENT STEP)

In [166]:
h_graph.loc[1088,'F_Comment']

'#原神# ▶序章PV：捕风的异乡人◀ 维系者正在死去，创造者尚未到来。 但世界不会再度灼烧，因为你将登上「神」之座。  #转发抽奖#关注@原神 并转发@ 一位好友，我们将通过@微博抽奖平台 送出以下奖品：         ※一等奖： PS4 Pro （2名）         ※二等奖： http://t.cn/AiCLxa7X@kevenhu   中中中'

In [167]:
h_graph.loc[1088]

F_Idx                                                        1465
F_CommID                                         4382003786816490
F_Time                                  2019-06-11 14:29:39+08:00
F_UserID                                               2796207394
F_UserName                                               不抽烟CHIRS
F_Comment       #原神# ▶序章PV：捕风的异乡人◀ 维系者正在死去，创造者尚未到来。 但世界不会再度灼烧，...
T_Idx                                                         NaN
T_UserID                                                      NaN
T_UserName                                                    NaN
T_CommID                                                      NaN
T_Time                                                        NaT
T_Comment                                                     NaN
Floor_Idx                                                     NaN
Floor_CommID                                                  NaN
Floor_UserID                                                  NaN
At_User                                     [原神, 微博抽奖平台, kevenhu]
Name: 1088, dtype: object

In [168]:
h_graph[h_graph['At_User'].notna()]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID,At_User
7,7,4842368296289558,2022-12-02 23:13:51+08:00,7752939212,花月歌浮舟,考古结束@Akoi,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[Akoi]
30,45,4481688375200938,2020-03-12 16:20:37+08:00,6153913596,原神忠粉,作为米哈游科技（上海）有限公司制作发行的一款开放世界冒险游戏，画面风格精致富有美感，是一款自...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,"[原神, 微博抽奖平台]"
32,47,4461401621863634,2020-01-16 16:48:17+08:00,5648392127,DodLIke刂兆,等私信@_恭弥大人_,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[_恭弥大人_]
33,48,4461395208773600,2020-01-16 16:22:48+08:00,5210165672,wangxorz,@b1gcatttttttttt 来个测试资格吧[二哈],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[b1gcatttttttttt]
35,53,4460756835567135,2020-01-14 22:06:08+08:00,6555427619,葱花不开花,@相生栗子 嘿嘿，栗子大大出来装个好友帮个忙[太开心][太开心],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[相生栗子]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3159,2772,4380924667828394,2019-06-08 15:01:37+08:00,5554932231,A大调的华尔兹,很期待新作@Rusi_,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[Rusi_]
3200,2933,4380905709610665,2019-06-08 13:46:17+08:00,2688011343,yukin725,@Rioshady 塞尔达旷野之息…而且估计操作感差很多[允悲][允悲],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[Rioshady]
3558,3419,4380893496035358,2019-06-08 12:57:45+08:00,1776100951,ReIKiTsuNeNeGi,@云玩家FlameBeam 手机玩家的钱真好赚？,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[云玩家FlameBeam]
3576,3545,4381283213536790,2019-06-09 14:46:20+08:00,6301774190,倾城恋怀,@任天堂香港有限公司,3506.0,6500909470.0,oO土豆泥O,4380885732287240.0,2019-06-08 12:26:53+08:00,这……有些地方一摸一样吧,3506.0,4380885732287240.0,6500909470.0,[任天堂香港有限公司]
3732,3676,4380884881100488,2019-06-08 12:23:30+08:00,5667435118,Mmmm傻呀,@AI娘爱酱 爱酱我想去原神看看,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[AI娘爱酱]

### 3.3.3 提取出At_User的每一个list包含的用户名；每一个用户名均存储为新的一列/Extract usernames contained in each list of At_User; Each username will be stored in a new column

In [169]:
at_notna = h_graph[h_graph['At_User'].notna()]

In [170]:
at_notna_idx = list((h_graph[h_graph['At_User'].notna()]).index)
at_notna_idx

[7,
 30,
 32,
 33,
 35,
 47,
 64,
 66,
 72,
 74,
 88,
 91,
 97,
 102,
 108,
 144,
 150,
 163,
 193,
 221,
 222,
 230,
 235,
 246,
 256,
 257,
 266,
 268,
 303,
 324,
 334,
 348,
 372,
 393,
 404,
 412,
 420,
 428,
 433,
 434,
 443,
 446,
 450,
 493,
 494,
 496,
 498,
 504,
 505,
 516,
 562,
 564,
 569,
 576,
 598,
 609,
 610,
 611,
 623,
 626,
 636,
 642,
 692,
 694,
 708,
 710,
 713,
 716,
 717,
 718,
 720,
 725,
 726,
 730,
 731,
 737,
 745,
 753,
 754,
 760,
 767,
 769,
 771,
 774,
 787,
 789,
 797,
 801,
 805,
 806,
 815,
 817,
 820,
 821,
 822,
 824,
 826,
 831,
 833,
 834,
 836,
 837,
 844,
 845,
 846,
 848,
 849,
 850,
 852,
 853,
 854,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 880,
 881,
 882,
 883,
 885,
 886,
 887,
 888,
 890,
 891,
 893,
 894,
 895,
 896,
 900,
 901,
 903,
 904,
 905,
 906,
 907,
 909,
 911,
 912,
 913,
 914,
 916,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 937,
 939,
 941,
 944,
 945,
 947,
 949,
 951,
 952,
 957,
 958,
 959,
 960,
 961,
 962,
 965,
 968,
 969,
 970,
 971,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 998,
 999,
 1000,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1011,
 1012,
 1015,
 1017,
 1018,
 1021,
 1022,
 1025,
 1027,
 1034,
 1036,
 1039,
 1041,
 1045,
 1048,
 1052,
 1055,
 1056,
 1066,
 1067,
 1069,
 1073,
 1075,
 1076,
 1079,
 1080,
 1082,
 1086,
 1088,
 1089,
 1092,
 1093,
 1094,
 1095,
 1099,
 1101,
 1102,
 1104,
 1105,
 1107,
 1109,
 1110,
 1111,
 1112,
 1113,
 1115,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1125,
 1126,
 1127,
 1129,
 1132,
 1133,
 1134,
 1135,
 1136,
 1137,
 1141,
 1142,
 1143,
 1144,
 1145,
 1147,
 1148,
 1149,
 1150,
 1152,
 1153,
 1158,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1169,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1182,
 1183,
 1184,
 1185,
 1188,
 1189,
 1191,
 1192,
 1195,
 1196,
 1197,
 1198,
 1200,
 1201,
 1202,
 1203,
 1205,
 1206,
 1207,
 1208,
 1210,
 1212,
 1217,
 1219,
 1224,
 1228,
 1229,
 1231,
 1232,
 1233,
 1236,
 1238,
 1239,
 1240,
 1241,
 1243,
 1244,
 1246,
 1247,
 1248,
 1249,
 1250,
 1252,
 1253,
 1256,
 1260,
 1264,
 1265,
 1266,
 1267,
 1270,
 1272,
 1273,
 1274,
 1276,
 1278,
 1279,
 1282,
 1287,
 1291,
 1294,
 1299,
 1301,
 1302,
 1303,
 1304,
 1307,
 1308,
 1311,
 1313,
 1314,
 1316,
 1318,
 1319,
 1320,
 1326,
 1329,
 1336,
 1337,
 1338,
 1339,
 1341,
 1342,
 1343,
 1344,
 1345,
 1346,
 1349,
 1350,
 1353,
 1354,
 1356,
 1357,
 1358,
 1360,
 1362,
 1364,
 1367,
 1368,
 1369,
 1371,
 1373,
 1374,
 1376,
 1380,
 1383,
 1386,
 1387,
 1388,
 1389,
 1391,
 1392,
 1393,
 1395,
 1396,
 1397,
 1400,
 1401,
 1402,
 1406,
 1409,
 1411,
 1412,
 1413,
 1414,
 1422,
 1423,
 1424,
 1431,
 1433,
 1436,
 1437,
 1440,
 1443,
 1445,
 1446,
 1448,
 1449,
 1451,
 1454,
 1456,
 1457,
 1459,
 1460,
 1462,
 1463,
 1464,
 1465,
 1466,
 1472,
 1474,
 1479,
 1483,
 1486,
 1488,
 1489,
 1490,
 1491,
 1494,
 1495,
 1497,
 1498,
 1500,
 1503,
 1507,
 1508,
 1509,
 1512,
 1513,
 1514,
 1515,
 1518,
 1520,
 1522,
 1523,
 1524,
 1525,
 1527,
 1528,
 1529,
 1533,
 1535,
 1537,
 1538,
 1543,
 1546,
 1549,
 1550,
 1551,
 1552,
 1555,
 1556,
 1557,
 1564,
 1571,
 1572,
 1574,
 1578,
 1579,
 1582,
 1583,
 1584,
 1585,
 1588,
 1589,
 1590,
 1591,
 1592,
 1595,
 1596,
 1597,
 1598,
 1599,
 1600,
 1603,
 1604,
 1608,
 1609,
 1610,
 1613,
 1614,
 1615,
 1616,
 1617,
 1618,
 1623,
 1624,
 1625,
 1626,
 1627,
 1628,
 1629,
 1632,
 1633,
 1635,
 1636,
 1641,
 1642,
 1643,
 1644,
 1647,
 1649,
 1650,
 1653,
 1655,
 1658,
 1659,
 1660,
 1661,
 1662,
 1663,
 1664,
 1665,
 1666,
 1668,
 1669,
 1671,
 1672,
 1673,
 1676,
 1679,
 1681,
 1682,
 1684,
 1685,
 1688,
 1689,
 1693,
 1694,
 1695,
 1696,
 1698,
 1702,
 1704,
 1706,
 1711,
 1713,
 1718,
 1719,
 1720,
 1721,
 1722,
 1724,
 1726,
 1727,
 1729,
 1732,
 1734,
 1735,
 1736,
 1737,
 1740,
 1744,
 1745,
 1748,
 1750,
 1751,
 1752,
 1756,
 1758,
 1759,
 1760,
 1761,
 1762,
 1763,
 1765,
 1766,
 1771,
 1773,
 1780,
 1783,
 1784,
 1787,
 1791,
 1792,
 1793,
 1795,
 1797,
 1799,
 1801,
 1802,
 1807,
 1808,
 1811,
 1812,
 1813,
 1815,
 1816,
 1819,
 1821,
 1825,
 1827,
 1828,
 1832,
 1833,
 1834,
 1836,
 1840,
 1842,
 1844,
 1845,
 1849,
 1850,
 1852,
 1856,
 1858,
 1859,
 1861,
 1864,
 1865,
 1869,
 1870,
 1872,
 1877,
 1878,
 1879,
 1880,
 1883,
 1885,
 1887,
 1889,
 1891,
 1892,
 1894,
 1895,
 1896,
 1900,
 1903,
 1905,
 1907,
 1909,
 1919,
 1921,
 1923,
 1927,
 1930,
 1936,
 1939,
 1944,
 1946,
 1947,
 1948,
 1949,
 1951,
 1952,
 1957,
 1961,
 1962,
 1963,
 1964,
 1967,
 1969,
 1970,
 1971,
 1973,
 1975,
 1980,
 1981,
 1986,
 1987,
 1989,
 1990,
 1993,
 2002,
 2004,
 2005,
 2006,
 2008,
 2013,
 2014,
 2022,
 2024,
 2026,
 2034,
 2035,
 2036,
 2037,
 2039,
 2041,
 2043,
 2045,
 2048,
 2051,
 2053,
 2054,
 2056,
 2059,
 2060,
 2062,
 2065,
 2068,
 2069,
 2073,
 2074,
 2075,
 2076,
 2078,
 2079,
 2080,
 2081,
 2082,
 2083,
 2085,
 2086,
 2090,
 2091,
 2092,
 2093,
 2095,
 2096,
 2097,
 2098,
 2099,
 2100,
 2101,
 2103,
 2105,
 2106,
 2107,
 2108,
 2110,
 2111,
 2112,
 2114,
 2115,
 2116,
 2118,
 2121,
 2122,
 2124,
 2125,
 2127,
 2130,
 2134,
 2136,
 2138,
 2140,
 2142,
 2143,
 2144,
 2145,
 2147,
 2148,
 2151,
 2154,
 2155,
 2156,
 2157,
 2161,
 2163,
 2165,
 2166,
 2167,
 2168,
 2169,
 2174,
 2177,
 2178,
 2179,
 2180,
 2181,
 2182,
 2184,
 2185,
 2186,
 2188,
 2189,
 2191,
 2192,
 2193,
 2194,
 2198,
 2199,
 2200,
 2202,
 2203,
 2204,
 2208,
 2214,
 2217,
 2218,
 2219,
 2221,
 2223,
 2225,
 2226,
 2228,
 2240,
 2241,
 2242,
 2243,
 2244,
 2247,
 2249,
 2252,
 2254,
 2256,
 2258,
 2260,
 2261,
 2262,
 2263,
 2265,
 2266,
 2267,
 2268,
 2270,
 2273,
 2275,
 2276,
 2278,
 2280,
 2283,
 2285,
 2286,
 2287,
 2290,
 2291,
 2294,
 2296,
 2300,
 2307,
 2311,
 2312,
 2314,
 2315,
 2316,
 2317,
 2318,
 2319,
 2321,
 2322,
 2325,
 2326,
 2328,
 2331,
 2332,
 2335,
 2336,
 2337,
 2339,
 2340,
 2344,
 2347,
 2348,
 2350,
 2351,
 2352,
 2353,
 2354,
 2355,
 2356,
 2357,
 2359,
 2360,
 2362,
 2364,
 2366,
 2367,
 2369,
 2370,
 2371,
 2373,
 2374,
 2376,
 2377,
 2381,
 2382,
 2386,
 2387,
 2388,
 2389,
 2390,
 2391,
 2392,
 2393,
 2395,
 2397,
 2398,
 2399,
 2402,
 2403,
 2404,
 2405,
 2407,
 2409,
 2410,
 2411,
 2412,
 2414,
 2415,
 2416,
 2418,
 2421,
 2422,
 2427,
 2428,
 2429,
 2431,
 2432,
 2434,
 2437,
 2438,
 2439,
 2441,
 2442,
 2443,
 2444,
 2445,
 2446,
 2450,
 2451,
 2454,
 2457,
 2458,
 2485,
 2521,
 2610,
 2628,
 2684,
 2691,
 2694,
 2695,
 2698,
 2708,
 2756,
 2786,
 2798,
 2802,
 2870,
 2875,
 2910,
 2912,
 2932,
 2933,
 2934,
 2935,
 2936,
 ...]

In [171]:
at_notnaS = at_notna['At_User'].apply(pd.Series)
at_notnaS

                    0       1    2    3    4    5    6
7                Akoi     NaN  NaN  NaN  NaN  NaN  NaN
30                 原神  微博抽奖平台  NaN  NaN  NaN  NaN  NaN
32             _恭弥大人_     NaN  NaN  NaN  NaN  NaN  NaN
33    b1gcatttttttttt     NaN  NaN  NaN  NaN  NaN  NaN
35               相生栗子     NaN  NaN  NaN  NaN  NaN  NaN
...               ...     ...  ...  ...  ...  ...  ...
3159            Rusi_     NaN  NaN  NaN  NaN  NaN  NaN
3200         Rioshady     NaN  NaN  NaN  NaN  NaN  NaN
3558     云玩家FlameBeam     NaN  NaN  NaN  NaN  NaN  NaN
3576        任天堂香港有限公司     NaN  NaN  NaN  NaN  NaN  NaN
3732            AI娘爱酱     NaN  NaN  NaN  NaN  NaN  NaN

[1009 rows x 7 columns]

In [172]:
h_graph = pd.concat([h_graph, at_notnaS], axis=1)
h_graph

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,0,1,2,3,4,5,6
0,0,4915861950828535,2023-06-23 18:31:24+08:00,7752387333,祎只狸猫,考古,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4910942133158267,2023-06-10 04:41:48+08:00,7604058796,邮一棵草莓i,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,4862811883439433,2023-01-28 09:09:22+08:00,7577283965,kmimg7,真不知道迅哥给评论区投了多少米？[允悲][doge],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4862705678417948,2023-01-28 02:07:20+08:00,7476902376,小祀弟弟吖,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4858911816944130,2023-01-17 14:51:54+08:00,7724649649,不知道如何评价,[吃瓜]现在是2023年 回来考古的点个赞,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3845,3837,4380988346320255,2019-06-08 19:14:39+08:00,5646067604,Aki是乌龟,你这可把爷整乐了，求求你了，一定要玩，不玩任天堂就倒闭了，塞尔达就不出续作了，我给您磕头了，...,NaN,NaN,怕事先改名shaw,NaN,...,4380879889748007.0,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3846,3838,4380987008064553,2019-06-08 19:09:20+08:00,6201564748,兔纸今天能摸到鱼吗,🐮🍺，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...,NaN,NaN,沉迷艾欧泽亚的菜菜啊,NaN,...,4380879889748007.0,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3847,3840,4380980682966825,2019-06-08 18:44:12+08:00,6201564748,兔纸今天能摸到鱼吗,到我这条底下阴阳怪气啥？觉得抄袭了去评论前面几条啊，去和米卫兵吵啊，我又没发什么过激言论。再...,NaN,NaN,沙奈朵的裙底到底有什么,NaN,...,4380879889748007.0,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3848,216,4415493412865414,2019-09-12 00:25:27+08:00,6530036372,淐馮,唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...,215.0,6940897092.0,元首的胖次00658,4404535403395100.0,...,4404535403395100.0,6940897092.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3849,218,4407171623915479,2019-08-20 01:17:39+08:00,7087027730,云夜悠长,国产游戏的废土时代就此降临[笑而不语],217.0,6829123837.0,万里的追寻者41043,4404499705840280.0,...,4404499705840280.0,6829123837.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

重命名@有关的列名，使数据集更加可读

Rename the related column names to make the dataset more readable

In [173]:
at_colName = {
    0: 'At_U1',
    1: 'At_U2',
    2: 'At_U3',
    3: 'At_U4',
    4: 'At_U5',
    5: 'At_U6',
    6: 'At_U7'}

h_graph.rename(columns = at_colName, inplace=True)
h_graph

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
0,0,4915861950828535,2023-06-23 18:31:24+08:00,7752387333,祎只狸猫,考古,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4910942133158267,2023-06-10 04:41:48+08:00,7604058796,邮一棵草莓i,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,4862811883439433,2023-01-28 09:09:22+08:00,7577283965,kmimg7,真不知道迅哥给评论区投了多少米？[允悲][doge],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4862705678417948,2023-01-28 02:07:20+08:00,7476902376,小祀弟弟吖,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4858911816944130,2023-01-17 14:51:54+08:00,7724649649,不知道如何评价,[吃瓜]现在是2023年 回来考古的点个赞,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3845,3837,4380988346320255,2019-06-08 19:14:39+08:00,5646067604,Aki是乌龟,你这可把爷整乐了，求求你了，一定要玩，不玩任天堂就倒闭了，塞尔达就不出续作了，我给您磕头了，...,NaN,NaN,怕事先改名shaw,NaN,...,4380879889748007.0,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3846,3838,4380987008064553,2019-06-08 19:09:20+08:00,6201564748,兔纸今天能摸到鱼吗,🐮🍺，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...,NaN,NaN,沉迷艾欧泽亚的菜菜啊,NaN,...,4380879889748007.0,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3847,3840,4380980682966825,2019-06-08 18:44:12+08:00,6201564748,兔纸今天能摸到鱼吗,到我这条底下阴阳怪气啥？觉得抄袭了去评论前面几条啊，去和米卫兵吵啊，我又没发什么过激言论。再...,NaN,NaN,沙奈朵的裙底到底有什么,NaN,...,4380879889748007.0,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3848,216,4415493412865414,2019-09-12 00:25:27+08:00,6530036372,淐馮,唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...,215.0,6940897092.0,元首的胖次00658,4404535403395100.0,...,4404535403395100.0,6940897092.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3849,218,4407171623915479,2019-08-20 01:17:39+08:00,7087027730,云夜悠长,国产游戏的废土时代就此降临[笑而不语],217.0,6829123837.0,万里的追寻者41043,4404499705840280.0,...,4404499705840280.0,6829123837.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3.4 后续处理2：移除@username，处理转发/Subsequent processing 2: remove "@username", and handle retweets

数据集中存在转发行为（即：“...text 1...//@username: ...text2...”），需要仔细检查并合理的处理<br>
对于包含了@username的文本，我们将移除@username，保留剩下的文本（如：“...text 1... @username” -> “...text 1...”）

There are some retweets in the dataset (e.g., "...text 1...//@username: ...text2..."). We should check the dataset and handle such records appropriately<br>
Regarding texts including "@username", we will remove "@username" and keep the remaining texts (e.g., "...text 1... @username" -> "...text 1...")

### 3.4.1 处理转发/Handle retweet
at1_set和at1_Idx来自Section 3.3.2 (2)

at1_set and at1_Idx are from Section 3.3.2 (2)

In [174]:
at1_set

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,T_Time,T_Comment,Floor_Idx,Floor_CommID,Floor_UserID,At_User
562,860,4385957564129314,2019-06-22 12:20:33+08:00,3914447813,老老老老老那啊,你们是真不要脸了，哪怕改一改也行啊，复制粘贴不太好吧弟弟//@我再也不想写代码了 :你们真的...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[我再也不想写代码了]
912,1239,4383085795509573,2019-06-14 14:09:10+08:00,6449314474,十香Princess2018,//@糖醋SAO排骨:,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[糖醋SAO排骨:]
929,1260,4383059581044564,2019-06-14 12:25:00+08:00,5264335436,忧鱼与熊掌,@襟上花r 琪亚娜 http://t.cn/AiNhbK5k,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[襟上花r]
1073,1418,4382090839463454,2019-06-11 20:15:33+08:00,2482877025,昊哥昊哥耗,真实//@花盆栽柳树谁也拦不住:国内厂商总以为玩家是傻子，东抄抄西抄抄就能出来骗钱[微笑]然...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[花盆栽柳树谁也拦不住:国内厂商总以为玩家是傻子，东抄抄西抄抄就能出来骗钱[微笑]然而事实是...
1088,1465,4382003786816490,2019-06-11 14:29:39+08:00,2796207394,不抽烟CHIRS,#原神# ▶序章PV：捕风的异乡人◀ 维系者正在死去，创造者尚未到来。 但世界不会再度灼烧，...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,"[原神, 微博抽奖平台, kevenhu]"
1316,1702,4381267762552372,2019-06-09 13:44:56+08:00,1740544170,不爱发博王左军,@不爱写字王右军 //@游研社: 米哈游新作《原神》放出了新预告,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,"[不爱写字王右军, 游研社:]"
1396,1786,4381190587010404,2019-06-09 08:38:16+08:00,1093773890,Luciferbear,@只为等待your PS4 PRO http://t.cn/AiC5X41g,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[只为等待your]
1655,2109,4380996277150017,2019-06-08 19:46:10+08:00,3218789155,天雷牙皇,//@游研社: 米哈游新作《原神》放出了新预告,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[游研社:]
2075,2779,4380924198016900,2019-06-08 14:59:45+08:00,1765337557,DDDDDlno,边抄边加了很多新的，光看pv还是很舒服的。希望能讲好自己的故事。//@游民星空: 米哈游新作...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,[游民星空:]
2265,3149,4380897346334849,2019-06-08 13:13:03+08:00,5846473488,幸运的血玫瑰男爵,@Mr_陈家铧_924_106 @神座出流_ //@游侠网: 来了来了[并不简单][并不简单],NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,"[Mr_陈家铧_924_106, 神座出流_, 游侠网:]"
2415,3779,4380883211537085,2019-06-08 12:16:52+08:00,1879393202,寒天黑糖,好可爱的小男孩！！！！wsl//@半透明黑桶: 看！是PV！[泪]@寒天黑糖,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,"[半透明黑桶:, 寒天黑糖]"
2985,2463,4401199036072542,2019-08-03 13:44:43+08:00,6346952543,Tyonosuke,@不吃生肉也不重名: 米卫兵厉害的很，他们的逻辑是没被告=没抄袭，喷原神=喷国产游戏=日精美...,NaN,6632412252.0,CHANNEER,NaN,NaT,NaN,2460.0,4380945396171132.0,3558197517.0,[不吃生肉也不重名:]
2998,2538,4426697744992424,2019-10-12 22:27:29+08:00,7174927520,菠萝198608,@error1980: 育碧也出了个“塞尔达画风”的游戏，各位过去喷一下以示公正？,2531.0,5671232161.0,千帆幻尽,4380935199496995.0,2019-06-08 15:43:28+08:00,国内厂商总以为玩家是傻子，东抄抄西抄抄就能出来骗钱[微笑]然而事实是，国内很大一部分玩家确实...,2531.0,4380935199496995.0,5671232161.0,[error1980:]
3084,2653,4404220436706589,2019-08-11 21:50:41+08:00,5409063390,吾乃是中二病患者_369,"@独孤剑萧萧: “塞尔达120神庙全通,明天cj我就不去了 ，怕认错展台”[吃瓜][吃瓜][吃瓜]",2642.0,1691660281.0,我爱开封菜,4380932033640474.0,2019-06-08 15:30:53+08:00,米哈游，劝你们别游戏还没出就把自己搞臭了，对你们一点好处都没有，好自为之,2642.0,4380932033640474.0,1691660281.0,[独孤剑萧萧:]

以及他们的DataFrame idx (同样来自于Section 3.3.2 (2))
And their DataFrame Index (also obtained from Section 3.3.2 (2))

In [175]:
at1_Idx

[562,
 912,
 929,
 1073,
 1088,
 1316,
 1396,
 1655,
 2075,
 2265,
 2415,
 2985,
 2998,
 3084]

In [176]:
h_graph[h_graph['F_Comment'].str.contains('//@')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
562,860,4385957564129314,2019-06-22 12:20:33+08:00,3914447813,老老老老老那啊,你们是真不要脸了，哪怕改一改也行啊，复制粘贴不太好吧弟弟//@我再也不想写代码了 :你们真的...,NaN,NaN,NaN,NaN,...,NaN,NaN,[我再也不想写代码了],我再也不想写代码了,NaN,NaN,NaN,NaN,NaN,NaN
912,1239,4383085795509573,2019-06-14 14:09:10+08:00,6449314474,十香Princess2018,//@糖醋SAO排骨:,NaN,NaN,NaN,NaN,...,NaN,NaN,[糖醋SAO排骨],糖醋SAO排骨,NaN,NaN,NaN,NaN,NaN,NaN
1073,1418,4382090839463454,2019-06-11 20:15:33+08:00,2482877025,昊哥昊哥耗,真实//@花盆栽柳树谁也拦不住:国内厂商总以为玩家是傻子，东抄抄西抄抄就能出来骗钱[微笑]然...,NaN,NaN,NaN,NaN,...,NaN,NaN,[花盆栽柳树谁也拦不住],花盆栽柳树谁也拦不住,NaN,NaN,NaN,NaN,NaN,NaN
1316,1702,4381267762552372,2019-06-09 13:44:56+08:00,1740544170,不爱发博王左军,@不爱写字王右军 //@游研社: 米哈游新作《原神》放出了新预告,NaN,NaN,NaN,NaN,...,NaN,NaN,"[不爱写字王右军, 游研社]",不爱写字王右军,游研社,NaN,NaN,NaN,NaN,NaN
1655,2109,4380996277150017,2019-06-08 19:46:10+08:00,3218789155,天雷牙皇,//@游研社: 米哈游新作《原神》放出了新预告,NaN,NaN,NaN,NaN,...,NaN,NaN,[游研社],游研社,NaN,NaN,NaN,NaN,NaN,NaN
2075,2779,4380924198016900,2019-06-08 14:59:45+08:00,1765337557,DDDDDlno,边抄边加了很多新的，光看pv还是很舒服的。希望能讲好自己的故事。//@游民星空: 米哈游新作...,NaN,NaN,NaN,NaN,...,NaN,NaN,[游民星空],游民星空,NaN,NaN,NaN,NaN,NaN,NaN
2265,3149,4380897346334849,2019-06-08 13:13:03+08:00,5846473488,幸运的血玫瑰男爵,@Mr_陈家铧_924_106 @神座出流_ //@游侠网: 来了来了[并不简单][并不简单],NaN,NaN,NaN,NaN,...,NaN,NaN,"[Mr_陈家铧_924_106, 神座出流_, 游侠网]",Mr_陈家铧_924_106,神座出流_,游侠网,NaN,NaN,NaN,NaN
2415,3779,4380883211537085,2019-06-08 12:16:52+08:00,1879393202,寒天黑糖,好可爱的小男孩！！！！wsl//@半透明黑桶: 看！是PV！[泪]@寒天黑糖,NaN,NaN,NaN,NaN,...,NaN,NaN,"[半透明黑桶, 寒天黑糖]",半透明黑桶,寒天黑糖,NaN,NaN,NaN,NaN,NaN

经过调查发现，游研社、游民星空和游侠网这些都是大v号（即，经过微博认证、具有一定影响力的账户，一般多为自媒体）。下面是这3个账户出现在F_Comment里的每条记录的DataFrame索引
- 游研社：idx 1316 1655
- 游民星空：idx 2075
- 游侠网：idx 2265
<br>我们可以发现，这3个账户均不存在于用户数据库里

After exploration, "游研社", "游民星空" and "游侠网" are those verified and influential accounts on Weibo. We list the DataFrame index below for each record with these accounts in F_Comment
- 游研社：idx 1316 1655
- 游民星空：idx 2075
- 游侠网：idx 2265
<br>We can find that, all of these 3 accounts are not in our user database

In [177]:
user_data[user_data['UserName']=='游研社']

Empty DataFrame
Columns: [UserID, FirstIndex, IndexList, UserName, TotalComment, Comment, Reply, LikeCount, Province, ProvinceCode, Region, UserLocation, Description, UserDescription, DescriClean, DescriptionLen, SpecialChar, UserGender, UserFan, UserFollow, UserWeibo, UserVerified, LoyalFan, VipRank]
Index: []

[0 rows x 24 columns]

In [178]:
user_data[user_data['UserName']=='游民星空']

Empty DataFrame
Columns: [UserID, FirstIndex, IndexList, UserName, TotalComment, Comment, Reply, LikeCount, Province, ProvinceCode, Region, UserLocation, Description, UserDescription, DescriClean, DescriptionLen, SpecialChar, UserGender, UserFan, UserFollow, UserWeibo, UserVerified, LoyalFan, VipRank]
Index: []

[0 rows x 24 columns]

In [179]:
user_data[user_data['UserName']=='游侠网']

Empty DataFrame
Columns: [UserID, FirstIndex, IndexList, UserName, TotalComment, Comment, Reply, LikeCount, Province, ProvinceCode, Region, UserLocation, Description, UserDescription, DescriClean, DescriptionLen, SpecialChar, UserGender, UserFan, UserFollow, UserWeibo, UserVerified, LoyalFan, VipRank]
Index: []

[0 rows x 24 columns]

查看微博也可以发现，这3个账户仅转发了目标博文，并没有在评论区留下任何评论。作为具有影响力的自媒体，他们的作用在于通过转发来扩散信息、宣传目标博文，并不涉及有游戏相关的讨论。
<br>因此，这3类账户不应当出现在用户互动关系网里，即：我们要从At_User里移除这3类账户

Chekcing details about this target post on Weibo also reveals that these 3 accounts only retweeted the target post and didn't leave any comments in the comment section. As influential self-medias, they are only responsible for information diffusion and promoting the target post via retweeting. They didn't engage in any game-related discussions.
<br>Therefore, all of these 3 accounts should not appear in At_User: we need to remove them from At_User.

至于其他几条转发行为，很明显都是对其他用户（而非自媒体）的转发进行转发；且都在讨论与游戏有关的内容。
<br>作为原始转发人，如下面例子中的“我再也不想写代码了”用户，它的原始文本“你们真的不怕任天堂告吗……有些地方完全一模一样[疑问]”就是对目标博文的转发：因为用户数据库并未包含该用户的信息
<br>这一类用户（即“我再也不想写代码了”）的文本可以被视为一条新的记录，并保存到我们的数据集里，作为From的用户

Regarding other retweets in this dataset, it is clear that are all retweets of retweets from other users (not self-media); They also discussed game-related content
<br>As an original retweeted, such as the user "我再也不想写代码了" in the example below, his/her originial text "你们真的不怕任天堂告吗……有些地方完全一模一样[疑问]" is a retweet for the target post: there is no information about this user in our user database `user_data`

In [180]:
h_graph.loc[562,'F_Comment']

'你们是真不要脸了，哪怕改一改也行啊，复制粘贴不太好吧弟弟//@我再也不想写代码了 :你们真的不怕任天堂告吗……有些地方完全一模一样[疑问]'

In [181]:
user_data[user_data['UserName']=='我再也不想写代码了']

Empty DataFrame
Columns: [UserID, FirstIndex, IndexList, UserName, TotalComment, Comment, Reply, LikeCount, Province, ProvinceCode, Region, UserLocation, Description, UserDescription, DescriClean, DescriptionLen, SpecialChar, UserGender, UserFan, UserFollow, UserWeibo, UserVerified, LoyalFan, VipRank]
Index: []

[0 rows x 24 columns]

In [182]:
h_graph.loc[1073,'F_Comment']

'真实//@花盆栽柳树谁也拦不住:国内厂商总以为玩家是傻子，东抄抄西抄抄就能出来骗钱[微笑]然而事实是，国内很大一部分玩家确实是傻子[可爱]'

In [183]:
user_data[user_data['UserName']=='花盆栽柳树谁也拦不住']

Empty DataFrame
Columns: [UserID, FirstIndex, IndexList, UserName, TotalComment, Comment, Reply, LikeCount, Province, ProvinceCode, Region, UserLocation, Description, UserDescription, DescriClean, DescriptionLen, SpecialChar, UserGender, UserFan, UserFollow, UserWeibo, UserVerified, LoyalFan, VipRank]
Index: []

[0 rows x 24 columns]

In [184]:
h_graph.loc[2415,'F_Comment']

'好可爱的小男孩！！！！wsl//@半透明黑桶: 看！是PV！[泪]@寒天黑糖'

In [185]:
user_data[user_data['UserName']=='半透明黑桶']

Empty DataFrame
Columns: [UserID, FirstIndex, IndexList, UserName, TotalComment, Comment, Reply, LikeCount, Province, ProvinceCode, Region, UserLocation, Description, UserDescription, DescriClean, DescriptionLen, SpecialChar, UserGender, UserFan, UserFollow, UserWeibo, UserVerified, LoyalFan, VipRank]
Index: []

[0 rows x 24 columns]

现在开始处理这2种转发

Handle these 2 types of retweets

#### (1) 删除自媒体的转发/Remove retweets from self-medias
操作
- 使用DataFrame索引辨识。索引分别为： 1316，1655，2075，2265
- 使用split，并提取“//@”前的部分

Operation
- Use DataFrame index to identify the records. Index: 1316, 1655, 2075, 2265
- User `split`, and then extract the text before "//@"

In [186]:
for i in [1316,1655,2075,2265]:
    h_graph.loc[i,'F_Comment'] = h_graph.loc[i,'F_Comment'].split('//@')[0]
h_graph.loc[[1316,1655,2075,2265],'F_Comment']

1316                           @不爱写字王右军
1655
2075    边抄边加了很多新的，光看pv还是很舒服的。希望能讲好自己的故事。
2265            @Mr_陈家铧_924_106  @神座出流_
Name: F_Comment, dtype: object

In [187]:
h_graph.loc[[1316,1655,2075,2265]]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
1316,1702,4381267762552372,2019-06-09 13:44:56+08:00,1740544170,不爱发博王左军,@不爱写字王右军,NaN,NaN,NaN,NaN,...,NaN,NaN,"[不爱写字王右军, 游研社]",不爱写字王右军,游研社,NaN,NaN,NaN,NaN,NaN
1655,2109,4380996277150017,2019-06-08 19:46:10+08:00,3218789155,天雷牙皇,,NaN,NaN,NaN,NaN,...,NaN,NaN,[游研社],游研社,NaN,NaN,NaN,NaN,NaN,NaN
2075,2779,4380924198016900,2019-06-08 14:59:45+08:00,1765337557,DDDDDlno,边抄边加了很多新的，光看pv还是很舒服的。希望能讲好自己的故事。,NaN,NaN,NaN,NaN,...,NaN,NaN,[游民星空],游民星空,NaN,NaN,NaN,NaN,NaN,NaN
2265,3149,4380897346334849,2019-06-08 13:13:03+08:00,5846473488,幸运的血玫瑰男爵,@Mr_陈家铧_924_106 @神座出流_,NaN,NaN,NaN,NaN,...,NaN,NaN,"[Mr_陈家铧_924_106, 神座出流_, 游侠网]",Mr_陈家铧_924_106,神座出流_,游侠网,NaN,NaN,NaN,NaN

手动处理

Manually handle

In [188]:
h_graph.loc[1316, 'At_U2'] = np.nan
h_graph.loc[[1655,2075], 'At_U1'] = np.nan
h_graph.loc[2265, 'At_U3'] = np.nan
h_graph.loc[[1316,1655,2075,2265]]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
1316,1702,4381267762552372,2019-06-09 13:44:56+08:00,1740544170,不爱发博王左军,@不爱写字王右军,NaN,NaN,NaN,NaN,...,NaN,NaN,"[不爱写字王右军, 游研社]",不爱写字王右军,NaN,NaN,NaN,NaN,NaN,NaN
1655,2109,4380996277150017,2019-06-08 19:46:10+08:00,3218789155,天雷牙皇,,NaN,NaN,NaN,NaN,...,NaN,NaN,[游研社],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2075,2779,4380924198016900,2019-06-08 14:59:45+08:00,1765337557,DDDDDlno,边抄边加了很多新的，光看pv还是很舒服的。希望能讲好自己的故事。,NaN,NaN,NaN,NaN,...,NaN,NaN,[游民星空],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2265,3149,4380897346334849,2019-06-08 13:13:03+08:00,5846473488,幸运的血玫瑰男爵,@Mr_陈家铧_924_106 @神座出流_,NaN,NaN,NaN,NaN,...,NaN,NaN,"[Mr_陈家铧_924_106, 神座出流_, 游侠网]",Mr_陈家铧_924_106,神座出流_,NaN,NaN,NaN,NaN,NaN

处理F_Comment

Deal with F_Comment

In [189]:
h_graph.loc[[1316,2265],'F_Comment'] = ''
h_graph.loc[[1316,1655,2075,2265]]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
1316,1702,4381267762552372,2019-06-09 13:44:56+08:00,1740544170,不爱发博王左军,,NaN,NaN,NaN,NaN,...,NaN,NaN,"[不爱写字王右军, 游研社]",不爱写字王右军,NaN,NaN,NaN,NaN,NaN,NaN
1655,2109,4380996277150017,2019-06-08 19:46:10+08:00,3218789155,天雷牙皇,,NaN,NaN,NaN,NaN,...,NaN,NaN,[游研社],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2075,2779,4380924198016900,2019-06-08 14:59:45+08:00,1765337557,DDDDDlno,边抄边加了很多新的，光看pv还是很舒服的。希望能讲好自己的故事。,NaN,NaN,NaN,NaN,...,NaN,NaN,[游民星空],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2265,3149,4380897346334849,2019-06-08 13:13:03+08:00,5846473488,幸运的血玫瑰男爵,,NaN,NaN,NaN,NaN,...,NaN,NaN,"[Mr_陈家铧_924_106, 神座出流_, 游侠网]",Mr_陈家铧_924_106,神座出流_,NaN,NaN,NaN,NaN,NaN

#### (2) 处理其他的转发/Deal with another type of retweets

这一类仅有4条数据

Only 4 records in this type

In [190]:
h_graph[h_graph['F_Comment'].str.contains('//@')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
562,860,4385957564129314,2019-06-22 12:20:33+08:00,3914447813,老老老老老那啊,你们是真不要脸了，哪怕改一改也行啊，复制粘贴不太好吧弟弟//@我再也不想写代码了 :你们真的...,NaN,NaN,NaN,NaN,...,NaN,NaN,[我再也不想写代码了],我再也不想写代码了,NaN,NaN,NaN,NaN,NaN,NaN
912,1239,4383085795509573,2019-06-14 14:09:10+08:00,6449314474,十香Princess2018,//@糖醋SAO排骨:,NaN,NaN,NaN,NaN,...,NaN,NaN,[糖醋SAO排骨],糖醋SAO排骨,NaN,NaN,NaN,NaN,NaN,NaN
1073,1418,4382090839463454,2019-06-11 20:15:33+08:00,2482877025,昊哥昊哥耗,真实//@花盆栽柳树谁也拦不住:国内厂商总以为玩家是傻子，东抄抄西抄抄就能出来骗钱[微笑]然...,NaN,NaN,NaN,NaN,...,NaN,NaN,[花盆栽柳树谁也拦不住],花盆栽柳树谁也拦不住,NaN,NaN,NaN,NaN,NaN,NaN
2415,3779,4380883211537085,2019-06-08 12:16:52+08:00,1879393202,寒天黑糖,好可爱的小男孩！！！！wsl//@半透明黑桶: 看！是PV！[泪]@寒天黑糖,NaN,NaN,NaN,NaN,...,NaN,NaN,"[半透明黑桶, 寒天黑糖]",半透明黑桶,寒天黑糖,NaN,NaN,NaN,NaN,NaN

使用F_Idx作为参考来处理
- 860 1239 1418 3779

Use F_Idx to handle the data

In [191]:
for f_idx in [860, 1239, 1418, 3779]:
    t_idx = list(h_graph[h_graph['F_Idx']==f_idx].index)[0] # 读取目标的索引/Read the index
    target_com = h_graph[h_graph['F_Idx']==f_idx]['F_Comment'][t_idx] # 提取目标的comment/Extract the comment/text
    # 提取对应的东西/Extract what we need
    f_comm = target_com.split('//@')[0] # 切出comment/Split and obtain the comment
    new_data = target_com.split('//@')[1]
    if i !=3779:
        split_p = ':'
    else:
        split_p = ': '
    new_user = new_data.split(split_p)[0] # username，新数据/Obtain the username
    new_comm = new_data.split(split_p)[1] # 新数据的comment/Obtain the corresponding texts

    '''先处理原始的数据/Hanlde the original data first'''
    h_graph.loc[t_idx,'F_Comment'] = f_comm
    h_graph.loc[t_idx,'T_UserName'] = new_user
    '''处理新数据/Then handle the new one'''
    insert_idx = t_idx + 0.5
    h_graph.loc[insert_idx, ['F_UserName','F_Comment']] = new_user,new_comm
    h_graph = h_graph.sort_index().reset_index(drop=True)

In [192]:
h_graph.loc[[562,563,913,914,1075,1076,2418,2419]]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
562,860.0,4385957564129314.0,2019-06-22 12:20:33+08:00,3914447813.0,老老老老老那啊,你们是真不要脸了，哪怕改一改也行啊，复制粘贴不太好吧弟弟,NaN,NaN,我再也不想写代码了,NaN,...,NaN,NaN,[我再也不想写代码了],我再也不想写代码了,NaN,NaN,NaN,NaN,NaN,NaN
563,NaN,NaN,NaT,NaN,我再也不想写代码了,你们真的不怕任天堂告吗……有些地方完全一模一样[疑问],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
913,1239.0,4383085795509573.0,2019-06-14 14:09:10+08:00,6449314474.0,十香Princess2018,,NaN,NaN,糖醋SAO排骨,NaN,...,NaN,NaN,[糖醋SAO排骨],糖醋SAO排骨,NaN,NaN,NaN,NaN,NaN,NaN
914,NaN,NaN,NaT,NaN,糖醋SAO排骨,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075,1418.0,4382090839463454.0,2019-06-11 20:15:33+08:00,2482877025.0,昊哥昊哥耗,真实,NaN,NaN,花盆栽柳树谁也拦不住,NaN,...,NaN,NaN,[花盆栽柳树谁也拦不住],花盆栽柳树谁也拦不住,NaN,NaN,NaN,NaN,NaN,NaN
1076,NaN,NaN,NaT,NaN,花盆栽柳树谁也拦不住,国内厂商总以为玩家是傻子，东抄抄西抄抄就能出来骗钱[微笑]然而事实是，国内很大一部分玩家确实...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2418,3779.0,4380883211537085.0,2019-06-08 12:16:52+08:00,1879393202.0,寒天黑糖,好可爱的小男孩！！！！wsl,NaN,NaN,半透明黑桶,NaN,...,NaN,NaN,"[半透明黑桶, 寒天黑糖]",半透明黑桶,寒天黑糖,NaN,NaN,NaN,NaN,NaN
2419,NaN,NaN,NaT,NaN,半透明黑桶,看！是PV！[泪]@寒天黑糖,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
len(h_graph)

3854

对DataFrame Index为2418和2419的手动处理

Manually handle records for DataFrame Index=2418 and 2419

In [194]:
h_graph.loc[2418,'At_U2'] = np.nan
h_graph.loc[2419,['At_User','At_U1']] = ['寒天黑糖'],'寒天黑糖'
h_graph.loc[[2418,2419]]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
2418,3779.0,4380883211537085.0,2019-06-08 12:16:52+08:00,1879393202.0,寒天黑糖,好可爱的小男孩！！！！wsl,NaN,NaN,半透明黑桶,NaN,...,NaN,NaN,"[半透明黑桶, 寒天黑糖]",半透明黑桶,NaN,NaN,NaN,NaN,NaN,NaN
2419,NaN,NaN,NaT,NaN,半透明黑桶,看！是PV！[泪]@寒天黑糖,NaN,NaN,NaN,NaN,...,NaN,NaN,[寒天黑糖],寒天黑糖,NaN,NaN,NaN,NaN,NaN,NaN

### 3.4.2 移除“@username”/Remove "@username"

转发的样式“//@username”已经在Section 3.4.1被彻底移除。

The retweeting pattern "//@username" has already been removed in Section 3.4.1

In [195]:
h_graph[h_graph['F_Comment'].str.contains('//@')]

Empty DataFrame
Columns: [F_Idx, F_CommID, F_Time, F_UserID, F_UserName, F_Comment, T_Idx, T_UserID, T_UserName, T_CommID, T_Time, T_Comment, Floor_Idx, Floor_CommID, Floor_UserID, At_User, At_U1, At_U2, At_U3, At_U4, At_U5, At_U6, At_U7]
Index: []

[0 rows x 23 columns]

因此可以批量处理数据集中的文本：删除F_Comment里所有“@username”的样式

Therefore we can remove all "@username" patterns in F_Comment

In [196]:
hetero_data = h_graph.copy()
hetero_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         3850 non-null   float64
 1   F_CommID      3850 non-null   float64
 2   F_Time        3850 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID      3850 non-null   float64
 4   F_UserName    3854 non-null   object
 5   F_Comment     3854 non-null   object
 6   T_Idx         441 non-null    float64
 7   T_UserID      907 non-null    float64
 8   T_UserName    1191 non-null   object
 9   T_CommID      441 non-null    float64
 10  T_Time        441 non-null    datetime64[ns, UTC+08:00]
 11  T_Comment     441 non-null    object
 12  Floor_Idx     1186 non-null   float64
 13  Floor_CommID  1186 non-null   float64
 14  Floor_UserID  1186 non-null   float64
 15  At_User       1010 non-null   object
 16  At_U1         1008 non-null   object
 17  At_U2         56 non-null     object
 18  At_U3         10 non-null     object
 19  At_U4         2 non-null      object
 20  At_U5         1 non-null      object
 21  At_U6         1 non-null      object
 22  At_U7         1 non-null      object
dtypes: datetime64[ns, UTC+08:00](2), float64(9), object(12)
memory usage: 692.6+ KB

对于包含了网页链接（如：htttp）的文本将在Section 3.4.3 进行处理

We will handle the texts with website link (e.g., http) in Section 3.4.3

In [197]:
hetero_data[(hetero_data['F_Comment'].str.contains('http')) & (hetero_data['F_Comment'].str.contains('@'))]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
931,1260.0,4383059581044564.0,2019-06-14 12:25:00+08:00,5264335436.0,忧鱼与熊掌,@襟上花r 琪亚娜 http://t.cn/AiNhbK5k,NaN,NaN,NaN,NaN,...,NaN,NaN,[襟上花r],襟上花r,NaN,NaN,NaN,NaN,NaN,NaN
1091,1465.0,4382003786816490.0,2019-06-11 14:29:39+08:00,2796207394.0,不抽烟CHIRS,#原神# ▶序章PV：捕风的异乡人◀ 维系者正在死去，创造者尚未到来。 但世界不会再度灼烧，...,NaN,NaN,NaN,NaN,...,NaN,NaN,"[原神, 微博抽奖平台, kevenhu]",原神,微博抽奖平台,kevenhu,NaN,NaN,NaN,NaN
1399,1786.0,4381190587010404.0,2019-06-09 08:38:16+08:00,1093773890.0,Luciferbear,@只为等待your PS4 PRO http://t.cn/AiC5X41g,NaN,NaN,NaN,NaN,...,NaN,NaN,[只为等待your],只为等待your,NaN,NaN,NaN,NaN,NaN,NaN

In [198]:
comment_data[(comment_data['CommentRaw'].str.contains('http'))]

,CommentID,CommentTime,RootID,CommentRaw,Comment,CommentLike,CommentReply,UserID,UserName,Province,...,Region,UserLocation,UserDescription,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
180,4408376185859132,2019-08-23 09:04:09+08:00,0,各位版权卫士在吗？http://t.cn/AiTZjEoV 去吧，记得告诉我结果。提醒一下，...,各位版权卫士在吗？网页链接 去吧，记得告诉我结果。提醒一下，举报是要实名制的，如果有虚报，是...,5,0,5516757915,四方羊尊,福建,...,泉州,福建 泉州,NaN,1,0,34,0,0,0,0
231,4403321353740036,2019-08-09 10:18:03+08:00,0,各位版权卫士在吗？http://t.cn/AiTZjEoV 去吧，记得告诉我结果。提醒一下，...,各位版权卫士在吗？网页链接 去吧，记得告诉我结果。提醒一下，举报是要实名制的，如果有虚报，是...,0,1,6604518742,创世界AP57017,吉林,...,吉林,吉林 吉林,东北电力大学18级学生,1,4,93,17,0,0,0
258,4402777024950108,2019-08-07 22:15:05+08:00,0,各位版权卫士在吗？http://t.cn/AiTZjEoV 去吧，记得告诉我结果。提醒一下，...,各位版权卫士在吗？网页链接 去吧，记得告诉我结果。提醒一下，举报是要实名制的，如果有虚报，是...,0,0,6935465869,迷眼鳴,广东,...,None,广东,NaN,1,6,169,67,0,0,0
392,4401297660466221,2019-08-03 20:16:37+08:00,0,图片评论 http://t.cn/AiYOOAVr,图片评论,6,7,3215896104,巧克力的铲s官,其他,...,None,其他,NaN,1,104,386,2289,0,0,0
403,4401222196411567,2019-08-03 15:16:44+08:00,0,图片评论 http://t.cn/AiYpIotC,图片评论,2,0,3666589980,惊讶ghia,其他,...,None,其他,纯洁善良且富有正义感的外衣。,1,39,110,12,0,0,0
406,4401164697167415,2019-08-03 11:28:16+08:00,0,图片评论 http://t.cn/AiYCjLyc,图片评论,3,0,1887405905,白圭君,浙江,...,杭州,浙江 杭州,自留地,1,588,886,5994,0,0,0
414,4401475629270288,2019-08-04 08:03:48+08:00,4401129423178684,回复@Rmbaci:？？？屁还是您老会放啊 http://t.cn/AiYjKUTh,回复@Rmbaci:？？？屁还是您老会放啊 查看图片,0,<NA>,2874387804,天不再晴朗Lk,江苏,...,常州,江苏 常州,NaN,0,53,473,259,0,0,0
479,4399351432156798,2019-07-29 11:23:00+08:00,0,http://t.cn/AijE84Wh,网页链接,0,1,6151921836,兔兔谈谈,广西,...,None,广西,一个叫山东烟台的看到一个两字高潮，让我笑死了,1,3,42,27,0,0,0
604,4387335388619657,2019-06-26 07:35:31+08:00,0,图片评论 http://t.cn/AipRbYB1,图片评论,1,0,5792044643,建议微博尽快倒闭,江西,...,None,江西,NaN,1,22,108,20,0,0,0
618,4387161064938438,2019-06-25 20:02:49+08:00,0,如果这个游戏活下来并且火了，那么以后中国的游戏就真的没救了。 http://t.cn/Aip...,如果这个游戏活下来并且火了，那么以后中国的游戏就真的没救了。,2,0,3991684702,travis-B,其他,...,None,其他,NaN,1,5,136,52,0,0,7
623,4387138608664531,2019-06-25 18:33:35+08:00,0,原神官方终于没装死了http://t.cn/AipYfYc5，我只搬运扩散这个帖子，怎么看，...,原神官方终于没装死了网页链接，我只搬运扩散这个帖子，怎么看，怎么理解那是你们的事情，美化自己...,0,0,6473448507,vocaloid丶亚北,山东,...,烟台,山东 烟台,NaN,1,8,79,16,0,0,0
692,4386418253630532,2019-06-23 18:51:10+08:00,0,图片评论 http://t.cn/AipxihGc,图片评论,0,0,2908847995,扶桑桑树,湖南,...,长沙,湖南 长沙,合法正太一枚～～,1,208,1443,4198,0,1,0
802,4386030491091779,2019-06-22 17:10:19+08:00,0,图片评论 http://t.cn/AipbDlly,图片评论,0,0,5655792659,yuradesu,湖南,...,长沙,湖南 长沙,有才无德,1,9,85,6,0,0,0
803,4386030385786704,2019-06-22 17:09:54+08:00,0,在?会抄就多抄点? http://t.cn/AipbDajQ,在?会抄就多抄点?,1,0,5655792659,yuradesu,湖南,...,长沙,湖南 长沙,有才无德,1,9,85,6,0,0,0
999,4385704844519026,2019-06-21 19:36:20+08:00,0,在？讲讲什么叫热情？ http://t.cn/AipwE3be,在？讲讲什么叫热情？,2,1,5509634356,摸鱼队长Arno11,其他,...,None,其他,。,1,35,172,63,0,0,0
1008,4385700243518204,2019-06-21 19:18:03+08:00,0,[嘻嘻] http://t.cn/AipwlhWV,,2,0,3987517907,涩涩bot,其他,...,None,其他,可以色色,1,131,814,9,0,0,0
1219,4383175184860271,2019-06-14 20:04:22+08:00,0,奖品名称：PS4 Pro、原初测试资格和派蒙抱枕1份*2人；抽奖时间：2019-06-15 ...,奖品名称：PS4 Pro、原初测试资格和派蒙抱枕1份*2人；抽奖时间：2019-06-15 ...,24,0,5581785513,微博抽奖平台,北京,...,None,北京,微博官方唯一抽奖工具--@微博抽奖平台,1,16048381,1321,7411,1,0,7
1260,4383059581044564,2019-06-14 12:25:00+08:00,0,@襟上花r 琪亚娜 http://t.cn/AiNhbK5k,@襟上花r 琪亚娜,1,0,5264335436,忧鱼与熊掌,江西,...,None,江西,人们被淹没在信息和无聊琐事的汪洋大海。,1,34,81,77,0,0,0
1268,4383044293021735,2019-06-14 11:24:15+08:00,0,奖品名称：PS4 Pro一台*2人；抽奖时间：2019-06-15 12:00:00；抽奖规...,奖品名称：PS4 Pro一台*2人；抽奖时间：2019-06-15 12:00:00；抽奖规...,48,9,5581785513,微博抽奖平台,北京,...,None,北京,微博官方唯一抽奖工具--@微博抽奖平台,1,16048381,1321,7411,1,0,7
1465,4382003786816490,2019-06-11 14:29:39+08:00,0,#原神# ▶序章PV：捕风的异乡人◀ 维系者正在死去，创造者尚未到来。 但世界不会再度灼烧，...,#原神# ▶序章PV：捕风的异乡人◀ 维系者正在死去，创造者尚未到来。 但世界不会再度灼烧，...,0,0,2796207394,不抽烟CHIRS,安徽,...,蚌埠,安徽 蚌埠,NaN,1,92,320,127,0,0,0
1742,4381225487315306,2019-06-09 10:56:57+08:00,0,图片评论 http://t.cn/AiCttfH8,图片评论,0,0,1984964223,数据线纳豆奶奶,广西,...,None,广西,世界很大我很小，过好幸福快乐的小日子,0,280,109,227,0,1,0
1750,4381218650928276,2019-06-09 10:29:47+08:00,0,评论让我相信了这是一场碰瓷营销嘻嘻 http://t.cn/AiCtzG4V,评论让我相信了这是一场碰瓷营销嘻嘻,0,0,3240013453,冰镇羊咩咩,海外,...,None,海外,平凡生活咸鱼心,1,297,384,3199,0,0,0
1786,4381190587010404,2019-06-09 08:38:16+08:00,0,@只为等待your PS4 PRO http://t.cn/AiC5X41g,@只为等待your PS4 PRO,0,0,1093773890,Luciferbear,其他,...,None,其他,爱动漫，爱音乐，爱电影，特别想看场演唱会,1,272,4944,6101,0,0,0
2132,4380989830755024,2019-06-08 19:20:33+08:00,0,真的 认真对待这个问题 http://t.cn/AiC4pq11,真的 认真对待这个问题,1,0,2452468194,狂乱贵狐狸狸,四川,...,成都,四川 成都,萝贝贝好吃,1,68,511,1896,0,0,0
2456,4380945693734609,2019-06-08 16:25:09+08:00,0,ff14迦楼罗是不是抄袭这个的，技能都一样[二哈] http://t.cn/AiCUCSek,ff14迦楼罗是不是抄袭这个的，技能都一样,1,0,3310071945,意义不明的洗白,其他,...,None,其他,这个用户很懒什么都没有留下&朋友不明觉厉自己依然很菜&一只洗白,1,328,291,2579,0,0,0
2484,4380943210698122,2019-06-08 16:15:17+08:00,0,这也太过分了，塞尔达被抄的底裤都没有了 http://t.cn/AiCUaNei,这也太过分了，塞尔达被抄的底裤都没有了,0,0,2209021737,飞哥皇冠瑜伽会所,内蒙古,...,None,内蒙古,你便是世界上的美好，永远闪耀,1,8,99,832,0,0,0
2511,4380938618148811,2019-06-08 15:57:02+08:00,0,安卓的没人权！！！！ http://t.cn/AiCUcuqU,安卓的没人权！！！！,0,0,6138289943,车里雅宾斯克研究所官方,海外,...,None,海外,雷楼，勿扰,0,9035,2041,3256,0,0,7
2597,4382228165686829,2019-06-12 05:21:15+08:00,4380935199496995,回复@error1980:. 咱们看看这些游戏动作. 分镜. 再来说话 可以吗？ http...,回复@error1980:. 咱们看看这些游戏动作. 分镜. 再来说话 可以吗？ 查看图片,0,<NA>,5712139507,笨蛋超神,河北,...,None,河北,恐龙妈妈提笔忘字,1,1347,455,406,0,0,6
2792,4380922218886125,2019-06-08 14:51:52+08:00,0,在？看看下一代塞尔达 http://t.cn/AiCyTPuC,在？看看下一代塞尔达,0,0,1633551984,间桐暴怒,四川,...,成都,四川 成都,少上微博，克制情绪,1,258,653,139,0,1,0
3012,4403851933657376,2019-08-10 21:26:22+08:00,4380899494009653,回复@GxxxFu_k:请，http://t.cn/AiTCLxU5,回复@GxxxFu_k:请，网页链接,0,<NA>,3280734025,银白色的咲墨,其他,...,None,其他,普通的小人物，微博现在就是用来看xzf还能有什么神奇操作的,1,19,38,16,0,0,0
3034,4387053254838169,2019-06-25 12:54:25+08:00,4380899494009653,回复@早上吃什么好:这里简单盘点了一些涉及抄袭的内容：http://t.cn/AipNKTvr,回复@早上吃什么好:这里简单盘点了一些涉及抄袭的内容：抄袭成风米哈游！国产想要生 原神必须死,0,<NA>,6578279612,任地域,湖北,...,武汉,湖北 武汉,单机游戏任意谈，实用软件、新潮玩意随性侃，还有精彩电影、ACG推荐——任地域 Just fo...,1,162648,85,10452,1,0,6
3089,4385647055574325,2019-06-21 15:46:42+08:00,4380899321559995,还有鬼泣 http://t.cn/AipZ4UBm,还有鬼泣 查看图片,1,<NA>,5414311273,抗压王兜兜,内蒙古,...,包头,内蒙古 包头,智障,1,43,7,10,0,0,0
3252,4403852910145374,2019-08-10 21:30:16+08:00,4380894087223331,回复@八百里分麾_下炙:抱歉，之前那个不好用了，给你补一个http://t.cn/AiTZjEoV,回复@八百里分麾_下炙:抱歉，之前那个不好用了，给你补一个网页链接,2,<NA>,3280734025,银白色的咲墨,其他,...,None,其他,普通的小人物，微博现在就是用来看xzf还能有什么神奇操作的,1,19,38,16,0,0,0
3262,4403419898904099,2019-08-09 16:49:37+08:00,4380894087223331,回复@八百里分麾_下炙:请，http://t.cn/AiTCLxU5,回复@八百里分麾_下炙:请，网页链接,1,<NA>,3280734025,银白色的咲墨,其他,...,None,其他,普通的小人物，微博现在就是用来看xzf还能有什么神奇操作的,1,19,38,16,0,0,0
3469,4380889632537378,2019-06-08 12:42:23+08:00,0,你们这一模一样连脸都不要了吗？甚至音乐和高潮部分简直就是照抄[摊手] http://t.cn...,你们这一模一样连脸都不要了吗？甚至音乐和高潮部分简直就是照抄,0,0,2595351507,耿鬼最可爱,其他,...,None,其他,最恨客观狗,0,132,253,8586,0,0,0
3603,4380988496499505,2019-06-08 19:15:15+08:00,4380885732287240,回复@Alyssa的糖果:抄袭 http://t.cn/AiC4CTa4,回复@Alyssa的糖果:抄袭 查看图片,0,<NA>,2292972132,路向南MR,湖南,...,None,湖南,不再讲道理,1,683,166,5742,0,0,5
3826,4381362440076392,2019-06-09 20:01:10+08:00,4380879889748007,回复@沙奈朵的裙底到底有什么:骂人不用回两条的嗷[二哈]评论里没看到你道歉误伤了说声sorr...,回复@沙奈朵的裙底到底有什么:骂人不用回两条的嗷评论里没看到你道歉误伤了说声sorry大家都...,0,<NA>,2688721372,山楂制品琪琪子,其他,...,None,其他,叫琪子就好(ง •̀_•́)ง+广州＊平时11-1在b站播播@琪琪UwU♡,0,7644,651,9918,0,0,0

#### (1) 移除@username/Remove "@username"

In [199]:
def remove_un(text):
    cleaned_text = re.sub(r'@([^\s@]+)',' ', text)
    # @([^\s@]+)
    # @[\w]+
    # cleaned_text = cleaned_text.replace(' ','')
    return cleaned_text

In [200]:
hetero_data['F_Comment'] = hetero_data['F_Comment'].apply(remove_un)

In [201]:
hetero_data[hetero_data['F_Comment'].str.contains('@')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
1091,1465.0,4382003786816490.0,2019-06-11 14:29:39+08:00,2796207394.0,不抽烟CHIRS,#原神# ▶序章PV：捕风的异乡人◀ 维系者正在死去，创造者尚未到来。 但世界不会再度灼烧，...,NaN,NaN,NaN,NaN,...,NaN,NaN,"[原神, 微博抽奖平台, kevenhu]",原神,微博抽奖平台,kevenhu,NaN,NaN,NaN,NaN
1178,1554.0,4381667529532503.0,2019-06-10 16:13:29+08:00,5504761484.0,心镜D,@,NaN,NaN,NaN,NaN,...,NaN,NaN,[一碗肉很多的皮蛋瘦肉粥],一碗肉很多的皮蛋瘦肉粥,NaN,NaN,NaN,NaN,NaN,NaN

DataFrame Index=1178的用户因为文本里带有2个@被错误的处理了，将在下一个部分对其进行修复

The user with DataFrame Index=1178 was mishandled for having 2 "@" in his/her text. We will fix this in the next section

In [202]:
h_graph.loc[1178]

F_Idx                              1554.0
F_CommID               4381667529532503.0
F_Time          2019-06-10 16:13:29+08:00
F_UserID                     5504761484.0
F_UserName                            心镜D
F_Comment                   @@一碗肉很多的皮蛋瘦肉粥
T_Idx                                 NaN
T_UserID                              NaN
T_UserName                            NaN
T_CommID                              NaN
T_Time                                NaT
T_Comment                             NaN
Floor_Idx                             NaN
Floor_CommID                          NaN
Floor_UserID                          NaN
At_User                     [一碗肉很多的皮蛋瘦肉粥]
At_U1                         一碗肉很多的皮蛋瘦肉粥
At_U2                                 NaN
At_U3                                 NaN
At_U4                                 NaN
At_U5                                 NaN
At_U6                                 NaN
At_U7                                 NaN
Name: 1178, dtype: object

#### (2) 修正被误操作的特殊案例/Fixing the special cases mishandled

第一个特殊案例已在Section 3.3.2 (1) 中讨论过

The first special case listed below was discussed in the Section 3.3.2 (1)

In [203]:
h_graph[h_graph['F_Idx']==1139]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
816,1139.0,4384309676961753.0,2019-06-17 23:12:25+08:00,2208067411.0,GanChongren,@原神 @官方，我真是小机灵鬼[笑而不语],NaN,NaN,NaN,NaN,...,NaN,NaN,[原神],原神,NaN,NaN,NaN,NaN,NaN,NaN

In [204]:
hetero_data[hetero_data['F_Idx']==1139]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
816,1139.0,4384309676961753.0,2019-06-17 23:12:25+08:00,2208067411.0,GanChongren,,NaN,NaN,NaN,NaN,...,NaN,NaN,[原神],原神,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
hetero_data.loc[816, 'F_Comment'] = '@官方，我真是小机灵鬼[笑而不语]'
hetero_data[hetero_data['F_Idx']==1139]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
816,1139.0,4384309676961753.0,2019-06-17 23:12:25+08:00,2208067411.0,GanChongren,@官方，我真是小机灵鬼[笑而不语],NaN,NaN,NaN,NaN,...,NaN,NaN,[原神],原神,NaN,NaN,NaN,NaN,NaN,NaN

第二个特殊案例是DataFrame index=1091的用户。其文本“#原神# ▶序章PV：捕风的异乡人◀ 维系者正在死去，创造者尚未到来。 但世界不会再度灼烧，因为你将登上「神」之座。  #转发抽奖#关注  并转发@ 一位好友，我们将通过  送出以下奖品：         ※一等奖： PS4 Pro （2名）         ※二等奖： http://t.cn/AiCLxa7X ”是由微博抽奖平台发布的抽奖信息，因此移除即可
<br>值得注意的是，“中中中”是用户自己的评论，因此应当被保留

The second special case is the user with DataFrame index=1091. The "#原神# ▶序章PV：捕风的异乡人◀ 维系者正在死去，创造者尚未到来。 但世界不会再度灼烧，因为你将登上「神」之座。  #转发抽奖#关注  并转发@ 一位好友，我们将通过  送出以下奖品：         ※一等奖： PS4 Pro （2名）         ※二等奖： http://t.cn/AiCLxa7X" in his/her texts is same as the content posted by the official Weibo lottery, removing it will be appropriate
<br>It is worth noting that "中中中" is the user's own comment and should be kept

In [206]:
hetero_data.loc[1091, 'F_Comment']

'#原神# ▶序章PV：捕风的异乡人◀ 维系者正在死去，创造者尚未到来。 但世界不会再度灼烧，因为你将登上「神」之座。  #转发抽奖#关注  并转发@ 一位好友，我们将通过  送出以下奖品：         ※一等奖： PS4 Pro （2名）         ※二等奖： http://t.cn/AiCLxa7X    中中中'

In [207]:
hetero_data.loc[1091, 'F_Comment'] = '中中中'
hetero_data.loc[1091, 'F_Comment']

'中中中'

最后一个是DataFrame index=1091的用户，这在Section 3.4.2 (1)里讨论过了。因为这个用户仅仅是@了他的朋友“一碗肉很多的皮蛋瘦肉粥”而没有留下任何文本，直接让这名用户的F_Comment为空即可

The final one is the user with DataFrame index=1091, which discussed in the previous Section 3.4.2 (1). Since this user only mentioned his/her friend "一碗肉很多的皮蛋瘦肉粥" without any texts, we set the value for F_Comment of this user as null

In [208]:
hetero_data.loc[1178, 'F_Comment']

'@ '

In [209]:
hetero_data.loc[1178, 'F_Comment'] = ''
hetero_data.loc[1178, 'F_Comment']

''

确认：我们的操作成功的移除了所有带有@的样式

We can confirm that all patterns with @ were successfully removed

In [210]:
hetero_data[(hetero_data['At_User'].notna()) & (hetero_data['F_Comment'].str.contains('@'))]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
816,1139.0,4384309676961753.0,2019-06-17 23:12:25+08:00,2208067411.0,GanChongren,@官方，我真是小机灵鬼[笑而不语],NaN,NaN,NaN,NaN,...,NaN,NaN,[原神],原神,NaN,NaN,NaN,NaN,NaN,NaN

### 3.4.3 移除网页链接 (如：http)/Remove the website link (e.g., http)

In [211]:
hetero_data[hetero_data['F_Comment'].str.contains('http')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
110,180.0,4408376185859132.0,2019-08-23 09:04:09+08:00,5516757915.0,四方羊尊,各位版权卫士在吗？http://t.cn/AiTZjEoV 去吧，记得告诉我结果。提醒一下，...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,258.0,4402777024950108.0,2019-08-07 22:15:05+08:00,6935465869.0,迷眼鳴,各位版权卫士在吗？http://t.cn/AiTZjEoV 去吧，记得告诉我结果。提醒一下，...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,403.0,4401222196411567.0,2019-08-03 15:16:44+08:00,3666589980.0,惊讶ghia,图片评论 http://t.cn/AiYpIotC,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,406.0,4401164697167415.0,2019-08-03 11:28:16+08:00,1887405905.0,白圭君,图片评论 http://t.cn/AiYCjLyc,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,604.0,4387335388619657.0,2019-06-26 07:35:31+08:00,5792044643.0,建议微博尽快倒闭,图片评论 http://t.cn/AipRbYB1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,618.0,4387161064938438.0,2019-06-25 20:02:49+08:00,3991684702.0,travis-B,如果这个游戏活下来并且火了，那么以后中国的游戏就真的没救了。 http://t.cn/Aip...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,623.0,4387138608664531.0,2019-06-25 18:33:35+08:00,6473448507.0,vocaloid丶亚北,原神官方终于没装死了http://t.cn/AipYfYc5，我只搬运扩散这个帖子，怎么看，...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,692.0,4386418253630532.0,2019-06-23 18:51:10+08:00,2908847995.0,扶桑桑树,图片评论 http://t.cn/AipxihGc,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,802.0,4386030491091779.0,2019-06-22 17:10:19+08:00,5655792659.0,yuradesu,图片评论 http://t.cn/AipbDlly,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,803.0,4386030385786704.0,2019-06-22 17:09:54+08:00,5655792659.0,yuradesu,在?会抄就多抄点? http://t.cn/AipbDajQ,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,1008.0,4385700243518204.0,2019-06-21 19:18:03+08:00,3987517907.0,涩涩bot,[嘻嘻] http://t.cn/AipwlhWV,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893,1219.0,4383175184860271.0,2019-06-14 20:04:22+08:00,5581785513.0,微博抽奖平台,奖品名称：PS4 Pro、原初测试资格和派蒙抱枕1份*2人；抽奖时间：2019-06-15 ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
931,1260.0,4383059581044564.0,2019-06-14 12:25:00+08:00,5264335436.0,忧鱼与熊掌,琪亚娜 http://t.cn/AiNhbK5k,NaN,NaN,NaN,NaN,...,NaN,NaN,[襟上花r],襟上花r,NaN,NaN,NaN,NaN,NaN,NaN
1358,1742.0,4381225487315306.0,2019-06-09 10:56:57+08:00,1984964223.0,数据线纳豆奶奶,图片评论 http://t.cn/AiCttfH8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1366,1750.0,4381218650928276.0,2019-06-09 10:29:47+08:00,3240013453.0,冰镇羊咩咩,评论让我相信了这是一场碰瓷营销嘻嘻 http://t.cn/AiCtzG4V,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1399,1786.0,4381190587010404.0,2019-06-09 08:38:16+08:00,1093773890.0,Luciferbear,PS4 PRO http://t.cn/AiC5X41g,NaN,NaN,NaN,NaN,...,NaN,NaN,[只为等待your],只为等待your,NaN,NaN,NaN,NaN,NaN,NaN
1673,2132.0,4380989830755024.0,2019-06-08 19:20:33+08:00,2452468194.0,狂乱贵狐狸狸,真的 认真对待这个问题 http://t.cn/AiC4pq11,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1940,2456.0,4380945693734609.0,2019-06-08 16:25:09+08:00,3310071945.0,意义不明的洗白,ff14迦楼罗是不是抄袭这个的，技能都一样[二哈] http://t.cn/AiCUCSek,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953,2484.0,4380943210698122.0,2019-06-08 16:15:17+08:00,2209021737.0,飞哥皇冠瑜伽会所,这也太过分了，塞尔达被抄的底裤都没有了 http://t.cn/AiCUaNei,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979,2511.0,4380938618148811.0,2019-06-08 15:57:02+08:00,6138289943.0,车里雅宾斯克研究所官方,安卓的没人权！！！！ http://t.cn/AiCUcuqU,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2091,2792.0,4380922218886125.0,2019-06-08 14:51:52+08:00,1633551984.0,间桐暴怒,在？看看下一代塞尔达 http://t.cn/AiCyTPuC,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2364,3469.0,4380889632537378.0,2019-06-08 12:42:23+08:00,2595351507.0,耿鬼最可爱,你们这一模一样连脸都不要了吗？甚至音乐和高潮部分简直就是照抄[摊手] http://t.cn...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2557,231.0,4403321353740036.0,2019-08-09 10:18:03+08:00,6604518742.0,创世界AP57017,各位版权卫士在吗？http://t.cn/AiTZjEoV 去吧，记得告诉我结果。提醒一下，...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2655,392.0,4401297660466221.0,2019-08-03 20:16:37+08:00,3215896104.0,巧克力的铲s官,图片评论 http://t.cn/AiYOOAVr,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2670,414.0,4401475629270288.0,2019-08-04 08:03:48+08:00,2874387804.0,天不再晴朗Lk,？？？屁还是您老会放啊 http://t.cn/AiYjKUTh,NaN,5139687829.0,Rmbaci,NaN,...,4401129423178684.0,2874387804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2694,479.0,4399351432156798.0,2019-07-29 11:23:00+08:00,6151921836.0,兔兔谈谈,http://t.cn/AijE84Wh,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2779,999.0,4385704844519026.0,2019-06-21 19:36:20+08:00,5509634356.0,摸鱼队长Arno11,在？讲讲什么叫热情？ http://t.cn/AipwE3be,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2794,1268.0,4383044293021735.0,2019-06-14 11:24:15+08:00,5581785513.0,微博抽奖平台,奖品名称：PS4 Pro一台*2人；抽奖时间：2019-06-15 12:00:00；抽奖规...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3078,2597.0,4382228165686829.0,2019-06-12 05:21:15+08:00,5712139507.0,笨蛋超神,. 咱们看看这些游戏动作. 分镜. 再来说话 可以吗？ http://t.cn/AiCHyCuG,NaN,5356469720.0,error1980,NaN,...,4380935199496995.0,5671232161.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3246,3012.0,4403851933657376.0,2019-08-10 21:26:22+08:00,3280734025.0,银白色的咲墨,请，http://t.cn/AiTCLxU5,NaN,NaN,GxxxFu_k,NaN,...,4380899494009653.0,6578279612.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3266,3034.0,4387053254838169.0,2019-06-25 12:54:25+08:00,6578279612.0,任地域,这里简单盘点了一些涉及抄袭的内容：http://t.cn/AipNKTvr,NaN,5517700057.0,早上吃什么好,NaN,...,4380899494009653.0,6578279612.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3311,3089.0,4385647055574325.0,2019-06-21 15:46:42+08:00,5414311273.0,抗压王兜兜,还有鬼泣 http://t.cn/AipZ4UBm,3078.0,3517657051.0,三倍速的夏亚,4380899321559995.0,...,4380899321559995.0,3517657051.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3429,3252.0,4403852910145374.0,2019-08-10 21:30:16+08:00,3280734025.0,银白色的咲墨,抱歉，之前那个不好用了，给你补一个http://t.cn/AiTZjEoV,NaN,NaN,八百里分麾_下炙,NaN,...,4380894087223331.0,3086944075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3438,3262.0,4403419898904099.0,2019-08-09 16:49:37+08:00,3280734025.0,银白色的咲墨,请，http://t.cn/AiTCLxU5,NaN,NaN,八百里分麾_下炙,NaN,...,4380894087223331.0,3086944075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3671,3603.0,4380988496499505.0,2019-06-08 19:15:15+08:00,2292972132.0,路向南MR,抄袭 http://t.cn/AiC4CTa4,NaN,6116368506.0,Alyssa的糖果,NaN,...,4380885732287240.0,6500909470.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3842,3826.0,4381362440076392.0,2019-06-09 20:01:10+08:00,2688721372.0,山楂制品琪琪子,骂人不用回两条的嗷[二哈]评论里没看到你道歉误伤了说声sorry[二哈]大家都是愉快的网上冲...,NaN,NaN,沙奈朵的裙底到底有什么,NaN,...,4380879889748007.0,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [212]:
link_idx = list(hetero_data[hetero_data['F_Comment'].str.contains('http')].index)
link_idx

[110,
 149,
 202,
 205,
 356,
 370,
 375,
 440,
 527,
 528,
 690,
 893,
 931,
 1358,
 1366,
 1399,
 1673,
 1940,
 1953,
 1979,
 2091,
 2364,
 2557,
 2655,
 2670,
 2694,
 2779,
 2794,
 3078,
 3246,
 3266,
 3311,
 3429,
 3438,
 3671,
 3842]

In [213]:
def remove_link(text):
    link_pattern = r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
    clean_text = re.sub(link_pattern,'',text).replace(' ','')
    return clean_text

hetero_data.loc[link_idx,'F_Comment'] = hetero_data.loc[link_idx,'F_Comment'].apply(remove_link)

In [214]:
hetero_data.loc[link_idx]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
110,180.0,4408376185859132.0,2019-08-23 09:04:09+08:00,5516757915.0,四方羊尊,各位版权卫士在吗？去吧，记得告诉我结果。提醒一下，举报是要实名制的，如果有虚报，是要付法律责...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,258.0,4402777024950108.0,2019-08-07 22:15:05+08:00,6935465869.0,迷眼鳴,各位版权卫士在吗？去吧，记得告诉我结果。提醒一下，举报是要实名制的，如果有虚报，是要负法律责...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
202,403.0,4401222196411567.0,2019-08-03 15:16:44+08:00,3666589980.0,惊讶ghia,图片评论,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,406.0,4401164697167415.0,2019-08-03 11:28:16+08:00,1887405905.0,白圭君,图片评论,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,604.0,4387335388619657.0,2019-06-26 07:35:31+08:00,5792044643.0,建议微博尽快倒闭,图片评论,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,618.0,4387161064938438.0,2019-06-25 20:02:49+08:00,3991684702.0,travis-B,如果这个游戏活下来并且火了，那么以后中国的游戏就真的没救了。,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,623.0,4387138608664531.0,2019-06-25 18:33:35+08:00,6473448507.0,vocaloid丶亚北,原神官方终于没装死了，我只搬运扩散这个帖子，怎么看，怎么理解那是你们的事情，美化自己也好，觉...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,692.0,4386418253630532.0,2019-06-23 18:51:10+08:00,2908847995.0,扶桑桑树,图片评论,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,802.0,4386030491091779.0,2019-06-22 17:10:19+08:00,5655792659.0,yuradesu,图片评论,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
528,803.0,4386030385786704.0,2019-06-22 17:09:54+08:00,5655792659.0,yuradesu,在?会抄就多抄点?,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,1008.0,4385700243518204.0,2019-06-21 19:18:03+08:00,3987517907.0,涩涩bot,[嘻嘻],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893,1219.0,4383175184860271.0,2019-06-14 20:04:22+08:00,5581785513.0,微博抽奖平台,奖品名称：PS4Pro、原初测试资格和派蒙抱枕1份*2人；抽奖时间：2019-06-1512...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
931,1260.0,4383059581044564.0,2019-06-14 12:25:00+08:00,5264335436.0,忧鱼与熊掌,琪亚娜,NaN,NaN,NaN,NaN,...,NaN,NaN,[襟上花r],襟上花r,NaN,NaN,NaN,NaN,NaN,NaN
1358,1742.0,4381225487315306.0,2019-06-09 10:56:57+08:00,1984964223.0,数据线纳豆奶奶,图片评论,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1366,1750.0,4381218650928276.0,2019-06-09 10:29:47+08:00,3240013453.0,冰镇羊咩咩,评论让我相信了这是一场碰瓷营销嘻嘻,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1399,1786.0,4381190587010404.0,2019-06-09 08:38:16+08:00,1093773890.0,Luciferbear,PS4PRO,NaN,NaN,NaN,NaN,...,NaN,NaN,[只为等待your],只为等待your,NaN,NaN,NaN,NaN,NaN,NaN
1673,2132.0,4380989830755024.0,2019-06-08 19:20:33+08:00,2452468194.0,狂乱贵狐狸狸,真的认真对待这个问题,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1940,2456.0,4380945693734609.0,2019-06-08 16:25:09+08:00,3310071945.0,意义不明的洗白,ff14迦楼罗是不是抄袭这个的，技能都一样[二哈],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1953,2484.0,4380943210698122.0,2019-06-08 16:15:17+08:00,2209021737.0,飞哥皇冠瑜伽会所,这也太过分了，塞尔达被抄的底裤都没有了,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979,2511.0,4380938618148811.0,2019-06-08 15:57:02+08:00,6138289943.0,车里雅宾斯克研究所官方,安卓的没人权！！！！,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2091,2792.0,4380922218886125.0,2019-06-08 14:51:52+08:00,1633551984.0,间桐暴怒,在？看看下一代塞尔达,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2364,3469.0,4380889632537378.0,2019-06-08 12:42:23+08:00,2595351507.0,耿鬼最可爱,你们这一模一样连脸都不要了吗？甚至音乐和高潮部分简直就是照抄[摊手],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2557,231.0,4403321353740036.0,2019-08-09 10:18:03+08:00,6604518742.0,创世界AP57017,各位版权卫士在吗？去吧，记得告诉我结果。提醒一下，举报是要实名制的，如果有虚报，是要付法律责...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2655,392.0,4401297660466221.0,2019-08-03 20:16:37+08:00,3215896104.0,巧克力的铲s官,图片评论,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2670,414.0,4401475629270288.0,2019-08-04 08:03:48+08:00,2874387804.0,天不再晴朗Lk,？？？屁还是您老会放啊,NaN,5139687829.0,Rmbaci,NaN,...,4401129423178684.0,2874387804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2694,479.0,4399351432156798.0,2019-07-29 11:23:00+08:00,6151921836.0,兔兔谈谈,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2779,999.0,4385704844519026.0,2019-06-21 19:36:20+08:00,5509634356.0,摸鱼队长Arno11,在？讲讲什么叫热情？,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2794,1268.0,4383044293021735.0,2019-06-14 11:24:15+08:00,5581785513.0,微博抽奖平台,奖品名称：PS4Pro一台*2人；抽奖时间：2019-06-1512:00:00；抽奖规则：,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3078,2597.0,4382228165686829.0,2019-06-12 05:21:15+08:00,5712139507.0,笨蛋超神,.咱们看看这些游戏动作.分镜.再来说话可以吗？,NaN,5356469720.0,error1980,NaN,...,4380935199496995.0,5671232161.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3246,3012.0,4403851933657376.0,2019-08-10 21:26:22+08:00,3280734025.0,银白色的咲墨,请，,NaN,NaN,GxxxFu_k,NaN,...,4380899494009653.0,6578279612.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3266,3034.0,4387053254838169.0,2019-06-25 12:54:25+08:00,6578279612.0,任地域,这里简单盘点了一些涉及抄袭的内容：,NaN,5517700057.0,早上吃什么好,NaN,...,4380899494009653.0,6578279612.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3311,3089.0,4385647055574325.0,2019-06-21 15:46:42+08:00,5414311273.0,抗压王兜兜,还有鬼泣,3078.0,3517657051.0,三倍速的夏亚,4380899321559995.0,...,4380899321559995.0,3517657051.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3429,3252.0,4403852910145374.0,2019-08-10 21:30:16+08:00,3280734025.0,银白色的咲墨,抱歉，之前那个不好用了，给你补一个,NaN,NaN,八百里分麾_下炙,NaN,...,4380894087223331.0,3086944075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3438,3262.0,4403419898904099.0,2019-08-09 16:49:37+08:00,3280734025.0,银白色的咲墨,请，,NaN,NaN,八百里分麾_下炙,NaN,...,4380894087223331.0,3086944075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3671,3603.0,4380988496499505.0,2019-06-08 19:15:15+08:00,2292972132.0,路向南MR,抄袭,NaN,6116368506.0,Alyssa的糖果,NaN,...,4380885732287240.0,6500909470.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3842,3826.0,4381362440076392.0,2019-06-09 20:01:10+08:00,2688721372.0,山楂制品琪琪子,骂人不用回两条的嗷[二哈]评论里没看到你道歉误伤了说声sorry[二哈]大家都是愉快的网上冲...,NaN,NaN,沙奈朵的裙底到底有什么,NaN,...,4380879889748007.0,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3.5 后续处理3：解码emoji和网络用语/Decode emoji and Internet slangs

### 3.5.1 将emoji转换为中文编码/Transform each emoji to its Chinese code

In [215]:
hete_emoji = hetero_data.copy()
hete_emoji.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         3850 non-null   float64
 1   F_CommID      3850 non-null   float64
 2   F_Time        3850 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID      3850 non-null   float64
 4   F_UserName    3854 non-null   object
 5   F_Comment     3854 non-null   object
 6   T_Idx         441 non-null    float64
 7   T_UserID      907 non-null    float64
 8   T_UserName    1191 non-null   object
 9   T_CommID      441 non-null    float64
 10  T_Time        441 non-null    datetime64[ns, UTC+08:00]
 11  T_Comment     441 non-null    object
 12  Floor_Idx     1186 non-null   float64
 13  Floor_CommID  1186 non-null   float64
 14  Floor_UserID  1186 non-null   float64
 15  At_User       1010 non-null   object
 16  At_U1         1008 non-null   object
 17  At_U2         56 non-null     object
 18  At_U3         10 non-null     object
 19  At_U4         2 non-null      object
 20  At_U5         1 non-null      object
 21  At_U6         1 non-null      object
 22  At_U7         1 non-null      object
dtypes: datetime64[ns, UTC+08:00](2), float64(9), object(12)
memory usage: 692.6+ KB

一个包含了emoji文本（即 下条文本中的🐮🍺）的实例

An example about texts with emoji (i.e., 🐮🍺 in the text below)

In [216]:
hete_emoji[hete_emoji['F_UserName']=='中华家的窝窝头']

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
1273,1656.0,4381341875467350.0,2019-06-09 18:39:27+08:00,5130467812.0,中华家的窝窝头,米忽悠🐮🍺噢！已经预约了噢！不知道能不能上PS4呢[许愿][许愿][许愿]我买PS4就是...,NaN,NaN,NaN,NaN,...,NaN,NaN,[猫子啊啊啊],猫子啊啊啊,NaN,NaN,NaN,NaN,NaN,NaN

在Section 2.7中我们定义了函数decode_emoji来将emoji转换为对应的中文代码

In Section 2.7, we defined a function called `decode_emoji` to convert emoji into the corresponding Chinese code

In [217]:
def decode_emoji(text):
    return emoji.demojize(text,language='zh')

In [218]:
# 一个简单的应用示例/A simple application example
decode_emoji('米忽悠🐮🍺噢！已经预约了噢！不知道能不能上PS4呢')

'米忽悠:奶牛头::啤酒:噢！已经预约了噢！不知道能不能上PS4呢'

转换emoji

Transform the emoji

In [219]:
decode_text = hete_emoji['F_Comment'].apply(decode_emoji)
hete_emoji.insert(6, 'Clean_Comment' ,decode_text)

In [220]:
# 上面的例子中的emoji已经被转换为中文编码/The example shown above was successfully converted into Chinese code
'''From 🐮🍺 to :奶牛头::啤酒:'''
hete_emoji.loc[1273,'Clean_Comment']

'  米忽悠:奶牛头::啤酒:噢！已经预约了噢！不知道能不能上PS4呢[许愿][许愿][许愿]我买PS4就是为了玩原神！[太开心][太开心][太开心]'

In [221]:
hete_emoji.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   F_Idx          3850 non-null   float64
 1   F_CommID       3850 non-null   float64
 2   F_Time         3850 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID       3850 non-null   float64
 4   F_UserName     3854 non-null   object
 5   F_Comment      3854 non-null   object
 6   Clean_Comment  3854 non-null   object
 7   T_Idx          441 non-null    float64
 8   T_UserID       907 non-null    float64
 9   T_UserName     1191 non-null   object
 10  T_CommID       441 non-null    float64
 11  T_Time         441 non-null    datetime64[ns, UTC+08:00]
 12  T_Comment      441 non-null    object
 13  Floor_Idx      1186 non-null   float64
 14  Floor_CommID   1186 non-null   float64
 15  Floor_UserID   1186 non-null   float64
 16  At_User        1010 non-null   object
 17  At_U1          1008 non-null   object
 18  At_U2          56 non-null     object
 19  At_U3          10 non-null     object
 20  At_U4          2 non-null      object
 21  At_U5          1 non-null      object
 22  At_U6          1 non-null      object
 23  At_U7          1 non-null      object
dtypes: datetime64[ns, UTC+08:00](2), float64(9), object(13)
memory usage: 722.8+ KB

将emoji当做中文单字的谐音词来使用、从而发表一些具有侮辱性的文本并规避社区审查的情况，在微博十分常见。在下面的例子中，“👴”表示“爷爷”，一般代指中文字“爷”。

It is common on Weibo to use emoji as homophones for some Chinese words to post abusive contents and avoid censorship. In the example below. "👴" means "grandpa" ("yeye" in Chinese), which generally refers to the Chinese word "爷" ("ye" in Chinese)

In [222]:
hete_emoji[hete_emoji['F_UserName']=='上天入地大头怪']

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,Clean_Comment,T_Idx,T_UserID,T_UserName,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
1647,2098.0,4380998609068248.0,2019-06-08 19:55:25+08:00,2841880263.0,上天入地大头怪,给👴整笑了,给:老爷爷:整笑了,NaN,NaN,NaN,...,NaN,NaN,[鱼酋长汝此兴奋],鱼酋长汝此兴奋,NaN,NaN,NaN,NaN,NaN,NaN

In [223]:
# 另一个例子/Another example
hete_emoji[hete_emoji['F_UserName']=='碱性胶囊']

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,Clean_Comment,T_Idx,T_UserID,T_UserName,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
1603,2051.0,4381008448905660.0,2019-06-08 20:34:31+08:00,5486410350.0,碱性胶囊,在？为什么不出来对线,在？为什么不出来对线,NaN,NaN,NaN,...,NaN,NaN,[赤鸢仙人我没有说谎QAQ],赤鸢仙人我没有说谎QAQ,NaN,NaN,NaN,NaN,NaN,NaN
1607,2055.0,4381008159805264.0,2019-06-08 20:33:23+08:00,5486410350.0,碱性胶囊,怎么还在忙着洗地吗[疑问],怎么还在忙着洗地吗[疑问],NaN,NaN,NaN,...,NaN,NaN,[赤鸢仙人我没有说谎QAQ],赤鸢仙人我没有说谎QAQ,NaN,NaN,NaN,NaN,NaN,NaN
1630,2081.0,4381002900336283.0,2019-06-08 20:12:29+08:00,5486410350.0,碱性胶囊,别吵[嘻嘻]忙着给你🐎验尸呢,别吵[嘻嘻]忙着给你:马:验尸呢,NaN,NaN,NaN,...,NaN,NaN,[赤鸢仙人我没有说谎QAQ],赤鸢仙人我没有说谎QAQ,NaN,NaN,NaN,NaN,NaN,NaN
2914,2065.0,4381006016311548.0,2019-06-08 20:24:52+08:00,5486410350.0,碱性胶囊,憨憨出来对线🌶️,憨憨出来对线:红辣椒:,NaN,NaN,NaN,...,NaN,NaN,[赤鸢仙人我没有说谎QAQ],赤鸢仙人我没有说谎QAQ,NaN,NaN,NaN,NaN,NaN,NaN
2916,2077.0,4381004150060959.0,2019-06-08 20:17:27+08:00,5486410350.0,碱性胶囊,你🐎可能玩崩坏脑子也给崩坏了 脑仁都烂了,你:马:可能玩崩坏脑子也给崩坏了 脑仁都烂了,NaN,NaN,NaN,...,NaN,NaN,[赤鸢仙人我没有说谎QAQ],赤鸢仙人我没有说谎QAQ,NaN,NaN,NaN,NaN,NaN,NaN

对于这一类emoji，我们需要将中文emoji代码再次转换为对应的中文单字，这样才能保证语义的通顺；至于那些仅作为表情符号使用、不充当句子含义的一部分的emoji，保留其中文emoji编码即可

For this type of emoji, we need to convert the Chinese emoji code to the corresponding Chinese word again, to ensure the semantics completeness; As for those emoji only used to express users' emotions rather than acting as part of the meaning of the sentence, we will keep the Chinese code.

In [224]:
code_pattern = r'(?<=:)[^:]+(?=:)'
code_match = hete_emoji['Clean_Comment'].str.findall(code_pattern)
code_match

0              []
1              []
2              []
3              []
4              []
          ...
3849           []
3850    [奶牛头, 啤酒]
3851           []
3852           []
3853           []
Name: Clean_Comment, Length: 3854, dtype: object

In [225]:
hete_emoji['emoji_code'] = code_match
hete_emoji.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   F_Idx          3850 non-null   float64
 1   F_CommID       3850 non-null   float64
 2   F_Time         3850 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID       3850 non-null   float64
 4   F_UserName     3854 non-null   object
 5   F_Comment      3854 non-null   object
 6   Clean_Comment  3854 non-null   object
 7   T_Idx          441 non-null    float64
 8   T_UserID       907 non-null    float64
 9   T_UserName     1191 non-null   object
 10  T_CommID       441 non-null    float64
 11  T_Time         441 non-null    datetime64[ns, UTC+08:00]
 12  T_Comment      441 non-null    object
 13  Floor_Idx      1186 non-null   float64
 14  Floor_CommID   1186 non-null   float64
 15  Floor_UserID   1186 non-null   float64
 16  At_User        1010 non-null   object
 17  At_U1          1008 non-null   object
 18  At_U2          56 non-null     object
 19  At_U3          10 non-null     object
 20  At_U4          2 non-null      object
 21  At_U5          1 non-null      object
 22  At_U6          1 non-null      object
 23  At_U7          1 non-null      object
 24  emoji_code     3854 non-null   object
dtypes: datetime64[ns, UTC+08:00](2), float64(9), object(14)
memory usage: 752.9+ KB

我们发现仅有155条文本使用了emoji。考虑到emoji和其对应的中文单字并没有一个严格的对应标准、且需要结合语境去确认，我们选择了手动将emoji转换为中文单字

There are only 155 texts with emoji. Given that (1) there is no strict correspondence between emoji and its Chinese homophone, and (2) context should be considered, we plan to convert emoji to its Chinese word manually

In [226]:
manua_code = hete_emoji[hete_emoji['emoji_code'].apply(lambda x: len(x)>0)]
manua_code

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,Clean_Comment,T_Idx,T_UserID,T_UserName,...,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7,emoji_code
22,31.0,4723616816300419.0,2022-01-09 06:37:52+08:00,5855892820.0,品咕咕,那些热评的没🐎仔怎么还在啊[doge],那些热评的没:马:仔怎么还在啊[doge],NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[马]
31,46.0,4462043262297752.0,2020-01-18 11:17:56+08:00,7358799581.0,蠢萌萌66,可恶的米忽悠，出这么个游戏，估计又要换一部📱,可恶的米忽悠，出这么个游戏，估计又要换一部:手机:,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[手机]
49,76.0,4453030231737848.0,2019-12-24 14:23:22+08:00,6450919178.0,-iLan,为什么不送switch➕塞尔达？,为什么不送switch:加:塞尔达？,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[加]
94,155.0,4415365171786916.0,2019-09-11 15:55:52+08:00,1937421733.0,真呼名子,🤩,:好崇拜哦:,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[好崇拜哦]
180,347.0,4401545162546124.0,2019-08-04 12:40:06+08:00,5685068141.0,TowerNeya,gkd，我管你抄没抄，给👴整快点，👴要玩,gkd，我管你抄没抄，给:老爷爷:整快点，:老爷爷:要玩,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[老爷爷, 整快点，, 老爷爷]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3766,3692.0,4408484319674466.0,2019-08-23 16:13:49+08:00,7261173554.0,wirzard1,QQ飞车是你🐴原创，跑跑卡丁车不要面子喽？,QQ飞车是你:马头:原创，跑跑卡丁车不要面子喽？,NaN,3144123235.0,醇悟,...,1957259477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[马头]
3769,3697.0,4403371735419651.0,2019-08-09 13:38:15+08:00,6742834214.0,HZQJSL,沾了你🐴,沾了你:马头:,NaN,NaN,索狗任豚的爹,...,1957259477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[马头]
3777,3709.0,4387155805471942.0,2019-06-25 19:41:56+08:00,5840172755.0,sex反转异装癖lesbian,我想起了之前鬼泣5抄袭崩坏3的事😂😂😂,我想起了之前鬼泣5抄袭崩坏3的事:笑哭了::笑哭了::笑哭了:,NaN,6610932074.0,樱岛麻衣厨丶,...,1957259477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[笑哭了, 笑哭了, 笑哭了]"
3787,3721.0,4386021183907910.0,2019-06-22 16:33:20+08:00,3391529434.0,Respect_SW,别洗了 辣🐔,别洗了 辣:鸡:,NaN,6469427522.0,灰色情感的我,...,1957259477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[鸡]
3850,3838.0,4380987008064553.0,2019-06-08 19:09:20+08:00,6201564748.0,兔纸今天能摸到鱼吗,🐮🍺，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...,:奶牛头::啤酒:，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确...,NaN,NaN,沉迷艾欧泽亚的菜菜啊,...,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[奶牛头, 啤酒]"

In [227]:
manua_code = manua_code.reset_index()
manua_code = manua_code[['index','F_UserName','F_Comment','Clean_Comment','emoji_code']]
manua_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          155 non-null    int64
 1   F_UserName     155 non-null    object
 2   F_Comment      155 non-null    object
 3   Clean_Comment  155 non-null    object
 4   emoji_code     155 non-null    object
dtypes: int64(1), object(4)
memory usage: 6.2+ KB

In [228]:
manu = 'Datasets/ManuCode.xlsx'
manua_code.to_excel(manu, index=False)
# manua_code.to_excel(manu, index=False,encoding='utf-8-sig')

读取手动编码后的excel文件

Read the excel file after manual processing

In [229]:
manua_code = pd.read_excel('Datasets/ManuCode_Finish.xlsx')
manua_code

,index,F_UserName,F_Comment,Code_Comment,Clean_Comment,emoji_code
0,22,品咕咕,那些热评的没🐎仔怎么还在啊[doge],那些热评的没妈仔怎么还在啊[doge],那些热评的没:马:仔怎么还在啊[doge],['马']
1,31,蠢萌萌66,可恶的米忽悠，出这么个游戏，估计又要换一部📱,可恶的米忽悠，出这么个游戏，估计又要换一部手机,可恶的米忽悠，出这么个游戏，估计又要换一部:手机:,['手机']
2,49,-iLan,为什么不送switch➕塞尔达？,为什么不送switch和塞尔达？,为什么不送switch:加:塞尔达？,['加']
3,94,真呼名子,🤩,[好崇拜哦],:好崇拜哦:,['好崇拜哦']
4,180,TowerNeya,gkd，我管你抄没抄，给👴整快点，👴要玩,搞快点，我管你抄没抄，给爷整快点，爷要玩,gkd，我管你抄没抄，给:老爷爷:整快点，:老爷爷:要玩,"['老爷爷', '整快点，', '老爷爷']"
...,...,...,...,...,...,...
150,3766,wirzard1,QQ飞车是你🐴原创，跑跑卡丁车不要面子喽？,QQ飞车是你妈原创，跑跑卡丁车不要面子喽？,QQ飞车是你:马头:原创，跑跑卡丁车不要面子喽？,['马头']
151,3769,HZQJSL,沾了你🐴,沾了你妈,沾了你:马头:,['马头']
152,3777,sex反转异装癖lesbian,我想起了之前鬼泣5抄袭崩坏3的事😂😂😂,我想起了之前鬼泣5抄袭崩坏3的事[笑哭了][笑哭了][笑哭了],我想起了之前鬼泣5抄袭崩坏3的事:笑哭了::笑哭了::笑哭了:,"['笑哭了', '笑哭了', '笑哭了']"
153,3787,Respect_SW,别洗了 辣🐔,别洗了 垃圾,别洗了 辣:鸡:,['鸡']
154,3850,兔纸今天能摸到鱼吗,🐮🍺，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...,牛批，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...,:奶牛头::啤酒:，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确...,"['奶牛头', '啤酒']"

In [230]:
manua_idx = manua_code['index']
manua_text = manua_code['Code_Comment']
manua_text

0                                    那些热评的没妈仔怎么还在啊[doge]
1                                可恶的米忽悠，出这么个游戏，估计又要换一部手机
2                                       为什么不送switch和塞尔达？
3                                                 [好崇拜哦]
4                                   搞快点，我管你抄没抄，给爷整快点，爷要玩
                             ...
150                                QQ飞车是你妈原创，跑跑卡丁车不要面子喽？
151                                                 沾了你妈
152                      我想起了之前鬼泣5抄袭崩坏3的事[笑哭了][笑哭了][笑哭了]
153                                               别洗了 垃圾
154    牛批，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...
Name: Code_Comment, Length: 155, dtype: object

In [231]:
hetero_data.loc[list(manua_idx),'F_Comment'] = list(manua_text)
hetero_data.loc[list(manua_idx),'F_Comment']

22                                    那些热评的没妈仔怎么还在啊[doge]
31                                可恶的米忽悠，出这么个游戏，估计又要换一部手机
49                                       为什么不送switch和塞尔达？
94                                                 [好崇拜哦]
180                                  搞快点，我管你抄没抄，给爷整快点，爷要玩
                              ...
3766                                QQ飞车是你妈原创，跑跑卡丁车不要面子喽？
3769                                                 沾了你妈
3777                      我想起了之前鬼泣5抄袭崩坏3的事[笑哭了][笑哭了][笑哭了]
3787                                               别洗了 垃圾
3850    牛批，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...
Name: F_Comment, Length: 155, dtype: object

In [232]:
hetero_data.loc[list(manua_idx)]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
22,31.0,4723616816300419.0,2022-01-09 06:37:52+08:00,5855892820.0,品咕咕,那些热评的没妈仔怎么还在啊[doge],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,46.0,4462043262297752.0,2020-01-18 11:17:56+08:00,7358799581.0,蠢萌萌66,可恶的米忽悠，出这么个游戏，估计又要换一部手机,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,76.0,4453030231737848.0,2019-12-24 14:23:22+08:00,6450919178.0,-iLan,为什么不送switch和塞尔达？,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,155.0,4415365171786916.0,2019-09-11 15:55:52+08:00,1937421733.0,真呼名子,[好崇拜哦],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,347.0,4401545162546124.0,2019-08-04 12:40:06+08:00,5685068141.0,TowerNeya,搞快点，我管你抄没抄，给爷整快点，爷要玩,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3766,3692.0,4408484319674466.0,2019-08-23 16:13:49+08:00,7261173554.0,wirzard1,QQ飞车是你妈原创，跑跑卡丁车不要面子喽？,NaN,3144123235.0,醇悟,NaN,...,4380883840572546.0,1957259477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3769,3697.0,4403371735419651.0,2019-08-09 13:38:15+08:00,6742834214.0,HZQJSL,沾了你妈,NaN,NaN,索狗任豚的爹,NaN,...,4380883840572546.0,1957259477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3777,3709.0,4387155805471942.0,2019-06-25 19:41:56+08:00,5840172755.0,sex反转异装癖lesbian,我想起了之前鬼泣5抄袭崩坏3的事[笑哭了][笑哭了][笑哭了],NaN,6610932074.0,樱岛麻衣厨丶,NaN,...,4380883840572546.0,1957259477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3787,3721.0,4386021183907910.0,2019-06-22 16:33:20+08:00,3391529434.0,Respect_SW,别洗了 垃圾,NaN,6469427522.0,灰色情感的我,NaN,...,4380883840572546.0,1957259477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3850,3838.0,4380987008064553.0,2019-06-08 19:09:20+08:00,6201564748.0,兔纸今天能摸到鱼吗,牛批，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...,NaN,NaN,沉迷艾欧泽亚的菜菜啊,NaN,...,4380879889748007.0,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 3.5.2 解码网络用语/Decode the Internet slangs
在新浪微博（以及一些其他的中文线上社交平台），除了在Section 3.5.1中讨论过的emoji的用法之外，还会使用中文词组拼音的首字母缩写来发表侮辱性的内容。如“nmsl”即为“你妈死了”。
<br>这些词汇只能手动筛出并逐一修改

On Sina Weibo (and some other Chinese online social media platforms), abbreviations of the spelled sounds (in Chinese this is called "pinyin 拼音") of Chinese words/phrases are also used to post abusive contents. i.e., the use of emoji discussed in Section 3.5.1 is not the only way. For example, "nmsl" means "your mother is dead" (i.e., ni ma si le -> nmsl)
<br>These words can only be manually filtered out and modified one by one

nmsl

In [233]:
hetero_data[hetero_data['F_Comment'].str.contains('nmsl')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
421,673.0,4386653169053836.0,2019-06-24 10:24:37+08:00,5352600336.0,卢本开_55挂,nmsl,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [234]:
hetero_data['F_Comment'] = hetero_data['F_Comment'].str.replace('nmsl','你妈死了')

In [235]:
hetero_data.loc[421,'F_Comment']

'你妈死了'

gkd

In [236]:
hetero_data[hetero_data['F_Comment'].str.contains('gkd')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
251,487.0,4397122247520064.0,2019-07-23 07:45:01+08:00,5277946260.0,库-丘林_Alter,所以说有没有去烧米忽悠的 gkd,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2605,307.0,4401935853869781.0,2019-08-05 14:32:34+08:00,7087027730.0,云夜悠长,微博人手switch人均塞尔达玩家？版权卫士gkd[嘻嘻],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
hetero_data['F_Comment'] = hetero_data['F_Comment'].str.replace('gkd','搞快点')

wdnmd

In [238]:
hetero_data[hetero_data['F_Comment'].str.contains('wdnmd')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
491,765.0,4386146941379988.0,2019-06-23 00:53:03+08:00,6486692541.0,嘬一口南瓜粥,原神看起来不错=米卫兵=脑残=啥也没玩过的工地搬砖的wdnmd[拜拜],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,942.0,4385767134498941.0,2019-06-21 23:43:51+08:00,5985268786.0,北贝95,加油奥，还有很多好游戏呢，全抄进去也许真就煮成一锅粥变成新游戏了呢[微笑]wdnmd,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1817,2292.0,4380967571372984.0,2019-06-08 17:52:06+08:00,5646067604.0,Aki是乌龟,wdnmd，塞尔达游戏界天花板，你们是个什么东西？[疑问],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1856,2347.0,4380959618922423.0,2019-06-08 17:20:30+08:00,3493561323.0,Jasonwrj,wdnmd 真就照着抄啊？脸都不要了？,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2708,519.0,4393052338205884.0,2019-07-12 02:12:39+08:00,5679620603.0,哈维嘎嘎,抄的真棒[大拇指]，wdnmd真就四神兽也直接搬呗,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3014,2575.0,4386110769400408.0,2019-06-22 22:29:20+08:00,5793575759.0,驯龙高手尹志平198102,wdnmd 人家厂商以为的的确没啥错[二哈] 你看看多少铁憨憨～,2531.0,5671232161.0,千帆幻尽,4380935199496995.0,...,4380935199496995.0,5671232161.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3129,2687.0,4381917358889913.0,2019-06-11 08:46:13+08:00,2115615367.0,桂陵君,我昨天下午刚借我同学塞尔达重开了个号玩，然后玩了一晚上[允悲]wdnmd真有点意思啊！你说的...,NaN,NaN,aidow,NaN,...,4380931105889284.0,2115615367.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [239]:
hetero_data['F_Comment'] = hetero_data['F_Comment'].str.replace('wdnmd','我叼你妈的')

biss

In [240]:
hetero_data[hetero_data['F_Comment'].str.contains('biss')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
189,375.0,4401364442109699.0,2019-08-04 00:41:59+08:00,7032393099.0,猫叠单数,这游戏一出biss,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,761.0,4386153824441600.0,2019-06-23 01:20:25+08:00,2076463415.0,SA口吐芬芳,还 原神 作？米忽悠这种biss钱都恰？,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1106,1480.0,4381970655821346.0,2019-06-11 12:17:59+08:00,5474874791.0,cbsy85417,原神必死biss,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535,1950.0,4381035778815009.0,2019-06-08 22:23:07+08:00,6269658776.0,爵士天神老布,再抄nm今晚biss,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1566,1983.0,4381020826125716.0,2019-06-08 21:23:43+08:00,5816931151.0,月影星河Qaq,抄袭biss嗷,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1810,2285.0,4380969455146942.0,2019-06-08 17:59:34+08:00,5504387639.0,鸥叽叽叽,这个游戏biss嗷[嘻嘻]谁想玩速度拉黑我，不然我骂死你[太开心] 谁和我一起骂我们就是异...,NaN,NaN,NaN,NaN,...,NaN,NaN,[原神],原神,NaN,NaN,NaN,NaN,NaN,NaN
1854,2345.0,4380959930005434.0,2019-06-08 17:21:44+08:00,5538289556.0,明日方舟鸿雪,抄袭biss哦[太开心],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022,2639.0,4380932137587178.0,2019-06-08 15:31:18+08:00,5590792808.0,终极自闭人,米哈游biss[嘻嘻],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [241]:
hetero_data['F_Comment'] = hetero_data['F_Comment'].str.replace('biss','必死')

In [242]:
hetero_data[hetero_data['F_Comment'].str.contains('nb')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
1165,1540.0,4381701519802806.0,2019-06-10 18:28:32+08:00,6027499723.0,神烦g916,nb，没了,NaN,NaN,NaN,NaN,...,NaN,NaN,"[米哈游miHoYo, 索尼中国]",米哈游miHoYo,索尼中国,NaN,NaN,NaN,NaN,NaN
1176,1552.0,4381674500700759.0,2019-06-10 16:41:10+08:00,2744046920.0,MO_o233,期待原神很久了 mhynb,NaN,NaN,NaN,NaN,...,NaN,NaN,[网易电竞NeXT],网易电竞NeXT,NaN,NaN,NaN,NaN,NaN,NaN
2038,2726.0,4380929998503397.0,2019-06-08 15:22:48+08:00,7185098377.0,哇咔咔11647,mihoyonb 希望得到一个。,NaN,NaN,NaN,NaN,...,NaN,NaN,[原神],原神,NaN,NaN,NaN,NaN,NaN,NaN
2820,1435.0,4404068694922232.0,2019-08-11 11:47:43+08:00,2244064047.0,廷廷且重开66,sgnb！,NaN,6598630748.0,万肝之王EDTA,NaN,...,4382004860350523.0,5356469720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2864,1815.0,4382528503130795.0,2019-06-13 01:14:41+08:00,6294377796.0,大河境36187,nb呀,1802.0,5457782776.0,污半生,4381170940729462.0,...,4381170940729462.0,5457782776.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3286,3058.0,4382520357265613.0,2019-06-13 00:42:19+08:00,2527233773.0,吃了萤火虫会发光吗,说错了[嘻嘻]是米卫兵说的[嘻嘻]崩三能抄袭日本那个游戏是那个游戏的荣幸[嘻嘻]塞尔达也是一...,NaN,2488554890.0,LFRitual,NaN,...,4380899494009653.0,6578279612.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3640,3572.0,4381006465317676.0,2019-06-08 20:26:38+08:00,3459824410.0,龙猫放弃涮羊肉,塞尔达最nb！（破音），确实也像龙之谷，我觉得是把这俩游戏合起来了，要把塞尔达完全照搬是不可...,NaN,6116368506.0,Alyssa的糖果,NaN,...,4380885732287240.0,6500909470.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [243]:
hetero_data['F_Comment'] = hetero_data['F_Comment'].str.replace('nb','牛批')

In [244]:
hetero_data.loc[2820,'F_Comment']

'sg牛批！'

In [245]:
hetero_data.loc[2820,'F_Comment'] = '爽哥牛批！'

awsl和wsl

awsl and wsl

In [246]:
hetero_data[hetero_data['F_Comment'].str.contains('awsl')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
985,1325.0,4382628998658687.0,2019-06-13 07:54:01+08:00,6912787337.0,tangjiahua26344,，awsl,NaN,NaN,NaN,NaN,...,NaN,NaN,[崩坏三],崩坏三,NaN,NaN,NaN,NaN,NaN,NaN
1648,2099.0,4380998315283579.0,2019-06-08 19:54:16+08:00,5978979527.0,破鱼PoYuu,awsl[二哈][二哈],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2434,3794.0,4380881864622090.0,2019-06-08 12:11:32+08:00,5762721940.0,白木圭可大人,awsl,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [247]:
hetero_data[hetero_data['F_Comment'].str.contains('wsl')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
985,1325.0,4382628998658687.0,2019-06-13 07:54:01+08:00,6912787337.0,tangjiahua26344,，awsl,NaN,NaN,NaN,NaN,...,NaN,NaN,[崩坏三],崩坏三,NaN,NaN,NaN,NaN,NaN,NaN
1648,2099.0,4380998315283579.0,2019-06-08 19:54:16+08:00,5978979527.0,破鱼PoYuu,awsl[二哈][二哈],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2418,3779.0,4380883211537085.0,2019-06-08 12:16:52+08:00,1879393202.0,寒天黑糖,好可爱的小男孩！！！！wsl,NaN,NaN,半透明黑桶,NaN,...,NaN,NaN,"[半透明黑桶, 寒天黑糖]",半透明黑桶,NaN,NaN,NaN,NaN,NaN,NaN
2434,3794.0,4380881864622090.0,2019-06-08 12:11:32+08:00,5762721940.0,白木圭可大人,awsl,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [248]:
hetero_data['F_Comment'] = hetero_data['F_Comment'].str.replace('awsl','啊我死了')
hetero_data['F_Comment'] = hetero_data['F_Comment'].str.replace('wsl','我死了')

sb

In [249]:
hetero_data[hetero_data['F_Comment'].str.contains('sb')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
1803,2277.0,4380972089324269.0,2019-06-08 18:10:02+08:00,2171210083.0,月似旧时梦,sb,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2761,944.0,4385765595078360.0,2019-06-21 23:37:44+08:00,5782527935.0,亚希露,我头一次看到连音效都抄的sb玩意儿 看了直播才发现还抄了尼尔[吐],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [250]:
hetero_data['F_Comment'] = hetero_data['F_Comment'].str.replace('sb','傻逼')

cnm

In [251]:
hetero_data[hetero_data['F_Comment'].str.contains('cnm')]

Empty DataFrame
Columns: [F_Idx, F_CommID, F_Time, F_UserID, F_UserName, F_Comment, T_Idx, T_UserID, T_UserName, T_CommID, T_Time, T_Comment, Floor_Idx, Floor_CommID, Floor_UserID, At_User, At_U1, At_U2, At_U3, At_U4, At_U5, At_U6, At_U7]
Index: []

[0 rows x 23 columns]

nmb

In [252]:
hetero_data[hetero_data['F_Comment'].str.contains('nmb')]

Empty DataFrame
Columns: [F_Idx, F_CommID, F_Time, F_UserID, F_UserName, F_Comment, T_Idx, T_UserID, T_UserName, T_CommID, T_Time, T_Comment, Floor_Idx, Floor_CommID, Floor_UserID, At_User, At_U1, At_U2, At_U3, At_U4, At_U5, At_U6, At_U7]
Index: []

[0 rows x 23 columns]

统一将对于公司“米哈游”的代名词转换为“米哈游”

Convert all synonyms for the company "米哈游" to "米哈游"

In [253]:
hetero_data[hetero_data['F_Comment'].str.contains('mhy')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
200,398.0,4401293873628858.0,2019-08-03 20:01:34+08:00,6089356377.0,袁yy06119,mhy没有妈,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
462,714.0,4386343918291999.0,2019-06-23 13:55:47+08:00,6296187775.0,璃喵82740,辣鸡厂商 本来对mhy印象还不错，现在已经不会再去玩你们的游戏了,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1176,1552.0,4381674500700759.0,2019-06-10 16:41:10+08:00,2744046920.0,MO_o233,期待原神很久了 mhy牛批,NaN,NaN,NaN,NaN,...,NaN,NaN,[网易电竞NeXT],网易电竞NeXT,NaN,NaN,NaN,NaN,NaN,NaN
2006,2623.0,4380933643312451.0,2019-06-08 15:37:16+08:00,2717396284.0,GungnirOD,你要真能抄出个塞尔达荒野之息我都算你mhy牛逼。就怕抄几个机制完事儿，空有一张皮。自由的开放...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2565,248.0,4407172718927631.0,2019-08-20 01:22:00+08:00,7087027730.0,云夜悠长,亲亲，这边建议您直接举报原神哦，光和mhy玩家对线是没有结果滴,245.0,2140667320.0,红空岛寺,4403046332881910.0,...,4403046332881910.0,2140667320.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2618,335.0,4407177844023700.0,2019-08-20 01:42:22+08:00,7087027730.0,云夜悠长,嗯没错，由mhy开启的中国原创游戏废土时代就此降临！,325.0,3229684874.0,吃草莓咩咩咩,4401698279516703.0,...,4401698279516703.0,3229684874.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2641,365.0,4401394490473371.0,2019-08-04 02:41:23+08:00,2120345392.0,林启裕Jim,非常期待能在手机上能玩到这个游戏！人物模型，画面感，画风，特效渲染，在国内手机里都是巅峰级别...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2642,366.0,4407178872065791.0,2019-08-20 01:46:27+08:00,7087027730.0,云夜悠长,横版-3D战斗-开放世界/galgame（或许？没太关注未定事件簿） 鬼知道mhy下一步会干...,365.0,2120345392.0,林启裕Jim,4401394490473371.0,...,4401394490473371.0,2120345392.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2718,722.0,4400807274973428.0,2019-08-02 11:48:00+08:00,5605946196.0,烟花飞渡似水流年61558,很明显，mhy动到大佬的蛋糕了。。。还有晚上人的脑子真的是一个人长大的,718.0,6466540211.0,厨余残渣,4386329834008973.0,...,4386329834008973.0,6466540211.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2813,1449.0,4388669932951553.0,2019-06-29 23:58:32+08:00,6113608398.0,别开腔_自己人,索尼拿mhy当枪使,1434.0,5356469720.0,error1980,4382004860350523.0,...,4382004860350523.0,5356469720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2823,1438.0,4403940877979687.0,2019-08-11 03:19:48+08:00,5217403335.0,k奇酱,惊了，抄袭谁带大头不知道？还用mhy来带头？,NaN,6454451048.0,林克林,NaN,...,4382004860350523.0,5356469720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2830,1448.0,4388670137924971.0,2019-06-29 23:59:21+08:00,6113608398.0,别开腔_自己人,然后mhy拿粉丝当枪使,NaN,NaN,a0赵喆,NaN,...,4382004860350523.0,5356469720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2976,2427.0,4381002879476733.0,2019-06-08 20:12:23+08:00,2977455924.0,cctoo_88,遊戲性再高都不是mhy的功勞吧??? 什麼極好,2423.0,3527561790.0,Sandman今天是铁FIVE吗,4380949355244719.0,...,4380949355244719.0,3527561790.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2981,2429.0,4380963158731500.0,2019-06-08 17:34:34+08:00,3527561790.0,Sandman今天是铁FIVE吗,其实国产游戏已经进入你设想的这种情况了，因为这种由于疑似抄袭而在口碑上一塌糊涂，同时又获得极...,NaN,2796113361.0,TINGEM会飞不会跑,NaN,...,4380949355244719.0,3527561790.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3135,2693.0,4381203333744213.0,2019-06-09 09:28:55+08:00,2115615367.0,桂陵君,至于国内游戏环境，mhy黑料这么多，三蹦子都三年了，能撑到现在全靠同行衬托，发个小八跳舞的视...,NaN,5723590365.0,一定要谨慎提交昵称,NaN,...,4380931105889284.0,2115615367.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3148,2708.0,4380956410365918.0,2019-06-08 17:07:45+08:00,2115615367.0,桂陵君,这个我同意，其实mhy平时那pv风格大家都接受了。这么做属实有点无法理解。,NaN,NaN,Sakunosaki,NaN,...,4380931105889284.0,2115615367.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3171,2851.0,4407180969616382.0,2019-08-20 01:54:47+08:00,7087027730.0,云夜悠长,亲亲，感谢您对我们的肯定，我们mhy大厂真是感激不尽,2846.0,1997568737.0,不叫Cory叫叁秒,4380911610765502.0,...,4380911610765502.0,1997568737.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3461,3291.0,4388138069692329.0,2019-06-28 12:45:06+08:00,6112555291.0,为你著缨,mhy没钱吗[吃瓜]天天ios榜单,NaN,2047245515.0,吴亚为,NaN,...,4380894087223331.0,3086944075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [254]:
hetero_data[hetero_data['F_Comment'].str.contains('miHoYo')]

,F_Idx,F_CommID,F_Time,F_UserID,F_UserName,F_Comment,T_Idx,T_UserID,T_UserName,T_CommID,...,Floor_CommID,Floor_UserID,At_User,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
91,152.0,4416882087892965.0,2019-09-15 20:23:33+08:00,5772842621.0,没头脑吔不高兴,miHoYo！,NaN,NaN,NaN,NaN,...,NaN,NaN,[青青子w],青青子w,NaN,NaN,NaN,NaN,NaN,NaN
923,1252.0,4383068532442949.0,2019-06-14 13:00:34+08:00,7193314317.0,Unforgiveable70756,miHoYo全新力作啊 支持支持[嘻嘻] 从崩崩崩2.6就开始支持miHoYo了呢 祝...,NaN,NaN,NaN,NaN,...,NaN,NaN,[KianaKaslana58529],KianaKaslana58529,NaN,NaN,NaN,NaN,NaN,NaN
924,1253.0,4383067756515710.0,2019-06-14 12:57:29+08:00,7193323484.0,KianaKaslana58529,miHoYo全新力作啊 支持支持[鼓掌],NaN,NaN,NaN,NaN,...,NaN,NaN,[Unforgiveable70756],Unforgiveable70756,NaN,NaN,NaN,NaN,NaN,NaN

In [255]:
hetero_data['F_Comment'] = hetero_data['F_Comment'].str.replace('mhy','米哈游')
hetero_data['F_Comment'] = hetero_data['F_Comment'].str.replace('miHoYo','米哈游')

# 4. 重组数据集2：转变为异构图需要的DataFrame形式/The second dataset reorganization: convert datasets to forms meet HeteroG construction requirements

在前面的章节里，我们已经完成了所有的数据处理。因此，在该章节，我们可以开始处理前面的数据集，并将其转换为HeteroG需要的形式

In the previous sections, we finished all data processing. Therefore, in this section, we can start to handle datasets obtained and reorganize them to the form  that HeteroG requires

## 4.1 用户互动网/user-user interaction network
- 这一步包括
  - 提取出用户互动列（F_UserName, F_UserID, T_UserName, T_UserID, Floor_UserID, At_U1~At_U7）
  - 对profile_data进行扩充：所有没有profile的user均append到profile_data最后一行后
  - 对完善后的profile_data的user重新设置索引作为“用户节点索引”（user_nIdx）
  - 重组数据集，使得一行只有一个From和一个To
    - 对于仅发表评论的孤立点，则只有From，To为空值
    - 当To不为空时，To则为To的数据
    - 当To为空时，To为Floor的数据
    - At独立于To和Floor，无需额外的处理
  - 将user_nIdx附加到前述步骤得到的用户互动DataFrame、以及用户特征DataFrame里
  - 将用户互动DataFrame、以及用户特征DataFrame转换成张量。
  

- This Section will include
  - Extract all columns related to the user interaction (F_UserName, F_UserID, T_UserName, T_UserID, Floor_UserID, At_U1~At_U7)
  - Extend `profile_data`: all users with missing profiles are appended to the last row of `profile_data`
  - Set the user node index "user_nIdx" for all users in the refined `profile_data` (this will be viewed as the user feature dataset)
  - Reorganize the dataset so that there is only one From and one To in a row
    - If the user is an isolated point (i.e., User type 1 mentioned in Section 4.1.1), then To is null; Or otherwise:
    - If To is not null, then do nothing
    - If To is null, then fill the To will Floor
    - At is independent of To and Floor, no additional processing required
  - Append user_nIdx to the user inetraction DataFrame obtained above
  - Convert user interaction dataset and user feature dataset into Tensor

### 4.1.1 提取用户互动信息并存储为新的DataFrame/Extract the user interaction information and save it as a new DataFrame

可以移步Section 4.1.2，直接读取数据集

You can turn to Section 4.1.2 and read the dataset directly

In [256]:
hetero_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         3850 non-null   float64
 1   F_CommID      3850 non-null   float64
 2   F_Time        3850 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID      3850 non-null   float64
 4   F_UserName    3854 non-null   object
 5   F_Comment     3854 non-null   object
 6   T_Idx         441 non-null    float64
 7   T_UserID      907 non-null    float64
 8   T_UserName    1191 non-null   object
 9   T_CommID      441 non-null    float64
 10  T_Time        441 non-null    datetime64[ns, UTC+08:00]
 11  T_Comment     441 non-null    object
 12  Floor_Idx     1186 non-null   float64
 13  Floor_CommID  1186 non-null   float64
 14  Floor_UserID  1186 non-null   float64
 15  At_User       1010 non-null   object
 16  At_U1         1008 non-null   object
 17  At_U2         56 non-null     object
 18  At_U3         10 non-null     object
 19  At_U4         2 non-null      object
 20  At_U5         1 non-null      object
 21  At_U6         1 non-null      object
 22  At_U7         1 non-null      object
dtypes: datetime64[ns, UTC+08:00](2), float64(9), object(12)
memory usage: 692.6+ KB

In [257]:
user_user = hetero_data.iloc[:,[3,4,7,8,14,16,17,18,19,20,21,22]]
user_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_UserID      3850 non-null   float64
 1   F_UserName    3854 non-null   object
 2   T_UserID      907 non-null    float64
 3   T_UserName    1191 non-null   object
 4   Floor_UserID  1186 non-null   float64
 5   At_U1         1008 non-null   object
 6   At_U2         56 non-null     object
 7   At_U3         10 non-null     object
 8   At_U4         2 non-null      object
 9   At_U5         1 non-null      object
 10  At_U6         1 non-null      object
 11  At_U7         1 non-null      object
dtypes: float64(3), object(9)
memory usage: 361.4+ KB

In [258]:
userInter='Datasets/UserInteraction.csv'
user_user.to_csv(userInter, index=False,encoding='utf-8-sig')

### 4.1.2 读取`user_user`：用户互动原始表/Read `user_user`: the raw interaction DataFrame

In [259]:
user_user=pd.read_csv('Datasets/UserInteraction.csv')
user_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_UserID      3850 non-null   float64
 1   F_UserName    3854 non-null   object
 2   T_UserID      907 non-null    float64
 3   T_UserName    1191 non-null   object
 4   Floor_UserID  1186 non-null   float64
 5   At_U1         1008 non-null   object
 6   At_U2         56 non-null     object
 7   At_U3         10 non-null     object
 8   At_U4         2 non-null      object
 9   At_U5         1 non-null      object
 10  At_U6         1 non-null      object
 11  At_U7         1 non-null      object
dtypes: float64(3), object(9)
memory usage: 361.4+ KB

### 4.1.3 将Floor UserName链接到`user_user`/Attach the Floor UserName to `user_user`

微博不存在重复用户名，所以UserID可以直接删去

Duplicate usernames are not allowed on Weibo. Therefore, UserID is unnecessary to be kept and can be removed

In [260]:
user_user.drop(columns=['F_UserID','T_UserID'],inplace=True)
user_user

,F_UserName,T_UserName,Floor_UserID,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
0,祎只狸猫,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,邮一棵草莓i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,kmimg7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,小祀弟弟吖,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,不知道如何评价,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3849,Aki是乌龟,怕事先改名shaw,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3850,兔纸今天能摸到鱼吗,沉迷艾欧泽亚的菜菜啊,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3851,兔纸今天能摸到鱼吗,沙奈朵的裙底到底有什么,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3852,淐馮,元首的胖次00658,6940897092.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3853,云夜悠长,万里的追寻者41043,6829123837.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

在Section 3.2里定义了`name_id`

`name_id` is defined in Section 3.2

In [261]:
name_id

          UserID   UserName
0     1001914040        薪火鹏
1     1008309912       提尔乌斯
2     1025900974    猫的摇篮-伪物
3     1028179843    非常神奇的老z
4     1035744261    假装很强的萌新
...          ...        ...
2798  7755717663  寂月海200007
2799  7766444420     烛虚cron
2800  7772408887   bo_白色大月亮
2801  7774567481       你好陈博
2802  7776168152    养着兔子的猫咪

[2803 rows x 2 columns]

In [262]:
# 融合/Merge
user_user = pd.merge(user_user, name_id, how='left', left_on='Floor_UserID',right_on='UserID')
user_user

,F_UserName,T_UserName,Floor_UserID,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7,UserID,UserName
0,祎只狸猫,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,邮一棵草莓i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,kmimg7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,小祀弟弟吖,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,不知道如何评价,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3849,Aki是乌龟,怕事先改名shaw,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6201564748.0,兔纸今天能摸到鱼吗
3850,兔纸今天能摸到鱼吗,沉迷艾欧泽亚的菜菜啊,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6201564748.0,兔纸今天能摸到鱼吗
3851,兔纸今天能摸到鱼吗,沙奈朵的裙底到底有什么,6201564748.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6201564748.0,兔纸今天能摸到鱼吗
3852,淐馮,元首的胖次00658,6940897092.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6940897092.0,元首的胖次00658
3853,云夜悠长,万里的追寻者41043,6829123837.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6829123837.0,万里的追寻者41043

In [263]:
floor_Uname = user_user['UserName']
user_user.drop(columns=['Floor_UserID','UserID','UserName'],inplace=True)

In [264]:
user_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   F_UserName  3854 non-null   object
 1   T_UserName  1191 non-null   object
 2   At_U1       1008 non-null   object
 3   At_U2       56 non-null     object
 4   At_U3       10 non-null     object
 5   At_U4       2 non-null      object
 6   At_U5       1 non-null      object
 7   At_U6       1 non-null      object
 8   At_U7       1 non-null      object
dtypes: object(9)
memory usage: 271.1+ KB

In [265]:
user_user.insert(2,'Floor_UserName',floor_Uname)
user_user

,F_UserName,T_UserName,Floor_UserName,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
0,祎只狸猫,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,邮一棵草莓i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,kmimg7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,小祀弟弟吖,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,不知道如何评价,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3849,Aki是乌龟,怕事先改名shaw,兔纸今天能摸到鱼吗,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3850,兔纸今天能摸到鱼吗,沉迷艾欧泽亚的菜菜啊,兔纸今天能摸到鱼吗,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3851,兔纸今天能摸到鱼吗,沙奈朵的裙底到底有什么,兔纸今天能摸到鱼吗,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3852,淐馮,元首的胖次00658,元首的胖次00658,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3853,云夜悠长,万里的追寻者41043,万里的追寻者41043,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
user_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   F_UserName      3854 non-null   object
 1   T_UserName      1191 non-null   object
 2   Floor_UserName  1186 non-null   object
 3   At_U1           1008 non-null   object
 4   At_U2           56 non-null     object
 5   At_U3           10 non-null     object
 6   At_U4           2 non-null      object
 7   At_U5           1 non-null      object
 8   At_U6           1 non-null      object
 9   At_U7           1 non-null      object
dtypes: object(10)
memory usage: 301.2+ KB

### 4.1.4 构建最终的用户数据库（合计3783名用户），并获得最终的用户特征数据集/Construct the final user database (3783 users in total) and obtain the final user features dataset

<font color='red'><b>请注意，由于该section的第一部分（即 (1) 准备工作/Preparation）中使用了`set`来得到独特的用户名列表，用户append的操作将无法复现。尽管`set`可以提取出所有的独特用户名，但是无法保证每次运行的顺序。因此在该jupyter文件（是初始文件的整合版）中，请不要运行该章节下的(1) 和 (2) 中的代码。请直接转至(3)读取最开始的jupyter文件版本（同样也是后续训练模型的版本）中保存的文件。如果您有其他可复现的方法，欢迎告知我</b></font>

<font color='skyblue'><b>Please note that in the first part (i.e., (1) Preparation) of this section in this Jupyter file, the use of `set` to obtain a unique list of usernames may result in irreproducible appending operations. While `set` can extract all unique usernames, it cannot guarantee the order of the obtained list each time. Therefore, in this Jupyter file (the integrated version of the initial file), DO NOT run the code in (1) and (2). Please turn to (3) to read the file saved in the initial Jupyter file version (which is also used in the subsequent model training). If you have alternative reproducible methods, please feel free to share them with me :)</b></font>

#### (1) 准备工作/Preparation

确认总用户数

Identify the total number of users (including 2 parts: with profiles and without profiles)

In [383]:
uni_uName = set()
for c in user_user.columns:
    uni_uName |= set(user_user[c].dropna())

all_user = list(uni_uName)
len(all_user)

3783

为了简化GNNs中的one-hot层结构以及避免地域歧视，ProvinceCode将被drop掉。

To simplified the one-hot structre in GNNs and avoid geographical discrimination, ProvinceCode will be droped

In [347]:
profile_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UserID          2803 non-null   int64
 1   IndexList       2803 non-null   object
 2   UserName        2803 non-null   object
 3   TotalComment    2803 non-null   int64
 4   Comment         2803 non-null   int64
 5   Reply           2803 non-null   int64
 6   LikeCount       2803 non-null   int64
 7   ProvinceCode    2803 non-null   int64
 8   Description     2803 non-null   int64
 9   DescriptionLen  2803 non-null   int64
 10  SpecialChar     2803 non-null   int64
 11  UserGender      2803 non-null   int64
 12  UserFan         2803 non-null   int64
 13  UserFollow      2803 non-null   int64
 14  UserWeibo       2803 non-null   int64
 15  UserVerified    2803 non-null   int64
 16  LoyalFan        2803 non-null   int64
 17  VipRank         2803 non-null   int64
dtypes: int64(16), object(2)
memory usage: 394.3+ KB

In [348]:
len(profile_data['ProvinceCode'].value_counts())

35

In [349]:
user_feature = profile_data.iloc[:,[2,8,9,10,11,12,13,14,15,16,17]]
user_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2803 entries, 0 to 2802
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UserName        2803 non-null   object
 1   Description     2803 non-null   int64
 2   DescriptionLen  2803 non-null   int64
 3   SpecialChar     2803 non-null   int64
 4   UserGender      2803 non-null   int64
 5   UserFan         2803 non-null   int64
 6   UserFollow      2803 non-null   int64
 7   UserWeibo       2803 non-null   int64
 8   UserVerified    2803 non-null   int64
 9   LoyalFan        2803 non-null   int64
 10  VipRank         2803 non-null   int64
dtypes: int64(10), object(1)
memory usage: 241.0+ KB

In [350]:
user_feature.head()

,UserName,Description,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank
0,薪火鹏,1,17,2,1,30,56,692,0,0,0
1,提尔乌斯,1,4,0,1,0,0,0,0,0,0
2,猫的摇篮-伪物,1,11,1,1,917,1109,2013,0,0,0
3,非常神奇的老z,0,0,0,1,13,59,9,0,0,0
4,假装很强的萌新,1,10,0,1,14,34,107,0,1,0

探索了VipRank各值的分布情况后，可以发现VipRank=0占了大多数。将VipRank做成新的二分变量Vip：
- Vip=0: Vip等级为0
- Vip=1：Vip等级不为0

After exploring the distribution of values for VipRank, we can find that VipRank=0 is in the majority. Convert VipRank to a new binary variable Vip:
- Vip=0: VipRank=0
- Vip=1: VipRank≠0

In [352]:
user_feature['VipRank'].value_counts().sort_index()

VipRank
0    2595
1      22
2       8
3       8
4      10
5      18
6      65
7      67
8      10
Name: count, dtype: int64

In [353]:
user_feature['Vip'] = 0
vip_idx = list(user_feature[user_feature['VipRank']!=0].index)
user_feature.loc[vip_idx, 'Vip'] = 1
user_feature['Vip'].value_counts().sort_index()

Vip
0    2595
1     208
Name: count, dtype: int64

将缺失了user profile的用户append到`user_feature`

Append users without profiles to the `user_feature`

In [288]:
miss_name = [un for un in all_user if un not in user_feature['UserName'].values]
user_feature = pd.concat([user_feature, pd.DataFrame({'UserName': miss_name})]).reset_index()
user_feature

,index,UserName,Description,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Vip
0,0,薪火鹏,1.0,17.0,2.0,1.0,30.0,56.0,692.0,0.0,0.0,0.0,0.0
1,1,提尔乌斯,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,猫的摇篮-伪物,1.0,11.0,1.0,1.0,917.0,1109.0,2013.0,0.0,0.0,0.0,0.0
3,3,非常神奇的老z,0.0,0.0,0.0,1.0,13.0,59.0,9.0,0.0,0.0,0.0,0.0
4,4,假装很强的萌新,1.0,10.0,0.0,1.0,14.0,34.0,107.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3778,975,宋宋Monkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3779,976,Shadow-201201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3780,977,我是你晗大大,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3781,978,普莱米亚姆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3782,979,Zookie-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

设置user node index：“user_nIdx”

Set the user node index "user_nIdx"

In [289]:
user_feature = user_feature.reset_index()
user_feature

,level_0,index,UserName,Description,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Vip
0,0,0,薪火鹏,1.0,17.0,2.0,1.0,30.0,56.0,692.0,0.0,0.0,0.0,0.0
1,1,1,提尔乌斯,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2,猫的摇篮-伪物,1.0,11.0,1.0,1.0,917.0,1109.0,2013.0,0.0,0.0,0.0,0.0
3,3,3,非常神奇的老z,0.0,0.0,0.0,1.0,13.0,59.0,9.0,0.0,0.0,0.0,0.0
4,4,4,假装很强的萌新,1.0,10.0,0.0,1.0,14.0,34.0,107.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3778,3778,975,宋宋Monkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3779,3779,976,Shadow-201201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3780,3780,977,我是你晗大大,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3781,3781,978,普莱米亚姆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3782,3782,979,Zookie-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [325]:
user_feature.drop(columns='index',inplace=True)

In [291]:
user_feature.rename(columns={'level_0':'user_nIdx'},inplace=True)
user_feature

,user_nIdx,UserName,Description,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Vip
0,0,薪火鹏,1.0,17.0,2.0,1.0,30.0,56.0,692.0,0.0,0.0,0.0,0.0
1,1,提尔乌斯,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,猫的摇篮-伪物,1.0,11.0,1.0,1.0,917.0,1109.0,2013.0,0.0,0.0,0.0,0.0
3,3,非常神奇的老z,0.0,0.0,0.0,1.0,13.0,59.0,9.0,0.0,0.0,0.0,0.0
4,4,假装很强的萌新,1.0,10.0,0.0,1.0,14.0,34.0,107.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3778,3778,宋宋Monkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3779,3779,Shadow-201201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3780,3780,我是你晗大大,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3781,3781,普莱米亚姆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3782,3782,Zookie-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

可以发现在user_nIdx=2803后的用户，所有的特征全为空值。这980个用户在GNNs里将被用于embedding层以得到伪profile

For users with user_nIdx larger than 2802, all features are NaN. All these 980 users will be handled via the embedding layer in GNNs to obtain the pseudo profiles

In [327]:
user_feature[user_feature['Description'].isna()]

,user_nIdx,UserName,Description,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Vip
2803,2803,折花绯雪,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2804,2804,守护舒宝,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2805,2805,-Miserable-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2806,2806,Arne晓暮,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2807,2807,Fooooooooo星,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3778,3778,看到尽头以前就一起走吧,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3779,3779,Acer宏碁,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3780,3780,nlhsmkt_399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3781,3781,HellonmbdKity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3782,3782,L0cu4T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### (2) 保存处理后的用户特征数据集/Save the processed user feature dataset `user_feature`

可以跳转至下一个Section直接读取数据

You can turn to the next Section to read the processed `user_feature` directly

In [328]:
user_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3783 entries, 0 to 3782
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_nIdx       3783 non-null   int64
 1   UserName        3783 non-null   object
 2   Description     2803 non-null   float64
 3   DescriptionLen  2803 non-null   float64
 4   SpecialChar     2803 non-null   float64
 5   UserGender      2803 non-null   float64
 6   UserFan         2803 non-null   float64
 7   UserFollow      2803 non-null   float64
 8   UserWeibo       2803 non-null   float64
 9   UserVerified    2803 non-null   float64
 10  LoyalFan        2803 non-null   float64
 11  VipRank         2803 non-null   float64
 12  Vip             2803 non-null   float64
dtypes: float64(11), int64(1), object(1)
memory usage: 384.3+ KB

In [329]:
feature = 'Datasets/UserFeature_Graph.csv'
user_feature.to_csv(feature, index=False,encoding='utf-8-sig')

#### (3) 读取数据：user_feature 用户特征数据集/Read the data: `user_feature` user feature dataset

In [267]:
user_feature = pd.read_csv('Datasets/UserFeature_Graph.csv')
user_feature

,user_nIdx,UserName,Description,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Vip
0,0,薪火鹏,1.0,17.0,2.0,1.0,30.0,56.0,692.0,0.0,0.0,0.0,0.0
1,1,提尔乌斯,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,猫的摇篮-伪物,1.0,11.0,1.0,1.0,917.0,1109.0,2013.0,0.0,0.0,0.0,0.0
3,3,非常神奇的老z,0.0,0.0,0.0,1.0,13.0,59.0,9.0,0.0,0.0,0.0,0.0
4,4,假装很强的萌新,1.0,10.0,0.0,1.0,14.0,34.0,107.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3778,3778,宋宋Monkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3779,3779,Shadow-201201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3780,3780,我是你晗大大,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3781,3781,普莱米亚姆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3782,3782,Zookie-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### (4) 将用户特征数据集转换为Tensor/Transform the user feature dataset (including necessary features) to Tensor

这一步包括：
- 提取所需的特征列
- 将user_nIdx为0~2802的全部用户的特征转换成tensor
- user_nIdx=2803后的全部用户将在GNNs的embedding layer进行处理
- user_nIdx=2803后的全部用户将被赋予一个新的索引，用以后续embedding layer

This section includes:
- Extract features we need
- Transform thoese features of the users with user_nIdx $\in [0, 2802]$ to Tensor
- Users with user_nIdx $\in [2803, 3782]$ will be handled via embedding layer of GNNs; Each user will be given a new index for the subsequent embedding layer

提取相关列，并转换为tensor、保存

Extract related columns and transform it to Tensor. Save the Tensor

In [268]:
user_f = torch.from_numpy(user_feature.iloc[0:2803,[2,3,4,5,6,7,8,9,10,12]].values).to(torch.float)
user_f

tensor([[ 1., 17.,  2.,  ...,  0.,  0.,  0.],
        [ 1.,  4.,  0.,  ...,  0.,  0.,  0.],
        [ 1., 11.,  1.,  ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0.,  ...,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  ...,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  ...,  0.,  0.,  0.]])

In [271]:
torch.save(user_f, "Tensor/user_f.pt")

In [272]:
user_f.shape

torch.Size([2803, 10])

再次检查，确认Tensor无误

Double check and confirm that the Tensor is correct

In [273]:
user_feature.loc[2790:2802]

,user_nIdx,UserName,Description,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Vip
2790,2790,邮一棵草莓i,1.0,3.0,3.0,0.0,2.0,48.0,124.0,0.0,0.0,0.0,0.0
2791,2791,獅Yue,0.0,0.0,0.0,0.0,0.0,53.0,1.0,0.0,0.0,0.0,0.0
2792,2792,不知道如何评价,0.0,0.0,0.0,1.0,0.0,55.0,0.0,0.0,0.0,0.0,0.0
2793,2793,EJoachim,1.0,13.0,4.0,0.0,0.0,41.0,27.0,0.0,1.0,0.0,0.0
2794,2794,邱赵琳,0.0,0.0,0.0,1.0,0.0,32.0,49.0,0.0,0.0,0.0,0.0
2795,2795,祎只狸猫,1.0,8.0,0.0,0.0,45.0,149.0,260.0,0.0,1.0,0.0,0.0
2796,2796,名字就叫旧林,0.0,0.0,0.0,0.0,2.0,4.0,4.0,0.0,0.0,0.0,0.0
2797,2797,花月歌浮舟,0.0,0.0,0.0,0.0,60.0,122.0,1.0,0.0,0.0,0.0,0.0
2798,2798,寂月海200007,0.0,0.0,0.0,1.0,0.0,10.0,2.0,0.0,0.0,0.0,0.0
2799,2799,烛虚cron,1.0,5.0,7.0,0.0,1.0,38.0,37.0,0.0,0.0,0.0,0.0
2800,2800,bo_白色大月亮,0.0,0.0,0.0,1.0,0.0,50.0,6.0,0.0,0.0,0.0,0.0
2801,2801,你好陈博,0.0,0.0,0.0,1.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0
2802,2802,养着兔子的猫咪,0.0,0.0,0.0,0.0,0.0,61.0,0.0,0.0,0.0,0.0,0.0

In [274]:
user_f[2790:2802]

tensor([[  1.,   3.,   3.,   0.,   2.,  48., 124.,   0.,   0.,   0.],
        [  0.,   0.,   0.,   0.,   0.,  53.,   1.,   0.,   0.,   0.],
        [  0.,   0.,   0.,   1.,   0.,  55.,   0.,   0.,   0.,   0.],
        [  1.,  13.,   4.,   0.,   0.,  41.,  27.,   0.,   1.,   0.],
        [  0.,   0.,   0.,   1.,   0.,  32.,  49.,   0.,   0.,   0.],
        [  1.,   8.,   0.,   0.,  45., 149., 260.,   0.,   1.,   0.],
        [  0.,   0.,   0.,   0.,   2.,   4.,   4.,   0.,   0.,   0.],
        [  0.,   0.,   0.,   0.,  60., 122.,   1.,   0.,   0.,   0.],
        [  0.,   0.,   0.,   1.,   0.,  10.,   2.,   0.,   0.,   0.],
        [  1.,   5.,   7.,   0.,   1.,  38.,  37.,   0.,   0.,   0.],
        [  0.,   0.,   0.,   1.,   0.,  50.,   6.,   0.,   0.,   0.],
        [  0.,   0.,   0.,   1.,   0.,   7.,   0.,   0.,   0.,   0.]])

在user_nIdx=2803及之后的用户，将被给予一个用于embedding layer的index。<br>
将该index列转换为Tensor并保存

Users with user_nIdx $\in [2803, 3782]$ will be given the new indices for the subsequent embedding layer <br>
Transform the list of index to Tensor and save

In [275]:
no_profile_Num = len(user_feature.loc[2803:])
user_embed_idx = torch.tensor(range(no_profile_Num))
user_embed_idx

tensor([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
         28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
         42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
         56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,
         70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,
         84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
         98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111,
        112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
        126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139,
        140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153,
        154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167,
        168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
        182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
        196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209,
        210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223,
        224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237,
        238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
        252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265,
        266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279,
        280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293,
        294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307,
        308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321,
        322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335,
        336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349,
        350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
        364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
        378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391,
        392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405,
        406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419,
        420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433,
        434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447,
        448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461,
        462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475,
        476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489,
        490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503,
        504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517,
        518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531,
        532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
        546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
        560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573,
        574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587,
        588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601,
        602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615,
        616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629,
        630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643,
        644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657,
        658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671,
        672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685,
        686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699,
        700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713,
        714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
        728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741,
        742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755,
        756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769,
        770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783,
        784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797,
        798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811,
        812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825,
        826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839,
        840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853,
        854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867,
        868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881,
        882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895,
        896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
        910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923,
        924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937,
        938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951,
        952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965,
        966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979])

In [277]:
torch.save(user_embed_idx, "Tensor/user_embed_idx.pt")

变量名回顾
- user_f：已有profile的user的features，tensor格式。包含2803个node，shape为2803x10（即10 features）
- user_embed_idx：未知profile的user的index，合计980个。该idx是按照embedding layer的要求建立的（从0~979）。将被送到embedding layer里进行后续处理
- user_feature['user_nIdx']: 可以提取node的unique idx（即user node index），将被用于构建图

Variable name review
- user_f: Tensor; Features for users with profiles; Includes 2803 nodes, with shape: $2803 \times 10$ (i.e., 10 features)
- user_embed_idx: Tensor; 980 indices of users without profiles; Created following the embedding layer requirement (i.e., Idx from 0 to 979); Will be conducted in the embedding layer
- user_feature['user_nIdx']: A column in the DataFrame; Store all user nodes indices (from 0 to 3782); Will be used to construct User Interaction Graph

### 4.1.5 重组数据集，使得一行只有一个From和一个To/Reorganize the dataset so that there is only one From and one To in a row
创建一个新的DataFrame

Create a new DataFrame

In [278]:
column_names = ['F_UserName','F_nIdx','T_UserName','T_nIdx']
user_inter = pd.DataFrame(columns=column_names)
user_inter

Empty DataFrame
Columns: [F_UserName, F_nIdx, T_UserName, T_nIdx]
Index: []

In [279]:
user_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   F_UserName      3854 non-null   object
 1   T_UserName      1191 non-null   object
 2   Floor_UserName  1186 non-null   object
 3   At_U1           1008 non-null   object
 4   At_U2           56 non-null     object
 5   At_U3           10 non-null     object
 6   At_U4           2 non-null      object
 7   At_U5           1 non-null      object
 8   At_U6           1 non-null      object
 9   At_U7           1 non-null      object
dtypes: object(10)
memory usage: 301.2+ KB

#### (1) 孤立点和Floor点：仅Isolated node and Floor node: Only F_UserName is non-null

孤立点的特征在于，在该社群网络里，他们未与其他用户互动；而Floor点在发布作为Floor结构开始的第一条文本时，他/她也没有和其他人互动。<br>
因此，只要除了index=0的列`F_UserName`之外全为空值的点，就可以被归为这2类点
<br>可以直接移步Section 4.1.5 (5)读取数据

Characteristics of isolated nodes: there are no interactions between them and other users in this community network;<br>
Characteristics of floor nodes: when they post the 1$^{\text{st}}$ text viewed as the start of Floor structure, there is also no interaction.<br>
Therefore, any node that has all null values except for the column `F_UserName` can be categorized as one of these 2 types of nodes<br>
You can move to Section 4.1.5 (5) to read the dataset

In [280]:
set1 = user_user[user_user.iloc[:, 1:].isna().all(axis=1)]
set1

,F_UserName,T_UserName,Floor_UserName,At_U1,At_U2,At_U3,At_U4,At_U5,At_U6,At_U7
0,祎只狸猫,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,邮一棵草莓i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,kmimg7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,小祀弟弟吖,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,不知道如何评价,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3563,哦伊哇伊伊,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3571,oO土豆泥O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3737,鸥洗恩,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3827,hakumei_surfing_ver,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3830,兔纸今天能摸到鱼吗,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [281]:
user_inter.loc[:,'F_UserName'] = list(set1['F_UserName'])

In [282]:
user_inter

               F_UserName F_nIdx T_UserName T_nIdx
0                    祎只狸猫    NaN        NaN    NaN
1                  邮一棵草莓i    NaN        NaN    NaN
2                  kmimg7    NaN        NaN    NaN
3                   小祀弟弟吖    NaN        NaN    NaN
4                 不知道如何评价    NaN        NaN    NaN
...                   ...    ...        ...    ...
1658                哦伊哇伊伊    NaN        NaN    NaN
1659               oO土豆泥O    NaN        NaN    NaN
1660                  鸥洗恩    NaN        NaN    NaN
1661  hakumei_surfing_ver    NaN        NaN    NaN
1662            兔纸今天能摸到鱼吗    NaN        NaN    NaN

[1663 rows x 4 columns]

#### (2) 其他点：有互动信息/Other nodes: with interactions

在上面的Section里我们已经提取出了所有没有互动信息的记录。那么，只需要对上述部分的索引取反，即可得到所有的“有互动信息”的数据。<br>
我们没有对不同的互动类型（如reply和mention/@）进行细分，因此直接使用melt并做后续处理，即可达成“一行只有一个From和一个To”的目标


All records without interactions information are extracted in the Section above. Therefore, negating indices in the Section above can obtain all data with interactions <br>
We haven't differentiated between different types of interactions (such as reply and mention/@). Therefore, by simply using the `melt` and performing additional processing, we can achieve the goal of "only one From and one To in a row"

In [283]:
set1_idx = list(set1.index)
len(set1_idx)

1663

In [284]:
set2 = user_user.loc[~user_user.index.isin(set1_idx)]
len(set2)

2191

In [285]:
set2_inter = set2.melt(id_vars = ['F_UserName'],
                       value_vars = ['T_UserName',
                                     'At_U1','At_U2','At_U3','At_U4','At_U5','At_U6','At_U7'],
                       var_name = 'InterType',
                       value_name = 'InterUser')
set2_inter

      F_UserName   InterType InterUser
0          花月歌浮舟  T_UserName       NaN
1           原神忠粉  T_UserName       NaN
2      DodLIke刂兆  T_UserName       NaN
3       wangxorz  T_UserName       NaN
4          葱花不开花  T_UserName       NaN
...          ...         ...       ...
17523     Aki是乌龟       At_U7       NaN
17524  兔纸今天能摸到鱼吗       At_U7       NaN
17525  兔纸今天能摸到鱼吗       At_U7       NaN
17526         淐馮       At_U7       NaN
17527       云夜悠长       At_U7       NaN

[17528 rows x 3 columns]

In [286]:
set2_inter.dropna(inplace=True)
set2_inter

           F_UserName   InterType              InterUser
50            老老老老老那啊  T_UserName             我再也不想写代码了
155    十香Princess2018  T_UserName                糖醋SAO排骨
249             昊哥昊哥耗  T_UserName             花盆栽柳树谁也拦不住
950              寒天黑糖  T_UserName                  半透明黑桶
976          bo_白色大月亮  T_UserName                养着兔子的猫咪
...               ...         ...                    ...
8803   Pancras_Loe盧鵬州       At_U4                   腾讯电竞
10072              本壹       At_U4                   拉不拉奇
12263              本壹       At_U5                _啊翔翔翔翔翔
14454              本壹       At_U6  NormanFuckingRockwell
16645              本壹       At_U7           SpaceyCowboy

[2270 rows x 3 columns]

In [287]:
set2_targ = set2_inter[['F_UserName','InterUser']]
user_inter = pd.concat([user_inter, set2_targ]).reset_index()
user_inter

      index      F_UserName F_nIdx T_UserName T_nIdx              InterUser
0         0            祎只狸猫    NaN        NaN    NaN                    NaN
1         1          邮一棵草莓i    NaN        NaN    NaN                    NaN
2         2          kmimg7    NaN        NaN    NaN                    NaN
3         3           小祀弟弟吖    NaN        NaN    NaN                    NaN
4         4         不知道如何评价    NaN        NaN    NaN                    NaN
...     ...             ...    ...        ...    ...                    ...
3928   8803  Pancras_Loe盧鵬州    NaN        NaN    NaN                   腾讯电竞
3929  10072              本壹    NaN        NaN    NaN                   拉不拉奇
3930  12263              本壹    NaN        NaN    NaN                _啊翔翔翔翔翔
3931  14454              本壹    NaN        NaN    NaN  NormanFuckingRockwell
3932  16645              本壹    NaN        NaN    NaN           SpaceyCowboy

[3933 rows x 6 columns]

In [288]:
user_inter.drop(columns='index',inplace=True)
user_inter

          F_UserName F_nIdx T_UserName T_nIdx              InterUser
0               祎只狸猫    NaN        NaN    NaN                    NaN
1             邮一棵草莓i    NaN        NaN    NaN                    NaN
2             kmimg7    NaN        NaN    NaN                    NaN
3              小祀弟弟吖    NaN        NaN    NaN                    NaN
4            不知道如何评价    NaN        NaN    NaN                    NaN
...              ...    ...        ...    ...                    ...
3928  Pancras_Loe盧鵬州    NaN        NaN    NaN                   腾讯电竞
3929              本壹    NaN        NaN    NaN                   拉不拉奇
3930              本壹    NaN        NaN    NaN                _啊翔翔翔翔翔
3931              本壹    NaN        NaN    NaN  NormanFuckingRockwell
3932              本壹    NaN        NaN    NaN           SpaceyCowboy

[3933 rows x 5 columns]

通过上面的分析，我们知道从DataFrame索引1663开始，就是来自set2的数据：即有用户互动的数据

From the analysis above, it is clear that all records from `set2` (i.e., all data with user interactions) are saved from the DataFrame index=1663

In [289]:
user_inter.loc[1662:1669]

          F_UserName F_nIdx T_UserName T_nIdx   InterUser
1662       兔纸今天能摸到鱼吗    NaN        NaN    NaN         NaN
1663         老老老老老那啊    NaN        NaN    NaN  我再也不想写代码了
1664  十香Princess2018    NaN        NaN    NaN     糖醋SAO排骨
1665           昊哥昊哥耗    NaN        NaN    NaN  花盆栽柳树谁也拦不住
1666            寒天黑糖    NaN        NaN    NaN       半透明黑桶
1667        bo_白色大月亮    NaN        NaN    NaN     养着兔子的猫咪
1668            夕神心音    NaN        NaN    NaN        书一点禾
1669        bo_白色大月亮    NaN        NaN    NaN      罗小黑本喵_

对该部分user：将InterUser的值移动到T_UserName

For those users: "Move" the value of InterUser to T_UserName

In [290]:
user_inter.loc[1663:,'T_UserName'] = user_inter.loc[1663:,'InterUser']
user_inter.loc[1662:1669]

          F_UserName F_nIdx  T_UserName T_nIdx   InterUser
1662       兔纸今天能摸到鱼吗    NaN         NaN    NaN         NaN
1663         老老老老老那啊    NaN  我再也不想写代码了     NaN  我再也不想写代码了
1664  十香Princess2018    NaN     糖醋SAO排骨    NaN     糖醋SAO排骨
1665           昊哥昊哥耗    NaN  花盆栽柳树谁也拦不住    NaN  花盆栽柳树谁也拦不住
1666            寒天黑糖    NaN       半透明黑桶    NaN       半透明黑桶
1667        bo_白色大月亮    NaN     养着兔子的猫咪    NaN     养着兔子的猫咪
1668            夕神心音    NaN        书一点禾    NaN        书一点禾
1669        bo_白色大月亮    NaN      罗小黑本喵_    NaN      罗小黑本喵_

In [291]:
user_inter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933 entries, 0 to 3932
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   F_UserName  3933 non-null   object
 1   F_nIdx      0 non-null      object
 2   T_UserName  2270 non-null   object
 3   T_nIdx      0 non-null      object
 4   InterUser   2270 non-null   object
dtypes: object(5)
memory usage: 153.8+ KB

删去多余的列

Drop the redundant column `InterUser`

In [292]:
user_inter.drop(columns='InterUser',inplace=True)
user_inter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933 entries, 0 to 3932
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   F_UserName  3933 non-null   object
 1   F_nIdx      0 non-null      object
 2   T_UserName  2270 non-null   object
 3   T_nIdx      0 non-null      object
dtypes: object(4)
memory usage: 123.0+ KB

#### (3) 将user_nIdx附加到`user_inter`/Attach user_nIdx to the `user_inter`
从Section 4.1.4 (3)的user_feature提取user_nIdx

Extract user_nIdx from user_feature in Section 4.1.4 (3)

In [293]:
user_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3783 entries, 0 to 3782
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_nIdx       3783 non-null   int64
 1   UserName        3783 non-null   object
 2   Description     2803 non-null   float64
 3   DescriptionLen  2803 non-null   float64
 4   SpecialChar     2803 non-null   float64
 5   UserGender      2803 non-null   float64
 6   UserFan         2803 non-null   float64
 7   UserFollow      2803 non-null   float64
 8   UserWeibo       2803 non-null   float64
 9   UserVerified    2803 non-null   float64
 10  LoyalFan        2803 non-null   float64
 11  VipRank         2803 non-null   float64
 12  Vip             2803 non-null   float64
dtypes: float64(11), int64(1), object(1)
memory usage: 384.3+ KB

In [294]:
user_merge = user_feature[['user_nIdx','UserName']]
user_merge

      user_nIdx       UserName
0             0            薪火鹏
1             1           提尔乌斯
2             2        猫的摇篮-伪物
3             3        非常神奇的老z
4             4        假装很强的萌新
...         ...            ...
3778       3778       宋宋Monkey
3779       3779  Shadow-201201
3780       3780         我是你晗大大
3781       3781          普莱米亚姆
3782       3782        Zookie-

[3783 rows x 2 columns]

In [295]:
user_inter = pd.merge(user_inter, user_merge, how='left', left_on='F_UserName',right_on='UserName')
user_inter = pd.merge(user_inter, user_merge, how='left', left_on='T_UserName',right_on='UserName')
user_inter

,F_UserName,F_nIdx,T_UserName,T_nIdx,user_nIdx_x,UserName_x,user_nIdx_y,UserName_y
0,祎只狸猫,NaN,NaN,NaN,2795,祎只狸猫,NaN,NaN
1,邮一棵草莓i,NaN,NaN,NaN,2790,邮一棵草莓i,NaN,NaN
2,kmimg7,NaN,NaN,NaN,2789,kmimg7,NaN,NaN
3,小祀弟弟吖,NaN,NaN,NaN,2783,小祀弟弟吖,NaN,NaN
4,不知道如何评价,NaN,NaN,NaN,2792,不知道如何评价,NaN,NaN
...,...,...,...,...,...,...,...,...
3928,Pancras_Loe盧鵬州,NaN,腾讯电竞,NaN,2477,Pancras_Loe盧鵬州,3345.0,腾讯电竞
3929,本壹,NaN,拉不拉奇,NaN,2500,本壹,3284.0,拉不拉奇
3930,本壹,NaN,_啊翔翔翔翔翔,NaN,2500,本壹,3691.0,_啊翔翔翔翔翔
3931,本壹,NaN,NormanFuckingRockwell,NaN,2500,本壹,3211.0,NormanFuckingRockwell
3932,本壹,NaN,SpaceyCowboy,NaN,2500,本壹,3661.0,SpaceyCowboy

使数据集更加可读：x -> F，y -> T

Make the dataset more readable: x -> F，y -> T

In [296]:
f_nIdx = user_inter['user_nIdx_x']
t_nIdx = user_inter['user_nIdx_y']
user_inter['F_nIdx'] = f_nIdx
user_inter['T_nIdx'] = t_nIdx
user_inter

,F_UserName,F_nIdx,T_UserName,T_nIdx,user_nIdx_x,UserName_x,user_nIdx_y,UserName_y
0,祎只狸猫,2795,NaN,NaN,2795,祎只狸猫,NaN,NaN
1,邮一棵草莓i,2790,NaN,NaN,2790,邮一棵草莓i,NaN,NaN
2,kmimg7,2789,NaN,NaN,2789,kmimg7,NaN,NaN
3,小祀弟弟吖,2783,NaN,NaN,2783,小祀弟弟吖,NaN,NaN
4,不知道如何评价,2792,NaN,NaN,2792,不知道如何评价,NaN,NaN
...,...,...,...,...,...,...,...,...
3928,Pancras_Loe盧鵬州,2477,腾讯电竞,3345.0,2477,Pancras_Loe盧鵬州,3345.0,腾讯电竞
3929,本壹,2500,拉不拉奇,3284.0,2500,本壹,3284.0,拉不拉奇
3930,本壹,2500,_啊翔翔翔翔翔,3691.0,2500,本壹,3691.0,_啊翔翔翔翔翔
3931,本壹,2500,NormanFuckingRockwell,3211.0,2500,本壹,3211.0,NormanFuckingRockwell
3932,本壹,2500,SpaceyCowboy,3661.0,2500,本壹,3661.0,SpaceyCowboy

In [297]:
user_inter.drop(columns=['user_nIdx_x','UserName_x','user_nIdx_y','UserName_y'],inplace=True)
user_inter

          F_UserName  F_nIdx             T_UserName  T_nIdx
0               祎只狸猫    2795                    NaN     NaN
1             邮一棵草莓i    2790                    NaN     NaN
2             kmimg7    2789                    NaN     NaN
3              小祀弟弟吖    2783                    NaN     NaN
4            不知道如何评价    2792                    NaN     NaN
...              ...     ...                    ...     ...
3928  Pancras_Loe盧鵬州    2477                   腾讯电竞  3345.0
3929              本壹    2500                   拉不拉奇  3284.0
3930              本壹    2500                _啊翔翔翔翔翔  3691.0
3931              本壹    2500  NormanFuckingRockwell  3211.0
3932              本壹    2500           SpaceyCowboy  3661.0

[3933 rows x 4 columns]

In [298]:
user_inter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933 entries, 0 to 3932
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   F_UserName  3933 non-null   object
 1   F_nIdx      3933 non-null   int64
 2   T_UserName  2270 non-null   object
 3   T_nIdx      2270 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 123.0+ KB

#### (4) 保存user_inter/Save user_inter as a CSV file

In [299]:
interaction = 'Datasets/UserInter_Graph.csv'
user_inter.to_csv(interaction, index=False,encoding='utf-8-sig')

#### (5) 读取数据：user_inter/Read user_inter
user_inter仅包含用户互动信息（用户名和用户节点索引）

user_inter only includes user interactions information (i.e., Username and user node index)

In [300]:
user_inter = pd.read_csv('Datasets/UserInter_Graph.csv')
user_inter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3933 entries, 0 to 3932
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   F_UserName  3933 non-null   object
 1   F_nIdx      3933 non-null   int64
 2   T_UserName  2270 non-null   object
 3   T_nIdx      2270 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 123.0+ KB

In [302]:
user_inter

          F_UserName  F_nIdx             T_UserName  T_nIdx
0               祎只狸猫    2795                    NaN     NaN
1             邮一棵草莓i    2790                    NaN     NaN
2             kmimg7    2789                    NaN     NaN
3              小祀弟弟吖    2783                    NaN     NaN
4            不知道如何评价    2792                    NaN     NaN
...              ...     ...                    ...     ...
3928  Pancras_Loe盧鵬州    2477                   腾讯电竞  3345.0
3929              本壹    2500                   拉不拉奇  3284.0
3930              本壹    2500                _啊翔翔翔翔翔  3691.0
3931              本壹    2500  NormanFuckingRockwell  3211.0
3932              本壹    2500           SpaceyCowboy  3661.0

[3933 rows x 4 columns]

#### (6) 将用户互动数据集转换为Tensor/Convert the user interaction dataset `user_inter` to Tensor

In [319]:
userInter_data = torch.from_numpy(user_inter[['F_nIdx','T_nIdx']].values).T
userInter_data

tensor([[2795., 2790., 2789.,  ..., 2500., 2500., 2500.],
        [  nan,   nan,   nan,  ..., 3691., 3211., 3661.]], dtype=torch.float64)

In [304]:
userInter_data.shape

torch.Size([2, 3933])

保存

Save

In [310]:
torch.save(userInter_data, "Tensor/userInter_data.pt")

In [311]:
userInter_data

tensor([[2795., 2790., 2789.,  ..., 2500., 2500., 2500.],
        [  nan,   nan,   nan,  ..., 3691., 3211., 3661.]], dtype=torch.float64)

## 4.2 用户评论所属关系/user-comment affliation relationship

这一部分包括：
- 给予处理后的文本Comment Idx用于HeteroG的构建
- 将用户的user_nIdx附加到user-comment的数据集
- 将处理好的user-comment数据集转换为tensor
- 对文本使用transform库转为vector表达；该vector将被用于HeteroG中，comment节点的属性

This Section includes:
- Coment Idx will be given to all processed texts for HeteroG construction
- Attach user_nIdx to the user-comment dataset
- Transform the processed user-comment to Tensor
- Convert all texts into vector representation via transformers library; These vectors will be used as attributes of comment nodes in HeteroG

### 4.2.1 保存：hetero_data，一个包含了所有的文本与互动信息的数据集/Save hetero_data: a dataset includes all texts and interaction information

可以移步到Section 4.2.2直接读取数据集

Turn to Section 4.2.2 to read the dataset directly

In [322]:
hetero_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         3850 non-null   float64
 1   F_CommID      3850 non-null   float64
 2   F_Time        3850 non-null   datetime64[ns, UTC+08:00]
 3   F_UserID      3850 non-null   float64
 4   F_UserName    3854 non-null   object
 5   F_Comment     3854 non-null   object
 6   T_Idx         441 non-null    float64
 7   T_UserID      907 non-null    float64
 8   T_UserName    1191 non-null   object
 9   T_CommID      441 non-null    float64
 10  T_Time        441 non-null    datetime64[ns, UTC+08:00]
 11  T_Comment     441 non-null    object
 12  Floor_Idx     1186 non-null   float64
 13  Floor_CommID  1186 non-null   float64
 14  Floor_UserID  1186 non-null   float64
 15  At_User       1010 non-null   object
 16  At_U1         1008 non-null   object
 17  At_U2         56 non-null     object
 18  At_U3         10 non-null     object
 19  At_U4         2 non-null      object
 20  At_U5         1 non-null      object
 21  At_U6         1 non-null      object
 22  At_U7         1 non-null      object
dtypes: datetime64[ns, UTC+08:00](2), float64(9), object(12)
memory usage: 692.6+ KB

In [323]:
all_info = 'Datasets/Sina_allInfo.csv'
hetero_data.to_csv(all_info, index=False,encoding='utf-8-sig')

### 4.2.2 读取hetero_data，并提取必要的信息/Read hetero_data and extract the necessary columns

In [324]:
hetero_data = pd.read_csv('Datasets/Sina_allInfo.csv')
hetero_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   F_Idx         3850 non-null   float64
 1   F_CommID      3850 non-null   float64
 2   F_Time        3850 non-null   object
 3   F_UserID      3850 non-null   float64
 4   F_UserName    3854 non-null   object
 5   F_Comment     3847 non-null   object
 6   T_Idx         441 non-null    float64
 7   T_UserID      907 non-null    float64
 8   T_UserName    1191 non-null   object
 9   T_CommID      441 non-null    float64
 10  T_Time        441 non-null    object
 11  T_Comment     441 non-null    object
 12  Floor_Idx     1186 non-null   float64
 13  Floor_CommID  1186 non-null   float64
 14  Floor_UserID  1186 non-null   float64
 15  At_User       1010 non-null   object
 16  At_U1         1008 non-null   object
 17  At_U2         56 non-null     object
 18  At_U3         10 non-null     object
 19  At_U4         2 non-null      object
 20  At_U5         1 non-null      object
 21  At_U6         1 non-null      object
 22  At_U7         1 non-null      object
dtypes: float64(9), object(14)
memory usage: 692.6+ KB

user-comment网络体现的是用户及其所发布的文本的所属关系。一个用户可以发布多条文本<br>
因此在构建网络时，只需要用户的辨认信息以及对应的文本内容即可

user-comment graph indicates the affiliation relationship between one certain user and texts posted by him/her. A user can post multiple texts<br>
Therefore, only user ID (e.g., username or user node index) and their texts are required when constructing the graph

In [328]:
user_comment = hetero_data.loc[:,['F_UserName','F_Comment']]
user_comment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3854 entries, 0 to 3853
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   F_UserName  3854 non-null   object
 1   F_Comment   3847 non-null   object
dtypes: object(2)
memory usage: 60.3+ KB

transformers库中的Chinese-bert无法处理空值，但空格对于该模型tokenization的结果没有任何影响。<br>
因此，我们将空值替换为空格即可。


Although Chinese-Bert in transformers library cannot handle null values, it's tokenization results will not be affected by spaces <br>
Therefore, replace all null values with spaces.

In [329]:
user_comment[user_comment['F_Comment'].isna()]

          F_UserName F_Comment
913   十香Princess2018       NaN
914          糖醋SAO排骨       NaN
1178             心镜D       NaN
1319         不爱发博王左军       NaN
1658            天雷牙皇       NaN
2268        幸运的血玫瑰男爵       NaN
2694            兔兔谈谈       NaN

In [330]:
no_idx = list(user_comment[user_comment['F_Comment'].isna()].index)
user_comment.loc[no_idx,'F_Comment'] = ' '
user_comment[user_comment['F_Comment'].isna()]

Empty DataFrame
Columns: [F_UserName, F_Comment]
Index: []

### 4.2.3 构建user-comment数据集/Construct user-comment dataset

#### (1) 添加user node index和comment node index/Add the user node index and comment node index

In [331]:
user_feature

,user_nIdx,UserName,Description,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Vip
0,0,薪火鹏,1.0,17.0,2.0,1.0,30.0,56.0,692.0,0.0,0.0,0.0,0.0
1,1,提尔乌斯,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,猫的摇篮-伪物,1.0,11.0,1.0,1.0,917.0,1109.0,2013.0,0.0,0.0,0.0,0.0
3,3,非常神奇的老z,0.0,0.0,0.0,1.0,13.0,59.0,9.0,0.0,0.0,0.0,0.0
4,4,假装很强的萌新,1.0,10.0,0.0,1.0,14.0,34.0,107.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3778,3778,宋宋Monkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3779,3779,Shadow-201201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3780,3780,我是你晗大大,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3781,3781,普莱米亚姆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3782,3782,Zookie-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

借助UserName将user_nIdx附加到user_comment上

Attach user_nIdx to the user_comment via UserName

In [332]:
user_nIdx = user_feature[['user_nIdx','UserName']]
user_comment = pd.merge(user_comment, user_nIdx, how='left',left_on = 'F_UserName', right_on = 'UserName' )
user_comment

,F_UserName,F_Comment,user_nIdx,UserName
0,祎只狸猫,考古,2795,祎只狸猫
1,邮一棵草莓i,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,2790,邮一棵草莓i
2,kmimg7,真不知道迅哥给评论区投了多少米？[允悲][doge],2789,kmimg7
3,小祀弟弟吖,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],2783,小祀弟弟吖
4,不知道如何评价,[吃瓜]现在是2023年 回来考古的点个赞,2792,不知道如何评价
...,...,...,...,...
3849,Aki是乌龟,你这可把爷整乐了，求求你了，一定要玩，不玩任天堂就倒闭了，塞尔达就不出续作了，我给您磕头了，...,1685,Aki是乌龟
3850,兔纸今天能摸到鱼吗,牛批，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...,2200,兔纸今天能摸到鱼吗
3851,兔纸今天能摸到鱼吗,到我这条底下阴阳怪气啥？觉得抄袭了去评论前面几条啊，去和米卫兵吵啊，我又没发什么过激言论。再...,2200,兔纸今天能摸到鱼吗
3852,淐馮,唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...,2435,淐馮
3853,云夜悠长,国产游戏的废土时代就此降临[笑而不语],2677,云夜悠长

In [333]:
user_idx = user_comment['user_nIdx']
user_comment = user_comment.drop(columns=['user_nIdx','UserName'],axis=1)
user_comment.insert(1,'User_nIdx',user_idx)
user_comment

     F_UserName  User_nIdx                                          F_Comment
0          祎只狸猫       2795                                                 考古
1        邮一棵草莓i       2790     来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难
2        kmimg7       2789                         真不知道迅哥给评论区投了多少米？[允悲][doge]
3         小祀弟弟吖       2783                  入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪]
4       不知道如何评价       2792                              [吃瓜]现在是2023年 回来考古的点个赞
...         ...        ...                                                ...
3849     Aki是乌龟       1685  你这可把爷整乐了，求求你了，一定要玩，不玩任天堂就倒闭了，塞尔达就不出续作了，我给您磕头了，...
3850  兔纸今天能摸到鱼吗       2200  牛批，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...
3851  兔纸今天能摸到鱼吗       2200  到我这条底下阴阳怪气啥？觉得抄袭了去评论前面几条啊，去和米卫兵吵啊，我又没发什么过激言论。再...
3852         淐馮       2435  唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...
3853       云夜悠长       2677                                国产游戏的废土时代就此降临[笑而不语]

[3854 rows x 3 columns]

给每一条文本设置索引作为comment node index（Comment_nIdx）

Set the comment node index (Comment_nIdx) for each text

In [334]:
user_comment['Comment_nIdx'] = list(user_comment.index)
user_comment

,F_UserName,User_nIdx,F_Comment,Comment_nIdx
0,祎只狸猫,2795,考古,0
1,邮一棵草莓i,2790,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,1
2,kmimg7,2789,真不知道迅哥给评论区投了多少米？[允悲][doge],2
3,小祀弟弟吖,2783,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],3
4,不知道如何评价,2792,[吃瓜]现在是2023年 回来考古的点个赞,4
...,...,...,...,...
3849,Aki是乌龟,1685,你这可把爷整乐了，求求你了，一定要玩，不玩任天堂就倒闭了，塞尔达就不出续作了，我给您磕头了，...,3849
3850,兔纸今天能摸到鱼吗,2200,牛批，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...,3850
3851,兔纸今天能摸到鱼吗,2200,到我这条底下阴阳怪气啥？觉得抄袭了去评论前面几条啊，去和米卫兵吵啊，我又没发什么过激言论。再...,3851
3852,淐馮,2435,唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...,3852
3853,云夜悠长,2677,国产游戏的废土时代就此降临[笑而不语],3853

#### (2) 保存user_comment/Save user_comment

可以跳转至下一个Section（Section 4.2.3 (3)）直接读取数据

You can turn to Section 4.2.3 (3) to read the dataset directly

In [335]:
upc = 'Datasets/UserPost.csv'
user_comment.to_csv(upc, index=False,encoding='utf-8-sig')

#### (3) 读取user_comment：用户与文本对应关系/Read user_comment: the correspondence between users and texts

In [337]:
user_comment = pd.read_csv('Datasets/UserPost.csv')

In [338]:
user_comment

,F_UserName,User_nIdx,F_Comment,Comment_nIdx
0,祎只狸猫,2795,考古,0
1,邮一棵草莓i,2790,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,1
2,kmimg7,2789,真不知道迅哥给评论区投了多少米？[允悲][doge],2
3,小祀弟弟吖,2783,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],3
4,不知道如何评价,2792,[吃瓜]现在是2023年 回来考古的点个赞,4
...,...,...,...,...
3849,Aki是乌龟,1685,你这可把爷整乐了，求求你了，一定要玩，不玩任天堂就倒闭了，塞尔达就不出续作了，我给您磕头了，...,3849
3850,兔纸今天能摸到鱼吗,2200,牛批，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...,3850
3851,兔纸今天能摸到鱼吗,2200,到我这条底下阴阳怪气啥？觉得抄袭了去评论前面几条啊，去和米卫兵吵啊，我又没发什么过激言论。再...,3851
3852,淐馮,2435,唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...,3852
3853,云夜悠长,2677,国产游戏的废土时代就此降临[笑而不语],3853

#### (4) 提取user-comment的索引，并转换成Tensor/Extract the user-comment index pair, and convert it to Tensor

userPost_comm将被用来构建HeteroG中的user-comment图

userPost_comm will be used to construct the user-comment graph in HeteroG

In [339]:
userPost_comm = torch.from_numpy(user_comment[['User_nIdx','Comment_nIdx']].values).T
userPost_comm

tensor([[2795, 2790, 2789,  ..., 2200, 2435, 2677],
        [   0,    1,    2,  ..., 3851, 3852, 3853]])

保存并读取

Save and read

In [340]:
torch.save(userPost_comm, "Tensor/userPost_comm.pt")

In [341]:
userPost_comm = torch.load("Tensor/userPost_comm.pt")
userPost_comm

tensor([[2795, 2790, 2789,  ..., 2200, 2435, 2677],
        [   0,    1,    2,  ..., 3851, 3852, 3853]])

### 4.2.4 使用transforms库的预训练模型处理文本数据/Handle textual data via pre-trained model in transformers library

#### (1) 提取文本列/Extract the text column F_Comment

In [343]:
user_comment

,F_UserName,User_nIdx,F_Comment,Comment_nIdx
0,祎只狸猫,2795,考古,0
1,邮一棵草莓i,2790,来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难,1
2,kmimg7,2789,真不知道迅哥给评论区投了多少米？[允悲][doge],2
3,小祀弟弟吖,2783,入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪],3
4,不知道如何评价,2792,[吃瓜]现在是2023年 回来考古的点个赞,4
...,...,...,...,...
3849,Aki是乌龟,1685,你这可把爷整乐了，求求你了，一定要玩，不玩任天堂就倒闭了，塞尔达就不出续作了，我给您磕头了，...,3849
3850,兔纸今天能摸到鱼吗,2200,牛批，哪怕最后原神实锤抄袭我不玩我也绝对不会去玩塞尔达呢，你们这么烦人的样子确实让我把游戏加...,3850
3851,兔纸今天能摸到鱼吗,2200,到我这条底下阴阳怪气啥？觉得抄袭了去评论前面几条啊，去和米卫兵吵啊，我又没发什么过激言论。再...,3851
3852,淐馮,2435,唉嘿，我觉得在微博里逛逛，然后投诉一下那些素质低下的人还挺有趣的，只是不知道投诉有没有用，毕...,3852
3853,云夜悠长,2677,国产游戏的废土时代就此降临[笑而不语],3853

In [344]:
comment_list = list(user_comment['F_Comment'])
comment_list

['考古',
 '来考古了，怎么说，知道以前原神舆论正义很大，但亲眼看到前面的评论才能有点真实感觉到当时有多难',
 '真不知道迅哥给评论区投了多少米？[允悲][doge]',
 '入坑很晚想来看看之前的pv，这么多骂抄袭的吗？一开始这么难吗[泪]',
 '[吃瓜]现在是2023年 回来考古的点个赞',
 '考古',
 '就搞不懂了，怎么有些人这么愤世嫉俗[doge]那他平日得有多大成就啊[泪]',
 '考古结束 ',
 'Windows 11“狗都不用”时代前来考古[doge]',
 '卧槽，这时候就有绫华了！？',
 '我就是米卫兵，原神没抄袭',
 '回来看看梦开始的地方',
 '3年了 3年',
 '考古',
 '参观古战场[666]',
 '神里不愧是亲女儿[允悲]回来看看就热评打脸现场',
 '底下骂抄袭的，我来扫墓啦[打call][打call]',
 '考古[鲜花]',
 '继续考古，温迪！万叶！你们快来吧！',
 '前来考古，2022.3.5，原神加油，米哈游加油！',
 '我惊了，这么早就把神里绫华放出来了？[二哈][二哈]',
 '希望原神越来越好',
 '那些热评的没妈仔怎么还在啊[doge]',
 '评论区真有趣[doge]',
 '原来神里大小姐这么早就出现在pv里了',
 '加油[喵喵]',
 '2021年8月13日报道，我想说原神真的很好玩，会做的越来越好的，加油！',
 '回头来看，热评哈哈哈哈哈哈哈哈哈',
 '加油(ง •̀_•́)ง！！！',
 '求大伟哥给个资格',
 '作为米哈游科技（上海）有限公司制作发行的一款开放世界冒险游戏，画面风格精致富有美感，是一款自由度很高的手游大作，我真心想获得本次测试，也会抓住每一个机会，我会努力争取的！[太开心]  旅行者，安柏，凯亚，琴，丽莎，芭芭拉，到时候一定与你们结友！共度时光  加油！#原神#',
 '可恶的米忽悠，出这么个游戏，估计又要换一部手机',
 '等私信  ',
 '  来个测试资格吧[二哈]',
 '明显的有人带节奏...守望先锋被抄没人闹，吃鸡基本全民的游戏网易抄袭也不见有人当正义使者，然后我睡一觉起来全中国就我一个人没玩过塞尔达了（转载的）',
 '  嘿嘿，栗子大大出来装个好友帮个忙[太开心][太开心]',
 '原神登录NS了，要不再来个暴躁大哥砸个NS助助兴?[doge][吃瓜]',
 '塞尔达120神庙全通，明天cj我就不去了，怕认错……等等！他们是同一个展台了？[吃瓜][吃瓜][吃瓜]',
 '黑暗，真的太黑暗了',
 '去年买了个表',
 '笑到肚子疼',
 '原神登录ns了，现在看这些评论真的好笑',
 '什么时候才能玩啊，怎么今年一点消息都没',
 '待启二测',
 '好好解决你们抄袭的问题吧，我可不想游戏没出来就先别搞死了[可爱]',
 '到底什么时候公测呢',
 '抄袭',
 '  ',
 '米哈游加油＾０＾~',
 '为什么不送switch和塞尔达？',
 '加油啊',
 '什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线什么时候上线',
 '老抽奖，放点干货瞧瞧啊[悲伤]',
 '呜呜呜呜',
 '啥时候ps4平台测试啊[悲伤]',
 '让一让，我拖个地[doge]',
 '混蛋啥时候二测，记得给我个资格，啊啊啊',
 '牛逼！塞尔达明目张胆的抄袭我们国产游戏！任天堂过分了啊！我明天就把我的switch皮卡丘限定机子砸了！说不定皮卡丘就是抄袭我国优良手游的！',
 '所以说，你到底什么时候公测',
 '支持原神，加油！[憧憬]',
 '赶紧出吧，[可怜]',
 '微博果然是中国战狼集聚地[鼓掌][鼓掌]',
 '5812条评论',
 '可以玩开心的游戏就是好游戏，不管是怎么做出来的，赚钱也是这个道理，这个社会就是那么现实[二哈]',
 '  [鼓掌]',
 '期待，什么时候出成品游玩啊',
 '想要内测资格 ',
 '这不是塞尔达吗',
 '你们上了ps4，虽然觉得不太可能了不过我还是希望可以的话上switch就可以让那些利益者闭嘴了',
 '米哈游加油，原神要做好啊，明年一定玩',
 '加油！',
 '塞尔达玩腻了，吹的有点过，其实一般，神庙都太简单了，啥时候能玩上原神啊，真香',
 '在，给个内测码？  [悲伤]',
 '什么时候公测？',
 ' ',
 '什么时候公测啊，等不及了',
 '恭喜原神过审',
 '过审了，快开服呗',
 '太黑暗了',
 '之后我会去买一套塞尔达荒野之息补票，以表敬意',
 '我也是个玩家，我也知道国产游戏圈的现状，但这次我不论如何我都支持米哈游，我不想看到米哈游倒下。如果说就是我这种人阻碍了中国游戏的发展那我认了，想喷的就过来喷吧，就算被喷死我也不会收回我说过的话。还有瓶子他是我很喜欢的UP主，虽然他的话让我很难受但他也没说错。',
 '俩款游戏的视频解说我也都看过确实很像，让谁来对比都是一样，所以被说成抄袭无可厚非。但游戏史上最黑暗的一天就是胡扯了，当年的腾讯在满世界抄游戏时也没见有多大浪啊。每次看到有玩家在狂喷原神时我就感觉心疼，我不知道米哈游在原神上失败会怎样。',
 '但我喜欢米哈游这家公司，我不希望看到他倒下，我从崩二到崩三一直都在，我玩游戏就是为了开心不是为了给自己添堵。所以等原神正式上线时我一定会入坑。再说一点我认为说抄袭并没有错，我没有玩过塞尔达荒野之息，但我看过直播（别跟我说什么云玩家，先把云玩家的定义理清楚）',
 '为啥都在说抄袭，米哈游崩二崩三的时候咋没人跳出来说抄袭，崩三火了以后就这不对那不对早干啥去了。我个人觉得米哈游在国产手游里是最良心的了，因为他是真的把赚到的钱拿出来提升游戏品质而不是换个皮坑钱。这次的原神是米哈游在努力提升品质的一次尝试，虽然他确实和荒野之息太像了。',
 '出ps5了会上ps5吗',
 '游戏什么时候出啊，等不及了',
 '爱了',
 '感觉这游戏火了本子是少不了的',
 '  到时候玩这个游戏，虽然是抄袭的',
 '加油！期待！',
 '什么时候二测呀，等的好辛苦[笑cry]',
 '  米哈游！',
 '评论里那帮嚷嚷着抄袭的，爱玩不玩，二测的时候别跟我抢',
 '可真黑暗',
 '[好崇拜哦]',
 'n',
 '赛尔达你好',
 ' ',
 '留个言，冒个泡，话说粉丝有点少',
 '游戏啥时候出来啊!我还蛮期待的。',
 '还有多久能玩上',
 'KO',
 '我只想问一句，什么时候pc可以玩？？？？ ',
 '个人观点，说全抄是无脑黑了。，抄袭是有的，，但是说全抄就过分了，也有原创所在',
 '抄哪了？抄袭是什么？能请评论区的各位给个说法吗？',
 '我不想说什么，我有ns，如果是老任，se和玩家，怼原神的我觉得没什么，毕竟国产手游已经见惯了，但是腾讯，网易怼nm呢，五十步笑百步，骂别人，撒泡尿照照自己，一副德行，王者抄风暴技能，王牌战士不说了，网易还好一点一点点，有一些作品，腾讯你先好好发展你的next工作室吧',
 '原神加油(ง •̀_•́)ง',
 '得嘞得嘞，现在喷的一个比一个猛，到时候指不定又跑来香一把是不是[挖鼻]？一个二个得着原神往死里喷，搞得自己多重视版权一样，说抄袭tx算得上元祖级别了，咋不见各位重视版权的小将们去伸张正义？举着版权的大盾然后无限膨胀自己优越感实属不可取 塞尔达120神庙全通,明天cj我就不去了 ，怕认错展台',
 '  这一天终于还是来了',
 '时间会证明一切。米哈游，我期待着。',
 '各位版权卫士在吗？去吧，记得告诉我结果。提醒一下，举报是要实名制的，如果有虚报，是要付法律责任的。加油。',
 '沙比鹅厂猪厂，刀塔与LOL与农药，杀鸡与补票人格，啥关系瞎子都明白，开着120迈的神庙车闪现CJ想把这块蛋糕搞得谁都吃不了，结果呢？事情闹得大家差点全都吃不了蛋糕，王牌、龙族风评成那样心里真没点B数，害人害己！游戏人的枷锁已经够重了，请水狗疯咬一场，让不让游戏人活了！！！！',
 '哟！还没死呢？',
 '评论区一片轰炸',
 '哪个时候公测啊？等的我花都谢了[哼]',
 '想要二测资格啊！！！[二哈][二哈]',
 '我没买ps4 我希望将来可以发售ns平台的《原神》',
 '啥时候公测啊[允悲]',
 '米哈游确实名声不怎么好，都有难处，说抄袭的可以，你们喜欢喷抄袭的可以看看谁家抄袭的游戏多，去那喷喷，是不是别的游戏请你们来黑的，我虽然有时候看米忽悠也来气，但都不容易。',
 '老板啥时候二测啊，等的花儿都谢了',
 '官方给我硬起来，这帮赛吹也是够了，好好看看著作权法什么算是抄袭。',
 '所以啥时候公测！',
 '无脑洗的人蠢，无脑黑带节奏的人坏，无脑跟风黑的人又蠢又坏。',
 '特来微博观战',
 '节奏大师好多，我顶不住了，这个社会，唉，当年流浪地球我也去顶过，和喷子对线。微博真的烂了，捧着腾讯网易的厂，欺负小厂，给钱帮忙，不给就死，像极了一群网络流氓，果然只有利益永恒。你说是抄袭就是抄袭，你说借鉴就借鉴。你说什么就是什么，你算个什么东西？你是法律?不带利益关系的游戏界权威?',
 '第一次上微博，实话说吧，微博基本上是垃圾场，粪坑，看不下去。原神是借鉴了，但根本不是照着源代码抄，原创游戏是不可能，就连塞尔达传说，伟大的战神都不是原创，我也不知道一群跟风狗瞎掺和什么，神秘海域和古墓丽影都没想你们这样撕。游戏定论尚不知道，理性评论，盲目跟风黑名单即可。',
 '真是太黑暗了啊[笑而不语]',
 '哇看到之后吓得我直接卸载了崩2和崩3，到了能不能退钱啊，算了卖号吧[二哈][二哈]',
 '看了几个试玩的实况，感觉还可以，期待',
 '我为原神换手机',
 '我大原神牛逼',
 '没玩过什么塞尔达，要是手机出来了我就要玩了，毕竟，手机上没有这种的游戏，看一测的水平我心动了。二次元卡牌我真是玩够了，崩坏三角色基本全了也玩腻了，yj不算玩，因为莫得理智，开石头天天开也开不起。不过秋季活动有的玩了手动滑稽',
 '没玩过什么塞尔达，要是手机出来了我就要玩了，毕竟，手机上没有这种的游戏，二次元卡牌我真是玩够了，崩坏三角色基本全了也玩腻了，yj不算玩，因为莫得理智，其他的阿宅游戏基本没啥了吧。我不管什么游戏抄袭不抄袭，只希望原神不会受到影响，尽量早点上线，内测没抢到…（惨案）',
 '只有要上线是这水平，游戏体验良好的话，我tm氪爆',
 '太黑暗了，愿光明指引我们~故  我在',
 '想要二测资格，',
 'ios哪里下载啊',
 '我就当联机塞尔达玩了，很多人骂归骂。买还是会买，因为抄塞尔达就不可能不好玩，但我会记得这不是米哈游的实力，你做不出来',
 '吃相不要太难看',
 '不要丢脸啊',
 '你们这帮喷子有完没完？爬墙，游泳，滑翔伞，你们还有其他姿势吗？哥布林，史莱姆难道不是公用资源吗？这个画风难道不是，米哈游的画风吗？',
 '哎，为啥国内抄别人的东西不动脑子，你抄得让人看不出来，没有既视感不就行了么？这么一目了然的既视感，世界的玩家都觉得看不下去了',
 '最佳国产游戏就只能非艾希莫属了',
 '恍恍惚惚到了8月8日了，啥时候才能一起玩喃~~',
 '  ',
 '各位光明之子，请问教廷是哪个方向？听说那里在发抚恤金，我想补贴补贴家用。',
 '抄不抄袭无所谓，毕竟我是一名玩家，为了玩而玩，世界上游戏很多，撞车的也很多，难道就因为一些地方相似就不玩了？国产游戏虽然很多厂商都走不出抄袭借鉴的怪圈。但也不能不抱有希望。也希望国内游戏厂商都能加把劲，要有自己的核心。我什么游戏都玩，也挺期待原神，但也不希望原神走向一个错误的道路',
 '期待原神(๑˙ー˙๑)',
 '我想知道有没有人就中国游戏公司和日本游戏公司，两个国家的角度来评论这个问题的，平时抵制日本这个抵制日本呢个现在又反过来帮日本打到中国公司，是不是不爱国的亲日表现[二哈][二哈][二哈]咋样，这个帽子扣的可以吧。',
 '各位版权卫士在吗？去吧，记得告诉我结果。提醒一下，举报是要实名制的，如果有虚报，是要负法律责任的。加油。',
 '  ',
 '挺住',
 '为什么不抽原神：荒野之息？',
 '终于可以在ps4 上玩到塞尔达了！[doge]',
 '好意思吗？',
 '不管怎样加油吧(ง •̀_•́)ง(ง •̀_•́)ง',
 '死宅的钱真好赚～',
 'Mihoyo这波秒啊，先做个一看就能看出来“借鉴”的游戏，然后请一波水军，去和骂的人吵，把热度炒上来，开服后自然有一群人来玩，妙啊妙啊',
 '腾讯水军继续啊有用吗你喷任你喷我们米哈游的玩家继续玩我们少你们几个玩家还是怎么了[吃瓜][吃瓜][吃瓜]',
 '是觉得崩坏没人骂就胆肥了吧？！',
 '这里也有鹅厂水军？',
 '[打脸][打脸][打脸]',
 '[吐][吐][吐][吐]',
 '  来看看有多不要脸',
 '[吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐][吐]',
 '借鉴也借鉴不到点子上，拿过来给塞一堆花里胡哨既视感爆表的烂街角色一点新意都没有。',
 '场面弄这么大一点都不嫌丢人么[费解]',
 '花Q[doge]',
 '下次抄个大表哥呗，每年抄个年度最佳就够了',
 '我真是够了，我发现我玩的ns游戏塞尔达传说和这个游戏好像。我怎么玩一个日本山寨游戏？虽然有的人说什么滑翔，游泳，攀爬只允许你原神有？射个箭我就抄你原神了？场景看起来像？只允许你原神有草地？这群洗地的真可恶，抄了就是抄了，国产游戏之光，不容你这山寨垃圾玷污！我再也不玩塞尔达了',
 '抄袭自重嗷',
 '唉。',
 '我去，这个游戏抄的真不错[赞][赞]漂亮！给中国游戏涨脸！',
 '我说句实话喷子没你们说原神抄了这些，莫非你们还能给我搞个拉弓从胯下射吗？跑步是用来爬着走的吗？滑翔伞是用来踩着走的吗？你们当什么不好偏要当弟弟？',
 '支持米哈游',
 '莫名的眼熟.....',
 '抄袭游戏拿出来丢人丢到家了[微笑]米哈游你们烂了，技术宅拯救个狗屁世界，抄袭宅',
 '这游戏除了安全裤是原创的哪里不是抄[太开心][太开心]',
 '什么时候公测啊',
 '看到微博一个老哥说：寨尔达',
 '搞快点，我管你抄没抄，给爷整快点，爷要玩',
 '哈哈哈 呕[嘻嘻]',
 '别问，问就黑暗',
 '支持米哈游',
 '不买就是了 全都不买看看哪个憨憨买这个[嘻嘻]',
 '塞尔达',
 '不要脸！！！！',
 '我呸',
 '醒你妈啊！我林克不睡觉吗？',
 '这游戏一出必死',
 '抄宁妈的塞尔达呢？垃圾玩意快死吧',
 '狗屁东西',
 '哈哈哈哈来吃ACG的瓜[笑cry][笑cry][笑cry][笑cry] （这个抄袭的也太司马了吧',
 ' ',
 '原神对线群，你行你就来，755953800',
 '真丢人，垃圾',
 '太恶心人了',
 '脏东西',
 '永远不要理会谣言与重伤',
 '垃圾游戏',
 '米哈游没有妈',
 '东半球最强法务部联合腾讯南山法院请求一战!',
 '图片评论',
 '米卫兵上线[doge]期待无能狂吼[污][污]',
 '呸',
 '图片评论',
 '还原神作，恶心人',
 '除了口嗨，你们还能干什么[挖鼻]',
 '加油迷糊游 希望你们早日倒闭',
 '要脸吗要脸吗要脸吗',
 '和东半球最强法务部对线？',
 '也许评论区的都是塞尔达玩家吧',
 '吃瓜',
 '要点脸不？',
 '技术牛逼,但策划死妈????????????裁缝作品?',
 '你马没了',
 '美术风格...还有战斗画面...真的...巨像塞尔达...结合另一部手游看，米哈游同时面对两个争议问题：1.一致的游戏模式改写剧本和美术风格算不算抄袭；2.一致的美术风格改写剧本和部分游戏模式算不算抄袭',
 '你就告诉我  会不会有氪金系统！',
 '恶心，恶心啊，恶心死了，恶心！',
 '建议上架ns骑脸输出[太开心]',
 '居然没有《异度神剑》的影子，莫非奶刃团不配被模仿？？？差评',
 '   游戏全网抵制真的运行的下去？？？',
 ' ',
 '到底是给索尼塞了多少红包。。',
 '丢中国人的脸',
 '有本事你上ns',
 '为啥不送ns？歧视任天堂？',
 '祝原神暴死[鼓掌]',
 '期待一波不知道什么配置可以带。。。。。。',
 '蠢',
 '  ',
 '别把这种烂作跟塞尔达相提并论，抄都抄差原作十万八千里',
 '原来你送ps4pro是这意思[二哈][二哈]d区',
 '抄袭狗  米哈游',
 '一个7年的游戏公司，下面这些说的我[偷笑]',
 ' ',
 '哇，塞尔达续作出来了？牛逼呀！！！',
 '米哈游真特么有你的[吐][吐]',
 '给我台ns？',
 '乔碧罗请求代言',
 '搭配起来非常的不合适，很别扭没发现?地图的画风不适合人物的画风，人物的画风不适合滑跑的姿势。',
 '这草地……这气流……这他妈',
 '这次我康康那些键盘侠敢去搞事的[吃瓜]',
 '上ps4了，加油，把号翻出来了，就为了挺你',
 '真建议在公测前可以多加点原创内容，改掉一些特效的表现，希望公测的时候给一种换了游戏的感觉，被骂了那么久，做人还是要有点骨气。不要厚着脸皮装死一直到公测。',
 '真觉得你们烦了',
 '  谢谢老板[二哈]',
 '如何一分钱不花吧一个游戏宣传出去[允悲]',
 '倒闭警告',
 '居然有PC！原神加油，米哈游冲冲冲！',
 '求求你快点被起诉打不过官司的那种[嘻嘻][嘻嘻]',
 '所以说有没有去烧米忽悠的 搞快点',
 '塞尔达抄袭原神，建议你们立刻组织法务对任天堂提起诉讼[太开心]',
 '日常过来看你倒闭',
 '请倒闭！',
 '能给我内测资格么求你了我真的想玩……！',
 '米卫兵 没有妈 尤其是 ',
 '害 我是真的服辣 米卫兵 属实可怕 偷图强行给自己找牌面  我玩过塞尔达传说黄昏公主直到野炊熬 我玩过鬼泣345熬 我玩过AC全系列熬 一张从复苏神庙刚出来的图这是玩过？一张毫无意义的鬼泣5截图 明眼人一看就是偷的图 我服辣 ',
 '继续加油抄出更厉害的屎喂你的米卫兵垃圾玩家吧，相信你们可以',
 '我们项目组立项之后一年都没有进展 自从玩了塞尔达之后茅塞顿开[兔子]',
 '那些洗地的米卫兵 能不能爪巴 看的爷要吐了',
 '跳票警告',
 '日常一问，你令天还没垮吗？抄袭狗～[太开心][太开心]',
 '苹果和Windows系统都是抄袭的施乐，说是照搬也不为过，求求你们别用Windows了好8',
 '按到这么多人在骂原神舒服了',
 '恶臭行为，妈死了',
 ' ',
 '抄袭司马',
 '啥时候出。 ',
 '贵公司还没倒闭啊？挺得过今年的中秋节么？',
 '怎么，国内盗版时代过去了，现在开始抄袭时代了吗？你们还想不想其他好游戏自带汉化了？任天堂当时因为什么退出国内市场的你们心里没点数？',
 '真为国产游戏悲哀。。。。 我一个玩家都为此羞愧你们居然还洋洋自喜。。。',
 '观望等结果',
 '安卓服什么时候才能上线啊！',
 '哈哈呵呵',
 '不用挣了，出了之后，我们该玩还玩，只要不倒咱就玩呗。争来争去没意义，怎么，还非得让我们玩日本的，游戏？？还非得买什么ns？对对对，你们有钱。真的是，中国发什么，外国人称赞，却每次都是国内人在那里吵吵，说这不干，说那不好，也是醉了。',
 '哈特诺海还行',
 '设什么游戏玩我无聊死了',
 '什么时候可以玩啊',
 '真像塞尔达',
 '啥时候让我玩',
 '投了多少钱 有没有花精力在做游戏啊  干嘛要抄袭啊，难道以后说中国游戏全靠抄吗',
 '我只想早点玩到这款游戏  不管他抄没抄袭',
 '正义的我不能坐视不管了.jpg',
 '麻烦回炉重做，中国开发组丢不起这个脸',
 '我想玩啊 啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊',
 '视频不就是预告吗',
 '中奖是不可能的',
 '中奖是不可能的这辈子都不可能',
 '快2测吧！',
 '你们真当没人玩过塞尔达…',
 '画面是我喜欢的类型，挺想玩的[二哈][二哈][二哈]',
 '你这个太假了吧。完全是在抄袭啊',
 'ps4呵呵',
 '管他们说啥的，好玩就玩啊，我玩啥游戏还要征求他们意见咋滴，我上大学读研工作娱乐不我自己怎么喜欢怎么来，他们几句不疼不痒的话还能影响到我么，自以为喷别人很爽，实际人家压根没放在心上，或者看都没看到，我过我自己的生活，喷子关我鸟事，何况很多喷子生活比我差多了，应该同情他。',
 '反正有塞尔达续作玩，谁玩你这垃圾，没648能玩？',
 'PS4上玩旷野之息指日可待[允悲][允悲][允悲][允悲]',
 '十分喜欢这款游戏。',
 '在？为什么不抽ns？连爹都不认了？',
 '该改的地方就该吧。别回头等东半球最强法务部的律师函上门就好玩了。你说例子……之前某只猫已经身体力行验证了。',
 '希望游戏暴死[污]',
 '吐痰[太开心]',
 '搞不明白，如果真抄袭任天堂自然会通过法律途径追究责任，结果现在任天堂还没动静，玩家先作出判决了，有点厉害',
 '  期待安卓开测',
 '在b站在贴吧一直都只是看着别人玩塞尔达，真的是不错佷想玩，问题是没主机，前两天才知道有 原神 这一回事，手机上能玩和塞尔达一样的游戏把我高兴坏了，这下可圆梦了，希望别让我等太久！',
 '希望制作人员全家升天',
 '在这随便喷，麻烦有的人别因为原神抄袭就跑到崩崩崩那无脑黑，恶心人',
 '塞尔达加油！',
 '为啥奖品不是switch啊？',
 '不觉得可耻吗',
 '真的好丢人啊',
 '多久上线呢',
 '我对抄袭什么的并不在意，也不是什么游戏的脑残粉，游戏做好我玩好就行了，那些整天说抄袭怎么怎么样的出来后别玩啊，别真香啊[doge]',
 '扫墓',
 '后续发展与非: 一，正式版和pv一样，那你们的策划执行团队也太该考虑下分类成什么垃圾的问题了，核心玩法可以借鉴，但你至少有自己的创意在里面，直接缝合怪可太优秀了！ 二，正式版和pv完全不是一款产品，那你们的公关推广团队也太粪了，靠恶心人来炒热度简直是下限。 两者都有？真特么可以呀米裁粪！',
 '实在找不到好抄袭的  建议你多看看国内动作电影  比如：武器可以用笛子啊什么的   懒得开创 抄现成的 不好  实在没点子  开放玩家有奖征集   好的游戏不怕玩家等待   赶紧改吧   之前的白抄了',
 '脸呢',
 '如果不是冒出来这么一款手游，我都不知道有塞尔达这另一款游戏，话说，你知道吗',
 '加油米哈游，期待原神的公测[鼓掌][鼓掌]',
 '特地围观，瞧瞧这是人干的事吗……',
 '米哈游是什么，米田共舔狗的化粪池[大便][大便][大便]',
 '国产游戏 玩你麻痹[嘻嘻]',
 '药店碧莲吧你们可',
 '滚',
 '  已经完全不要脸了',
 '太恶心了',
 '加油[肌肉]',
 '粪池',
 '抽ps4啊？ 能不能把ps4换成switch？再加一张《塞尔达 荒野之息》的游戏卡 这样我就可以提前玩到你们呕心沥血制作的国产精品了',
 '那些反问句问抄了什么的米卫兵，这游戏完美还原你妈出殡现场[嘻嘻] 懂？',
 '策划又出来送妈了',
 '[竖中指]国产游戏终于走出了抄袭之路[竖中指]  [竖中指] 直接跌入100%复刻的深渊[竖中指]',
 '吃瓜吃瓜',
 '居然没控评',
 ' ',
 '赤裸裸的cx',
 '我觉的只有一个办法可以拯救原神的口碑，那就是把它改为单机买断制。大家同意的点个赞',
 '为什么不送NS呢',
 '在？缝合怪？百变怪？',
 '我觉得一等奖应该换成NS＋塞尔达[二哈]',
 '真的dd',
 '原神将来会运用5G技术吗？',
 '你抄你妈呢',
 '吃相真难看...但看起来好像还挺好玩的？[二哈]',
 '牛逼啊， 塞尔达都抄上了。一直以为这两年国产游戏进步大呀， 没想到你这一步就到3A大作。真是牛逼啊。真厉害[鼓掌][鼓掌][鼓掌]。   你尽管抄，    你要是能完全复刻一个塞尔达，那也算你厉害，   要是以后老任出一个游戏，你抄一个游戏，那但怕你可以干翻腾讯了。加油。  不过说实话任天堂哪有你牛逼哦[大拇指]',
 '缝合怪',
 '贵公司的策划和设计的妈是不是应该移入墓地啊',
 '为什么不送switch呢',
 ' ',
 '醉了，辣鸡抄袭游戏，再好玩也不是你该赚的还是',
 '不要逼脸……',
 '博主，你这个塞尔达的mod怎么打的，急，在线等',
 '你抄你有理，任天堂肯定告不了你，打官司打不赢你。你厉害哦',
 '抄吧，你火了，大家都抄，国产优秀独立作品越来越少，你挣的盆满钵满，国产游戏发展史上也必定有你的臭名嗷',
 '不要13脸',
 '致玩家的信敢放微博吗，脸都不要了',
 '图片评论',
 '做原创很难，但这永远都不是抄袭的借口。',
 '新词，癌游',
 '在中国许多圈子都有这种狗屎为苍蝇的效应 恶性循环 真他妈让我打心眼儿里恶心 不知廉耻 挑战道德底线 对得起自己中国的护照么？没骨气的东西  为了挣钱脸都不要',
 '什么时候玩家能被当做玩家来看待，而不是捞金桶呢？ 评论区的玩家们总是戾气很重，这究竟是中国玩家与生俱来的劣根性，还是被这种“借鉴”应付的游戏环境给毒害了呢？ 我们都期望着能够用语言暴力式的方式来改变现状，脑子里还幻想自己就好像是鲁迅用笔来唤醒麻木不仁的人一样，即便这未必正确。  ',
 '请问什么时候能在ns上玩到原神呢[狗脸]',
 '什么时候"借鉴"只狼，不然天天捧着手提玩非常痛苦，如果"借鉴"成手机版，我肯定砸锅卖铁地氪',
 '在？送switch麼？',
 '跪着赚钱 国产骄傲',
 '米哈游下个游戏准备抄什么我去玩玩',
 '听到这原配就不想玩了',
 '我对原神不求别的，只求你能有一些东西',
 '垃圾抄袭游戏滚好吧[嘻嘻][嘻嘻][嘻嘻]',
 '在？抽我一台NS好吗？',
 '如果这个游戏活下来并且火了，那么以后中国的游戏就真的没救了。',
 '烂泥扶不上墙，抄袭。这公司早就应该垮了',
 '  [doge]',
 '你这是要和东半球最强法务部比高矮',
 '要是原神火了，那也太恶心了。',
 '原神官方终于没装死了，我只搬运扩散这个帖子，怎么看，怎么理解那是你们的事情，美化自己也好，觉得没问题也好，都别来跟我撕行不？（复制粘贴）',
 '为什么你只会抄袭？？？[费解][费解][费解]',
 '你们米哈游只会拖累中国的游戏发展而已[摊手]',
 '？',
 '你游有看辰东的小说肾虚吗？看看最新一章的章节名，好像还少了四个字的前缀，后面是天下无敌[二哈]',
 '多少大小？我怕我的switch带不动[可怜]',
 '原神:绿帽之息[good]',
 '等不及的建议先玩塞尔达嗷',
 '塞尔达和你们的“还原神作”都是游戏界的里程碑。前者是冠誉全球、带给无数人感动的神作；而你们如果在国内火了，将导致一个风投不再支持原创、全厂抄袭复制的时代来临。要不要当这个千古罪人，你们好自为之吧。',
 '好好看',
 '垃圾，抄袭很赚钱？',
 '崩二崩三都玩过氪过，曾经你是我心里最有希望变成手游大厂的公司，现在变成这个样子，粉转黑，不会再给你们充一分钱，等你们倒闭那天[微笑]',
 '有能力不去做反而这么明显地抄袭？真是让人失望， 不知道你们是怎么想的，看来中国人不配拥有好游戏这句话在这个场合完美体现了[黑线]',
 '抄袭抄得理直气壮 真的是佩服 当中国没人玩过塞尔达？',
 '为何不送switch？',
 '我们来比比谁的塞尔达做得好？',
 '耻辱',
 '国产塞尔达？',
 ' ',
 '：我国毕竟人口众多发展程度不均衡，所以粗制滥造的抄袭垃圾也有一堆人捧场，不奢求所有人都有版权意识都能舍得花两千玩旷野之息，只希望每个玩到这款游戏的人终有一天会明白，原神这种东西能端上我国的游戏台面是对每个游戏爱好者莫大的羞辱。（复制）',
 '看了封测视频，可玩性很高，基本可以媲美端游了，还是很期待，如果能活到公测，希望能有一个好的策划，不然玩家没把你骂死，就被自己人给玩死了[吃瓜]',
 '为啥NS游戏你要送PS4?策反啦？',
 '为什么ios搜不到原神？',
 '辣鸡[弱]',
 '安卓服最早到什么时候会上线呢？',
 '17秒一瞬间眼泪迸发了出来，这不是哈特诺村?我曾经砍树，找名字里有达的人，跟小孩子玩，一点一滴的有了自己的家，有了一始村，看着樱达结婚。你tm说抄就抄?要脸吗?',
 '怎么不抽switch＋荒野之息实体卡套餐啊 毕竟是生你养你的人啊[嘻嘻]',
 '老任快给发个律师函',
 '中奖',
 '  这家米哈游做的原神的美术风格及各种要素几乎抄袭贵公司的塞尔达，麻烦处理一下',
 '我想说一句，希望手游安卓版加上手柄玩法，连接手柄的时候隐藏掉画面中的轮盘还有技能图标这样能开放视野画面也会简洁好看，望采纳[双手合十]',
 '2019年度最佳游戏原神预订，不服来辩[并不简单][并不简单]',
 '中奖礼品，我要 ns和塞尔达荒野之息',
 '抄的爽吗 哈批东西',
 '烂泥扶不上墙',
 '自己写2000字论文真的痛苦，况且还是水课，还是随便抄一篇吧，反正老师也是心知肚明。然后看到了原神抄袭塞尔达：太无耻了。',
 '哇',
 '  ',
 '这照搬式抄袭简直比语音卖挂还丢人',
 '如果原神能火，能挣钱，那么中国游戏业就真的被毁了，你们背的起这个锅吗？',
 '我就想说一下，我不是针对什么，英雄联盟抄袭dota2你们不也照样玩，腾讯QQ抄袭ICQ你们不也照样用，cf抄袭cs不也照样玩吗，不说游戏就你们熟知的tfboys的音乐不也抄袭吗【信仰之名抄袭炮姐主题曲】，再或者从国家的角度，辽宁舰歼20不都是这样来的吗，你们喷有什么用。',
 '真的丢中国人的脸',
 '如果做成了，技术提上去，有了经验，未来还是可期的',
 '我TM花钱体验了塞尔达我就是有权利喷你们这群米卫兵…是谁给了你们错觉你们能白嫖了…而且还嫖的天经地义理直气壮的…',
 '嘻嘻嘻嘻嘻拿云玩家说事的米卫兵们，可能是脑子8太好使，大家又不是安利或评论塞尔达咋样咋样，而是抵制抄袭，麻烦不要混淆概念了嗷[嘻嘻][给力]刚刚高考完建议去感受一下微博紧张氛围，好激励你们把九年义务学完嗷[给力]',
 '[doge]观望中，失望归失望  奖还是要抽的，万一中了呢 ',
 '你妈死了',
 '建议一等奖抽的是NS而不是PS4[微笑]',
 '之前看了截图觉得一毛一样，今天和朋友聊起来了才找了视频来看，看完觉得这就是吧？？改了个名字就成自己的了？？游戏都这么好做真正做游戏的公司都活不下去了看看你们最后抄谁的[太开心][太开心][太开心]顺便以后米卫兵喜欢的游戏被抄了也千万别骂哦，那叫借鉴那叫致敬',
 '作为崩坏二开始玩到崩坏三曾经米哈游的粉丝，一直期待着米哈游的新游戏，认为米哈游不会干抄袭这一手，大伟懂人心，可以做出原创的好游戏，期待崩坏4结果原神出了看pv着实吓了一跳，但心理还是多少抱着点希望，米哈游只是抄袭了丢丢，至少神庙系统不会抄吧！（疯狂心里洗白）但是实在是太失望了转黑粉',
 '吃相太难看了[嘻嘻]',
 '臭不要脸',
 '不是应该抽switch吗？',
 ' ',
 '米裁缝',
 '垃圾游戏。。',
 '为啥不送switch',
 '不要脸。',
 ' ',
 '腾讯爸爸不管？国区switch上线也没得赚了，最大ip天下第一塞尔达被抄袭了，还不用花一分钱就能玩，谁还买你ns啊？       ',
 '建议角色直接用米老鼠嗷[憧憬][憧憬][憧憬]',
 '宇宙第一神作预定嗷冲冲冲[太开心][太开心]',
 '在？为什么不送switch[太开心]',
 '真他妈悲哀。美术，特效，互动都能做出来了。还尼玛要抄袭。原创尼玛个币了。。。套个剧情就是原？',
 '要脸不？',
 '图片评论',
 '真臭',
 '你有能耐怎么不抽switch呢wwwww',
 '  魔王来抽ps4[笑而不语]',
 '有ps4了，如果中奖了就把它拿出来送了吧[二哈]',
 '可惜有了好技术，却没有好原创~',
 '[doge]好想快点玩  ',
 '我觉得它很像，觉得它很烂是我个人的事，我不玩就完事了。干嘛非得拉别人一起骂？',
 '激活码好贵啊买不起啊[二哈]',
 '还原神作嗷？',
 '  ',
 '为啥不抽NS？',
 '麻烦你们喷的别和我们抢这内测资格让我们嘴上和心里都想玩的求仁得仁行吗',
 '我觉得一等奖应该送ns加塞尔达传说旷野之息[二哈]',
 '恶心',
 '等你公测~白嫖到关服[doge]',
 '抄袭塞尔达你好棒',
 '啊啊啊啊啊啊啊啊',
 '真是对不起， 我塞尔达不该抄袭原神',
 '洗地群号发一下[太开心]',
 '唉~没有赶上呢~',
 '带哥们加大力度，这种东西还是死了好',
 '辣鸡厂商  本来对米哈游印象还不错，现在已经不会再去玩你们的游戏了',
 '非常期待了',
 '好玩就玩爆、就吹爆，最近什么好游戏都没有',
 '无耻的抄袭人',
 '你怎么不抽switch',
 '真的不要脸啊米哈游',
 '希望原神改成多人在线游戏，而不是单机',
 '我就是喜欢米哈游，来喷死我吧',
 '怎么不送人switch玩塞尔达？？？真有脸',
 '什么时候公测嗷好想玩[嘻嘻]',
 '在？为什么不送ns，你们创作的热情呢',
 '觉得抄不抄袭无所谓的，当你心爱的游戏被其他游戏借鉴是值得骄傲的事情，但是改都不改就拿过来用，是很不要脸的好吗！  [顶]  就像是王者荣耀一样，不过tx有本事把拳头公司买下来，抄也是抄自己的、那么贵司呢？',
 '太明显了。我不知道你们是怎么想的。',
 '对不起米忽悠这真的太像塞尔达了我受不了',
 '国产游戏什么时候才能在掉这抄袭的帽子哎悲哀',
 '恶心',
 '为什么不送switch啊？',
 '有点好奇  那些怀揣梦想进入米忽悠的人  在“做”这款游戏时是抱着怎样的心情',
 '官博即将沦陷，请米卫兵速度支援[二哈]',
 '塞尔达有多优秀，这个游戏就会有多火。',
 '如果此游氪金，那我奉劝大家直接入手ns和塞尔达',
 '在？为什么一声不吭，有阴谋？',
 'cf,qq飞车，英雄联盟，我求你们版权意识强的快去喷真的，dota跟联盟这么多年咋不见你们出来主持公道',
 '这简直就是欺负玩家',
 '真正的好设计师懂得避嫌，游戏也一样别的不多说[嘻嘻]',
 '还 原神 作？米忽悠这种必死钱都恰？',
 '呕',
 '还原神作：荒野之息',
 '换位思考，如果这次是tx，那么就不会有那么多争论，都会一致说tx抄袭tx恶心，所以你们可以想象成是tx做的游戏，这样不就握手言和了，反正tx一直都是骂过来的，你们咋说我都无所谓反正我是复制的[二哈]',
 '原神看起来不错=米卫兵=脑残=啥也没玩过的工地搬砖的我叼你妈的[拜拜]',
 '抄得还是有点水平的',
 '   冲？',
 ' ',
 '狗b抄袭米忽悠，球球你赶紧暴死',
 '  这家公司无耻抄袭塞尔达，快来管管。不要让这种垃圾公司糟蹋任天堂的创意和产品',
 '垃圾公司，抄袭的爽吗？！',
 '  进来对线！',
 '你竟然不送switch？对得起塞尔达和异度之刃吗[摊手]',
 '呵，水军真多。 美工就不说啥了，希望BGM也能像崩崩崩那么出色吧，但这游戏要上线手游，，，[费解]清洁工全民换手机？',
 '这pv  基本放心～ 僵硬的一批～ 东拼西凑 就完事了～',
 '这。。。好熟悉的海拉鲁大陆啊[允悲]',
 '不送台ns表示一下吗',
 '  了解一下',
 '   来寄律师函[doge]',
 '我觉得挺好的呀',
 '你们真要点脸就去申请一个不要脸的微博认证呗。',
 '恶臭',
 '感谢米哈游坚定了我买个ns的决心，哪怕是疼逊代理的[嘻嘻]',
 '令人窒息[拜拜][拜拜][拜拜]',
 '游戏界史上的悲哀',
 '请问这是塞尔达的页游视频广告吗',
 '国产辣鸡[嘻嘻]',
 '来噻，说只有pv像的出来再洗呗[喵喵][喵喵][喵喵]',
 '噢，看看我找到了什么，一个野生的塞尔达官方！',
 ' ',
 '缝合怪。',
 '小声bb 评论喷原神的塞尔达云玩家好多哦[失望]',
 '别人辛辛苦苦想出来 制作 实行 你们这帮老狗改一改抄一抄就完了？？？',
 '抄你妈呢',
 '要点脸吧',
 '做不好游戏就别做 抄袭算什么东西？',
 '怎么不送任天堂的游戏机~gba也行啊反正都抄了！',
 '抄袭要脸吗',
 '简直就是耻辱',
 '抄袭者和水军没妈  啊不好意思 无中生妈',
 '图片评论',
 '在?会抄就多抄点?',
 '我就怕这个手机带不动[允悲]',
 '这就是我们选任天堂的原因[微笑]只会抄袭吗？脸呢[摊手]',
 '跟风黑的喷子，冲着si比吵架来的喷子挺多的，搞得我这个正经喷的都不知道该干嘛了。。。无脑护和跟风黑还有单纯来吵架的混淆了大部分人的视线。而这次就是米忽悠的错，原神的错，地图炮的请自重。',
 '看了演示画面真的感觉质量很高，业界良心！是不是抄袭懂得自然懂，不懂的怎么说都没用！我是一定会去玩的！',
 '没抢到测试资格难受，期待公测，不过同时也担心手机扛不住[嘻嘻]',
 '自己是没有脑子嘛，拿来就用，改也不改的，自己脑子是用来当球踢的嘛',
 '米哈游BISS',
 '我赛尔达游戏时间155小时，可以在你司当策划吗 ?',
 '还原神作，嗯，没毛病。为了钱而战，良心也可以不要',
 '嗯……虽然说缝合怪什么的大家都已经心知肚明了……但是啊，这个交互界面完全是适应手柄的哎，你弄成手机也该改改吧？',
 '可以联机么[二哈][二哈]',
 '我想要测试资格',
 '建议没有内测资格的去玩塞尔达体验低配原神',
 '烂泥扶不上墙',
 '明明有技术 就不能动动脑子不让人看出抄袭吗',
 '中国游戏的又一羞耻作',
 '不管咋说，你们不控评，这件事还挺值得尊敬的；游戏就算了',
 '明日方舟不是挺好玩的[费解]',
 '抄袭司马',
 '這不是抄襲，這是粘貼複製！',
 '你妈不死谁妈死',
 '太不要脸了 抄袭成这样 你妈必死',
 '塞尔达牛批',
 '你们要点脸吧，封面做的都一样我去[呕吐][呕吐][呕吐]，没脑子没本事就不要做游戏，抄袭算什么！！！！',
 '是任天堂提不动刀了？，',
 '真的东拼西凑，真的有脸了？米哈游就这尿性吗？研发一款新游戏也不能完全借鉴啊～我是看不出除了像塞尔达之外的其他亮点，全部都是参考过来的东西混在一起！除了美术能拿的出手，真的都糟透了，不伦不类！令人反感～厌恶～',
 '希望原神的策划不要像崩坏3的策划一样司马',
 '我觉得可以抽塞尔达[哈哈]',
 '恰烂钱！！！',
 '我在看直播时我是真心想给米忽悠洗的…但是我把NS摆在手机旁边比着荒野之息和原神…这场景…这模型…这UI…绝了…最可怕的是居然还有人给洗…我就没想明白国内的游戏圈子不是谁花钱多谁就是爸爸么…老子自己赚钱买NS玩旷野之息就是感觉被原神冒犯了我就得忍着？况且我还是个蹦蹦蹦的玩家…不说了卸载了',
 '什么时候公测有人知道吗',
 '我很喜欢你们的游戏 希望你们不要被喷子喷灭了只做游戏的热情 树大招风 希望你们可以多去看一些支持你们的评论 不要被那些喷子阻碍了自己的思想',
 '开放世界在gta上古卷轴以及更早的游戏就有了，这只是创意玩法，就是CS类型的第一视角射击都算是玩法，是不可能保护的，但是游戏的地图模型美术音乐特效动作等等直接面对玩家的表达方式，这是需要真正保护的东西，因此我们一眼看出原神抄袭，就是因为它直接在表达方式上借鉴，这就是知识产权上的抄袭',
 '你们是真不要脸了，哪怕改一改也行啊，复制粘贴不太好吧弟弟',
 '你们真的不怕任天堂告吗……有些地方完全一模一样[疑问]',
 '要脸吗',
 ' ',
 '一等奖咋不送NS呢',
 '你咋不抽个switch嘞？[嘻嘻]',
 '米哈批',
 '你们该送ns啊',
 ' ',
 '抄就完事了嗷[给力][给力]',
 '好自为之',
 '求求你别祸害主机游戏了[弱]',
 '你爬爬爬爬爬爬爬爬',
 '？？？',
 '旷野之息  尼尔 鬼泣   告诉我，还有那个游戏没列出来？',
 ' ',
 '这游戏真的独特，我在switch完全没看过',
 '真辣鸡',
 '哈哈哈哈，完了，买了荒野之息却吃灰的我，甚至有点想玩这个_(:з」∠)_',
 '你一等奖送ps4pro？你咋不送ns呢？不是都说没抄袭吗？送个ns好让我去玩塞尔达。其实我后来想想，PS4pro也可以，我还可以玩尼尔和鬼泣5。',
 '借鉴就借鉴，毕竟行业标杆而我们才刚起步，但请给出credits',
 '别送ps4了，送个switch加塞尔达多好啊[太开心]',
 '？给爷死',
 '抄袭司马',
 '还有b脸宣传，',
 '感谢米忽悠让我剩下了买NS和塞尔达的钱。。。等等？！什么？！不充个6480不能玩？？？？？？？赶紧买台NS压压惊',
 '在?怎么不送个塞尔达典藏版?',
 '塞尔达新mod？',
 '求内测资格',
 '[吐][吐][吐]旷野之息续作我服，这辈子都不会买',
 '得，接下来又是一波，塞尔达抄袭原神的人',
 '不应该抽一台switch？？[费解]',
 'wake up link [微笑][微笑][微笑][跪了][跪了][跪了]',
 '我倒想看看，你这个还原神作的结局，不过总会有一些没脑子的喜欢你这种垃圾',
 '垃圾游戏无脑抄袭',
 '[吃瓜]说没抄的仔细想想为什么二次元妹子要设计成那种尴尬的爬墙姿势和奇怪的滑翔翼？美少女不应该优雅一点吗？做个蹬墙跳也比爬墙姿势优雅吧？这明显就是直接拿别的游戏元素又没有经过大脑的抄袭。让人有抄袭的既视感也正是来源于这些违和感十足的元素。',
 '还原神作，祝你们早日凉凉！别他妈提支持国产，就你们这样的臭鱼烂虾请自己滚进垃圾桶，注意是湿垃圾别走错地方了[吃瓜]',
 ' ',
 '不送ns是怕他们玩了塞尔达就没人帮你洗了？',
 '你抄你妈呢',
 '你不该送ps4啊，你该送ns啊',
 '第一怎么不送switch呢？',
 '别洗了吧，那个火球水球史莱姆，还有八爪鱼怪，跟荒野之息一模一样啊',
 '唉  抄别的就算了  干嘛抄龙之谷  老玩家心都碎了   唉  唉  唉    难受',
 '尼尔之泣5：猎人原罪之旷野序章——旷野之息',
 '丢人现眼啊',
 '药店碧莲',
 '我不服 奖品居然没有switch',
 ' ',
 ' ',
 ' ',
 '丢脸',
 '和着我switch白买了？',
 '几乎就是塞尔达既视感',
 '这是我第一次迫切希望外国公司把中国公司告上法庭，然后赔个倾家荡产[微笑][微笑]',
 '为什么可以这么不要脸',
 '做这个游戏的你们死过妈了？',
 '看了pv我就突然想把之前卖了的塞尔达买回来了',
 '请求世界第一法务部出动。',
 '塞尔达模仿秀？',
 '讲真 对米忽悠挺失望的[拜拜] 为了圈钱丢本可还行[good]',
 '国外玩家看的只是pv ，不说期待，说你婊子妈的狗头？现在测试出来了，不是复制粘贴的产物？',
 '  [嘻嘻]',
 '嘛，烂钱要恰的，认真干活是不可能的。毕竟用屁股做出来的东西能赚钱，谁还会用脑子去做呢？劣币驱逐良币的悲哀，建议米小将加大力度，抄就完事了。',
 '垃圾游戏',
 ' ',
 'kao，我论文第一次查重率都没有愿神高',
 '口区',
 '荒野之息续作由米哈游开发',
 '虽然崩坏三的人物动作也没少抄，但是至少没这么多也做的不这么直白，虽然崩坏三这个游戏我已经恨透了，但至少质量还在那，我对米忽悠公司本身还抱有期望，直到看见这个原神。一开始大家都说可能只是pv碰瓷什么的，现在自然都懂了。',
 '[嘻嘻][嘻嘻][嘻嘻][嘻嘻]给爷爪巴',
 '借鉴的不错，希望收费也一起借鉴，别让我看到什么328和648。借鉴就找好的地方借鉴，而不是让你借鉴出别的游戏的一个壳来继续推销卖不出去的水晶钻石',
 '什么年代了？还在接着抄？正版意识已经越来越强了好吧 明眼人都看得出来[doge]',
 '我就想说，游戏行业真的走远了，出的什么垃圾游戏。',
 '辣鸡游戏，希望你永远挂在墙头上',
 ' ',
 '原来前几天官宣的旷野之息续作是你们做的[微笑][微笑][微笑]',
 '为了捞钱脸都不要了',
 '我就想问……众泰的汽车某些车型，部分外观和某些豪华品牌相似度极高，你们能说这也是人家的原创？昂哈？只因为里面的发动机不一样就是原创了？昂？[阴险]',
 '呸！！！！！！！！！！！！！',
 '为什么抽奖不送switch 送ps4？是将来准备移植ps4 好圆大家在ps平台上玩塞尔达的愿望吗？',
 ' ',
 '来踩一脚',
 '加油奥，还有很多好游戏呢，全抄进去也许真就煮成一锅粥变成新游戏了呢[微笑]我叼你妈的',
 '过来吐口痰嗷[太开心][太开心][太开心][太开心]',
 '我一直是蛮支持国产的，其实就算是抄袭玩法，我觉得只要有自己的东西，我觉得也没什么问题，但元神已经不是抄玩法了，根本就是把玩家当傻子。这尼玛画风玩法，全都是塞尔达的影子，抄作业好歹也改改啊，老早之前就以国产动作之魂自居，现在还恬不知耻地照搬，可有点数吧',
 '我还以为是谁做了塞尔达的换头mod结果居然是个手游，这抄的也太明显了，能不能要点脸[费解]',
 '抄袭塞尔达，真无耻。。',
 '抄袭狗你好',
 '抄袭塞尔达盗取别人努力的成果真的丢脸',
 '我瞅着您该抽ns啊[微笑]',
 '怎么说呢，塞尔达目前可以说是游戏界的一座高峰，大概有珠穆朗玛那么高，能与之比肩的游戏目前来说寥寥无几，但由于ns平台在大陆的局限性，较国内庞大的手游玩家，塞尔达的知名度并不算高。但任何一个热爱游戏的人都不会想看到这种神作被劣质的仿冒，厂商恰烂钱。所以，想玩原神的朋友出来拉一波黑吧。',
 '没点脸的？？？？',
 '出一个二手ns和一个赛尔达卡带，毕竟现在可以在pc上玩到赛尔达了，感谢米哈游还原神作',
 '祝你游拿不到版号糊穿地心[中国赞]',
 '为啥不送switch？[嘻嘻]',
 '看到大家都在骂你，我就放心了。作为一个游戏开发者，去侮辱真正带来快乐的游戏，是不是要扪心自问一下，自己已经变成了最肮脏的大人呢',
 '抄袭 我靠',
 '“在野外战斗成功清理掉营地敌人之后，游戏还会给一个营地箱子解锁的特写”看了实况，这他妈的一模一样啊，其他一样的就不提了！简直恶心！本来我以为你就PV碰瓷呢，你们准备整个游戏都碰瓷塞尔达传说是吗？亏得我还帮你们说好话！你们好歹留点自己的东西在自己的游戏里面吧！哪怕一点呢！',
 '怎么不抽ns[微笑]',
 '我现在想玩国产宝可梦，和大镖客里，期待你们下一部作品[doge]',
 '敢不敢送ns[微笑的月亮]',
 '不要脸',
 '还 原神 作',
 '真不要碧脸 刘伟死个妈先',
 '这就是塞尔达：荒野之息的续作pv吗，感觉不如荒野之息啊。果然任天堂已经不行了[doge]',
 '臭鱼烂虾mihoyo，好的不学，学你马翟天临呢？',
 '有做好游戏的能力，非要搞抄袭，伤心了',
 '我突然想到了！！！我想玩荒野大镖客2，巫师3，使命召唤15，战地1，赛博朋克2077手游版！！！谢谢！！！',
 '呕',
 'md求您别抄了',
 '老师从小就教会我们抄袭别人的作业，别人的成果[doge][doge][doge]',
 '博主你看着这些回复不尴尬的吗？',

确认可用设备：CPU/GPU （请根据自己的设备修改）

Confirm available devices: CPU/GPU (please modify according to your own device)

In [345]:
gpu = "cuda:0" if torch.cuda.is_available() else "cpu"
gpu

'cuda:0'

后续步骤包括：
- 确认要使用的transforms库中预训练的模型（该数据集中的文本均为中文，因此选择bert-base-chinese）
- 将comment_list作为tokenizer的输入
- 将token后的文本输入预训练模型里，得到所有文本的向量表达

The following steps include:
- Confirm which pre-trained model in the transforms library should be used (regarding this case, all texts in the dataset are Chinese, so bert-base-chinese will be appropriate)
- Fit comment_list into the selected model's tokenizer
- Fit the tokenized texts into the selected model to obtain the vector representation of all textual data

#### (2) 使用选定模型及其tokenizer处理文本数据/Use the selected model and its tokenizer to handle textual data

<font color="red">注意：下面的代码块运行后在我的电脑上出现了来自jupyter-widgets的bug，但该bug不影响后续HeteroG的构建、bert-base-chinese的使用、以及提出的模型的训练<font>

<font color="yellow">Note: Although the Code cell below led to some errors from jupyter-widgets when running on my PC, this will not affect the subsequent operations, including HeteroG consturction, the use of bert-base-chinese, and the training of our proposed model<font>

In [346]:
torch.manual_seed(0)
bert_tokenizer = BertTokenizer.from_pretrained('bert-base-chinese')
bert_model = BertModel.from_pretrained('bert-base-chinese')

'''移动到cuda上/Put the model and input to cuda'''
bert_model = bert_model.to(gpu)
bert_inputs = bert_tokenizer(comment_list,return_tensors="pt",padding=True).to(gpu)

Downloading vocab.txt:   0%|          | 0.00/110k [00:00<?, ?B/s]

Downloading tokenizer_config.json:   0%|          | 0.00/49.0 [00:00<?, ?B/s]

Downloading config.json:   0%|          | 0.00/624 [00:00<?, ?B/s]

Downloading model.safetensors:   0%|          | 0.00/412M [00:00<?, ?B/s]

为避免显存溢出，将bert_inputs分成多个small batches后、再逐一送入模型（bert-base-chinese）里

To avoid memory overflow, `bert_inputs` will be allocated into small batches and fed into the model (bert-base-chinese) one by one.

In [348]:
bert_inputs

{'input_ids': tensor([[ 101, 5440, 1367,  ...,    0,    0,    0],
        [ 101, 3341, 5440,  ...,    0,    0,    0],
        [ 101, 4696,  679,  ...,    0,    0,    0],
        ...,
        [ 101, 1168, 2769,  ...,    0,    0,    0],
        [ 101, 1536, 1678,  ...,    0,    0,    0],
        [ 101, 1744,  772,  ...,    0,    0,    0]], device='cuda:0'), 'token_type_ids': tensor([[0, 0, 0,  ..., 0, 0, 0],
        [0, 0, 0,  ..., 0, 0, 0],
        [0, 0, 0,  ..., 0, 0, 0],
        ...,
        [0, 0, 0,  ..., 0, 0, 0],
        [0, 0, 0,  ..., 0, 0, 0],
        [0, 0, 0,  ..., 0, 0, 0]], device='cuda:0'), 'attention_mask': tensor([[1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        ...,
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0]], device='cuda:0')}

In [349]:
bert_ids = bert_inputs['input_ids']
bert_mask = bert_inputs['attention_mask']
bert_Tids = bert_inputs['token_type_ids']

# 定义一个函数来分批/Define a function to allocate batch
def batch_collate(batch_size,ids,mask,tIds):
    batch_idx = list(range(0,3841,batch_size))
    batch_list =[]
    for i in batch_idx:
        if i!=3840:
            batch_dict = {
                'input_ids': ids[i : i+batch_size],
                'attention_mask': mask[i : i+batch_size],
                'token_type_ids': tIds[i : i+batch_size]
            }
        else:
            batch_dict = {
                'input_ids': ids[i:],
                'attention_mask': mask[i:],
                'token_type_ids': tIds[i:]
            }
        batch_list.append(batch_dict)
    return batch_list

In [350]:
# 分批/Allocate the batch
batch_set = batch_collate(16,bert_ids,bert_mask,bert_Tids)

In [351]:
len(batch_set)

241

In [352]:
# 逐批送入模型里/Feed each batch one by one into the model
torch.manual_seed(0)
all_commentV = []
with torch.no_grad():
    for mb in range(len(batch_set)):
        batch_output = bert_model(**batch_set[mb])
        bacth_vector = batch_output.pooler_output
        all_commentV.append(bacth_vector)

In [353]:
len(all_commentV)

241

In [354]:
all_commentV

[tensor([[ 0.9940,  0.9999,  0.9899,  ..., -0.9991, -0.8844,  0.9776],
         [ 0.9999,  1.0000,  0.9957,  ..., -0.9897, -0.9999,  0.9136],
         [ 0.9979,  0.9972,  0.9994,  ..., -0.9849, -0.9998, -0.9075],
         ...,
         [ 0.9940,  0.9999,  0.9899,  ..., -0.9991, -0.8844,  0.9776],
         [ 0.9987,  0.9998,  0.9924,  ..., -0.9989, -0.9774,  0.7461],
         [ 0.9998,  1.0000,  0.9998,  ..., -0.9989, -0.9998,  0.8627]],
        device='cuda:0'),
 tensor([[ 0.9999,  1.0000,  0.9999,  ..., -0.9980, -0.9996, -0.8641],
         [ 0.9997,  0.9999,  0.9992,  ..., -0.9995, -0.9926,  0.7948],
         [ 0.9999,  0.9999,  0.9995,  ..., -0.9962, -0.9987,  0.7980],
         ...,
         [ 0.9982,  0.9999,  0.9998,  ..., -0.9928, -0.9925,  0.8479],
         [ 0.9993,  0.9992,  0.9948,  ..., -0.9950, -0.9997,  0.3598],
         [ 0.9999,  1.0000,  0.9997,  ..., -0.9969, -0.9997,  0.9621]],
        device='cuda:0'),
 tensor([[ 0.9975,  0.9993,  0.9997,  ..., -0.9984, -0.9681,  0.9172],
         [ 0.9996,  1.0000,  0.9994,  ..., -0.9974, -0.9995,  0.6979],
         [ 0.9996,  0.9999,  0.9995,  ..., -0.9981, -0.9999, -0.2894],
         ...,
         [ 0.9999,  1.0000,  0.9985,  ..., -0.9977, -0.9995,  0.8333],
         [ 0.9977,  1.0000,  0.9967,  ..., -0.9998, -0.9323, -0.2556],
         [ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237]],
        device='cuda:0'),
 tensor([[ 0.9996,  0.9997,  0.9992,  ..., -0.9720, -0.9999,  0.8959],
         [ 0.9998,  1.0000,  0.9990,  ..., -0.9966, -0.9978,  0.1148],
         [ 0.9967,  1.0000,  0.9630,  ..., -0.9960, -0.9936,  0.9409],
         ...,
         [ 0.9997,  1.0000,  0.9979,  ..., -0.9985, -0.9999, -0.5712],
         [ 0.9995,  1.0000,  0.9961,  ..., -0.9991, -0.9970, -0.0500],
         [ 0.9997,  1.0000,  0.9954,  ..., -0.9934, -0.9997,  0.8751]],
        device='cuda:0'),
 tensor([[ 0.9993,  1.0000,  0.9219,  ..., -0.9988, -0.9935,  0.5645],
         [ 0.9999,  0.9999,  1.0000,  ..., -0.9906, -1.0000,  0.9068],
         [ 0.9980,  0.9999,  0.9358,  ..., -0.9972, -0.9806,  0.8688],
         ...,
         [ 1.0000,  1.0000,  0.9993,  ..., -0.9986, -0.9951,  0.5987],
         [ 0.9991,  1.0000,  0.9312,  ..., -0.9978, -0.9920,  0.6781],
         [ 0.9999,  0.9998,  0.9994,  ..., -0.9853, -0.9996,  0.0225]],
        device='cuda:0'),
 tensor([[ 0.9969,  0.9997,  0.9416,  ..., -0.6430, -0.9989, -0.5871],
         [ 0.9991,  0.9999,  0.7498,  ..., -0.9040, -0.9998, -0.9165],
         [ 0.9979,  1.0000,  0.9349,  ..., -0.9507, -0.9997, -0.8810],
         ...,
         [ 0.9993,  1.0000,  0.8340,  ..., -0.9969, -0.9914,  0.9722],
         [ 0.9995,  1.0000,  0.9730,  ..., -0.9944, -0.9869,  0.9068],
         [ 0.9930,  0.9999,  0.9892,  ..., -0.9992, -0.9911,  0.3293]],
        device='cuda:0'),
 tensor([[ 0.9983,  0.9997,  0.9811,  ..., -0.9970, -0.9873,  0.9514],
         [ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237],
         [ 0.9999,  1.0000,  0.9993,  ..., -0.9844, -0.9986,  0.8455],
         ...,
         [ 0.9999,  1.0000,  0.9992,  ..., -0.9683, -0.9999,  0.4775],
         [ 0.9997,  1.0000,  0.9907,  ..., -0.9667, -0.9998, -0.4528],
         [ 0.9989,  0.9999,  0.9371,  ..., -0.9977, -0.9989,  0.3192]],
        device='cuda:0'),
 tensor([[ 0.9999,  1.0000,  0.9861,  ..., -0.9568, -0.9966,  0.9783],
         [ 0.9982,  0.9999,  0.9876,  ..., -0.9994, -0.9763,  0.1016],
         [ 0.9999,  1.0000,  0.9995,  ..., -0.9950, -0.9994,  0.8172],
         ...,
         [ 0.9986,  0.9999,  0.9916,  ..., -0.9683, -0.9994, -0.3776],
         [ 0.9997,  1.0000,  0.9987,  ..., -0.9985, -0.9984,  0.9013],
         [ 0.9997,  1.0000,  0.9985,  ..., -0.9785, -0.9998, -0.4399]],
        device='cuda:0'),
 tensor([[ 1.0000,  1.0000,  0.9987,  ..., -0.9860, -1.0000,  0.5815],
         [ 0.9997,  1.0000,  0.9966,  ..., -0.9988, -0.9972,  0.9828],
         [ 0.9987,  1.0000,  0.9701,  ..., -0.9980, -0.9915,  0.9125],
         ...,
         [ 0.9999,  1.0000,  0.9969,  ..., -0.9932, -1.0000,  0.7271],
         [ 0.9998,  1.0000,  0.9913,  ..., -0.9995, -0.9995,  0.7099],
         [ 0.9998,  1.0000,  0.9995,  ..., -0.9063, -0.9999,  0.9882]],
        device='cuda:0'),
 tensor([[ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237],
         [ 0.9998,  1.0000,  0.9911,  ..., -0.9513, -0.9997,  0.9712],
         [ 0.9983,  0.9998,  0.9911,  ..., -0.9593, -0.9998,  0.2574],
         ...,
         [ 0.9997,  1.0000,  0.8655,  ..., -0.9879, -0.9998,  0.4518],
         [ 0.9991,  1.0000,  0.9980,  ..., -0.9968, -0.9998,  0.6216],
         [ 0.9998,  1.0000,  0.9713,  ..., -0.9564, -0.9987,  0.9666]],
        device='cuda:0'),
 tensor([[ 0.9996,  1.0000,  0.9536,  ..., -0.9947, -0.9979,  0.9129],
         [ 0.9997,  1.0000,  0.9995,  ..., -0.9994, -0.9979,  0.3817],
         [ 0.9984,  0.9949,  0.9998,  ..., -0.9980, -0.9400,  0.0027],
         ...,
         [ 0.9994,  1.0000,  0.9998,  ..., -0.9974, -0.9969,  0.8867],
         [ 0.9990,  1.0000,  0.8659,  ..., -0.9976, -0.9840,  0.6035],
         [ 0.9969,  0.9999,  0.9776,  ..., -0.9982, -0.9910,  0.9356]],
        device='cuda:0'),
 tensor([[ 0.9989,  1.0000,  0.9999,  ..., -0.9993, -0.9998, -0.5973],
         [ 0.9989,  1.0000,  0.9923,  ..., -0.9957, -0.9998,  0.7999],
         [ 0.9998,  0.9999,  0.9995,  ..., -0.9953, -0.9982,  0.7151],
         ...,
         [ 0.9988,  0.9998,  0.9469,  ..., -0.9995, -0.9313,  0.8488],
         [ 0.9998,  1.0000,  0.9996,  ..., -0.9990, -0.9986,  0.4422],
         [ 0.9983,  1.0000,  0.9971,  ..., -0.9985, -0.9611,  0.7280]],
        device='cuda:0'),
 tensor([[ 0.9950,  0.9991,  0.9996,  ..., -0.9906, -0.9999, -0.1847],
         [ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237],
         [ 0.9994,  0.9999,  0.9997,  ..., -0.9979, -0.9990,  0.7963],
         ...,
         [ 0.9944,  1.0000,  0.5554,  ..., -0.9989, -0.9837,  0.5398],
         [ 0.9998,  1.0000,  0.9999,  ..., -0.9996, -0.9985,  0.4986],
         [ 0.9999,  1.0000,  0.9967,  ..., -0.9970, -0.9962,  0.9439]],
        device='cuda:0'),
 tensor([[ 0.9999,  0.9999,  0.9998,  ..., -0.9986, -0.9996, -0.5335],
         [ 0.9894,  1.0000,  0.9949,  ..., -0.9987, -0.7387,  0.9207],
         [ 1.0000,  1.0000,  0.9999,  ..., -0.9999, -0.9997,  0.2213],
         ...,
         [ 0.9998,  1.0000,  0.9933,  ..., -0.9993, -0.9986,  0.3894],
         [ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237],
         [ 0.9999,  1.0000,  0.9769,  ..., -0.9951, -0.9991,  0.8788]],
        device='cuda:0'),
 tensor([[ 0.9995,  1.0000,  0.9956,  ..., -0.9972, -0.9905,  0.6825],
         [ 0.9994,  1.0000,  0.7286,  ..., -0.9771, -0.8968,  0.8610],
         [ 0.9998,  1.0000,  0.9999,  ..., -0.9993, -0.9984, -0.2586],
         ...,
         [ 0.9986,  1.0000,  0.9971,  ..., -0.9931, -0.9988,  0.6779],
         [ 0.9999,  1.0000,  0.9979,  ..., -0.9930, -0.9959,  0.3054],
         [ 0.9993,  1.0000,  0.9871,  ..., -0.9972, -0.9631,  0.9273]],
        device='cuda:0'),
 tensor([[ 0.9998,  1.0000,  0.9671,  ..., -0.9925, -0.9999,  0.9074],
         [ 0.9996,  1.0000,  0.9983,  ..., -0.9987, -0.9856,  0.9298],
         [ 0.9995,  1.0000,  0.9743,  ..., -0.9622, -0.9988,  0.1597],
         ...,
         [ 0.9999,  1.0000,  0.9984,  ..., -0.9995, -0.9984,  0.3635],
         [ 0.9998,  1.0000,  0.9953,  ..., -0.9976, -0.9963,  0.1532],
         [ 0.9996,  0.9999,  0.9999,  ..., -0.9949, -0.9990,  0.7726]],
        device='cuda:0'),
 tensor([[ 0.9998,  1.0000,  0.5022,  ..., -0.9979, -0.9956,  0.9780],
         [ 0.9927,  0.9999,  0.9830,  ..., -0.9991, -0.9992,  0.6504],
         [ 0.9999,  1.0000,  0.9999,  ..., -0.9978, -0.9998, -0.0549],
         ...,
         [ 0.9997,  1.0000,  0.9996,  ..., -0.9867, -0.9986,  0.9290],
         [ 0.9996,  1.0000,  0.9912,  ..., -0.9921, -0.9994, -0.0533],
         [ 0.9995,  0.9999,  0.9817,  ..., -0.9964, -0.9948,  0.0437]],
        device='cuda:0'),
 tensor([[ 0.9960,  1.0000,  0.8271,  ..., -0.9971, -0.9787,  0.8951],
         [ 0.9997,  1.0000,  0.9993,  ..., -0.9798, -0.9980,  0.9079],
         [ 0.9996,  1.0000,  0.9970,  ..., -0.9805, -0.9972,  0.9441],
         ...,
         [ 0.9983,  1.0000,  0.9736,  ..., -0.9818, -0.9951,  0.9730],
         [ 0.9998,  1.0000,  0.9940,  ..., -0.9976, -0.9992,  0.8822],
         [ 0.9998,  1.0000,  0.8209,  ..., -0.9969, -0.9968,  0.9688]],
        device='cuda:0'),
 tensor([[ 0.9998,  1.0000,  0.9962,  ..., -0.9990, -0.9990,  0.9052],
         [ 0.9999,  1.0000,  0.9998,  ..., -0.9986, -0.9989, -0.0173],
         [ 0.9999,  1.0000,  0.9903,  ..., -0.9929, -0.9986,  0.8878],
         ...,
         [ 0.9998,  0.9995,  0.9974,  ..., -0.9910, -0.9925,  0.9204],
         [ 0.9998,  1.0000,  0.9475,  ..., -0.9740, -0.9999, -0.2872],
         [ 0.9999,  0.9999,  1.0000,  ..., -0.9996, -0.9993,  0.0953]],
        device='cuda:0'),
 tensor([[ 0.9991,  0.9999,  0.9983,  ..., -0.9433, -1.0000,  0.7853],
         [ 0.9996,  0.9999,  0.9738,  ..., -0.9962, -0.9829,  0.8952],
         [ 0.9996,  1.0000,  1.0000,  ..., -0.9958, -0.9998,  0.2060],
         ...,
         [ 1.0000,  1.0000,  0.9983,  ..., -0.9874, -1.0000,  0.8491],
         [ 0.9998,  0.9994,  0.9999,  ..., -0.9979, -0.9999, -0.6035],
         [ 0.9998,  1.0000,  0.9751,  ..., -0.9756, -0.9995,  0.9577]],
        device='cuda:0'),
 tensor([[ 0.9988,  0.9991,  0.9989,  ..., -0.9982, -0.9885,  0.4083],
         [ 0.9997,  1.0000,  0.9979,  ..., -0.9981, -0.9974,  0.7947],
         [ 0.9991,  0.9999,  0.9927,  ..., -0.9994, -0.9702,  0.9585],
         ...,
         [ 0.9998,  1.0000,  0.9954,  ..., -0.9949, -0.9983,  0.8918],
         [ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237],
         [ 0.9997,  1.0000,  0.9467,  ..., -0.9955, -0.9904,  0.5413]],
        device='cuda:0'),
 tensor([[ 0.9993,  1.0000,  0.9512,  ..., -0.9734, -0.9993, -0.0764],
         [ 0.9988,  1.0000,  0.8836,  ..., -0.9904, -0.8483,  0.9480],
         [ 0.9997,  0.9999,  0.9789,  ..., -0.9983, -0.9995,  0.9687],
         ...,
         [ 0.9997,  1.0000,  0.9979,  ..., -0.9988, -0.9991,  0.2042],
         [ 0.9998,  1.0000,  0.9864,  ..., -0.9963, -0.9965,  0.9058],
         [ 0.9995,  1.0000,  0.9994,  ..., -0.9878, -0.9998,  0.8629]],
        device='cuda:0'),
 tensor([[ 0.9988,  1.0000,  0.9920,  ..., -0.9737, -0.9157, -0.5687],
         [ 0.9997,  1.0000,  0.9374,  ..., -0.9951, -0.9975, -0.7586],
         [ 0.9992,  1.0000,  0.8221,  ..., -0.9973, -0.9396,  0.7538],
         ...,
         [ 0.9997,  1.0000,  0.9992,  ..., -0.9989, -0.9991,  0.8169],
         [ 0.9997,  1.0000,  0.9724,  ..., -0.9918, -0.9979,  0.9827],
         [ 0.9998,  1.0000,  0.9571,  ..., -0.9481, -0.9878,  0.9411]],
        device='cuda:0'),
 tensor([[ 0.9988,  1.0000,  0.9997,  ..., -0.9991, -0.9966,  0.2795],
         [ 0.9998,  1.0000,  0.9964,  ..., -0.9924, -0.9978,  0.8345],
         [ 1.0000,  1.0000,  0.9787,  ..., -0.9942, -0.9997, -0.5806],
         ...,
         [ 0.9996,  0.9984,  0.9993,  ..., -0.9992, -0.9986,  0.2341],
         [ 0.9999,  1.0000,  0.9791,  ..., -0.9716, -0.9998,  0.9216],
         [ 0.9994,  1.0000,  0.7613,  ..., -0.9648, -0.9994, -0.7618]],
        device='cuda:0'),
 tensor([[ 0.9988,  1.0000,  0.9962,  ..., -0.9986, -0.9895,  0.9113],
         [ 0.9997,  1.0000,  0.9753,  ..., -0.9968, -0.9968, -0.5859],
         [ 0.9998,  1.0000,  0.9998,  ..., -0.9910, -0.9995, -0.9814],
         ...,
         [ 0.9997,  1.0000,  0.9992,  ..., -0.9978, -0.9989,  0.4514],
         [ 0.9952,  0.9991,  0.9737,  ..., -0.9991, -0.8831,  0.4884],
         [ 0.9998,  0.9999,  0.9893,  ..., -0.9807, -0.9995,  0.4560]],
        device='cuda:0'),
 tensor([[ 0.9990,  1.0000,  0.9388,  ..., -0.9768, -0.9984, -0.0505],
         [ 0.9996,  0.9999,  0.9998,  ..., -0.9980, -0.9997,  0.7665],
         [ 0.9998,  1.0000,  0.9990,  ..., -0.9950, -0.9896,  0.4787],
         ...,
         [ 0.9997,  1.0000,  0.9988,  ..., -0.9994, -0.9977,  0.6890],
         [ 0.9999,  1.0000,  0.9897,  ..., -0.9907, -0.9990, -0.3646],
         [ 0.9998,  0.9999,  0.9971,  ..., -0.9989, -0.9997, -0.4853]],
        device='cuda:0'),
 tensor([[ 0.9999,  1.0000,  0.9998,  ..., -0.9988, -0.9977,  0.6419],
         [ 1.0000,  1.0000,  0.9996,  ..., -0.9955, -0.9999,  0.7690],
         [ 0.9987,  1.0000,  0.9851,  ..., -0.9956, -0.9993,  0.7785],
         ...,
         [ 0.9948,  0.9885,  0.9890,  ..., -0.9993, -0.9655,  0.6190],
         [ 0.9973,  1.0000,  0.9744,  ..., -0.9984, -0.9548,  0.5596],
         [ 0.9987,  1.0000,  0.9756,  ..., -0.9959, -0.9638,  0.9486]],
        device='cuda:0'),
 tensor([[ 0.9997,  1.0000,  0.9956,  ..., -0.9946, -0.9749,  0.9213],
         [ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237],
         [ 0.9997,  1.0000,  0.9997,  ..., -0.9989, -0.9991, -0.5339],
         ...,
         [ 0.9999,  1.0000,  0.9622,  ..., -0.9602, -0.9999,  0.9780],
         [ 0.9971,  0.9992,  0.9672,  ..., -0.9537, -0.9978, -0.2913],
         [ 0.9997,  1.0000,  0.9936,  ..., -0.9224, -0.9987,  0.7331]],
        device='cuda:0'),
 tensor([[ 0.9991,  1.0000,  0.9985,  ..., -0.9942, -0.9970,  0.1256],
         [ 0.9998,  1.0000,  0.9972,  ..., -0.9988, -0.9995,  0.8823],
         [ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237],
         ...,
         [ 0.9998,  1.0000,  0.9935,  ..., -0.9974, -0.9979,  0.8540],
         [ 0.9997,  1.0000,  0.5946,  ..., -0.9952, -0.9991, -0.5430],
         [ 1.0000,  0.9999,  1.0000,  ..., -0.9995, -0.9999,  0.6629]],
        device='cuda:0'),
 tensor([[ 0.9999,  1.0000,  0.9986,  ..., -0.9803, -0.9995,  0.9943],
         [ 0.9979,  1.0000,  0.9983,  ..., -0.9992, -0.9509, -0.4518],
         [ 0.9995,  0.9999,  0.9989,  ..., -0.9947, -0.9348,  0.9429],
         ...,
         [ 0.9999,  0.9963,  0.9995,  ..., -0.9963, -0.9847,  0.6127],
         [ 0.9997,  1.0000,  0.9925,  ..., -0.9655, -0.9975,  0.6902],
         [ 0.9998,  0.9999,  0.9748,  ..., -0.8867, -0.9999,  0.6804]],
        device='cuda:0'),
 tensor([[ 0.9994,  0.9998,  0.9913,  ..., -0.9989, -0.9661, -0.0106],
         [ 1.0000,  1.0000,  0.9929,  ..., -0.9973, -0.9999,  0.8052],
         [ 0.9999,  1.0000,  0.9437,  ..., -0.9951, -0.9997,  0.2260],
         ...,
         [ 0.9980,  1.0000,  0.9213,  ..., -0.9982, -0.9717,  0.8276],
         [ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237],
         [ 0.9999,  1.0000,  0.9997,  ..., -0.9997, -0.9978,  0.2786]],
        device='cuda:0'),
 tensor([[ 0.9998,  1.0000,  0.9983,  ..., -0.9990, -0.9993, -0.5669],
         [ 0.9998,  1.0000,  0.9942,  ..., -0.9976, -0.9960, -0.5183],
         [ 0.9999,  1.0000,  0.9989,  ..., -0.9978, -0.9970,  0.8582],
         ...,
         [ 0.9999,  1.0000,  0.9974,  ..., -0.9624, -0.9999, -0.4794],
         [ 0.9999,  1.0000,  0.9996,  ..., -0.9992, -0.9951, -0.0789],
         [ 0.9993,  0.9993,  0.9982,  ..., -0.9995, -0.9870, -0.8494]],
        device='cuda:0'),
 tensor([[ 0.9997,  0.9999,  0.9997,  ..., -0.9986, -0.9998,  0.6854],
         [ 0.9994,  0.9999,  0.9995,  ..., -0.9995, -0.9924,  0.5675],
         [ 0.9998,  0.9999,  0.9999,  ..., -0.9963, -0.9999,  0.7649],
         ...,
         [ 0.9971,  0.9200,  0.9999,  ..., -0.9880, -0.9869,  0.5310],
         [ 0.9965,  1.0000,  0.9957,  ..., -0.9981, -0.9852, -0.6540],
         [ 0.9944,  1.0000,  0.5554,  ..., -0.9989, -0.9837,  0.5398]],
        device='cuda:0'),
 tensor([[ 0.9999,  1.0000,  0.9953,  ..., -0.9998, -0.9996,  0.9153],
         [ 0.9998,  1.0000,  1.0000,  ..., -0.9959, -0.9997,  0.7018],
         [ 0.9995,  1.0000,  0.9997,  ..., -0.9971, -0.9996,  0.2667],
         ...,
         [ 0.9997,  1.0000,  0.9679,  ..., -0.9966, -0.9996,  0.6076],
         [ 0.9989,  1.0000,  0.9929,  ..., -0.9980, -0.9768,  0.9485],
         [ 0.9997,  1.0000,  0.9993,  ..., -0.9972, -0.9958,  0.6719]],
        device='cuda:0'),
 tensor([[ 0.9997,  1.0000,  0.9996,  ..., -0.9997, -0.9958, -0.7844],
         [ 0.9997,  1.0000,  0.9860,  ..., -0.9879, -0.9985,  0.3382],
         [ 0.9996,  1.0000,  0.9988,  ..., -0.9991, -0.9988,  0.7704],
         ...,
         [ 0.9992,  0.9998,  0.9992,  ..., -0.9990, -0.9249,  0.5002],
         [ 0.9992,  0.9989,  0.9992,  ..., -0.9974, -1.0000,  0.7472],
         [ 0.9997,  0.9993,  0.9996,  ..., -0.9964, -0.9963,  0.4568]],
        device='cuda:0'),
 tensor([[ 0.9995,  0.9999,  0.9998,  ..., -0.9957, -0.9996, -0.6309],
         [ 0.9997,  1.0000,  0.9553,  ..., -0.9964, -0.9992, -0.7436],
         [ 0.9999,  1.0000,  0.9997,  ..., -0.9969, -0.9958,  0.7690],
         ...,
         [ 0.9997,  0.9999,  0.9998,  ..., -0.9963, -0.9973,  0.8261],
         [ 0.9984,  1.0000,  0.8782,  ..., -0.9956, -0.9714,  0.9212],
         [ 0.9984,  0.9995,  0.9993,  ..., -0.9995, -0.9891,  0.5750]],
        device='cuda:0'),
 tensor([[ 0.9998,  1.0000,  0.9247,  ..., -0.9949, -0.9999,  0.5638],
         [ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237],
         [ 1.0000,  0.9999,  0.9998,  ..., -0.9971, -1.0000,  0.6658],
         ...,
         [ 0.9995,  0.9995,  0.9999,  ..., -0.9997, -0.9980,  0.8933],
         [ 0.9987,  0.9999,  0.9987,  ..., -0.9990, -0.9931,  0.7755],
         [ 0.9998,  1.0000,  0.9989,  ..., -0.9998, -0.9995,  0.2651]],
        device='cuda:0'),
 tensor([[ 0.9997,  1.0000,  0.9800,  ..., -0.9978, -0.9982,  0.7017],
         [ 0.9995,  1.0000,  0.9887,  ..., -0.9980, -0.9979,  0.1123],
         [ 0.9996,  0.9999,  0.9999,  ..., -0.9994, -0.9996, -0.5625],
         ...,
         [ 0.9998,  1.0000,  0.9978,  ..., -0.9973, -0.9989,  0.7160],
         [ 0.9944,  0.9997, -0.4462,  ..., -0.9969, -0.9708,  0.2815],
         [ 0.9984,  1.0000,  0.8897,  ..., -0.9967, -0.9833,  0.9772]],
        device='cuda:0'),
 tensor([[ 0.9798,  1.0000, -0.2299,  ..., -0.9972, -0.5136,  0.9875],
         [ 0.9992,  1.0000,  0.9982,  ..., -0.9920, -0.9920,  0.8093],
         [ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237],
         ...,
         [ 0.9999,  1.0000,  0.9977,  ..., -0.9994, -0.9989,  0.7737],
         [ 0.9994,  1.0000,  0.9996,  ..., -0.9890, -0.9998,  0.5418],
         [ 0.9998,  1.0000,  0.9890,  ..., -0.9915, -0.9997,  0.2417]],
        device='cuda:0'),
 tensor([[ 0.9991,  1.0000,  0.9804,  ..., -0.9933, -0.9924,  0.8592],
         [ 0.9996,  1.0000,  0.9965,  ..., -0.9869, -0.9993, -0.3143],
         [ 0.9962,  0.9999,  0.9729,  ..., -0.9988, -0.9338,  0.7943],
         ...,
         [ 0.9223,  0.8765,  0.0170,  ..., -0.8503, -0.9089,  0.9237],
         [ 0.9998,  1.0000,  0.9997,  ..., -0.9972, -1.0000,  0.3212],
         [ 0.9998,  1.0000,  0.9979,  ..., -0.9943, -0.9817,  0.9598]],
        device='cuda:0'),
 tensor([[ 0.9987,  0.9999,  0.9921,  ..., -0.9985, -0.9999,  0.8827],
         [ 0.9964,  0.9998,  0.9897,  ..., -0.9990, -0.8395,  0.2867],
         [ 0.9996,  1.0000,  0.9977,  ..., -0.9991, -0.9995,  0.2103],
         ...,
         [ 0.9992,  0.9999,  0.7716,  ..., -0.9624, -0.9994, -0.3219],
         [ 0.9997,  0.9999,  0.9999,  ..., -0.9986, -0.9894,  0.8723],
         [ 1.0000,  0.9999,  0.9997,  ..., -0.9975, -0.9999,  0.3196]],
        device='cuda:0'),
 tensor([[ 0.9999,  1.0000,  0.9976,  ..., -0.9993, -0.9998,  0.6437],
         [ 0.9997,  1.0000,  0.9984,  ..., -0.9970, -0.9981,  0.7896],
         [ 0.9995,  1.0000,  0.9885,  ..., -0.9259, -0.9976, -0.7910],
         ...,
         [ 0.9998,  1.0000,  0.9998,  ..., -0.9950, -0.9956,  0.5901],
         [ 0.9993,  1.0000,  0.9189,  ..., -0.9716, -0.9992,  0.8953],
         [ 0.9885,  0.9987,  0.9933,  ..., -0.9993, -0.9343,  0.4729]],
        device='cuda:0'),
 tensor([[ 0.9998,  1.0000,  0.9971,  ..., -0.9933, -0.9955,  0.3738],
         [ 0.9988,  0.9998,  0.9997,  ..., -0.9951, -0.9992, -0.4435],
         [ 0.9998,  1.0000,  0.9922,  ..., -0.9861, -0.9994,  0.8929],
         ...,
         [ 0.9996,  1.0000,  0.9894,  ..., -0.9951, -0.9998, -0.4066],
         [ 0.9992,  1.0000,  0.9835,  ..., -0.9997, -0.9794,  0.4135],

In [355]:
comment_vector = torch.cat(all_commentV,dim=0)
comment_vCpu = comment_vector.to('cpu')
comment_vCpu

tensor([[ 0.9940,  0.9999,  0.9899,  ..., -0.9991, -0.8844,  0.9776],
        [ 0.9999,  1.0000,  0.9957,  ..., -0.9897, -0.9999,  0.9136],
        [ 0.9979,  0.9972,  0.9994,  ..., -0.9849, -0.9998, -0.9075],
        ...,
        [ 0.9989,  1.0000,  0.9834,  ..., -0.9420, -0.9996,  0.1584],
        [ 0.9998,  1.0000,  0.9997,  ..., -0.9540, -0.9999, -0.4217],
        [ 0.9996,  0.9997,  0.9980,  ..., -0.9992, -0.9944, -0.1119]])

存储文本向量表达，清空GPU内存

Save the vector representation of textual data, empty the GPU memory

In [356]:
torch.cuda.empty_cache()

In [357]:
torch.save(comment_vCpu, "Tensor/Comment_Vector.pt")

### 4.2.5 读取向量表征/Read vector representation `Comment_Vector`

In [358]:
comm_f = torch.load("Tensor/Comment_Vector.pt")
comm_f

tensor([[ 0.9940,  0.9999,  0.9899,  ..., -0.9991, -0.8844,  0.9776],
        [ 0.9999,  1.0000,  0.9957,  ..., -0.9897, -0.9999,  0.9136],
        [ 0.9979,  0.9972,  0.9994,  ..., -0.9849, -0.9998, -0.9075],
        ...,
        [ 0.9989,  1.0000,  0.9834,  ..., -0.9420, -0.9996,  0.1584],
        [ 0.9998,  1.0000,  0.9997,  ..., -0.9540, -0.9999, -0.4217],
        [ 0.9996,  0.9997,  0.9980,  ..., -0.9992, -0.9944, -0.1119]])

In [360]:
print(f"Allocated GPU: {torch.cuda.memory_allocated() / 1024**3:.2f} GB")
print(f"Reversed GPU: {torch.cuda.memory_reserved() / 1024**3:.2f} GB")

Allocated GPU: 0.43 GB
Reversed GPU: 0.48 GB

# 5. 准备我们提出的HG-PD模型的输入：异构图和标准化的用户特征/Prepare the input data for our proposed model HG-PD: HeteroG construction and standardized user features

在这个部分我们将
- 构建异构图，包含2种节点（用户 与 评论）和2种边（有向的用户互动 与 无向的用户评论所属）；其中评论节点属性为经过bert-base-chinese得到的文本向量表达
- 对用户特征进行标准化

In this section we will
- Construct the HeteroG, which includes 2 types of nodes (user and comment) and 2 types of edges (directed user interaction and undirected user comment affiliation)；The comment nodes' attributes are the text vector representation obtained from bert-base-chinese
- Standardize the user features

## 5.1 异构图/HeteroG (Heterogeneous graph) construction

### 5.1.1 孤立点：自连接/Isolated user node: self connection

为了确保孤立点也能被GNNs正确的处理，为所有的孤立点加上自连接

To ensure all isolated user nodes can be handled by GNNs correctly, self-connections are added.

In [361]:
user_inter

          F_UserName  F_nIdx             T_UserName  T_nIdx
0               祎只狸猫    2795                    NaN     NaN
1             邮一棵草莓i    2790                    NaN     NaN
2             kmimg7    2789                    NaN     NaN
3              小祀弟弟吖    2783                    NaN     NaN
4            不知道如何评价    2792                    NaN     NaN
...              ...     ...                    ...     ...
3928  Pancras_Loe盧鵬州    2477                   腾讯电竞  3345.0
3929              本壹    2500                   拉不拉奇  3284.0
3930              本壹    2500                _啊翔翔翔翔翔  3691.0
3931              本壹    2500  NormanFuckingRockwell  3211.0
3932              本壹    2500           SpaceyCowboy  3661.0

[3933 rows x 4 columns]

In [362]:
self_idx = list(user_inter[user_inter['T_nIdx'].isna()].index)
user_inter.loc[self_idx,'T_nIdx'] = user_inter.loc[self_idx,'F_nIdx']
user_inter.loc[self_idx]

               F_UserName  F_nIdx T_UserName  T_nIdx
0                    祎只狸猫    2795        NaN  2795.0
1                  邮一棵草莓i    2790        NaN  2790.0
2                  kmimg7    2789        NaN  2789.0
3                   小祀弟弟吖    2783        NaN  2783.0
4                 不知道如何评价    2792        NaN  2792.0
...                   ...     ...        ...     ...
1658                哦伊哇伊伊    1549        NaN  1549.0
1659               oO土豆泥O    2409        NaN  2409.0
1660                  鸥洗恩     379        NaN   379.0
1661  hakumei_surfing_ver     796        NaN   796.0
1662            兔纸今天能摸到鱼吗    2200        NaN  2200.0

[1663 rows x 4 columns]

In [363]:
user_inter['T_nIdx'] = user_inter['T_nIdx'].astype(int)
user_inter

          F_UserName  F_nIdx             T_UserName  T_nIdx
0               祎只狸猫    2795                    NaN    2795
1             邮一棵草莓i    2790                    NaN    2790
2             kmimg7    2789                    NaN    2789
3              小祀弟弟吖    2783                    NaN    2783
4            不知道如何评价    2792                    NaN    2792
...              ...     ...                    ...     ...
3928  Pancras_Loe盧鵬州    2477                   腾讯电竞    3345
3929              本壹    2500                   拉不拉奇    3284
3930              本壹    2500                _啊翔翔翔翔翔    3691
3931              本壹    2500  NormanFuckingRockwell    3211
3932              本壹    2500           SpaceyCowboy    3661

[3933 rows x 4 columns]

处理完毕，更新用户互动Tensor

Finish the self-connetion; Update the user interaction Tensor as userInter_self

In [364]:
userInter_self = torch.from_numpy(user_inter[['F_nIdx','T_nIdx']].values).T
userInter_self

tensor([[2795, 2790, 2789,  ..., 2500, 2500, 2500],
        [2795, 2790, 2789,  ..., 3691, 3211, 3661]])

保存

Save

In [365]:
torch.save(userInter_self, "Tensor/userInter_self.pt")

### 5.1.2 HeteroData与异构图构建/HeteroData and HeteroG construction

user-comment：从一开始的有向图做成无向图；加一个反向图，即comment-user即可

user-comment: make it from the initial directed one to the undirected via creating an inverse graph (i.e., comment-user)

In [368]:
user_Node = torch.from_numpy(user_feature['user_nIdx'].values).T
user_Node

tensor([   0,    1,    2,  ..., 3780, 3781, 3782])

In [369]:
comm_Node = torch.from_numpy(user_comment['Comment_nIdx'].values).T
comm_Node

tensor([   0,    1,    2,  ..., 3851, 3852, 3853])

In [370]:
uc0 = userPost_comm[0]
uc1 = userPost_comm[1]

In [371]:
commFrom_user = torch.vstack((uc1, uc0))
commFrom_user

tensor([[   0,    1,    2,  ..., 3851, 3852, 3853],
        [2795, 2790, 2789,  ..., 2200, 2435, 2677]])

In [372]:
userPost_comm

tensor([[2795, 2790, 2789,  ..., 2200, 2435, 2677],
        [   0,    1,    2,  ..., 3851, 3852, 3853]])

In [373]:
heteroData = HeteroData()
heteroData['user'].node_id = user_Node

heteroData['comment'].node_id = comm_Node
heteroData['comment'].x = comm_f

heteroData['user','interact','user'].edge_index = userInter_self
heteroData['user','post','comment'].edge_index = userPost_comm
heteroData['comment','from','user'].edge_index = commFrom_user

heteroData

HeteroData(
  user={ node_id=[3783] },
  comment={
    node_id=[3854],
    x=[3854, 768]
  },
  (user, interact, user)={ edge_index=[2, 3933] },
  (user, post, comment)={ edge_index=[2, 3854] },
  (comment, from, user)={ edge_index=[2, 3854] }
)

可以查看heteroData的相关信息
- x_dict: 节点属性。目前存储了comment节点的信息；用户节点将在模型部分传入
- edge_index_dict：指示了node对之间的关系，即边

You can check the information of heteroData
- x_dict: node attributes. Comment nodes' attributes have been stored in the heteroData, while user nodes will be fed in the model Section
- edge_index_dict: indicates edges between pairs of nodes.

In [374]:
heteroData.x_dict

{'comment': tensor([[ 0.9940,  0.9999,  0.9899,  ..., -0.9991, -0.8844,  0.9776],
         [ 0.9999,  1.0000,  0.9957,  ..., -0.9897, -0.9999,  0.9136],
         [ 0.9979,  0.9972,  0.9994,  ..., -0.9849, -0.9998, -0.9075],
         ...,
         [ 0.9989,  1.0000,  0.9834,  ..., -0.9420, -0.9996,  0.1584],
         [ 0.9998,  1.0000,  0.9997,  ..., -0.9540, -0.9999, -0.4217],
         [ 0.9996,  0.9997,  0.9980,  ..., -0.9992, -0.9944, -0.1119]])}

In [375]:
heteroData.edge_index_dict

{('user',
  'interact',
  'user'): tensor([[2795, 2790, 2789,  ..., 2500, 2500, 2500],
         [2795, 2790, 2789,  ..., 3691, 3211, 3661]]),
 ('user',
  'post',
  'comment'): tensor([[2795, 2790, 2789,  ..., 2200, 2435, 2677],
         [   0,    1,    2,  ..., 3851, 3852, 3853]]),
 ('comment',
  'from',
  'user'): tensor([[   0,    1,    2,  ..., 3851, 3852, 3853],
         [2795, 2790, 2789,  ..., 2200, 2435, 2677]])}

In [376]:
userInter_self

tensor([[2795, 2790, 2789,  ..., 2500, 2500, 2500],
        [2795, 2790, 2789,  ..., 3691, 3211, 3661]])

保存

Save

In [377]:
torch.save(heteroData,'Tensor/HeteroData.pt')

## 5.2 将用户特征标准化/Standardize user features

我们需要将前面得到的用户特征（tensor）中、数字型变量标准化

We should standardize all numeric variables in the user features (`user_f`) obtained previously

In [391]:
user_f

tensor([[ 1., 17.,  2.,  ...,  0.,  0.,  0.],
        [ 1.,  4.,  0.,  ...,  0.,  0.,  0.],
        [ 1., 11.,  1.,  ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0.,  ...,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  ...,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  ...,  0.,  0.,  0.]])

In [392]:
user_feature

,user_nIdx,UserName,Description,DescriptionLen,SpecialChar,UserGender,UserFan,UserFollow,UserWeibo,UserVerified,LoyalFan,VipRank,Vip
0,0,薪火鹏,1.0,17.0,2.0,1.0,30.0,56.0,692.0,0.0,0.0,0.0,0.0
1,1,提尔乌斯,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,猫的摇篮-伪物,1.0,11.0,1.0,1.0,917.0,1109.0,2013.0,0.0,0.0,0.0,0.0
3,3,非常神奇的老z,0.0,0.0,0.0,1.0,13.0,59.0,9.0,0.0,0.0,0.0,0.0
4,4,假装很强的萌新,1.0,10.0,0.0,1.0,14.0,34.0,107.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3778,3778,宋宋Monkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3779,3779,Shadow-201201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3780,3780,我是你晗大大,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3781,3781,普莱米亚姆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3782,3782,Zookie-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [393]:
user_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3783 entries, 0 to 3782
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_nIdx       3783 non-null   int64
 1   UserName        3783 non-null   object
 2   Description     2803 non-null   float64
 3   DescriptionLen  2803 non-null   float64
 4   SpecialChar     2803 non-null   float64
 5   UserGender      2803 non-null   float64
 6   UserFan         2803 non-null   float64
 7   UserFollow      2803 non-null   float64
 8   UserWeibo       2803 non-null   float64
 9   UserVerified    2803 non-null   float64
 10  LoyalFan        2803 non-null   float64
 11  VipRank         2803 non-null   float64
 12  Vip             2803 non-null   float64
dtypes: float64(11), int64(1), object(1)
memory usage: 384.3+ KB

借助原数据集`user_feature`来确认数字型变量在`user_f`中的对应列索引。该对应关系如下所示（左边来自`user_feature`的列索引，右边则为`user_f`）

Identify the column indices of numeric variables in `user_f` via the dataset `user_feature`. The correspondencs is shown below (the left side is the column index of `user_feature` and the right one is `user_f`)


user_feature v.s. user_f
- 2 - 0
- 3 - 1
- 4 - 2
- 5 - 3
- 6 - 4
- 7 - 5
- 8 - 6
- 9 - 7
- 10 - 8
- 12 - 9

In [394]:
stand_col = [1, 2, 4, 5, 6]
user_stand = user_f[:, stand_col]
user_stand

tensor([[1.7000e+01, 2.0000e+00, 3.0000e+01, 5.6000e+01, 6.9200e+02],
        [4.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00],
        [1.1000e+01, 1.0000e+00, 9.1700e+02, 1.1090e+03, 2.0130e+03],
        ...,
        [0.0000e+00, 0.0000e+00, 0.0000e+00, 5.0000e+01, 6.0000e+00],
        [0.0000e+00, 0.0000e+00, 0.0000e+00, 7.0000e+00, 0.0000e+00],
        [0.0000e+00, 0.0000e+00, 0.0000e+00, 6.1000e+01, 0.0000e+00]])

标准化

Standardization

In [395]:
user_s_mean = user_stand.mean(dim=0)
user_s_std = user_stand.std(dim=0)
stand_user_f = (user_stand - user_s_mean)/user_s_std
stand_user_f

tensor([[ 0.9457,  0.3182, -0.0239, -0.4984, -0.2206],
        [-0.2962, -0.4198, -0.0240, -0.5650, -0.2996],
        [ 0.3725, -0.0508, -0.0209,  0.7533, -0.0697],
        ...,
        [-0.6783, -0.4198, -0.0240, -0.5055, -0.2989],
        [-0.6783, -0.4198, -0.0240, -0.5567, -0.2996],
        [-0.6783, -0.4198, -0.0240, -0.4925, -0.2996]])

In [396]:
s_user_f = user_f.clone()
s_user_f[:,stand_col]=stand_user_f
s_user_f

tensor([[ 1.0000,  0.9457,  0.3182,  ...,  0.0000,  0.0000,  0.0000],
        [ 1.0000, -0.2962, -0.4198,  ...,  0.0000,  0.0000,  0.0000],
        [ 1.0000,  0.3725, -0.0508,  ...,  0.0000,  0.0000,  0.0000],
        ...,
        [ 0.0000, -0.6783, -0.4198,  ...,  0.0000,  0.0000,  0.0000],
        [ 0.0000, -0.6783, -0.4198,  ...,  0.0000,  0.0000,  0.0000],
        [ 0.0000, -0.6783, -0.4198,  ...,  0.0000,  0.0000,  0.0000]])

In [397]:
torch.save(s_user_f,'Tensor/s_user_f.pt')

s_user_f将作为我们的模型的输入

s_user_f will be our proposed model's input

# 6. 数据一览/Data overview

在这个部分，你可以查看该jupyter文件的相关的数据文件说明（下列名字为保存时的名字，不是变量名）

In this part, you can check descriptions of data involved in this jupyter file (the following names are names at the time of saving, not the variable names)

1. Datasets (csv or xlsx file)
- Data_SinaWeibo.csv: 
  - The initial dataset obtained from the Python Script
- UserData.csv: Section 2.7
  - The initial user profile datasets with preprocessing (only users with profiles)
- UserProfile.csv: Section 2.7
  - The user profile datasets with necessary features (based on UserData; only users with profiles)
- ForCheck.csv: Section 3.3.2
  - The dataset with "@" in F_Comment
- ManuCode.xlsx: Section 3.5.1
  - The dataset used to manually decode emoji
- ManuCode_Finish.xlsx: Section 3.5.1
  - The dataset completed with manual decoding
- UserInteraction.csv: Section 4.1.1
  - The initial user interactions dataset (all users)
- UserFeature_Graph.csv: Section 4.1.4 (2)
  - The final user profile datasets (all users)
- UserInter_Graph.csv: Section 4.1.5 (4)
  - The user interaction dataset (all users; only includes username and user node index)
- Sina_allInfo.csv: Section 4.2.1
  - The dataset with all interaction information
- UserPost.csv: Section 4.2.3 (2)
  - The dataset of user-comment correspondences
  
2. Tensor (pt file)
- user_f: Section 4.1.4 (2)
  - User features for all users (obtained from UserFeature_Graph)
- user_embed_idx: Section 4.1.4 (4)
  - Users embedding indices (only users without profiles)
- userInter_data: Section 4.1.5 (6)
  - User interactions (identified by user node indices)
- userPost_comm: Section 4.2.3 (4)
  - User-comment correspondences (identified by user node indices and comment ones)
- Comment_Vector: Section 4.2.4 (2)
  - Text vector representation for all comments (obtained from bert-base-chinese)
- userInter_self: Section 5.1.1
  - User interactions with self-loop (identified by user node indices; obtained from userInter_data)
- HeteroData: Section 5.1.2
  - HeteroG
- s_user_f: Section 5.2
  - Standardization of numeric variables in user_f (all users; obtained from user_f)